<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Պարբերականների բաժանորդագրության ավելացման և ձևափոխման օգնություն</h1>
	<ul>
		<h2>Բաժանորդագրության տեղեկատվական բլոկ</h2>
		<p>it contains the name of the librarian that created the subscription, the name of the supplier providing the subscription, the cost and the budget affected. It also contains the title of the biblio managed by the subscription.</p>
		<h2>Տեղեկատվական բլոկի նախագծում</h2>
		<p> այն պարունակում է տարբեր տեղեկություններ ժամանման ամսաթվերը հաշվելու համար։</p>
		<h2>Բաժանորդագրության երկարություն</h2>
		<p>one field in this bloc should be filled : the subscription length can be calculated in weeks, months or number of issues to receive</p>
		<h2>Համարակալման հաշվարկ</h2>
		<p>The numbering of issues received can be a complex formulas. The "numbering formula" can be filled with any text and/or numbers. 3 special tokens <b>{X} {Y}</b> and <b>{Z}</b> can be user to define the calculation formula. XYZ values are calculated with the following method:</p>
			<ul>
				<li>Ավելացրու : այստեղի թիվը ավելացվել է XYZ</li>
				<li>once every : the number before can be added on every issue or less often</li>
				<li>Երբ ավելին է քան ։ եթե հաշված թիվը ավելին է քան այստեղի արժեքն է</li>
				<li>Set back to : if the previous condition is valid, the calculated number is set to this one instead</li>
				<li>Last value / begins with : the last value calculated or the 1st value (when adding a subscription</li>
			</ul>
		<h2>Օրինակ</h2>
		Հաշվի առ բանաձևը <b>#{X}/{Y}</b>. Հետևյալ XYZ արժեքները :
		<ul>
			<li> <b>X</b> ավելացնել <b>1</b> մեկ անգամ բոլորին <b>4</b> անգամներ։ Երբ ավելին է քան <b>9999999</b> վերականգնիր հետ <b>դատարկ</b>. Սկսվում է <b>2004</b></li>
			<li> <b>Y</b> ավելացնել <b>1</b> մեկ անգամ բոլորին <b>1</b> անգամներ։ Երբ ավելին է քան <b>4</b> վերականգնիր հետ <b>4</b>. Սկսվում է <b>1</b></li>
		</ul>
		արդյունքը կլինի հետևյալ պրակների համարներում։
		<p>#2004/1, #2004/2, #2004/3, #2004/4, #2005/1, #2005/2, #2005/3, #2005/4, #2006/1</p>
		<p>
			<b>Note:</b> when you add a subscription, Koha assumes you have already created the order, or that you will do it soon. So, NO information is sent to the acquisition module. This is not the case when the subscription expires. In this case, a subscription renewal creates a "suggestion" that is sent to the acquisition module.
		</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
