<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Zirkulations-Prüfung Aus (Ausleihen)</h1>

<h2>F: Wie leihe ich ein Exemplar an einen Benutzer aus?</h2> <p> A: Beginnen Sie, indem Sie den Barcode des Benutzers scannen, oder tippen Sie seinen Namen ein, um sein Konten zu finden. Sobald Koha den Benutzer gefunden hat, werden Sie ein neues Formular sehen, um die Identifikationsnummer des Exemplars (normalerweise ein Barcode) zu scannen oder einzugeben. Falls das Exemplar ohne Probleme ausgeliehen werden kann, erfolgt das sofort und es taucht mit den anderen Ausleihen des Benutzers unten auf.  </p> 
<h2>F: Wie richte ich ein fixes Datum ein?</h2><p>A: Falls Sie für dieses Exemplar und für alle kommenden Exemplare in diesem Arbeitsvorgang ein Rückgabedatum haben wollen, das vom Standarddatum für diesen Medientyp abweicht, dann benutzen Sie das &ldquo;Feste Fälligkeitsdatum&rdquo; um ein Fälligkeitsdatum festzulegen, bevor sie das erste Exemplar scannen. </p> 
<h2>Q: What to do I do if there is a problem with a checkout?</h2> <p>A: If there is a problem with an checkout, then a box will appear and ask for confirmation, if possible. Confirming will override the system and check out the item. </p> 
<h2>F: Was kann ich mit einer gesperrten Ausleihe machen? </h2> <p> A:  If the checking out is really impossible (for example, the barcode does not exist), then you can&rsquo;t confirm the checkout.    </p>  
<h2>F: Was passiert, wenn ein Medium an einen anderen Benutzer ausgeliehen ist?</h2><p> A: Wenn Sie dies bestätigen, wird das Exemplar ausgeliehen und automatisch vom anderen Benutzerkonto zurückgebucht.   </p>
<h3>INFORMATION: BIBLIOTHEKS- UND DRUCKEREINSTELLUNGEN.
</h3> <p>Before you begin, it is very important that you take note of the branch and printer settings and change them if necessary. This should only have to be done the first time you do circulations from a workstation, after which a browser cookie will remember the correct settings. If you do circulations under the wrong branch settings then Koha will reset the location of all items scanned to the incorrect branch and the statistical reports will credit all circulations to the wrong branch. </p>  

<!-- TMPL_INCLUDE name="help-bottom.inc" -->