<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe Ausleihe</h1><h2>Was kann ich in der Ausleihe machen?</h2>

<p>Ausleihe ist die Ausgabe und Rücknahme von Medien an Benutzer. Bibliotheken verwenden unterschiedliche Begriffe für diese Funktionen.</p><p>Koha verwendet die folgenden Begriffe:</p><ul><li><strong>Ausleihe </strong>= einem Nutzer ein Exemplar ausleihen</li><li><strong>Rückgabe</strong> = Rückgabe eines Exemplars durch einen Benutzer</li><li><strong>Transfer</strong> = benutzt um die Lagerabteilung des Exemplars zu wechseln </li><li><strong>Vormerkungen</strong> = Exemplare, die von einem Benutzer bestellt wurden (in einigen Bibliotheken &quot;Vormerkungen&quot; genannt - nicht zu verwechseln mit &quot;Seminarapparaten&quot; üblich in akademischen Bibliotheken)</li></ul><br /><h3>INFORMATION: BIBLIOTHEKS- UND DRUCKEREINSTELLUNGEN.
</h3> Before you begin, it is very important that you take note of the branch and printer settings and change them if necessary. This should only have to be done the first time you do circulations from a workstation, after which a browser cookie will remember the correct settings. If you do circulations under the wrong branch settings then Koha will reset the location of all items scanned to the incorrect branch and the statistical reports will credit all circulations to the wrong branch     

<!-- TMPL_INCLUDE name="help-bottom.inc" -->