<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe: Ausstehende Vormerkungen</h1>

<h2>Was sind &quot;Ausstehende Vormerkungen&quot;?</h2>
 
<p>Eine ausstehende Vormerkung ist eine Vormerkung, die von einem Benutzer getätigt wurde und die noch nicht &quot;bereitgestellt&quot; worden ist. Bereitgestellt bedeutet, dass das Exemplar bereit ist, vom Benutzer abgeholt zu werden.</p>
<p>Dieser Bericht liefert alle vorgemerkten Exemplare, die sich aktuell in den Regalen oder dem Magazin befinden.</p>

<h2>Wie verschwindet eine Resevation von dieser Liste?</h2>
<p>Finden Sie das Exemplar im Regal und dann in der Ausleihe, scannen oder tippen Sie den Barcode des Exemplares ein, um das Exemplar zurückzubuchen. Das Exemplar wude nun von Koha &quot; gesehen&quot; und der Status hat sich geändert. Das Exemplar wird nun als im &quot;Reservierungsregal&quot; geführt.</p>
<p style="background-color: #ffe599">   TIP: This report is only applicable if the ReserveNeedReturn system preference is on.</p>
	<ul>
		<li><em>Get there:</em> More &gt; Administration &gt; General Preferences &gt; Circulation</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->