<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Κατάλογος &rsaquo; Παρουσιάστηκε Ένα Σφάλμα
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Παρουσιάστηκε ένα Σφάλμα</h3>
            <h4>Error 404</h4>
            <ul>
                <li>Αυτό το σφάλμα σημαίνει ότι το Koha στρέφεται σε έναν άκυρο σύνδεσμο.</li>
                <li>Για να αναφέρετε αυτό το σφάλμα, μπορείτε να <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">στείλετε email στον Διαχειριστή του Koha</a>.</li>
                <li>Χρησιμοποιήστε τη μπάρα επιλογών στην κορυφή για να πλοηγηθείτε σε κάποιο άλλο τμήμα του Koha.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
