<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalogus &rsaquo; Foutmelding
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Er is een fout opgetreden</h3>
            <h4>Fout 404</h4>
            <ul>
                <li>This error means that the link was broken and that the page doesn't exist.</li>
                <li>Om deze fout te melden, mailt u de <a href="mailto:<!-- TMPL_VAR NAME="admin" -->"> Koha Beheerder</a>.</li>
                <li>Gebruik de bovenste menu balk om naar een ander deel van Koha te gaan.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
