<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>"Siparişleri Alma Yardımı"</h1>

<h2>"Gelmiş olan materyalleri nasıl alabilirim?"</h2>
<p>Firstly, check the catalogue details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>"Her bir materyal için aşağıdakileri kontrol etmelisiniz:"</p>
	<ul>
		<li><strong>"Cilt/Kopya" </strong>for Serials</li>
		<li><strong>"Materyal Barkodu"</strong> "materyale verilmiş olan barkodu tarayın veya elle girişini yapın"</li>
		<li><strong>"Ana Kütüphane" </strong>"</li>
		<li><strong>"Materyal Türü" </strong>materyal türünü açılan listeden seç.</li>
	</ul>
	
	<h2>"Birbirinin aynı birden çok materyali nasıl alabilirim?"</h2>
<p>If you have ordered multiple copies of the same item, then use the &quot;+&quot; to bring up another <strong>"Materyal Ayrıntıları"</strong> input fieldset.</p>
<p>For each copy you will need to set that Item Barcode, Home Library and Item Type.</p>
<p>"Her bir yeni materyal eklediğinizde," <strong>Quantity Received</strong> "altında" <strong>"</strong> "güncelleştirilmeli."</p>
<p>If you press the &quot;+&quot; by mistake, use the &quot;-&quot; button to remove the unwanted Item Details <strong>"input fieldset" </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->