<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- 自助借出
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>自助借阅帮助</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>第一步：输入你的借书证号码    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3>第二步：逐一扫描每个馆藏的条形码</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3>第三步：完成后，点选‘点击此处完成’。</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">返回到自助借阅</a>
</div></div>
</body>
</html>

