<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	   
<h3>Facture</h3>

<p>Ce rapport fera la liste de tous les paiements en attente dans le système.</p>
<p>Vous pouvez utiliser les filtres (à gauche) pour limiter les résultats afficher dans ce rapport.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->