<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	   
<h3>Amendes de retard</h3>

<p>Ce rapport ne prendra pas en compte les exemplaires qui sont si en retard qu'ils sont considérés comme 'Perdu'</p>

<p>Une fois ouvert, le rapport peut être filtré par localisation.</p>

