<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Transferts</h1>

<p>   
   Cet outil autorise l'affectation temporaire d'un document à un autre site. </p>
	<ul>
		<li>	   
	   Clquez sur 'Transfert' dans le menu de Circulation</li>
		<li>	   
	   choisissez la bibliothèque vers laquelle effectuer le transfert dans le menu déroulant</li>
		<li>	   
	   Entrez le code-barres du document que vous voulez transférer dans le champs code-barres
		<ul>
			<li>		   
		   Si vous essayez de transférer un exemplaire vers un site où il se trouve déjà, un message à droite du formulaire du transfert vous préviendra que l'exemplaire est déjà dans cette bibliothèque.</li>
		</ul></li>
		<li>	   
	   Après avoir cliquez sur 'Soumettre', vous accéderez à un écran de confirmation du transfert</li>
		<li>	   
	   Au niveau de l'exemplaire, le 'site d'appartenance' subsiste, mais la 'localisation' a changé</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
