<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide sur la circulation</h1><h2>Qu'est ce que je peux faire dans Circulation</h2>

<p>Le module circulation permet de gérer les prêts aux adhérents. Certaines bibliothèques utilisent une terminologie différente pour cette fonction.&nbsp;</p><p>Koha utilise les termes suivants :</p><ul><li><strong>Prêt </strong>= prêter un document à l'adhérent</li><li><strong>Retour</strong> = Retourner un document emprunté</li><li><strong>Transfert</strong> = Utilisé pour modifier le site de localisation d'un document </li><li><strong>Réservations</strong> = les documents réservés par l'adhérent</li></ul><br /><h3>INFORMATION : PARAMETRES de SITE et IMPRIMANTE.
</h3> Avant de commencer, il est très important que vous vérifiez le site et l'imprimante choisis et que vous les changiez si nécessaire. Vous devrez faire cela uniquement la première fois que vous ferez du prêt (ou des retours) à partir d'un poste de travail, ensuite un cookie du navigateur mémorisera le réglage correct. Si vous faites des prêts avec un mauvais paramétrage, alors Koha va modifier la localisation temporaire de tous les exemplaires scannés, et les statistiques de prêt seront erronées.     

<!-- TMPL_INCLUDE name="help-bottom.inc" -->