<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Retards</h1>

<p>Vous trouverez ici la liste des exemplaires en retard à la date d'aujourd'hui<br/><br/>Ce rapport propose quelques options pour gérer les retards:</p>
		<ul>
			<li>Cliquez sur le lien [email] à côté du nom de l'adhérent pour envoyer un avis de retard</li>
			<li>Vous pouvez exporter ces données sous forme d'un fichier CSV en cliquant 'Télécharger fichier de tous les retard'</li>
		</ul>
