<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide des Réservations en suspens</h1>

<h2>Une &quot;Réservation en suspens&quot;, c'est quoi ?</h2>
 
<p>Une réservation en suspens est une réservation qui a été posée par un lecteur et qui n'a pas été &quot;satisfaite&quot; .Satisfaite signifie ici que le document est maintenant prêt à être récupéré par le lecteur.</p>
<p>Ce rapport liste tous les documents sur lesquels il y a des réservations et qui sont actuellement dans les rayons de la bibliothèque ou en magasin.</p>

<h2>Comment enlever une réservation de la liste</h2>
<p>Allez cherche le document en rayon, puis dans le module Circulation, scannez ou tapez le code-barres du document pour l'enregistrer.Le document a maintenant été &quot;vu&quot; par Koha et son statut a changé.Le document apparaîtra maintenant dans la liste des &quot;Réservations en Attente de Retrait&quot;</p>
<p style="background-color: #ffe599">   ASTUCES : Ce rapport n'est disponible que si la préférence système ReserveNeedReturn est activée.</p>
	<ul>
		<li><em>Allez à:</em> Plus &gt; Administration &gt;  Préférences système &gt; Circulation</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->