<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Circulation -- Retours</h1>

<h2>Comment puis-je &nbsp; enregistrer le retour d'un document ?</h2><p>Maintenant scannez simplement ou tapez le numéro identifiant du document (habituellement un code-barres)dans le pavé proposé.</p>
<h2>Que se passe-t-il si un adhérent a des dettes ?</h2><p>Un pavé rouge va vous alerter. Les amendes sont calculées à partir du lendemain.</p><p>Si vous savez que tous les documents ont des amendes ou des dettes associés, vous pouvez choisir de &quot;Annuler toutes les dettes&quot; en utilisant la case à cocher.En utilisant cette case à cocher, plus aucune charge ne sera portée sur le compte des adhérents.</p>
<h2>Que se passe-t-il si un document est en réservation ?</h2><p>Une alerte (en rouge) spécifiant qu' &quot;une réservation a été trouvée&quot; sera affichée avec les informations de réservation. Cliquer sur le bouton de confirmation pour confirmer. Si la réservation est confirmée, le document sera en status &quot;mis de coté&quot; Si le document  est demandé par une autre personne dans un autre site, vous devez valider le transfert.</p> <h3>ATTENTION : CONFIGURATIONS DES SITES ET IMPRIMANTES.
</h3><p>Avant de commencer, il est très important que vous vérifiez le site et l'imprimante choisis et que vous les changiez si nécessaire. Cela devra être fait seulement la première fois que vous ferez du prêt (ou des retours) à partir d'un poste de travail, ensuite un cookie du navigateur mémorisera le réglage correct. Si vous faites des retours avec un site mal choisi (par exemple, votre site est sur "Banlieue", mais vous travaillez en réalité au site "Centre-ville"), alors Koha changera la localisation de tous les exemplaires pour le site erroné (Banlieue).</p>    

<!-- TMPL_INCLUDE name="help-bottom.inc" -->