<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide des Transferts à recevoir</h1>

<p>This report depends on the system preference 'TransfersMaxDaysWarning'. If items are not transferred by the number of days defined in this preference a warning will be issued via the 'check this transfer' link.</p>
	<ul>
		<li><em>Allez à:</em> Plus &gt; Administration &gt; Préférences système &gt; Circulation &gt; TransfersMaxDaysWarning</li>
	</ul>
	
<h2>Transfert à recevoir, c'est quoi ?</h2>
<p>Ce rapport indique tous les documents des autres bibliothèques/sites qui sont en transit dans votre site.Le statut de ces documents est marqué comme &quot;En Transit&quot;</p>

<h2>Comment dois-je traiter un Transfert à Recevoir ?</h2>
<p>Une fois que le document est physiquement arrivé sur votre site, cliquez sur &quot;Recevoir Item&quot;. Cela changera le statut du document de &quot;En Transit&quot; à &quot;En Attente&quot;. Le document est maintenant visible dans la liste &quot;Réservations en attente de Retrait Up&quot; .</p>
