<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide des détails de commande</h1>

<h2>C'est quoi, le &quot;Prix Fournisseur&quot;?</h2>
<p>Le prix fournisseur est est le prix qui vous est donnée par le fournisseur, appelé aussi quelque fois le &quot;Prix Courant&quot;. Selon la façon dont le fournisseur est organisé, il peut ou non comprendre toute les remises que le fournisseur vous accorde et/ou toutes les taxes marchandes. Voir Fournisseurs plus plus d'information.</p>

<h2>Le &quot;Prix de Remplacement&quot;, qu'est-ce que c'est ?</h2>
<p>Le prix de remplacement est le coût total auquel vous reviendrait le remplacement du document si vous aviez à l'acheter au détail.C'est le montant qu'un lecteur devra acquitter si le document est perdu ou détérioré sans possibilité de réparation.</p>

<h2>Qu'est-ce que c'est le &quot;Prix Budgeté&quot;?</h2>
<p>C'est le prix que vous vous attendez à payer pour le document, comprenant toute remise et toute taxe marchande adéquate (dépendant de l'organisation du fournisseur) et c'est le prix qui vous sera facturé. <strong>Budget impacté</strong>.</p>

<h2>Le &quot;Actual Price&quot; c'est quoi ?</h2>
<p>C'est le prix qui est affiché sur la facture ou sur le bon de livraison quand vous recevez le document.Lorsque vous passez une commande, Koha le calculera automatiquement pour vous.Lorsqu'un document est reçu, il pourra être remplacé par la valeur réelle.C'est pour prendre en compte toutes les légères différences d'arrondis ou les variations de prix entre le commande du document et sa réception réelle.</p>
<p>Le prix réel est celui qui est engagé par votre <strong>Budget dépensé</strong>.</p>    

<!-- TMPL_INCLUDE name="help-bottom.inc" -->