<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide à la Réception des Commandes</h1>

<h2>Comment puis-je réceptionner une ligne de commande ?</h2>
<p>Firstly, check the catalogue details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>Pour chaque document, vous devez préciser :</p>
	<ul>
		<li><strong>Volume/numéro </strong>for Serials</li>
		<li><strong>code-barres de l'exemplaire</strong> scannez ou saisissez le code-barres qui a été attribué au document</li>
		<li><strong>Site de rattachement </strong>choisissez la(e) bibliothèque/site de rattachement pour le document dans la liste déroulante</li>
		<li><strong>Type de document </strong>choisir le type de document dans la liste déroulante.</li>
	</ul>
	
	<h2>Comment puis-je réceptionner plusieurs documents identiques ?</h2>
<p>Si vous avez commandé des exemplaires multiples du même document, alors utilisez le &quot;+&quot; pour en ajouter un autre <strong>Détails des exemplaires</strong> Champ de saisie.</p>
<p>For each copy you will need to set that Item Barcode, Home Library and Item Type.</p>
<p>Chaque fois que vous ajoutez un nouveau document, le <strong>Quantité reçue</strong> sous <strong>Eléments financiers</strong> devrait être mis à jour</p>
<p>Si vous cliquez sur le  &quot;+&quot; par erreur, utilisez le  bouton &quot;-&quot; pour enlever les détails d'exemplaires indésirables <strong>Champ de saisie </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->