<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Réception des Commandes</h1>
<p>Après avoir saisi et envoyé vos commandes aux fournisseurs, vous devrez les réceptionner. <span style="background-color: #ffe599">
TIP: To receive serials see the 'Receiving Serials' part of this manual.</span></p>
	<ul>
		<li>To receive an order click 'Receive Shipment'</li>
		<li>Entrez le numéro de facture et la date de réception</li>
		<li>Cliquez sur 'Sauvegarder'</li>
		<li>Vous devrez sélectionner les exemplaires reçus dans ce colis</li>
		<li>Cherchez par titre, par ISBN ou cliquez sur 'Réceptionner commande' à coté de l'exemplaire à réceptionner</li>
		<li>Mettez bien à jour la 'Quantité reçue' ainsi que toutes les informations utiles.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
ASTUCES : Pour ajouter un exemplaire, cliquez l'icone '+' (plus) en bas à gauche. Si vous en ajoutez trop, cliquez sur '-' (moins)</span></li>
		</ul></li>
		<li>Cliquez sur 'Sauvegarder'</li>
		<li>Vous verrez alors les exemplaires reçus dans le résumé 'exemplaires dans ce colis'</li>
		<li>Quand vous avez ajouté tous vos exemplaires au colis, vous pouvez quitter la page.
		<ul>
			<li>Pour modifier votre colis, retournez en Acquisition et cherchez le fournisseur en question.<br/>
			<ul>
				<li>Cliquez le bouton 'Réceptionner colis'</li>
				<li>Vous pourrez ici chercher et modifier vos commandes précédentes</li>
			</ul></li>
		</ul></li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->