<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Créer un fournisseur</h1>

	<ul>
		<li>Cherchez votre fournisseur en utilisant la 'Recherche Fournisseur' en haut de page.</li>
		<li>Si aucun résultat n'est trouvé, cliquez sur 'Ajouter Fournisseur'.</li>
		<li>Entrez les informations du contact chez le fournisseur
		<ul>
			<li>
		    <span style="background-color: #ffff99">
ASTUCE : Seul le 'Nom de la société' est obligatoire, mais plus vous fournissez d'informations, plus il sera facile de contacter le fournisseur si nécessaire.</span></li>
		</ul></li>
		<li>Entrez des informations complémentaires pour le fournisseur
		<ul>
			<li>Actif/Inactif<br/>
			<ul>
				<li>Les commandes ne peuvent être passées qu'auprès de fournisseurs acfifs.</li>
				<li>
			    <span style="background-color: #ffe599">
ASTUCE : Marquez un fournisseur comme inactif si vous ne commandez plus chez eux, mais que vous voulez conserver les données associées.</span></li>
			</ul></li>
			<li>Editeurs référencés<br/>
			<ul>
				<li>C'est seulement pour information et c'est un espace où vous pouvez indiquer ce que le fournisseur vend.</li>
			</ul></li>
			<li>Prix publics/Prix facturés<br/>
			<ul>
				<li>Si vous utilisez plusieurs devises vous aurez besoin de préciser la devise que le fournisseur utilise.</li>
				<li>
			    <span style="background-color: #ffe599">
ASTUCES : Certains fournisseurs affichent les prix dans leur devise, et facturent dans votre devise.</span></li>
			</ul></li>
			<li>Remise<br/>
			<ul>
				<li>Certains fournisseurs offrent une remise systématique sur tous les prix publics pratiqués, elle sera calculée à partir du prix fournisseur.</li>
			</ul></li>
			<li>Notes
			<ul>
				<li>Entrer toute note à usage interne.</li>
			</ul></li>
		</ul></li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->