<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Katalog &rsaquo; Ein Fehler ist aufgetreten
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Ein Fehler ist aufgetreten</h3>
            <h4>Error 404</h4>
            <ul>
                <li>Dieser Fehler bedeutet, dass Sie versuchen einen Link zu einer Seite aufzurufen, für die Sie nicht autorisiert sind.</li>
                <li>Versuchen Sie, sich im Katalog anzumelden.</li>
                <li>Um diesen Fehler zu melden, können Sie eine <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">E-mail an den Koha Administrator</a> schreiben.</li>
                <li>Nutzen Sie die obere Menüleiste, um in einen anderen Bereich von Koha zu gelangen.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
