<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha på nettet<!-- /TMPL_IF --> Katalog &rsaquo; Der er sket en fejl
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Der er sket en fejl</h3>
            <h4>Fejl nr. 404</h4>
            <ul>
                <li>This error means that the you are trying to access a link that you're not authorized to see.</li>
                <li>Prøv at logge ind i kataloget</li>
                <li> For å rapportere denne feilen kan du <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">sende en e-post til administratoren av Koha</a>.</li>
                <li>Brug menuen øverst for at gå til en anden del af Koha.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
