<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>مساعدة إشتراك الدوريات</h1>

<p>إبحث عن إشتراك بإستعمال زرّ التصفية (مع  ISSN أو عنوان). إذا أدخلت عنوان،يمكنك أن تستعمل wildcard %: دخول <b> % أوقات % </b> يرجع كلّ إشتراك يحتوي الأوقات في العنوان. دخول <b> نيويورك % </b> يرجع كلّ إشتراك بالعنوان يبدأ مع نيويورك </p>
	<p>If you want to create a new subscription, click on "Add subscription"</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
