<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إضافة إشتراك الدوريات ومساعدة التعديل</h1>
	<ul>
		<h2>مجموعة معلومات الإشتراك.</h2>
		<p>يحتوي اسم المكتبي الذي أنشأ الإشتراك، اسم المورّد الذي يزوّد الإشتراك، التكلفة والميزانية متأثرة. يحتوي عنوان biblio أيضا أدير بالإشتراك.</p>
		<h2>تخطيط كتلة المعلومات</h2>
		<p>يحتوي المعلومات المختلفة لحساب تواريخ الوصول.</p>
		<h2>طول إشتراك</h2>
		<p>one field in this bloc should be filled : the subscription length can be calculated in weeks, months or number of issues to receive</p>
		<h2>Numbering calculation</h2>
		<p>The numbering of issues received can be a complex formulas. The "numbering formula" can be filled with any text and/or numbers. 3 special tokens <b>{X} {Y}</b> and <b>{Z}</b> can be user to define the calculation formula. XYZ values are calculated with the following method:</p>
			<ul>
				<li>أضف : الرقم هنا تمت إضافتة الى XYZ</li>
				<li>مرة فى كل :العدد قبل ذلك يمكن أن يضاف كلّ إصدار أو أقل في أغلب الأحيان </li>
				<li>عندما يكون أكثر من :إذا كان العدد المحسوب أكثر من القيمة هنا </li>
				<li>أرجع إلى :الحالة السابقة المتاحة, الرقم المحسوب هو الذي  الذي حدد هذه القيمة البديلة</li>
				<li>القيمة الاخيرة /تبدأ ب : القيمة الأخيرة حسبت أو القيمة الأولى (عند إضافة إشتراك</li>
			</ul>
		<h2>العيّنة</h2>
		إعتبر الصيغة <b>#{X}/{Y}</b>. التالى XYZ إعدادات :
		<ul>
			<li> <b>X</b> أضف <b>1</b> مرّة في كلّ <b>4</b> اوقات.عندما يكون أكثر من <b>9999999</b> ضع رجوع الى <b>فارغ</b>.يبدأ مع <b>2004</b></li>
			<li> <b>Y</b> أضف <b>1</b> مرّة في كلّ <b>1</b> اوقات.عندما يكون أكثر من <b>4</b> ضع رجوع الى <b>4</b>.يبدأ مع <b>1</b></li>
		</ul>
		سيؤدى الى أرقام الاعداد التالية :
		<p>#2004/1, #2004/2, #2004/3, #2004/4, #2005/1, #2005/2, #2005/3, #2005/4, #2006/1</p>
		<p>
			<b>ملاحظة:</b> عندما تضيف إشتراك, فإن نظام كوها يفترض أنك قمت فعليا بإنشاء الطلب, أو أنك ستفعل ذلك قريبا.لذا, لا يتم إلإرسال أيه معلومات الى النظام الفرعى للتزويد. هذه ليست حالة عندما ينتهى الاشتراك. فى هذه الحالة, تجديد الاشتراك ينشئ "إقتراح" الذى يرسل الى نظام التزويد.
		</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
