<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalogo &rsaquo;  Periodici
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<div class="container">
<h1>Fascicoli per un abbonamento</h1>
	<a href="opac-detail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button">Vista normale</a> <a href="opac-serial-issues.pl?selectview=full&amp;biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button">Storico completo</a>

<form method="post" name="f">
<!-- TMPL_LOOP name="subscription_LOOP" -->
<h2>Informazioni sulla sottoscrizione che riguarda <!-- TMPL_VAR name="bibliotitle" --></h2>
		<p>L'abbonamento corrente è iniziato nel <!-- TMPL_VAR name="startdate" --> e viene pubblicato ogni
		<!--TMPL_IF name="periodicity1" -->
				giorno
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity2" -->
				settimana
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity3" -->
				2 settimane
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity4" -->
				3 settimane
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity5" -->
				mese
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity6" -->
				2 mesi
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity7" -->
				3 mesi
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity8" -->
				trimestre
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity9" -->
				2 trimestri
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity10" -->
				anno
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity11" -->
				2 anni
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival1" -->
			Lunedì
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival2" -->
				Martedi
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival3" -->
				Mercoledì
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival4" -->
				Giovedì
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival5" -->
				Venerdì
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival6" -->
				Sabato
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival7" -->
				Domenica
		<!-- /TMPL_IF -->
		
		per 
			<!-- TMPL_IF name="numberlength" --><!-- TMPL_VAR name="numberlength" --> fascicoli<!-- /TMPL_IF -->
			<!-- TMPL_IF name="weeklength" --><!-- TMPL_VAR name="weeklength" --> settimane<!-- /TMPL_IF -->
			<!-- TMPL_IF name="monthlength" --><!-- TMPL_VAR name="monthlength" --> mesi<!-- /TMPL_IF -->
			
		<p>L'abbonamento è inziato nel <!-- TMPl_VAR name="histstartdate" --> </p>
		<!-- TMPL_IF name="histenddate" -->
            <p>L'abbonamento finisce nel <!-- TMPl_VAR name="histenddate" --></p>
        <!-- /TMPL_IF -->
		</p>
    <h2><!-- TMPL_VAR name="branchcode" --> <!-- TMPL_VAR name="notes" --></h2>
  <!-- TMPL_IF name="recievedlist" -->
    <h3>Fascicoli disponibili</h3>
    <p>
      <!-- TMPL_VAR name="recievedlist" -->
    </p>
  <!-- /TMPL_IF -->
  <!-- TMPL_IF name="missinglist" -->
    <h3>Fascicoli non disponibili</h3>
    <p>
      <!-- TMPL_VAR name="missinglist" -->
    </p>
  <!-- /TMPL_IF -->
    <!-- TMPL_IF name="opacnote" -->
        <h3>Sommario dei fascicoli</h3>
        <p>
            <!-- TMPL_VAR name="opacnote" -->
        </p>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF name="letter" -->
        <!-- TMPL_IF name="hasalert" -->
            Ti sei registrato per una notifica via email sui nuovi fascicoli <a href="opac-alert-subscribe.pl?op=cancel&amp;externalid=<!-- TMPL_VAR name="subscriptionid" -->&amp;alerttype=issue&amp;biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button" title="Cancel email notification"> Cancella la notifica via email </a>
        <!-- TMPL_ELSE -->
            <a href="opac-alert-subscribe.pl?externalid=<!-- TMPL_VAR name="subscriptionid" -->&amp;alerttype=issue&amp;biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button" title="Sottoscrivi una notifica via email per i nuovi fascicoli">
                Sottoscrivi una notifica via email per i nuovi fascicoli
            </a>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->

<!-- /TMPL_LOOP -->
</div>
</div>
</div>
</div>
			<!-- TMPL_IF NAME="OpacNav" -->
			<div class="yui-b">
			<div class="container">
			<!--TMPL_INCLUDE NAME="navigation.inc" -->
			</div>
			</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
