<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Βοήθεια Προσκτήσεων</h1>

<h2>Τί είναι οι Προσκτήσεις;</h2>
<p>The Koha Acquisitions module provides a way where the library can record orders placed with vendors and manage purchase budgets.</p>
<p>You do not need to use Acquisitions to add items to your catalogue. If you do not want to track orders and budget expenditure, then use the <strong>&quot;Προσθήκη MARC&quot; </strong>χαρακτηριστικό σε <strong>Καταλογογράφηση </strong>για να προσθέστε νέες βιβλιογραφικές εγγραφές και εγγραφές τεκμηρίων.</p>

<h2>Πώς κάνω μία παραγγελία;</h2>

<p>To place an order, the first step is to locate your Vendor (supplier). If no Vendor exists, you will need to create one. Once you have a Vendor you can place an order.</p><h2>Τί πρέπει να ρυθμιστεί πριν χρησιμοποιήσετε τις Προσκτήσεις;</h2>
<p>Για να εκμεταλλευτείτε στο έπακρο τις προσκτήσεις πρέπει να ρυθμιστεί το ακόλουθο κάτω <strong>Διαχείριση Συστήματος</strong></p>
	<ul>
		<li><strong>Κονδύλια και Κεφάλαια</strong> - &quot;Funds&quot; are used to group &quot;Budgets&quot;. For example a Fund may be called &quot;General Stack&quot;, and will have a &quot;Budget&quot; which records the amount availalbe to spend during the period of the budget. A budget must have a start and end date.</li>
		<li><strong>Συναλλαγματικές Ισοτιμίες (προαιρετικό)- </strong>If making purchases in overseas currency, the exchange rate will need to be set realtive to your local currency. Remember that your local currency should be set to 1.00<br/><strong>ΣΗΜΕΙΩΣΗ: η Συναλλαγματική Ισοτιμία πρέπει να ενημερώνεται χειρονακτικά.</strong></li>
		<li><strong>Προμηθευτής(ές) - </strong>These are the entities where items are purchased, or donated from. Orders are placed with Vendors.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->