<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalogo  &rsaquo; Si è verificato un errore
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Si è verificato un errore</h3>
            <h4>Errore 404</h4>
            <ul>
                <li>Quest'errore significa che Koha sta puntando a un link non valido</li>
                <li>Per segnalare quest'errore puoi mandare una mail all' <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">amministratore del sitema</a></li>
                <li>Usa la barra di navigazione in testa alla pagina per andare in altre parti dell'Opac</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
