<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>採訪說明</h1>

<h2>什麼是館藏採訪？</h2>
<p>The Koha Acquisitions module provides a way where the library can record orders placed with vendors and manage purchase budgets.</p>
<p>You do not need to use Acquisitions to add items to your catalogue. If you do not want to track orders and budget expenditure, then use the <strong>&quot;新增 MARC&quot; </strong>功能在 <strong>編目 </strong>新增一筆新的書目記錄和館藏記錄</p>

<h2>如何新增訂單？</h2>

<p>To place an order, the first step is to locate your Vendor (supplier). If no Vendor exists, you will need to create one. Once you have a Vendor you can place an order.</p><h2>採訪需要設定什麼？</h2>
<p>使用採訪需要完成下面設定。 <strong>系統管理</strong></p>
	<ul>
		<li><strong>預算與基金</strong> - &quot;Funds&quot; are used to group &quot;Budgets&quot;. For example a Fund may be called &quot;General Stack&quot;, and will have a &quot;Budget&quot; which records the amount availalbe to spend during the period of the budget. A budget must have a start and end date.</li>
		<li><strong>匯率 </strong>If making purchases in overseas currency, the exchange rate will need to be set realtive to your local currency. Remember that your local currency should be set to 1.00<br/><strong>注意：匯率需要手動更新</strong></li>
		<li><strong>供應商 - </strong>These are the entities where items are purchased, or donated from. Orders are placed with Vendors.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->