<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>收到訂單說明</h1>

<h2>如何處理到館館藏？</h2>
<p>Firstly, check the catalogue details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>每一個館藏都需要檢查下列事項：</p>
	<ul>
		<li><strong>冊 </strong>for Serials</li>
		<li><strong>館藏條碼：</strong> 掃瞄或是輸入已有條碼的館藏。</li>
		<li><strong>總館 </strong>下拉式選單中選擇館藏總館/分館。</li>
		<li><strong>館藏型式 </strong>下拉式選單中選擇館藏型式。</li>
	</ul>
	
	<h2>如何處理相同館藏？</h2>
<p>If you have ordered multiple copies of the same item, then use the &quot;+&quot; to bring up another <strong>館藏詳情</strong> input fieldset.</p>
<p>For each copy you will need to set that Item Barcode, Home Library and Item Type.</p>
<p>你需要新增館藏的時間 <strong>Quantity Received</strong> 下面 <strong>計算詳細說明</strong> should be updated.</p>
<p>If you press the &quot;+&quot; by mistake, use the &quot;-&quot; button to remove the unwanted Item Details <strong>輸入欄位 </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->