<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Kann Benutzer nicht löschen</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Benutzer</a> &rsaquo; Kann den Benutzer nicht löschen</div>
<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" --><h3>Kann den Benutzer nicht löschen</h3>
		<ul><!-- TMPL_IF name="ItemsOnIssues" -->
			<li>Benutzer hat <!-- TMPL_VAR name="ItemsOnIssues" --> Exemplar(e) ausgeliehen.</li>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="charges" -->
			<li>Benutzer hat <!-- TMPL_VAR name="charges" --> Mahngebühren</li>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="guarantees" -->
			<li>Der Benutzerdatensatz hat Konten, für die er einsteht, beigefügt.</li>
		<!-- /TMPL_IF --></ul>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
