<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Benutzer &rsaquo; Rechnung erzeugen</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Benutzer</a> &rsaquo; Rechnung manuell</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- The manual invoice and credit buttons -->
<div class="toptabs">
<ul class="ui-tabs-nav">
	<li><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Konto</a></li>
	<li><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >Mahngebühren zahlen</a></li>
	<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >manuelle Gebühr erheben</a></li>
	<li><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >manuelles Guthaben erzeugen</a></li>
</ul>
<div class="tabs-container">

<!-- TMPL_IF NAME="ERROR" -->
<!-- TMPL_IF NAME="ITEMNUMBER" -->
  Fehler: Es wurde eine ungültige Exemplarnummer angegeben. Bitte gehen Sie zurück und versuchen Sie es erneut
<!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
<form action="/cgi-bin/koha/members/maninvoice.pl" method="post"><input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />
	<fieldset class="rows">
	<legend>Manuelle Rechnung</legend>
	<ol>
	<li><label for="type">Typ: </label><select name="type" id="type">
<option value="L">Vermißtes Medium</option>
<option value="F">Mahngebühr</option>
<option value="A">Kontenverwaltungsgebühr</option>
<option value="N">neue Karte</option>
<option value="M">verschiedene</option>
</select></li>
	<li><label for="barcode">Barcode:  </label><input type="text" name="barcode" id="barcode" /></li>
	<li><label for="desc">Beschreibung: </label><input type="text" name="desc" id="desc" size="50" /></li>
	<li><label for="amount">Gesamt: </label><input type="text" name="amount" id="amount" /></li>
	</ol></fieldset>
<fieldset class="action"><input type="submit" name="add" value="speichern"> <a class="cancel" href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">abbrechen</a></fieldset>
</form>

<!-- /TMPL_IF -->
</div></div>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
