<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Benutzer &rsaquo; <!-- TMPL_IF NAME="newpassword" -->Passwort geändert <!-- TMPL_ELSE -->Passwort für <!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --> aktualisiert<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Benutzer</a> &rsaquo; <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></a> &rsaquo; <!-- TMPL_IF NAME="newpassword" -->Passwort geändert<!-- TMPL_ELSE -->Username und/oder Passwort ändern<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- TMPL_IF NAME="newpassword" -->
<h1>Passwort geändert</h1>

<!-- TMPL_ELSE -->

<form method="post" action="/cgi-bin/koha/members/member-password.pl">
<input type="hidden" name="destination" value="<!-- TMPL_VAR NAME="destination" -->" />	
<input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" />
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
	<!-- TMPL_IF NAME="errormsg" -->
		<!-- TMPL_IF NAME="BADUSERID" -->
		<p class="warning">You have entered a User ID that already exists.  Please choose another one.</p>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="SHORTPASSWORD" -->
		<p class="warning">Das eingegebene Passwort ist zu kurz.</p>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="NOPERMISSION" -->
		<p class="warning">Sie haben nicht die Berechtigung zur Änderung der Anmeldeinformationen der Benutzer.</p>
		<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->


	<fieldset class="brief"><legend>Username und/oder Passwort ändern für <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></legend>
	<ol>
	<li><label for="newuserid">neuer Benutzername:</label>
	<input type="hidden" name="member" value="<!-- TMPL_VAR NAME="member" -->" /><input id="newuserid" name="newuserid" size="20" value="<!-- TMPL_VAR NAME="userid" -->" /></li>
	<li><label for="newpassword">neues Passwort:</label>
	<div class="hint">Koha kann gültige Passwörter nicht anzeigen. Unten sehen Sie einen zufällig generierten Vorschlag. Lassen Sie das Feld leer, um das Passwort nicht zu ändern.</div>
	<!-- TMPL_IF NAME="minPasswordLength" --><div class="hint">Kleinste Passwortlänge: <!-- TMPL_VAR NAME="minPasswordLength" --></div><!-- /TMPL_IF -->
	<input name="newpassword"  id="newpassword" type="text" size="20" value="<!-- TMPL_VAR NAME="defaultnewpassword" -->" /></li>
	</ol>
</fieldset>
	<fieldset class="action"><input type="submit" value="speichern"> <a class="cancel" href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">abbrechen</a></fieldset>
</form><!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
