<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aidee pour l'administration</h1>

<h2>Comment puis-je configurer Koha ?</h2>
<p>Il y a deux parties dans le Système d'Administration de Koha.</p>

<h3>Préférences système</h3>
<p>Koha a un large choix de préférences système.Les préférences système contrôlent toutes les différentes fonctionnalités de Koha et si elles sont actives dans votre installation ou pas.Les préférences système sont généralement réglées une seule fois à l'installation et ne sont plus changées.</p>
<p>If  you are not sure what combination of system preferences to use, try using one of the sample profiles at install. Note: many preferences interact with each other. Turning on one system preference may require that others are also set.</p>

<h3>Préférences système</h3>
<p>Les paramètres système sont l'endroit où les politiques de la bibliothèque sont fixées et administrées.Le mieux c'est de choisir vos préférences système, et puis de parcourir les Paramètres dans l'ordre dans lequel ils apparaissent sur cette page.</p>
<p>Note not all system parameters are required to be set. For example if you do not plan to use budget based acquisitions, then Accounts and Budgets, Currencies and Exchange Rates can be ignored. For more detail, see the Koha Wiki (wiki.koha.org) and KohaDocs (www.kohadocs.org).</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->