<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Sites de la bibliothèque</h1>

<p>Dans cette page, saisissez les informations sur les offres de service de votre bibliothèque.</p>
<p>Commencez par définir vos catégories de site. Si, par exemple, vous avez une bibliothèque centrale et plusieurs annexes, vous pourriez créer une catégorie C (Centrale) et une catégorie A (Annexe), avec comme définition Bibliothèque Centrale et Bibliothèque Annexe.</p>
<p>Ajoutez maintenant les noms, adresses, numéros de téléphone etc, de vos bibliothèques dans la section "Sites". (Toutes vos bibliothèques doivent être décrites, pas seulement les annexes.) Donnez à chaque bibliothèque un code unique et facile à retenir (maximum 4 caractères). Ce code sera utilisé dans Koha pour identifier chaque bibliothèque. Les bibliothèques seront affichées par Koha par ordre alphabétique des codes.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->