<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Validation grilles de catalogage</h1>

<p>Lorsque vous aurez terminé le paramétrage de la grille MARC et que vous aurez vérifié vos liens entre champs MARC et champs Koha, ce programme teste les erreurs de paramétrage MARC.</p>

<p>Ce contrôle MARC ne garantie pas que vous apprécierez les premiers résultats de vos efforts pour régler vos affichagesMARC, etc.--c'est une simple vérification des erreurs principales. Vous reverrez probablement votre paramétrage MARC plusieurs fois avant d'en être totalement satisfaits. Assurez-vous de lancer la validation des grilles de catalogage après chaque modification.</p>
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->