<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Villes et communes</h1>

<p>This parameter helps you define the cities and towns that your patrons live in.  These will appear as a pull down on the patron add screen to make it easier for entering of consistent data.</p>
<h2>Ajouter une ville</h2>
		<ul>
			<li>		   
		   Cliquez sur 'Ajouter Commune'</li>
			<li>		   
		   Entrez la commune et le code postal</li>
			<li>		   
		   Cliquez 'Valider'</li>
			<li>		   
		   Vous pouvez modifier/supprimer les communes à partir de la page 'Villes et communes'</li>
			<li>		   
		   Ces champs apparaîtront en ajout/modification d'un adhérent sous forme d'un menu déroulant qui facilitera la saisie des données.</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->