<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>A propos des Sources de classification</h1>

<p>Définit des sources de classification (par exemple systèmes de cotation) utilisés dans votre fonds. Définit aussi des règles de classement pour trier les cotes.</p>
	   
<p><strong>IMPORTANT:</strong> You do not have the option to 'define' a new filing rule. Currently, the filing rules and sorting routines are statically defined with options available in the dropdown menu when creating or editing a 'classification source' or 'filing rule'.</p>
	   
<p><strong>TIP:</strong> In the future, this features will be expanded to allow new filing rules to be created (defined) on the fly. In other words, in addition to choosing from a static sorting routine or filing rule, you will be able to actually to define new ones.</p>

<h1>Ajouter 'Source de classification'...</h1>
		<ul>
			<li>Cliquez sur 'Ajouter source de classification'</li>
			<li>Entrez un 'Code de source de classification'</li>
			<li>Entrez une 'Description' pour cette nouvelle source de classification</li>
			<li>Déclarer si la source de classification est utilisée (coché pour 'oui', décoché pour 'non')</li>
			<li>Sélectionnez une 'règle de classement' dans le menu déroulant</li>
			<li>Cliquez sur 'Sauvegarder'</li>
		</ul>	   
<p>ATTENTION: 'Source utilisée' contrôle si la source est disponible dans l'éditeur des exemplaires. Par exemple, Koha est fourni avec la Dewey et la LCC en standard, mais une bibliothèque utilisant la Dewey ne voudra pas que les catalogueurs utilisent par erreur la classification LCC. Pour prévenir ce problème, cocher la case 'Source utilisée' pour la Dewey et laisser les autres non cochées.</p>

<h1>Ajouter 'Règle de remplissage'...</h1>
		<ul>
			<li>Cliquez sur 'Ajouter règle de classement'</li>
			<li>Entrez un 'Code de règle de classement' :</li>
			<li>Entrer une Description pour votre nouvelle notification</li>
			<li>Sélectinnez une 'routine de remplissage' dans le menu déroulant</li>
			<li>Cliquez sur 'Sauvegarder'</li>
		</ul>
		
<h1>Modifier une nouvelle 'Source de classification' ou 'Règle de remplissage'...</h1>
		<ul>
			<li>Cliquez 'Modifier' à côté de la source de classification ou de la règle de classement à modifier</li>
			<li>Modifier</li>
			<li>Cliquez sur 'Sauvegarder'</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->