<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Règles de prêt et d'amendes</h1>

<p>cette grille est utilisée pour créer toutes les règles associées à la circulation et aux amendes.</p>
		<ul>
			<li>		   
		   Les règles sont appliquées de la plus spécifique à la plus générale. Dans l'ordre :
			<ul>
				<li>Même document, même catégorie d'adhérent, même type de document</li>
				<li>Même site, même catégorie d'adhérent, type de document par défaut</li>
				<li>Même site, catégorie d'adhérent par défaut, même type de document</li>
				<li>Même site, catégorie d'adhérent par défaut, type de document par défaut</li>
				<li>Site par défaut, même catégorie d'adhérent, même type de document</li>
				<li>Site par défaut, même catégorie d'adhérent, type de document par défaut</li>
				<li>site par défaut, catégorie d'adhérent par défaut, même type de document</li>
				<li>Site par défaut, catégorie d'adhérent par défaut, type de document par défaut</li>
			</ul></li>
			<li><span style="background-color: #ffe599">
ASTUCE: pour modifier une rêgle, crééez en une nouvelle avec le même type de document et la même catégorie de lecteur.</span></li>
			<li>		   
		   Ces règles peuvent être appliquées à des sites particuliers, sélectionnés dans le menu déroulant; par défaut elles s'appliquent à tous les sites</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->