<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Gestion des préférences système</h1>

<p>Cette page vous permet de choisir les préférences système qui contrôlent la plupart des aspects de Koha.</p>
<p>Chaque onglet sur la guache rassemble plusieurs préférences:</p>
	<ul>
		<li><strong>Admin : </strong>contient les préférences administratives telles que adresse email, sessions et timeout.</li>
		<li><strong>Acquisitions :</strong> contient les préférences liées aux acquisitions et aux périodiques telles que la gestion des suggestions adhérents ou la TVA.</li>
		<li><strong>Contenu enrichi :</strong> holds preferences that will add content from outside sources to your OPAC and Staff Client.  This is where you can turn on cover images, FRBR and tagging.</li>
		<li><strong>Autorités : </strong>contient les préférences liées à la gestion des notices d'autorité.</li>
		<li><strong>Catalogage :</strong> holds preferences that control the cataloging functions.  This is where you choose your MARC flavor, set up Z39.50 and barcoding.</li>
		<li><strong>Circulation :</strong> holds preferences that control circulation functions such as holds and  fines.</li>
		<li><strong>I18N/L10N:</strong> contient les préférences liées à l'internationalisation et la localisation, telles que les formats de date ou les langues.</li>
		<li><strong>Logs</strong>: active ou désactive l'authentification pour votre système.</li>
		<li><strong>OAI-PMH :</strong> cette fonctionnalité est encore expérimentale, il vaut donc mieux garder les paramétres par défaut.</li>
		<li><strong>OPAC : </strong>personnaliser l'OPAC et ses fonctionnalités (en plus des préférences 'Contenus enrichis').</li>
		<li><strong>Adhérent :  </strong>holds preferences that control how your system handles patron functions.  Some preferences include the minimum password length and membership number settings.</li>
		<li><strong>Recherche:</strong> contient les préférences liées aux fonctions de recherche avancées telles que les mots vides ou le "stemming".</li>
		<li><strong>Interface bibliothécaire: </strong>personnaliser l'interface en modifiant la feuille de style et le menu de navigation.</li>
		<li><strong>Usage Local : </strong>cet onglet est en général vide, à moins que la bibliothèque ait mis une préférence juste pour votre site.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->