<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Διαχείριση &rsaquo; Πηγές Ταξινόμησης
<!-- TMPL_IF name="class_source_form" -->
  <!-- TMPL_IF name="edit_class_source" -->
    &rsaquo; Τροποποίηση πηγής ταξινόμησης
  <!-- TMPL_ELSE -->
    &rsaquo; Προσθήκη πηγής ταξινόμησης
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="sort_rule_form" -->
  <!-- TMPL_IF name="edit_sort_rule" -->
    &rsaquo; Τροποποίηση κανόνα αρχειοθέτησης
  <!-- TMPL_ELSE -->
    &rsaquo; Προσθήκη κανόνα αρχειοθέτησης
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_class_source_form" -->
  &rsaquo; Επιβεβαίωση Διαγραφής πηγής ταξινόμησης <!-- TMPL_VAR name="class_source" -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_sort_rule_form" -->
  &rsaquo; Επιβεβαίωση διαγραφής κανόνα αρχειοθέτησης <!-- TMPL_VAR name="sort_rule" -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_sort_rule_impossible" -->
  &rsaquo; Δεν επιτρέπεται η διαγραφή κανόνα αρχειοθέτησης <!-- TMPL_VAR name="sort_rule" -->
<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[

function CheckSourceForm(f) {
    var ok=1;
    var _alertString="";
    var alertString2;
    if (f.class_source.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει ο κώδικας πηγής ταξινόμησης");
    }
    if (f.sort_rule.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει ο κώδικας κανόνα αρχειοθέτησης");
    }
    if (f.description.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει η περιγραφή");
    }
    if (_alertString.length==0) {
        document.Aform.submit();
    } else {
        alertString2  = _("Η φόρμα δεν καταχωρήθηκε λόγω του ακόλουθου προβλήματος:");
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += _alertString;
        alert(alertString2);
    }
}

function CheckRuleForm(f) {
    var ok=1;
    var _alertString="";
    var alertString2;
    if (f.sort_rule.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει ο κώδικας κανόνα αρχειοθέτησης");
    }
    if (f.description.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει η περιγραφή");
    }
    if (f.sort_routine.value.length==0) {
        _alertString += "\n- " + _("Απουσιάζει η διαδικασία ταξινόμησης");
    }
    if (_alertString.length==0) {
        document.Aform.submit();
    } else {
        alertString2  = _("Η φόρμα δεν καταχωρήθηκε λόγω του ακόλουθου προβλήματος:");
        alertString2 += "\n------------------------------------------------------------------------------------\n";
        alertString2 += _alertString;
        alert(alertString2);
    }
}

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Αρχική</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Διαχείριση</a> &rsaquo; <!-- TMPL_IF name="display_lists" -->Πηγές Ταξινόμησης<!-- TMPL_ELSE --><a href="/cgi-bin/koha/admin/classsources.pl">Πηγές Ταξινόμησης</a><!-- /TMPL_IF -->
<!-- TMPL_IF name="class_source_form" -->
  <!-- TMPL_IF name="edit_class_source" -->
    &rsaquo; Τροποποίηση πηγής ταξινόμησης
  <!-- TMPL_ELSE -->
    &rsaquo; Προσθήκη πηγής ταξινόμησης
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="sort_rule_form" -->
  <!-- TMPL_IF name="edit_sort_rule" -->
    &rsaquo; Τροποποίηση κανόνα αρχειοθέτησης
  <!-- TMPL_ELSE -->
    &rsaquo; Προσθήκη κανόνα αρχειοθέτησης
  <!-- /TMPL_IF -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_class_source_form" -->
  &rsaquo; Επιβεβαίωση Διαγραφής πηγής ταξινόμησης <span class="ex">'<!-- TMPL_VAR name="class_source" -->'</span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_sort_rule_form" -->
  &rsaquo; Επιβεβαίωση διαγραφής κανόνα αρχειοθέτησης <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_sort_rule_impossible" -->
  &rsaquo; Δεν επιτρέπεται η διαγραφή κανόνα αρχειοθέτησης <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>
<!-- /TMPL_IF -->
</div>

<div id="doc3" class="yui-t2">

   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">

<!-- TMPL_IF name="class_source_form" -->
  <!-- TMPL_IF name="edit_class_source" -->
<h2>&rsaquo; Τροποποίηση πηγής ταξινόμησης</h2>
  <!-- TMPL_ELSE -->
<h2>&rsaquo; Προσθήκη πηγής ταξινόμησης</h2>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <fieldset class="rows">
    <ol>
      <li>
          <!-- TMPL_IF name="edit_class_source" -->
		  <span class="label">Κώδικας πηγής ταξινόμησης: </span>
            <input type="hidden" name="class_source" value="<!-- TMPL_VAR name="class_source" -->" />
            <!-- TMPL_VAR name="class_source" -->
          <!-- TMPL_ELSE -->
		  <label for="class_source">Κώδικας πηγής ταξινόμησης: </label>
            <input type="text" id="class_source" name="class_source"  size="10" maxlength="10" />
          <!-- /TMPL_IF -->
       </li>
       <li><label for="description">Περιγραφή: </label>
           <input type="text" id="description" name="description" size="50" maxlength="250" 
                  value="<!-- TMPL_VAR name="description" escape="HTML" -->" />
       </li>
       <li><label for="used">Πηγή σε χρήση;</label>
           <!-- TMPL_IF NAME="used" --><input type="checkbox" id="used" name="used" value="σε χρήση" checked="checked"><!-- TMPL_ELSE -->
		  <input type="checkbox" id="used" name="used" value="σε χρήση"><!-- /TMPL_IF -->
       </li>
       <li><label for="sort_rule">Κανόνας Αρχειοθέτησης: </label>
           <select id="sort_rule" name="sort_rule">
           <!-- TMPL_LOOP name="rules_dropdown" -->
             <!-- TMPL_IF name="selected" -->
             <option value="<!-- TMPL_VAR name="rule" -->" selected="selected"><!-- TMPL_VAR name="description" --> (<!-- TMPL_VAR name="rule" -->)</option>
             <!-- TMPL_ELSE -->
             <option value="<!-- TMPL_VAR name="rule" -->"><!-- TMPL_VAR name="description" --> (<!-- TMPL_VAR name="rule" -->)</option>
             <!-- /TMPL_IF -->
           <!-- /TMPL_LOOP -->
           </select>
       </li>    
    </ol>
  </fieldset>
  <fieldset class="action">
    <!-- TMPL_IF name="edit_class_source" -->
    <input type="button" value="Αποθήκευση" onclick="CheckSourceForm(this.form)">
    <!-- TMPL_ELSE -->
    <input type="button" value="Αποθήκευση" onclick="CheckSourceForm(this.form)">
    <!-- /TMPL_IF-->
    <a class="cancel" href="/cgi-bin/koha/admin/classsources.pl">Ακύρωση</a>
  </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="sort_rule_form" -->
  <!-- TMPL_IF name="edit_sort_rule" -->
<h2>&rsaquo; Τροποποίηση κανόνα αρχειοθέτησης</h2>
  <!-- TMPL_ELSE -->
<h2>&rsaquo; Προσθήκη κανόνα αρχειοθέτησης</h2>
  <!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <fieldset class="rows">
    <ol>
      <li>
          <!-- TMPL_IF name="edit_sort_rule" -->
		  <span class="label">Κώδικας κανόνα αρχειοθέτησης: </span>
            <input type="hidden" name="sort_rule" value="<!-- TMPL_VAR name="sort_rule" -->" />
            <!-- TMPL_VAR name="sort_rule" -->
          <!-- TMPL_ELSE -->
		  <label for="sort_rule">Κώδικας κανόνα αρχειοθέτησης: </label>
            <input type="text" id="sort_rule" name="sort_rule"  size="10" maxlength="10" />
          <!-- /TMPL_IF -->
       </li>
       <li><label for="description">Περιγραφή: </label>
           <input type="text" id="description" name="description" size="50" maxlength="250" 
                  value="<!-- TMPL_VAR name="description" escape="HTML" -->" />
       </li>
       <li><label for="sort_routine">Ρουτίνα αρχειοθέτησης: </label>
           <select id="sort_routine" name="sort_routine">
           <!-- TMPL_LOOP name="routines_dropdown" -->
             <!-- TMPL_IF name="selected" -->
             <option value="<!-- TMPL_VAR name="routine" -->" selected="selected"><!-- TMPL_VAR name="routine" --></option>
             <!-- TMPL_ELSE -->
             <option value="<!-- TMPL_VAR name="routine" -->"><!-- TMPL_VAR name="routine" --></option>
             <!-- /TMPL_IF -->
           <!-- /TMPL_LOOP -->
           </select>
       </li>
    </ol>
  </fieldset>
  <fieldset class="action">
  <!-- TMPL_IF name="edit_sort_rule" -->
        <input type="button" value="Αποθήκευση" onclick="CheckRuleForm(this.form)">
    <!-- TMPL_ELSE -->
        <input type="button" value="Αποθήκευση" onclick="CheckRuleForm(this.form)">    <!-- /TMPL_IF-->
    	<a class="cancel" href="/cgi-bin/koha/admin/classsources.pl">Ακύρωση</a>
  </fieldset>
</form>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_class_source_form" -->
<div class="dialog alert"><h3>Επιβεβαίωση διαγραφής της πηγής ταξινόμησης <span class="ex">'<!-- TMPL_VAR name="class_source" -->'</span>?</h3>
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <input type="hidden" name="class_source" value="<!-- TMPL_VAR name="class_source" -->" />
  <input type="submit" value="Διαγραφή πηγής ταξινόμησης" class="approve"></form>
  <form action="<!-- TMPL_VAR name="script_name" -->" method="get"><input type="submit" value="Όχι, Να Μη Γίνει Διαγραφή" class="deny">
</form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_sort_rule_form" -->
<div class="dialog alert"><h3>Επιβεβαίωση διαγραφής κανόνα αρχειοθέτησης <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span>?</h3>
<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
  <input type="hidden" name="op" value="<!-- TMPL_VAR name="confirm_op"-->" />
  <input type="hidden" name="sort_rule" value="<!-- TMPL_VAR name="sort_rule" -->" />
    <input type="submit" value="Διαγραφή κανόνα αρχειοθέτησης" class="approve">
</form>
<form action="<!-- TMPL_VAR name="script_name" -->" method="get">    <input type="submit" value="Όχι, Να Μη Γίνει Διαγραφή" class="deny"></form></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="delete_sort_rule_impossible" -->
<div class="dialog message"><h3>Αδυναμία διαγραφής κανόνα αρχειοθέτησης <span class="ex">'<!-- TMPL_VAR name="sort_rule" -->'</span></h3>
<p>The filing rule <!-- TMPL_VAR name="sort_rule" --> is used by at least one classification source. Please remove it from all classification source definitions before trying again.
</p>
<form action="<!-- TMPL_VAR name="script_name" -->" method="get">
    <input type="button" value="OK" class="approve" /></form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="display_lists" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[
	// prepare DOM for YUI Toolbar
	 $(document).ready(function() {
	    yuiToolbar();
	 });
	// YUI Toolbar Functions
	function yuiToolbar() {
	    new YAHOO.widget.Button("newsource");
	    new YAHOO.widget.Button("newrule");
	}	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newsource" href="<!-- TMPL_VAR name="script_name" -->?op=add_source">Νέα Πηγή Ταξινόμησης</a></li>
	<li><a id="newrule" href="<!-- TMPL_VAR name="script_name" -->?op=add_sort_rule">Νέοι Κανόνες Αρχειοθέτησης</a></li>
</ul></div>

<h2>Πηγές Ταξινόμησης</h2>
<!-- TMPL_IF name="added_source" -->
<span class="problem">Πρόσθετη πηγή ταξινόμησης <!-- TMPL_VAR name="added_source" --></span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="edited_source" -->
<span class="problem">Τροποποιημένη πηγή ταξινόμησης <!-- TMPL_VAR name="edited_source" --></span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="deleted_source" -->
<span class="problem">Διαγραφή της πηγής ταξινόμησης <!-- TMPL_VAR name="deleted_source" --></span>
<!-- /TMPL_IF -->
<table>
  <tr>
    <th>Κώδικας</th>
    <th>Περιγραφή</th>
    <th>Σε Χρήση</th>
    <th>Κανόνας Αρχειοθέτησης</th>
    <th>Ενέργειες</th>
  </tr>
  <!-- TMPL_LOOP name="class_sources" -->
  <tr>
    <td><!-- TMPL_VAR name="code" --></td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_IF name="used" -->Ναι<!-- TMPL_ELSE -->Όχι<!-- /TMPL_IF --></td>
    <td><!-- TMPL_VAR name="sortrule" --></td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=edit_source&amp;class_source=<!-- TMPL_VAR name="code" escape="HTML" -->">Επεξεργασία</a> <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_source&amp;class_source=<!-- TMPL_VAR name="code" escape="HTML" -->">Διαγραφή</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>
<h2>Κανόνες Αρχειοθέτησης Ταξινόμησης</h2>
<!-- TMPL_IF name="added_rule" -->
<span class="problem">Πρόσθετος κανόνας αρχειοθέτησης <!-- TMPL_VAR name="added_rule" --></span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="edited_rule" -->
<span class="problem">Τροποποιημένος κανόνας αρχειοθέτησης <!-- TMPL_VAR name="edited_rule" --></span>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="deleted_rule" -->
<span class="problem">Διαγραφή του κανόνα αρχειοθέτησης <!-- TMPL_VAR name="deleted_rule" --></span>
<!-- /TMPL_IF -->
<table>
  <tr>
    <th>Κώδικας</th>
    <th>Περιγραφή</th>
    <th>Διαδικασία Ταξινόμησης</th>
    <th>Ενέργειες</th>
  </tr>
  <!-- TMPL_LOOP name="class_sort_rules" -->
  <tr>
    <td><!-- TMPL_VAR name="rule" --></td>
    <td><!-- TMPL_VAR name="description" --></td>
    <td><!-- TMPL_VAR name="sort_routine" --></td>
    <td>
      <a href="<!-- TMPL_VAR name="script_name" -->?op=edit_sort_rule&amp;sort_rule=<!-- TMPL_VAR name="rule" escape="HTML" -->">Επεξεργασία</a> <a href="<!-- TMPL_VAR name="script_name" -->?op=delete_sort_rule&amp;sort_rule=<!-- TMPL_VAR name="rule" escape="HTML" -->">Διαγραφή</a>
    </td>
  </tr>
  <!-- /TMPL_LOOP -->
</table>
<div class="paginationBar"><!-- TMPL_VAR NAME="pagination_bar" --></div>

<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
