<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 读者查询 &rsaquo; <!-- TMPL_VAR name="bookselname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
<!--

function add_member(subscriptionid,borrowernumber){
     var myurl = "routing.pl?subscriptionid="+subscriptionid+"&borrowernumber="+borrowernumber+"&op=add";
     window.opener.location.href = myurl;
}

//-->
</script>
<style type="text/css">
   #custom-doc { width:38.46em;*width:37.53em;min-width:500px; margin:auto; text-align:left; }
   </style>
</head>
<body>

<div id="custom-doc" class="yui-t7">
   <div id="bd">
	

<h1>查询读者</h1>


<form name="search" action="/cgi-bin/koha/serials/member-search.pl" method="post">
<input type="text" name="member" size="30" />
<input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR NAME="subscriptionid" -->" />
<input type="submit" class="button" value="查询">
</form>

<!-- TMPL_IF NAME="memberloop" -->
<div class="searchresults">
<table>
<tr>
	<th>名称</th>
    <th>馆藏地</th>
    <th>新增</th>
</tr>
<!-- TMPL_LOOP NAME="memberloop" -->
<tr><td><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></td>
    <td><!-- TMPL_VAR NAME="streetaddress" --></td>
    <td><a href="#" onclick="add_member(<!-- TMPL_VAR
NAME="subscriptionid" -->,<!-- TMPL_VAR NAME="borrowernumber" -->); return false" href="/cgi-bin/koha/serials/routing.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;op=add">新增</a></td></tr>
<!-- /TMPL_LOOP -->
        </table>
</div>
<!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="member" -->
        <p>找不到</p>
    <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<p><a href="javascript:window.close()" class="button">关闭</a></p>

</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
