<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; <!-- TMPL_VAR name="biblionumber" --> 期刊</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body> 
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首页</a> &rsaquo; 期刊 </div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	<!-- TMPL_INCLUDE NAME="serials-toolbar.inc" -->
	
<!--TMPL_IF Name="information"-->
更新期刊：
<table>
  <tr>
    <th>
      期刊
    </th>
    <th>
      状态
    </th>
    <th>
      出版日期
    </th>
    <th>
      订阅日期：
    </th>
    <th>
      备注
    </th>
  </tr>  
<!--TMPL_LOOP Name="information"-->
  <tr>
    <td>
      <!--TMPL_VAR Name="serialseq"-->
    </td>
    <td>
      <!--TMPL_VAR Name="status"-->
    </td>
    <td>
      <!--TMPL_VAR Name="publisheddate"-->
    </td>
    <td>
      <!--TMPL_VAR Name="planneddate"-->
    </td>
    <td>
      <!--TMPL_VAR Name="notes"-->
    </td>
  </tr>  
<!--/TMPL_LOOP -->
</table>
<!--/TMPL_IF-->
        <!-- TMPL_IF NAME="done_searched"-->
<h1>期刊订阅</h1>

<!-- TMPL_IF NAME="routing" -->
        <h3>查询期刊订阅清单</h3>
<!-- /TMPL_IF -->

    <table>
        <tr>
            <th>国际标准期刊号（ISSN）</th>
            <th>题名</th>
            <th>
                备注
            </th>
            <th>
                图书馆（索书号）
            </th>
            <!-- TMPL_IF NAME="routing" -->
              <th colspan="3">&nbsp;</th>
            <!-- TMPL_ELSE -->
              <th colspan="2">&nbsp;</th>
            <!-- /TMPL_IF -->        
        </tr>
        
        <!-- TMPL_LOOP name="subscriptions" -->
            <tr>
                <!-- TMPL_IF name="toggle" -->
                    <td class="hilighted">
                <!-- TMPL_ELSE -->
                    <td>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="issn" --><!-- TMPL_VAR name="issn" -->
                <!-- /TMPL_IF -->
                </td>
                <!-- TMPL_IF name="toggle" -->
                    <td class="hilighted">
                <!-- TMPL_ELSE -->
                    <td>
                <!-- /TMPL_IF -->
                
                    <a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->" class="button" title="期刊订阅清单详情"><!-- TMPL_IF name="title" --><!-- TMPL_VAR name="title" --><!-- TMPL_ELSE -->
                    ---
                <!-- /TMPL_IF --></a>
                
                </td>
                <!-- TMPL_IF name="toggle" -->
                    <td class="hilighted">
                <!-- TMPL_ELSE -->
                    <td>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="notes" -->(<!-- TMPL_VAR name="notes" -->)<!-- /TMPL_IF -->
                </td>
                <!-- TMPL_IF name="toggle" -->
                    <td class="hilighted">
                <!-- TMPL_ELSE -->
                    <td>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="branchcode" --><!-- TMPL_VAR name="branchcode" --><!-- /TMPL_IF -->
                <!-- TMPL_IF name="callnumber" -->(<!-- TMPL_VAR name="callnumber" -->)<!-- /TMPL_IF -->
                </td>
                  <!-- TMPL_IF name="toggle" -->
                        <td class="hilighted">
                    <!-- TMPL_ELSE -->
                        <td>
                    <!-- /TMPL_IF -->
						<a href="/cgi-bin/koha/serials/serials-collection.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->">借阅历史记录</a>
					</td>
                <!-- TMPL_IF NAME="routing" -->
                    <!-- TMPL_IF name="toggle" -->
                        <td class="hilighted">
                    <!-- TMPL_ELSE -->
                        <td>
                    <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="cannotedit" -->
                  &nbsp;        
                <!-- TMPL_ELSE -->
                        <a href="/cgi-bin/koha/serials/routing.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" --><!-- TMPL_UNLESS NAME="routingedit" -->&amp;op=new<!-- /TMPL_UNLESS -->">行程列表</a>
                <!-- /TMPL_IF -->
                    </td>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="toggle" -->
                    <td class="hilighted">
                <!-- TMPL_ELSE -->
                    <td>
                <!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="cannotedit" -->
                  &nbsp;        
                <!-- TMPL_ELSE -->
                  <a href="/cgi-bin/koha/serials/serials-edit.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->&amp;serstatus=1,3">收到期刊</a>
                <!-- /TMPL_IF -->
                </td>
            </tr>
        <!-- /TMPL_LOOP -->
    </table>
    
        <!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
