<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 期刊 &rsaquo; <!-- TMPL_VAR name="bibliotitle" --> 期刊信息</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[
function addsubscriptionid()
{
	var tab=new Array();
    var serialids = document.edition.serialid;
    for (i=0; i<serialids.length; i++){
      if (serialids[i].checked == true){
        var found=false;
        for (var val in tab){
          if (tab[val] == document.getElementsByName("subs")[i].getAttribute('val')){found = true;}
        }
        if (found == false){
          tab=tab.concat((document.getElementsByName("subs")[i].getAttribute('val')));
        }
      }
    }
    var string="";
    for (var val in tab){
      string = string + tab[val] + ",";
    }
    string=string.substring(0,string.length -1);
    document.edition.subscriptionid.value=string;
}
function popup(subscriptionid) {
    newin=window.open('subscription-renew.pl?mode=popup&subscriptionid='+subscriptionid,'popup','width=500,height=400,toolbar=false,scrollbars=yes');
}

$(document).ready(function() {
	$('#subscription_years > ul').tabs();
});
 

//]]>
</script>
</head>
<body class="yui-skin-sam">
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Serial Collection information for <i><!-- TMPL_VAR name="bibliotitle" --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">


<!-- TMPL_UNLESS name="popup" -->
	<!-- TMPL_INCLUDE NAME="serials-toolbar.inc" -->

	<h1><i><!-- TMPL_VAR name="bibliotitle" --></i> 期刊合集信息</h1>
<!-- /TMPL_UNLESS -->

<!--TMPL_IF Name="subscriptions"-->
<table>
<!--TMPL_IF Name="onesubscription"-->
<caption> 订阅摘要</caption>
<!--TMPL_ELSE-->
<caption> 订阅摘要</caption>
<!--/TMPL_IF-->
<tr>
  <th>订阅号码 </th>
  <th>频率</th>
  <th>编号样式</th>
  <th>图书馆</th>
  <th>索书号</th>
  <th>备注</th>
  <th>Routing</th>
  <th>续借</th>
</tr>
<!--TMPL_LOOP Name="subscriptions"-->
	<tr>
      <td><a href="subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->"># <!-- TMPL_VAR name="subscriptionid" --></a> </td>
      <td>         <!--TMPL_IF name="periodicity1" -->
                        每日一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity2" -->
                        每周一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity3" -->
                        双周刊
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity4" -->
                        一周三次
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity5" -->
                        每月一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity6" -->
                        双月刊（每年 6 期）
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity7" -->
                        每季一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity8" -->
                        每季一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity9" -->
                        半年刊
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity10" -->
                        每年一期
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity11" -->
                        半年刊
                <!-- /TMPL_IF --></td>
           <td>
                <!-- TMPL_IF name="numberpattern1" -->
                    号码
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern2" -->
                    卷，号，期 （Volume, Number, Issue）
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern3" -->
                    卷，号
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern4" -->
                    卷，期
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern5" -->
                    号，期
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern6" -->
                    只有季刊
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern7" -->
                    上面没有
                <!-- /TMPL_IF --></td>
            <td> <!-- TMPL_VAR name="branchcode" --></td>
            <td> <!-- TMPL_VAR name="callnumber" --></td>
        <td> <!-- TMPL_VAR name="notes" -->        <!--TMPL_IF name="subscriptionexpired"--><br /><span class="problem"> 订阅过期</span>
        <!--/TMPL_IF-->
        </td>
			<td><a href="/cgi-bin/koha/serials/routing.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->">编辑订阅清单</a></td>
        <!--TMPL_IF name="abouttoexpire"--><td class="problem"> <a href="/cgi-bin/koha/serials/subscription-renew.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->" onclick="popup(<!--TMPL_VAR Name="subscriptionid"-->); return false;">续借</a></td>
        <!--TMPL_ELSE-->
        <!--TMPL_IF name="subscriptionexpired"--><td class="problem"> <a href="/cgi-bin/koha/serials/subscription-renew.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->" onclick="popup(<!--TMPL_VAR Name="subscriptionid"-->) return false;">续借</a></td>
        <!--TMPL_ELSE-->
        <td> &nbsp;</td>
        <!--/TMPL_IF-->
        <!--/TMPL_IF-->

      </tr>
<!--/TMPL_LOOP -->
<!--TMPL_IF Name="subscr"-->
<!--TMPL_UNLESS Name="onesubscription"-->
<tr ><td colspan="7">  <a href="serials-collection.pl?biblionumber=<!--TMPL_VAR Name="biblionumber" -->">关于此目录的所有订阅信息</a></td>
</tr><!-- /TMPL_UNLESS -->
<!--/TMPL_IF-->
</table>
<!--/TMPL_IF -->


<!-- TMPL_IF NAME="years" --><form name="edition" action="serials-edit.pl">
<div id="subscription_years" class="toptabs numbered">
<ul>
	<!-- TMPL_LOOP NAME="years" -->
        <!-- TMPL_IF NAME="year" -->
            <li><a href="/cgi-bin/koha/serials/serials-collection.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->#subscription-year-<!-- TMPL_VAR NAME="year" -->"><!-- TMPL_VAR NAME="year" --></a></li>
        <!-- /TMPL_IF -->
    <!-- /TMPL_LOOP -->
</ul>

 <!-- TMPL_LOOP NAME="years" -->
<div id="subscription-year-<!-- TMPL_VAR NAME="year" -->">
        <table width="400px">
            <tr>
<!--TMPL_UNLESS Name="onesubscription"-->
                <th># 次类别</th>
<!--/TMPL_UNLESS-->
                <th>出版日期
                </th>
                <th>收到日期
                </th>
                <th> 号码
                </th>
                <th> 状态
                </th>
                <th> 备注
                </th>
                <th>分馆
                </th>
                <th>编辑
                </th>
            </tr>
      <!-- TMPL_LOOP Name="serials" -->
            <tr>
<!--TMPL_UNLESS Name="onesubscription"-->
                 <td><a href="serials-collection.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->"><!--TMPL_VAR Name="subscriptionid"--></a></td>
<!--/TMPL_UNLESS-->
                <td>
                    <!-- TMPL_VAR Name="publisheddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="planneddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="serialseq" -->
                </td>
                <td>
                    <!-- TMPL_IF Name="status1" -->预期<!-- /TMPL_IF --><!-- TMPL_IF Name="status2" -->到馆<!-- /TMPL_IF --><!-- TMPL_IF Name="status3" -->迟到<!-- /TMPL_IF --><!-- TMPL_IF Name="status4" -->遗失<!-- /TMPL_IF --><!-- TMPL_IF Name="status5" -->无法取得<!-- /TMPL_IF --><!-- TMPL_IF Name="status7" -->请求<!-- /TMPL_IF -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="notes" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="branchcode" -->
                </td>
                <td>
                  <!--TMPL_IF Name="cannotedit"-->
                    禁用
                  <!--TMPL_ELSE -->
                    <input type="hidden" name="subs" value="<!--TMPL_VAR Name="subscriptionid"-->" />
                    <!--TMPL_IF Name="subscriptionexpired"-->
                    <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" disabled="disabled" />
                    <!--TMPL_ELSE-->
                      <!--TMPL_IF Name="status1"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--TMPL_ELSE -->
                      <!--TMPL_IF Name="status3"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--TMPL_ELSE -->
                        <!--TMPL_IF Name="status4"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                        <!--TMPL_ELSE -->
                    <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" />
                        <!--/TMPL_IF-->           
                      <!--/TMPL_IF-->           
                      <!--/TMPL_IF-->           
                    <!--/TMPL_IF -->
                  <!--/TMPL_IF -->
                </td>
            </tr>
      <!-- /TMPL_LOOP -->
        </table>
      <p><input type="submit" value="编辑期刊"></p>
    </div>
    <!--/TMPL_LOOP -->
  <input type="hidden" name="subscriptionid" value="<!--TMPL_VAR Name="subscriptionidlist"-->" />

</div>
</form>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
