<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 期刊</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<div id="doc" class="yui-t7">
   <div id="bd">
	

<h1>馆藏目录查询</h1>
<!-- TMPL_IF name="no_query" -->
    <div class="warning">你必须输入查询词 </div>
<!-- /TMPL_IF -->
<form name="f" action="/cgi-bin/koha/serials/subscription-bib-search.pl" method="post">
    <input type="hidden" name="op" value="do_search" />
    <input type="hidden" name="type" value="intranet" />
    <label for="q">关键词</label>
    <input type="text" id="q"  name="q" />
    
    <!-- ITEMTYPE LIMITS -->
        <p>Limit type to: 
        <select name="itemtypelimit">
	    <option value="">全部</option>
        <!--TMPL_LOOP Name="itemtypeloop"-->
            <option value="<!--TMPL_VAR Name="code" -->" />
            <!--TMPL_VAR Name="description" -->
        <!--/TMPL_LOOP-->
        </select>
        </p>
    <!-- /ITEMTYPE LIMITS -->

    <input type="submit" value="查询">


</form>

</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
