<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Amendes adhérents</h1>
Les amendes sont calculées selon les préférences systèmes que vous avez définies.<br/>
		<ul>
			<li>
<em>Aller à : </em></span>Plus &gt; Administration &gt; Adhérents et Circulation &gt; Règles de prêt</li>
		</ul>	  
<h3>Voir comptes usagers</h3>

		<ul>
			<li>Cliquez sur l'onglet 'Amendes' à gauche de la fiche adhérent</li>
			<li>Vous verrez les informations de la fiche adhérent</li>
			<li>Dans le compte de l'adhérent apparaîtront les amendes pour retard, les factures pour remplacement de documents perdus, les droits d'inscription et les autres coûts perçus par la bibliothèque.
			<ul>
				<li>
			    <span style="background-color: #ffe599">
ASTUCE : Marquer un exemplaire 'perdu' dans la page de modification des exemplaires associera automatiquement un coût de remplacement à l'adhérent lié.</span></li>
			</ul></li>
			<li>Pour payer une amende, cliquez sur l'onglet 'Payer amendes'</li>
			<li>Pour chaque somme, un menu vous permet de dire si elle a été payé ou non</li>
			<li>Si vous sélectionnez 'Payé', le système estime qu'un paiement complet a été effectué</li>
			<li>Les paiements apparaîtront dans l'onglet Compte</li>
			<li>Vous pouvez aussi créer des coûts/factures manuels, ou mettre un crédit manuel sur le compte d'un adhérent.
			<ul>
				<li>
			    <span style="background-color: #ffe599">
ASTUCE : Si vous créez un crédit manuel, il ne sera attaché à aucun exemplaire particulier</span></li>
			</ul></li>
			<li>Pour créer une facture manuelle, cliquez sur l'onglet 'Créer facture manuelle'</li>
			<li>Saisissez les informations liées à la somme que vous ajoutez</li>
			<li>La nouvelle somme en débit apparaîtra dans l'onglet 'Compte'</li>
			<li>Les factures manuelles peuvent être mises en paiement de la même façon que les factures automatiques, en cliquant sur 'Payer amendes'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->