<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Créer crédit manuel</h1>
		<ul>
			<li>Pour créer un crédit manuel, cliquez sur l'onglet 'Créer crédit manuel'</li>
			<li>Complétez les informations concernant le crédit ajouté</li>
			<li>La nouvelle somme en crédit apparaîtra dans l'onglet 'Compte'</li>
		</ul>	ASTUCE : Utilisez les crédits manuels pour payer des amendes partielles
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->