<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Créer facture manuelle</h1>
		<ul>
			<li>Click the 'Create manual invoice' tab</li>
			<li>Saisissez les informations liées à la somme que vous ajoutez</li>
			<li>La nouvelle somme en débit apparaîtra dans l'onglet 'Compte'</li>
			<li>Les factures manuelles peuvent être mises en paiement de la même façon que les factures automatiques, en cliquant sur 'Payer amendes'</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->