<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Changer mot de passe</h1>

<p>Koha ne peut pas afficher un mot de passe déjà défini: ce formulaire ne peut être utilisé que pour modifier le login et/ou le mot de passe d'un adhérent, mais pas pour récupérer un mot de passe existant.</p>
		<div class="hint">	The default minimum password length is 3 characters long.  To change this value, update your system preferences.
		</div>
		<div class="hint">
			<ul>
				<li><em>Allez à:</em> Plus &gt; Administration &gt; Préférences système &gt; Adhérents &gt; minPasswordLength</li>
			</ul>
		</div>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->