<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide adhérents</h1>

<p>C'est le module Adhérents de Koha.</p>
<p>Le module Adhérents gère l'information que vous saisissez sur vos adhérents.</p>
	<ul>
		<li>Pour ajouter un adhérent, taper son nom dans la boîte de recherche et cliquez sur le bouton Rechercher.</li>
		<li>Si un adhérent correspond déjà au nom cherché, il apparaîtra dans la liste de résultats.<br/>
		<ul>
			<li>Cela peut-être particulièrement pratique lorsque quelqu'un a perdu sa carte ou qu'un enfant a oublié la sienne. De cette façon vous pouvez éviter d'avoir plusieurs numéros pour le même adhérent.</li>
		</ul></li>
		<li>Vous pouvez aussi visualiser une partie des adhérents en sélectionnant l'initiale du nom de famille dans l'alphabet.</li>
		<li>Si l'usager n'est pas encore adhérent, cliquez le bouton 'Ajouter' et sélectionnez le type d'adhérent à ajouter.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->