<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ecran Information sur l'adhérent</h1>

<p>Cette page affiche les informations concernant un adhérent donné.</p>
<p>En haut à gauche il y a leur adresse et leur numéro de carte.</p>
<p>Un état de paiement de la cotisation annuelle d'adhérent est aussi affiché sur cette page.</p>
<p>Au bas de la fiche adhérent vous disposez d'un accès rapide aux exemplaires que l'adhérent a emprunté, réservé, ou qui sont en retard.</p>
<p>Vous pouvez avoir des informations sur ce qu'un adhérent a emprunté auparavant en cliquant sur le bouton Historique des prêts</p>
<p>If you would like to edit a patron's information, click the 'Edit' button.  You can also click one of the 'Edit' links below each section on the patron record.</p>
<p>Si vous voulez supprimer un adhérent DEFINITIVEMENT, cliquez sur le bouton 'Plus' puis 'Supprimer'. Une boîte de dialogue apparaîtra, ainsi pas de crainte de supprimer un enregistrement par accident. Soyez juste sûr de vous avant la suppression!</p>
<p>S'il n'existe pas de photo pour cet adhérent, cliquez sur "Ajouter une photo de l'adhérent" pour ajouter une ou des photos. L'image ne doit pas excéder 120x200 pixels. Seuls les formats PNG, GIF, JPED et XPM sont gérés.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->