<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Payer amendes</h1>
		<ul>
			<li>Pour payer une amende, cliquez sur l'onglet 'Payer amendes'</li>
			<li>Pour chaque somme, un menu vous permet de dire si elle a été payé ou non</li>
			<li>Si vous sélectionnez 'Payé', le système estime qu'un paiement complet a été effectué</li>
			<li>Les paiements apparaîtront dans l'onglet Compte</li>
			<li>Vous pouvez aussi créer des coûts/factures manuels, ou mettre un crédit manuel sur le compte d'un adhérent.
			<ul>
				<li>
			    <span style="background-color: #ffe599">
ASTUCE : Si vous créez un crédit manuel, il ne sera attaché à aucun exemplaire particulier</span></li>
			</ul></li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->