<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Historique de prêts - aide</h1>
		<ul>
			<li>Pour voir l'historique de prêt d'un adhérent, cliquez l'onglet 'Historique' dans le menu de gauche</li>
			<li>
		    <span style="background-color: #ffe599">
ASTUCES : L'historique d'emprunt n'est visible que si la préférence système 'intranetreadinghistory' est activée</span>
			<ul>
				<li>
			    <span>
<em>Aller à :</em></span>Administration &gt; Préférences système &gt; Adhérents &gt; intranetreadinghistory</li>
			</ul></li>
			<li>Pour voir l'historique des modifications de la fiche adhérent, cliquez sur l'onglet 'Log des modifications' à gauche.</li>
		</ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->