<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Label Printing</h1>

<h2>Ինչպե՞ս եմ ես տպում պիտակները օգտագործելով այս հնարավորությունը։</h2>

<p>Քայլերի հաջորդականությունն է։</p><ol><li>Define a Layout</li><li>Define a Layout Template</li><li>Միաձուլիր նախագծումը և Նախագծման պատկերը Պիտակի փաթեթի միջոցով&nbsp;</li></ol><h2>Ի՞նչ է &quot;Կառուցվածքը&quot;</h2>

<p>A layout is where you define what will print on the label. For example for a spine label you may choose the Classification Number. </p>

<h2>Ի՞նչ է &quot;Կառուցվածքի ձևաչափը&quot;</h2>

<p>A layout template is the dimensions of the sheet you are using. You will need to either acquire the dimensions from the label supplier, or measure them accurately.</p><p>Layout Templates will need to be defined for each type of Label sheet or page you wish to print to.  </p>

<h2>Ի՞նչ է &quot;Պիտակի փաթեթը&quot;</h2>

<p>A label batch is where you take your Layout, Layout Template and merge with the items you wish to create the labels for.</p><p>Once the merge has been completed,  a PDF will be generated that can be used to print the labels.</p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->