عزيزى <!-- TMPL_VAR NAME="LibraryName" --> المستفيد، لقد إقترحت بأن تقتنى المكتبة <!-- TMPL_VAR name="title" --> <!-- TMPL_IF name="author" --> بواسطة <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. يسرّنا أن نخبرك بأنّ المادة التي طلبتها الآن جزء من مجموعة <!-- TMPL_VAR NAME="LibraryName" -->. إذا كان لديكم أي أسئلة، رجاء راسلنا بالبريد الإلكتروني على <!-- TMPL_VAR name="libemail" -->. شكرا لكم, <!-- TMPL_VAR NAME="LibraryName" -->
