عزيزى <!-- TMPL_VAR NAME="LibraryName" --> المستفيد، لقد إقترحت بأن تقتنى المكتبة <!-- TMPL_VAR name="title" --> <!-- TMPL_IF name="author" --> بواسطة <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. <!-- TMPL_VAR name="libsurname" --> <!-- TMPL_VAR libfirstname -->تمت مراجعة طلبك اليوم. المادة ستكون مطلوبة بأسرع ما يمكن.سيتم إخطارك بالبريد عندما يكتمل الطلب, وثانية عندما المادة تصل إلى المكتبة. إذا كان لديك أى إستفسارات, برجاء راسلنا بالبريد الالكترونى على <!-- TMPL_VAR name="libemail" -->.شكرا لكم, <!-- TMPL_VAR NAME="LibraryName" -->
