عزيزى <!-- TMPL_VAR NAME="LibraryName" --> المستفيد، لقد إقترحت بأن تقتنى المكتبة <!-- TMPL_VAR name="title" --> <!-- TMPL_IF name="author" --> بواسطة <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. <!-- TMPL_VAR name="lib.surname" --> <!-- TMPL_VAR name="lib.firstname" -->تمت مراجعة طلبك اليوم, وتم القرار أنه لا يقبل الإقتراح في هذا الوقت. إنّ السبب الذي أعطى هو: <!-- TMPL_VAR NAME="reason" --> إذا كان لديك أى أسئلة, رجاء راسلنا بالبريد الإلكتروني على <!-- TMPL_VAR name="libemail" -->.شكرا لكم, <!-- TMPL_VAR NAME="LibraryName" -->
