<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide sur le catalogage</h1><h2>Comment puis-je modifier une notice bibliographique ?</h2>

<p>Pour modifier une notice bibliographique, utilisez la recherche catalogue pour trouver la notice.Cela peut être fait via l'interface de catalogage ou la recherche catalogue.Une recherche à l'intérieur du module de Catalogage cherchera sur le catalogue et le réservoir (voir ci-dessous)</p>

<h2>Comment puis-je ajouter une notice bibliographique ?</h2>

<p>Utilisez le bouton &quot;Nouvelle Notice&quot; pour ajouter une nouvelle notice.Choisissez la grille de catalogage que vous voudrez utiliser pour construire la notice bibliographique.Les grilles de catalogage sont des modèles de catalogage qui peuvent être créés et édités (modifiés) dans &quot;Administration Système&quot;.</p>

<h2>Comment puis-je ajouter un exemplaire à une notice ?</h2>

<p>Une notice bibliographique doit avoir des exemplaires pour qu'elle apparaisse à l'OPAC. Il y a 2 manières d'ajouter des exemplaires à une notice bibliographique :</p><ol><li><strong>Au travers du catalogage</strong>. Après avoir ajouté la notice bibliographique, vous pourrez ajouter un ou plusieurs exemplaires. </li><li><strong>Acquisitions de A à Z</strong>.&nbsp;Les exemplaires peuvent être ajoutés aux commandes, dans le module acquisition. Les détails des exemplaires sont à ajouter après réception de la commande. Utiliser le module acquisition pour ajouter des exemplaires vous permet de suivre les dépenses de la bibliothèque, ainsi que votre engagement budgétaire. </li></ol><h2>Le Réservoir, c'est quoi ?</h2>

<p>Le réservoir est un lieu de stockage pour les notices bibliographiques qui ne sont pas encore utilisées dans le catalogue de la bibliothèque.&nbsp;Lorsqu'un document arrivant correspond à une notice du réservoir, les deux peuvent être recoupés et la notice biblio sortie du réservoir vers le catalogue principal.</p><p>Le réservoir peut être rempli avec des notices MARC via  &quot;Préparer des Notices MARC pour l'Import&quot; dans les Outils.</p> 
<!-- TMPL_INCLUDE name="help-bottom.inc" -->