<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide sur l'ajout de notice MARC</h1><h2>Comment puis-je créer la notice bibliographique ?</h2>

<p>En fonction de la grille, différents champs apparaitront dans les onglets. Utiliser les onglets en haut de la page pour entrer les données &nbsp; de la notice.</p>

<h2>Qu'est-ce que c'est, la recherche z3950 ?</h2>

<p>Koha a un client z3950 intégré qui peut être utilisé pour interroger n'importe quel nombre de serveurs z3950.Pour utiliser la recherche z3950 commencer par saisir l'ISBN et le Titre.La recherche vous donnera les résultats des serveurs que vous avez interrogés.Sélectionnez la notice que souhaitez récupéré et les champs seront remplis par les informations bibliographiques de ce serveur.</p><p>Pour utiliser cette fonctionnalité vous devrez définir les serveurs z3950 à interroger dans &quot;Administration Système&quot;.</p>

<h2>Que signifient les &quot;...&quot; ?</h2>

<p>Les ... à droite du champ à remplir sont utilisés pour indiquer que ce champ utilise un plugin.Divers plugins ont été créés pour rendre plus facile et plus rapide le catalogage bibliographique.</p><p>Si vous cliquez sur la zone d'entrée de tout champ suivi de ..., le champ sera rempli par la valeur par défaut du plugin.Cette valeur par défaut est fixée soit par le plugin lui-même soit par les préférences système.</p><p>Cliquer sur ... va afficher une fenêtre surgissante à partir de laquelle vous pourrez faire des sélections pour remplir les champs. C'est particulièrement intéressant pour le leader et les champs codés.</p><p>Demandez à votre administrateur système de charger des plugins additionnels pour utiliser ce module.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->