<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ajout détails exemplaire</h1>

<p>Après avoir sauvegarder une notice MARC, vous accédez à un écran d'ajout d'exemplaire. C'est ici que vous devez définir la localisation d'un exemplaire (site de rattachement), son prix, son code-barres, etc. </p>

<ul><li>Cliquez 'Ajouter exemplaire' après avoir entré les informations d'exemplaire</li><li>Une confirmation apparaîtra au niveau des informations d'exemplaire</li><li>Vous pouvez modifier l'exemplaire ou ajouter un nouvel exemplaire</li></ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
