<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe Katalogisierung</h1><h2>Wie wird ein bibliographicher Datensatz geändert?</h2>

<p>Um einen bibliographischen Datensatz zu ändern benutzen Sie die Katalogssuche um diesen Satz zu finden. Dies können Sie entweder in der Katalogisierung oder in der Suche machen. Eine Suche via Katalogisierungsmodul berücksichtigt den Katalog und den Datenpool (siehe unten).&nbsp;</p>

<h2>Wie wird ein neuer bibliographischer Datensatz eingebeben?</h2>

<p>Use the &quot;New Record&quot; button to add a new record. Choose the framework that you will use to shape the bibliographic record. Frameworks are cataloging templates that can be created and edited under &quot;System Admininstration&quot;.</p>

<h2>Wie kann ich einem Datensatz Exemplare hinzufügen?</h2>

<p>Ein bibliographischer Titelsatz braucht Exemplare oder Bestandsangaben, damit er im OPAC erscheint. Es gibt zwei Arten neue Exemplare zum Titelsatz hinzuzufügen:</p><ol><li><strong>Via Katalogisierung</strong>. After adding the new bibliographic record, you will be given the option to add items the record. One record can have many items. </li><li><strong>Via Erwerbungen</strong>.&nbsp; Items can be added to orders in acquisitions. Item details are added upon recieving the item. Using the acquisitions module for adding items allows you to track the libraries spend against funds and budgets. </li></ol><h2>Was ist der Datenpool?</h2>

<p>Der Datenpool ist ein Aufbewahrungsbereich für bibliographische Datensätze, die noch nicht im Bibliothekskatalg gebraucht werden.&nbsp; Wenn ein Exemplar eintrifft, das einem der Datensätze im Datenpool entspricht, können die beiden zusammen gebracht werden und der bibliographische Satz vom Datenpool in den Katalog geschoben werden.</p><p>Der Datenpool kann mit MARC-Datensätzen durch  &quot;MARC-Datensätze für Import bereitstellen&quot; unter Werkzeuge gefüllt werden.</p> 
<!-- TMPL_INCLUDE name="help-bottom.inc" -->