<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إستيراد مستخدم</h1>

		<ul>
			<li>Create a CSV file for your patron data<br/>
			<ul>
				<li>Format your file with the following fields
				<ul>
					<li>'رقم البطاقة', 'الإسم الثاني', 'الإسم الأول', 'العنوان', 'أسماء أخرى', 'إختصارات', 'رقم الشارع', 'نوع الشارع', 'العنوان', 'العنوان2', 'المدينة', 'الرقم البريدي', 'البريد الإلكتروني', 'التليفون', 'الهاتف المحمول', 'فاكس', 'بريد إلكتروني إضافي', 'تليفون إضافي', 'رقم الشارع-B', 'نوع الشارع-B', 'عنوان-B', 'المدينة-B', 'الرقم البريدي-B', 'بريد إلكتروني-B', 'تليفون-لآ', 'تاريخ الميلاد', 'كود الفرع', 'كودالفئة', 'التاريخ المسجل', 'تاريخ الانتهاء', 'gonenoaddress', 'مفقود', 'debarred', 'اسم الإتصالِ ', 'يَتّصلُ بالاسمِ الأولِ', 'عنوان الاتصال', 'ملاحظات مستعير', 'علاقة', 'الإنتماء العرقي', 'ethnotes', 'sex', 'معرف مستفيد', 'ملاحظة اوباك', 'ملاحظة اتصال', 'كلمة مرور', 'فرز 1', 'فرز 2'
					<ul>
						<li>
					    <span style="background-color: #ffe599">
TIP: Consult your system administrator if you are unsure of how to fill in the above fields.</span></li>
						<li>					   
					   IMPORTANT: Make sure the 'branchcode' and 'categorycode' are valid entries in your database.</li>
						<li>Passwords should be stored in plain text, and will be encrypted as they're imported
						<ul>
							<li>
						    <span style="background-color: #ffe599">
TIP: If your passwords are already encrypted, talk to your systems administrator about options.</span></li>
						</ul></li>
					</ul></li>
				</ul></li>
			</ul></li>
			<li>إختر ملف لاستيرادة فى جدول المستعيرين</li>
			<li>إذا وجد رقم بطاقة في الجدول، فيمكنك أن تختار إما أن تهمل الرقم الجديد أو تكتب القديم.</li>
			<li>Click 'Import'</li>
			<li>You will be brought to a confirmation screen.</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->