<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إستيراد مارك</h1>

<p>هذه إحدى الشاشات التى ستراها كثيرا إذا بدأت من scratch.</p>

<p>إنه من المفيد أن يتم إستيراد مجموعة ISO 2709 biblios التي يمكن أن تستعمل لاحقا للفهرسة السريعة </p>

<p>بداية، انت تحتاج لتصفح حاسوبك لإيجاد تسجيلة مارك التى حصلت عليها لمادتك. أنقر على </p>

<p>إختر ملف للتصفح.</p>

<p>إذا كنت غير متأكّد إذا إستوردت فعليا تسجيلة، إبقي الزرّ الإذاعي على وضع </p>

<p>إهمل هذه وإبقى على الموجود.</p>

<p>تستطيع "اسم" الإستيراد لمساعدتك عندما تحتاج لإختيار بين أكثر من 1 imported biblio (أو فقط تريد الإستمرار بالتتبّع على أين biblios تأتى من) </p>

<p>يمكنك أن تغيّر تشفير char أيضا بين مارك 21 وUnimarc </p>

<p>إنك لست بحاجة إلى أن تسمّي كلّ إستيراد في الحقيقة، لذا فإنك لست بحاجة إلى أن تملأ هذا الصندوق إن كنت لا تريد ذلك. هذا مفيد ل telling الإستيرادات على حدة إن كان لديك أكثر من واحد من نفس السجل.</p>

<p><b>هام : هذه الأداة لا تستخدم لإستيراد  ISO 2709 في قاعدة بياناتك النشيطة. إذا إحتجت لنقل البيانات من  نظام مكتبات متكامل آخر، فإنك يجب أن تأخذ في الإعتبار$kohaInstall/scripts/misc/bulkmarcimport.pl</b></p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->