<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Reports &rsaquo; Benutzer ohne Ausleihen</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">Berichte</a> &rsaquo; Benutzer ohne Ausleihen</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="do_it" -->
    <!-- TMPL_LOOP NAME="mainloop" -->
        <h1>Benutzer ohne Ausleihen</h1>
        <!-- TMPL_IF NAME="loopfilter"-->
            <p>Gefiltert nach</p>
            <!-- TMPL_LOOP NAME="loopfilter" -->
                    <p><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --> <!-- TMPL_VAR NAME="crit"--> =<!-- TMPL_VAR NAME="filter"--><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --></p>
            <!-- /TMPL_LOOP -->
        <!-- /TMPL_IF-->
        
        <table>
            <tr>
                <th>Nr./Nutzer</th>
                <!-- TMPL_LOOP NAME="loopcol" -->
                    <th><!-- TMPL_VAR NAME="coltitle" --></th>
                <!-- /TMPL_LOOP -->
            </tr>
                <!-- TMPL_LOOP NAME="looprow" -->
                    <tr>
                        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
                        <!-- TMPL_VAR NAME="rowtitle" --></td>
                        <!-- TMPL_LOOP NAME="loopcell" -->
                            <!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td ><!-- /TMPL_IF -->
                                <!-- TMPL_IF NAME="value" --><!-- TMPL_VAR NAME="value" --><!-- /TMPL_IF -->
                            </td>
                        <!-- /TMPL_LOOP -->
                    </tr>
                <!-- /TMPL_LOOP -->
        </table>
    <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
    <h1>Benutzer ohne Ausleihen</h1>
    <form method="post" action="/cgi-bin/koha/reports/borrowers_out.pl">
    <fieldset class="rows">
		<ol>
			<li><label for="patroncategory">Benutzertyp: </label> <select name="Filter" id="patroncategory"><option value="" > Beliebiger Kategorientyp</option>
    <!--TMPL_LOOP Name="borcatloop"-->
        <option value="<!--TMPL_VAR Name="value"-->" ><!--TMPL_VAR Name="description"--> </option>  
     <!--/TMPL_LOOP --> 
    </select>
</li>
	<li><label for="to">Ohne Hefte seit: </label> <input size="10" id="to" name="Filter" value="" type="text" />
                        <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Kalender zeigen" id="openCalendarTo" style="cursor: pointer;" border="0">
                            <script type="text/javascript">
                                Calendar.setup(
                                    {
                                        inputField : "to",
                                        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                                        button : "openCalendarTo",
                                    }
                                );
                            </script></li>
		</ol>
	</fieldset>
	
    <fieldset class="rows">
	<legend>Eingrenzungen</legend>
		<ol>
			<li><label for="numberlimit">Eingrenzen auf: </label><select name="Limit" id="numberlimit">
                        <option value ="" selected="selected">Keine</option>
                        <option value ="5"> 5</option>
                        <option value ="10">10</option>
                        <option value ="15">15</option>
                        <option value ="20">20</option>
                        <option value ="25">25</option>
                        <option value ="40">40</option>
                        <option value ="50">50</option>
                        <option value ="100">100</option>
                    </select></li>
			<li><label for="criteria">Von: </label><select name="Criteria" id="criteria">
                        <option value ="" selected="selected">Keine</option>
                        <option value ="categorycode">Kategoriecode</option>
                        <option value ="itemtype">Medientyp</option>
                    </select></li>
		</ol>
	</fieldset>
	
<fieldset class="rows">
	<legend>Output</legend>
<ol><li><label for="outputscreen">Anzeige im Browser: </label><input type="radio" checked="checked" name="output" id="outputscreen" value="screen" /> </li>
<li><label for="outputfile">In eine Datei:</label> 		<input type="radio" name="output" value="file" id="outputfile" /> <label class="inline" for="basename">Genannt: </label><input type="text" name="basename" id="basename" value="Export" /> <label class="inline" for="MIME">In eine Anwendung  
		</label><!-- TMPL_VAR NAME="CGIextChoice" -->
		<!-- TMPL_VAR NAME="CGIsepChoice" --></li></ol>
	</fieldset>

	<fieldset class="action">
	<input type="submit" value="Bestätigen">
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="do_it" value="1" />
	</fieldset>
	</form>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->