<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --> 
<title>Koha &rsaquo; Reports &rsaquo; Bis Abgleich</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" --> 

</head>    
<body>   
<!-- TMPL_INCLUDE NAME="header.inc" -->                                    
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a> &rsaquo; Bis auf Widerruf
</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Bis zur Wiederaufnahme</h1>

<fieldset><legend>Suche zwischen zwei Daten</legend>
<form action="stats.screen.pl" method="post">
  <label for="from">Anfangsdatum: </label>
  <input type="text" name="time" size="10" value="<!-- TMPL_IF NAME="date" --><!-- TMPL_VAR NAME="date" --><!-- TMPL_ELSE -->today<!-- /TMPL_IF -->" id="from" /> 
  <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="buttonfrom1" alt="Kalender zeigen" style="cursor: pointer;">
     <script type="text/javascript">
     Calendar.setup({
     inputField     :    "from",
     ifFormat       :    "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
     button         :    "buttonfrom1",
     align          :    "Tl"
     });
     </script>
  <label for="to">Enddatum: </label>
  <input type="text" name="time2" size="10" value="<!-- TMPL_IF NAME="date2" --><!-- TMPL_VAR NAME="date2" --><!-- TMPL_ELSE -->tomorrow<!-- /TMPL_IF -->" id="to" />
  <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="buttonto1" alt="Kalender zeigen" style="cursor: pointer;">
     <script type="text/javascript">
     Calendar.setup({
     inputField     :    "to",
     ifFormat       :    "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
     button         :    "buttonto1",
     align          :    "Tl"
     });
     </script>
  <input type="submit" value="Auf den Bildschirm" name="submit" class="submit">
<!--  <input type="submit" value="To Excel" name="submit" class="button"> --></fieldset>
</form>

<h2>Zahlungen</h2>

        <table>
                <tr>
                        <th>Bibliothek</th>
                        <th>Datum/Zeit</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Beschreibung</th>
                        <th>Kostentyp</th>
                        <th>Rechnungsbetrag</th>
                        <th>Zahlungsart</th>
                        <th>Zahlbetrag</th>
                </tr>

                <!-- TMPL_LOOP NAME=loop1 -->
                <tr>
                     <td><!-- TMPL_VAR NAME="branch" --></td>
                        <td><!-- TMPL_VAR NAME="datetime" --></td>
                        <td><!-- TMPL_VAR NAME="surname" --></td>
                        <td><!-- TMPL_VAR NAME="firstname" --></td>
                        <td><!-- TMPL_VAR NAME="description" --></td>
                        <td><!-- TMPL_VAR NAME="accounttype" --></td>
                        <td><!-- TMPL_VAR NAME="amount" --></td>
                        <td><!-- TMPL_VAR NAME="type" --></td>
                        <td><!-- TMPL_VAR NAME="value" --></td>
                </tr>
                <!-- /TMPL_LOOP -->
        </table>

<p>
        <b>Gesamtesumme Zahlungen: € <!-- TMPL_VAR NAME="totalpaid" --></b>
</p>


<h2>Guthaben</h2>

        <table>
                <tr>
                        <th>Bibliothek</th>
                        <th>Datum/Zeit</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Beschreibung</th>
                        <th>Kostentyp</th>
                        <th>Rechnungsbetrag</th>
                </tr>

                <!-- TMPL_LOOP NAME=loop2 -->
                <tr>
                     <td><!-- TMPL_VAR NAME="creditbranch" --></td>
                        <td><!-- TMPL_VAR NAME="creditdate" --></td>
                        <td><!-- TMPL_VAR NAME="creditsurname" --></td>
                        <td><!-- TMPL_VAR NAME="creditfirstname" --></td>
                        <td><!-- TMPL_VAR NAME="creditdescription" --></td>
                        <td><!-- TMPL_VAR NAME="creditaccounttype" --></td>
                        <td><!-- TMPL_VAR NAME="creditamount" --></td>
                </tr>
                <!-- /TMPL_LOOP -->
        </table>
<p>
       <ul><li> <b>Guthaben insgesamt: € <!-- TMPL_VAR NAME="totalcredits" --></b></li>
        <li><b>Geamtzahl abgeschrieben: <!-- TMPL_VAR NAME="totalwritten" --> Preis</b></li></ul>
</p>


<h2>Erstattungen</h2>

        <table>
                <tr>
                        <th>Bibliothek</th>
                        <th>Datum/Zeit</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Beschreibung</th>
                        <th>Kostentyp</th>
                        <th>Rechnungsbetrag</th>
                </tr>

                <!-- TMPL_LOOP NAME=loop3 -->
                <tr>
                     <td><!-- TMPL_VAR NAME="refundbranch" --></td>
                        <td><!-- TMPL_VAR NAME="refunddate" --></td>
                        <td><!-- TMPL_VAR NAME="refundsurname" --></td>
                        <td><!-- TMPL_VAR NAME="refundfirstname" --></td>
                        <td><!-- TMPL_VAR NAME="refunddescription" --></td>
                        <td><!-- TMPL_VAR NAME="refundaccounttype" --></td>
                        <td><!-- TMPL_VAR NAME="refundamount" --></td>
                </tr>
                <!-- /TMPL_LOOP -->
        </table>
<p>
        <ul><li><b>Gesamstsumme Rückerstattungen: $<!-- TMPL_VAR NAME="totalrefund" --></b></li>
        <li><b>Gesamtsumme der gesammelten Gelder: € <!-- TMPL_VAR NAME="totalcash" --> </b></li></ul>
</p>
</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
