<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- Αυτόματη εξυπηρέτηση: Δανεισμός
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Βοήθεια Συστήματος Αυτόματης Εξυπηρέτησης - Δανεισμού</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>Βήμα Πρώτο: Καταχωρήστε την αριθμό χρήστη    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3>Βήμα Δεύτερο: Σαρώστε το barcode του κάθε τεκμήρίου. Ένα κάθε φορά.</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3> Βήμα Τρίτο: Όταν τελειώσετε κάντε κλικ στο 'Κάντε κλικ εδώ αν ολοκληρώσατε'.</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Επιστροφή στο σύστημα αυτόματης εξυπηρέτησης - Δανεισμού.</a>
</div></div>
</body>
</html>

