<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Zeitschriftenannahme</h1>

<h2>How do I receive an expected issue?</h2>
<p>Die Nummer für die als nächste zu erwartende Ausgabe sollte in der obersten Reihe erscheinen. Der Status wird standardmäßig auf erwartet gesetzt. Wenn die Zeitschrift angekommen sein wird, wählen Sie &quot; angekommen&quot; von der Auswahlliste. Wenn SerialAddItems eingeschaltet ist, werden Sie aufgefordert, die Ausgaben-Details hinzuzufügen.</p>
<p>Once you press save the new issue will be recorded in the subscription history.</p>

<h2>How do I receive an unexpected or supplemental issue?</h2>
<p>Uss the blank line under the expected issue line to add in the details for the unexpected or supplemental issue.  Select the appropriate status and save.</p><h2>Was passiert, wenn ein Exemplar nicht auffindbar ist?</h2>
<p>If an issue does not turn up or is late, then select that status from the Status drop down. The issue will now appear under &quot;Claims&quot; and can be managed from there.</p><!-- TMPL_INCLUDE name="help-bottom.inc" -->