<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Zeitschriften</h1>

<h2>F: Was macht die Serienverwaltung?</h2>
<p>Die Zeitschriftenverwaltung wird gebraucht, um die Abonnements zu verwalten, die die Bibliothek bestellt hat. Dies sind normalerweise Reihen und Zeitschriften, doch in der Praxis kann es irgendetwas sein.</p>
<h2>F: Was muss ich vor dem Anlegen eines Abonnements tun?</h2>
<p>Bevor Sie eine Subskription anlegen, müssen Sie einen &quot; Händler&quot; bei den Erwerbungen eintragen und einen neuen &quot;Titel&quot; bei der Katalogisierung. Wenn Sie den neuen Titel katalogisieren, fügen Sie keine Exemplare hinzu. Das Hinzufügen von Exemplaren wird  in der Zeitschriftenverwaltung erledigt.</p>
<h2>Q: How do I create a new subscription?</h2>
<p>A: Klicken Sie den &ldquo;Füge Subskription hinzu&rdquo;-Knopf</p>
<h2>Q: What can I do when I have found a subscription?</h2>
<p>A: View subscription details, receive any item and/or manage what appears in subscription summary (in OPAC and staff client).</p>
<h3>TIP. USING WILDCARDS</h3>
<p>If you enter a title, you can use the wildcard % : entering %Times% returns every subscription containing Times in the title. Entering New York% returns every subscription with title starting with New York.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->