<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Authorities Help</h1><h2>Ի՞նչ է MARC Հեղինակավոր գրառումը։</h2>

<p>A MARC Authority Record are used to ensure consitency across catalogue records by providing a way to define the standard form of names for:</p><ul><li>Մարդիկ (Հեղինակներ, Խմբագիրներ, Հրատարակիչներ, Նկարազարդողներ, այլն)</li><li>Titles</li><li>Subjects</li><li>Կազմակեպություններ (հիմնարկներ, ակադեմիական ինստիտուտներ, այլն)</li></ul>For more information about Authority Records with MARC 21 see the tutorial on the <a href="http://www.loc.gov/marc/uma/index.html">Library of Congress website</a>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
