<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>收到订单说明</h1>

<h2>如何处理到馆馆藏？</h2>
<p>Firstly, check the catalogue details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>您需要检查每一个馆藏的下列事项：</p>
	<ul>
		<li><strong>卷/册 </strong>for Serials</li>
		<li><strong>馆藏条形码</strong> 扫描或输入馆藏条形码</li>
		<li><strong>总馆 </strong>从下拉式选单中选择馆藏所在分馆</li>
		<li><strong>馆藏类型 </strong>从下拉菜单中选择馆藏类型</li>
	</ul>
	
	<h2>如何处理相同馆藏？</h2>
<p>If you have ordered multiple copies of the same item, then use the &quot;+&quot; to bring up another <strong>馆藏详情</strong> input fieldset.</p>
<p>For each copy you will need to set that Item Barcode, Home Library and Item Type.</p>
<p>每当您添加一个新馆藏， <strong>Quantity Received</strong> 下面 <strong>账单详情</strong> should be updated.</p>
<p>If you press the &quot;+&quot; by mistake, use the &quot;-&quot; button to remove the unwanted Item Details <strong>输入字段 </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->