<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Profils d'étiquettes</h1>

<h2>Un &quot;profil d'imprimante&quot;, c'est quoi ?</h2>

<p>Un profil d'imprimante vous permet d'ajuster le décalage de l'imprimante (aussi appelé calibrage)</p>
<p>En fonction de l'imprimante que vous utilisez, et même du bac de l'imprimante, le texte des étiquettes peut être décalé, et l'impression incorrecte. Même lorsque l'offset (mesuré à partir du coin supérieur gauche) est correct, le texte peut se décaler progressivement - s'imprimer correctement sur certaines étiquettes, puis se décaler doucement sur les suivantes. Un profil d'imprimante permet de définir les marges à prendre en compte pour corriger ces symptomes.</p>

<h2>Comment puis-je créer un nouveau profil d'imprimante ?</h2>

<h3>Créer un nouveau profil d'imprimante</h3>
<p>
<ol>
<li>Premièrement : vous ne pouvez créer de profil d'imprimante que pour des modèles d'étiquettes existant.</li>
<li>Saisir un nom d'imprimante et un bac d'impression pour votre profil. Note : vous pouvez affecter un seul nom-bac par modèle d'étiquette.</li>
<li>Ensuite, sélectionnez un modèle d'étiquette à partir de la liste des modèles.</li>
<li>Ensuite, posisionnez l'offset horizontal et vertical. Soyez sûr d'utiliser un nombre qui correspond aux unités spécifiées en bas de la page. Les valeurs négatives sont autorisées.</li>
<li>Pour terminer, saisir le décalage horizontal et vertical. Vérifiez bien que vous utilisez l'unité spécifiées en bas de l'écran. Les valeurs négatives sont autorisées.</li>
<li>Cliquer sur le bouton "enregistrer" en bas de l'écran pour sauvegarder votre profil.</li>
</ol>
</p>

<h3>Application du profil d'imprimante</h3>
<p>
<ol>
<li>Après avoir créé un profil d'imprimante, vous devez l'appliquer à un modèle d'étiquette. Note : vous ne pouvez appliquer qu'un profil d'imprimante à un modèle d'étiquette.</li>
<li>Modifier le modèle d'étiquette sur lequel appliquer un profil.</li>
<li>Dans l'écran d'édition, sur la gauche, vous verrez un champ "profil d'imprimante".</li>
<li>Si un ou plusieurs profils d'imprimante sont définis pour ce modèle d'étiquette, vous verrez une liste déroulante qui vous permet de choisir le profil à retenir pour ce modèle.</li>
<li>Sélectionnez le profil que vous souhaitez appliquer au modèle d'étiquette cette fois-ci. Souvenez vous qu'un seul profil d'impression peut être appliqué à un instant donné.</li>
<li>Si la mention "aucun défini" apparaît pour un profil d'imprimante, vous devez créer au moins un profil pour ce modèle d'étiquette.</li>
</ol>
</p>

<h3>Astuces lorsque vous ajustez un profil d'imprimante</h3>
<p>
<ol>
<li><b>Tous</b> ces fatceurs impactent la position de l'image et son décalage. Souvenez-vous en lorsque vous ferez des ajustements.</li>
<li>Ajustez la marge jusqu'à ce que le haut et la gauche soient correctement placés.</li>
<li>Ensuite, ajustez la hauteur et la largeur de l'étiquette pour corriger la marge en haut et en bas de la page</li>
<li>Un offset négatif va décaler l'image sur la gauche et vers le haut. Un offset positif ca décaler l'image vers le bas et vers la droite.</li>
<li>Un décalage négatif va diminuer la taille de l'image. Un décalage positif va augmenter la taille de l'image.</li>
</ol>
</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
