<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->كوها على الانترنت<!-- /TMPL_IF -->  علامات  &rsaquo; دليل
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<style type="text/css">
	fieldset { padding : .3em;margin:.3em 0;}
	#tagcloud    {background-color: #F3F3F3; text-align: justify;padding:7px;}
	.tag a       {text-decoration: none;}
	.tag a:hover {text-decoration: underline;}
	.tag         {display: block; padding-left: 1em;}
	.tagcount    {display: none;}
	.cloudweight {display: none;}
	.tagweight {
		display: none;
		position: relative;
		bottom: 0.4em;
		color: red;
		font-size: 12px;
	}
</style>
<script type="text/javascript">
//<![CDATA[
	var fontsizes = new Array (12,14,16,18,20,22,24,26,28,30);
	var fontcount = fontsizes.length;
	var maxcloudweight = 1;
	$(document).ready(function() {
		// $('#tagcloud').css('background-color','lightgrey');
		// $('#tagcloud .tag').css('border','1px solid black');
		$('#tagcloud .tag').each(function() {
			if (maxcloudweight < this.title) { maxcloudweight = this.title; }
			// have to run through the set of tags once to get the max: cannot be combined w/ 2nd pass
		});
		$('#tagcloud .tag').each(function(i) {
			var pos = this.id;
			var weight = this.title;	// "cloudweight"
			weight = (! weight) ? 1 : (weight > maxcloudweight) ? maxcloudweight : weight ;
			var index = Math.round(fontcount * weight/maxcloudweight) - 1;
			index  = (! index ) ? 0 : ( index > fontcount     ) ? fontcount      : index  ;
			var newsize = fontsizes[index];
			// alert(pos+ " (" +i+ ") weight = " +weight+ " of " +maxcloudweight+ ", fontsize[" +index+ " of " +fontcount+ "] = " +newsize);
			$('#' + pos).css({"font-size":(newsize + 'px'), display:"inline"});
		});
		$("#mytagst").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
    dateFormat: 'uk',<!-- /TMPL_IF -->
            widgets : ['zebra'],
			headers: { 3: { sorter: false }},
            sortList: [[2,0]]
        });
	});
//]]>
</script>
</head>
<body>
<!-- TMPL_IF EXPR="OpacNav||loggedinusername" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
<div id="bd">
<!-- TMPL_INCLUDE NAME="masthead.inc" -->

<div id="yui-main">
  <div class="yui-b"><div class="yui-g">
	<div class="container">
	<!-- TMPL_IF NAME="ERRORS" -->
	<!-- TMPL_LOOP NAME="ERRORS" -->
		<div class="dialog alert">.هــناك مشكلة مع هذه العمليّة   
		<!-- TMPL_IF NAME="tagsdisabled" --> .عذرا ، العلامات غير مبرمجة في هذا النظام
		<!-- TMPL_ELSIF NAME="badparam" --> <!-- TMPL_VAR NAME="badparam" --> خطأ :خاصية غير مشروعة 
		<!-- TMPL_ELSIF NAME="login"    -->خطأ : يجب عليك تسجيل الدخول لاتمام هذا الاجراء 
		<!-- TMPL_ELSIF NAME="failed_delete" --> <!-- TMPL_VAR NAME="failed_delete" --> خطأ : لا يمكنك حذف علامة 
					<br />ملاحظة: يمكنك حذف فقط العلامات الخاصة بك
		<!-- TMPL_ELSIF NAME="scrubbed" -->:ملاحظة 
					<br />.&quot;<!-- TMPL_VAR NAME="scrubbed" -->&quot; العلامة أضيفت كـ
		<!-- TMPL_ELSIF NAME="scrubbed_all_bad" -->ملاحظة:علامتك هي كليا ترميز المدونه. لم يتم إضافتها
					<br />يرجى المحاوله مرة أخرى مع نص عادي
		<!-- TMPL_ELSE --> .لم يتمّ التعرّف على هذا الخطــأ
		<!-- /TMPL_IF -->
		</div>
	<!-- /TMPL_LOOP -->
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="add_op" -->
	  <!-- TMPL_IF NAME="added_count" -->
		<div class="dialog message"><!-- TMPL_VAR NAME="added_count" --> <!-- TMPL_IF EXPR="added_count ==1" --> tag<!-- TMPL_ELSE -->tags<!-- /TMPL_IF --> successfully added.</div>
	  <!-- /TMPL_IF -->
	  <!-- TMPL_IF NAME="deleted_count" -->
		<div class="dialog message"><!-- TMPL_VAR NAME="deleted_count" --><!-- TMPL_IF EXPR="deleted_count ==1" --> tag<!-- TMPL_ELSE -->tags<!-- /TMPL_IF --> successfully deleted.</div>
	  <!-- /TMPL_IF -->
	<!-- /TMPL_IF -->

	<!-- TMPL_UNLESS NAME="hidemytags" -->
	<!-- TMPL_IF NAME="MY_TAGS" -->
		<form method="post" action="opac-tags.pl">
		<h2>العلامات الخاصة بي</h2>
		<table id="mytagst">
		<thead><tr><th>مصطلح</th><th>العنوان</th><th>Date Added</th><th>حذف</th>
		</tr></thead>
	<tbody><!-- TMPL_LOOP NAME="MY_TAGS" -->
		<tr><td><a href="/cgi-bin/koha/opac-search.pl?tag=<!-- TMPL_VAR NAME="term" ESCAPE="URL" -->&amp;q=<!-- TMPL_VAR NAME="term" ESCAPE="URL" -->">
				<!-- TMPL_VAR NAME="term" ESCAPE="HTML" --></a>
			</td>
			<td><a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
				<!-- TMPL_VAR NAME="bib_summary" ESCAPE="HTML" --></a></td>
			<td><!-- TMPL_VAR NAME="date_created_display" --></td>
			<td><input type="submit" name="del<!-- TMPL_VAR NAME="tag_id" -->" value="حذف"></td>
		</tr>
	<!-- /TMPL_LOOP --></tbody>
		</table>
		</form>
	<!-- /TMPL_IF -->
	<!-- /TMPL_UNLESS -->

	<h1>كافة العلامات</h1>
	
		<form method="get" action="opac-tags.pl">
		<fieldset>إظهـــــار إلى <input name="limit" style="text-align: right;" maxlength="4" size="4" value="<!-- TMPL_VAR NAME="limit" DEFAULT="100" -->" />
			العلامات من المستخدمين الآخرين
			<input type="hidden" name="hidemytags" value="1" />
			<input type="submit" value="موافق"> <!-- TMPL_UNLESS NAME="MY_TAGS" --><a href="/cgi-bin/koha/opac-user.pl">Log in</a> to see your own saved tags.<!-- /TMPL_UNLESS --></fieldset>
		</form>
	
	<!-- TMPL_IF NAME="TAGLOOP" -->
	<div id="tagcloud">
	<!-- TMPL_LOOP NAME="TAGLOOP" -->
	<span class="tag" id="tag<!-- TMPL_VAR NAME="__counter__" -->" title="<!-- TMPL_VAR NAME="cloudweight" -->">
		<a href="/cgi-bin/koha/opac-search.pl?tag=<!-- TMPL_VAR NAME="term" ESCAPE="URL" -->&amp;q=<!-- TMPL_VAR NAME="term" ESCAPE="URL" -->">
		<!-- TMPL_VAR NAME="term" ESCAPE="HTML" --></a>
			<span class="tagweight"><!-- TMPL_VAR NAME="weight_total" --></span>
	</span>
	<!-- /TMPL_LOOP -->
	</div>
	<!-- /TMPL_IF -->
</div>
</div>
</div>
</div>
<!-- TMPL_IF EXPR="OpacNav||loggedinusername" -->
<div class="yui-b"><div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!--TMPL_INCLUDE NAME="usermenu.inc" -->
</div></div>
<!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->

