<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إدارة بنيه الرأس فى مارك</h1>

<p>يسمح كوها لك لتحديد أىّ من رؤوس مارك تريد إستعمالها والاخرى التى تريد إهمالها. عندما حمّلت وركّبت كوها، انت ايضا حصلت على قائمة كاملة لرؤوس مارك 21 والحقول الفرعية فى الاستخدام الحالى. الآن تحتاج لإستعمال صفحة الإدارة لتحرير هذه القائمة وتخبر كوها بالروؤس التى تريد إستعمالها وكيف تريد إستعمالهم.</p>
<p>يمكنك تعريف بنيه الرأس لبيانات مارك لكل إطار ببليوجرافى قد عرّفتة</p>

<p>إذا كنت متأكد بأنك لن تستعمل تاج مارك،  يمكنك حذفه، لكن منذ هذا لن يحدث أيّ تحسين مقدّر في الأداء، من الأفضل تركه. عندما تريد إضافة تيجان جديدة لبيانات مارك. إذا أنت تستعمل تيجان بيانات مارك قديمة وليست موجودة في قائمة تيجان مارك المزوده بكوها إستخدم صفحة إدارة بنية تيجان مارك لإضافتهم بنفس الطريقة، من المحتمل أنك ستحتاج لإضافة تيجان المقتنيات التي تستخدمها الآن ،ويمكنك تدقيق بنية الحقل الفرعي 852 إذا كنت تستخدمه للمقتنيات.</p>

<p>تعديل الحقل الفرعى من صفحة بنيه الرأس فى مارك مضيعة للوقت جدا، لكن مهمة جدا أيضا؛ تأكدا من نقر وصلة الحقل الفرعى لكل رأس في بنيه الرأس لمارك الخاص بك.</p>
<p>لجميع الحقول الفرعية يمكنك ضبط :</p>
<ul>
<li>repeatable : whether it can be repeated or not. If it can be repeated, separate the values by a | in the MARC editor when you want to have the subfield twice</li>
<li>Mandatory : whether the field is mandatory or not. If mandatory, the cataloger can't validate the biblio if the subfield is empty.</li>
<li>إبحث أيضا : قائمة الحقل التي سيبحثها كوها أيضا عندما يقوم المستفيد ببحث فى الحقل الفرعى </li>
<li>رابط كوها <b> هام جدا </b> كوها هو طيع جدا في مارك لذا فهو لا يعرف ماذا تعني 245$ a ولا 200$ f ((هذان الحقلان يمكن أن يكونا للعنوان في مارك 21 او يوني مارك !) لذا في هذا القائمة يمكنك "إضافة" حقل فرعي لمارك. ويمكن لكوها عمل إتساق بين الحقل الفرعي ومعناه . عندما يريد المستفيد البحث في "العنوان" هذا الرابط يستخدم لإيجاد ما يبحث عنه (245 245 في مارك 21 أ, 200 إذا كنت تستخدم يوني مارك).</li>
<li>النص ل المكتبى :ماذا يظهر قبل الحقل الفرعى في شاشة المكتبي </li>
<li>إختبار ل OPAC :ماذا يظهر قبل الحق فى ال OPAC. إذا كان فارغ, إنّ النصّ للمكتبي مستعمل بدلا من ذلك</li>
<li>المستخدم في التسجيلة : التعامل مع التسجيلةعند إظهار الحقول الفرعية. التجاهل يعني أن الحقل الفرعي غير مستخدم  </li>
<li>مخفى : يسمح لك بإختيار شروط الرؤية المحتملة. كلّ قسم OPAC إنترانت أو محرّر يمكن أن يوضعا منفصلا: </li>
<li><b> حقل ربط :إختار إذا كنت تريد إستخدام هذا الحقل لربط المصادر . حقول كوها يجب أن تكون رأس إستناد إربط فى هذا الحقل الفرعي ( المفضل)أو أي حقل فرعي أخر في هذا الحقل .</b>
<li>URL: إذا فحصت، الحقل الفرعى URL، ويمكن أن ينقر</li>
<li>قيمةالإستناد : تعني أن القيمة ليست مجانية، لكنها موجودة في قائمة القيم الاستنادية للنوع المختار</li>
<li>قاموس معاني: يعرض نوع الاستناد </li>
<li>plugin : means the value is calculated or managed by a plugin. Plugins can do almost anything. For example, in UNIMARC there are plugins for every 1xx fields that are coded fields. The plugin is a huge help for cataloger ! There are also two plugins (unimarc_plugin_210c and unimarc_plugin_225a that can "magically" find the editor from an ISBN, and the collection list for the editor)</li>
<li>
<li><b>مثال مارك 21 رأس موضوع إستنادى</b>
<ul><li>إستخدم حقل  035$a للرأس الإستنادي.معرف الإستناد و 035$8لرأس الإستناد.كود نوع الإستناد. تأكد أن كشاف الإستناد لهذه الحقول</li>
<li>إستخدم حقل 150 لعناوين موضوعك</li>
<li>إستخدم حقل 750$9 (أضف حقل فرعي إذا لم يكن موجود ) لرأس الإستناد المرتبط إختار <b>Is a حقل الربط</b>. قد تستعمل أي حقل فرعي للربط مثل 9$ ليس مضمن
<li>عندما تضيف أو تعدّل الاستناد إنقر على. . . الذي سيظهر بجانب 750$9 سيتركك تبحث أيّ إستناد ويربطه إلى هذا التسجيلة. أنت قد تكرّر بطاقة 750 وتضيف ترابط بقدر ما تريد </li></ul>
</li>
</ul>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->