<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إطار ببليوجرافى</h1>

<p>القالب الببليوجرافي مستخدم في تسجيلاتك.</p>
	<p>على خلاف Koha 2.0، في هذه النسخة يمكنك أ يكون عندك أكثر من إطار عمل(قالب عمل) لفهرسة مواد متنوعة. يمكنك على سبيل المثال تعريف إطار عمل (قالب عمل) للمنفردات وآخر للدوريات وآخر ل مواقع الإنترنت.</p>
	<p>بمجرّد أن ينشئ إطار, يمكنك أن تنقر على "بنيه مارك" لتعريف البنيه الدقيقة لمارك . المرة الأولى, كوها سيطلب منك إختيار إطار حالي للنسخ إلى الواحد الجديد.هكذا,ليس من الضرورى أن تعرّف كل بنيه مارك</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->