<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>كوها 2 روابط مارك</h1>

<p>هذه الصفحة تزوّد طريق مبسّط لتخطيط رؤس بيانات مارك والحقول الفرعية إلى جداول قاعدة بيانات غير مارك ب كوها<b> لإطار biblio أصلي </b>. هذا يمكن أيضا أن يتم بينما يتم إعداد بنيه بيانات الرأس لمارك، لكنّه أسهل لرؤية العلاقة بين قاعدة بيانات مارك وقاعدة بيانات كوها هنا.</p>

<p>تدرج القائمة المسحوبة كلّ جداول كوها التي يمكن أن تستلم القيم من تسجيلات مارك. إنّ الأعمدة من كلّ جدول تدرج تحت القائمة المسحوبة.</p>

<p>لا تتوقّع أن يكون عندك جداول كوها. تم تخطيط الأعمدة إلى الحقل الفرعى لمارك. البعض (مثل رقم التسجيلة الببليوجرافية , رقم المادة الببلوجرافية، ورقم المادة) قيم أنشأت من قبل كوها ومن المحتمل أنها تخطيطها آليا. الآخرين اللذين تم تحديدهم في سياق نشاطات الإعارة الطبيعية وستحوي معلومات ليست جزء من تسجيلة مارك الخاصةبك.</p>

<p>هذا تخطيط واحد مقابل واحد. بكلمة أخرى ,رأس مارك / الحقل الفرعى يمكن أن يخطّط إلى واحد، وفقط واحد، جدول كوها. العمود.</p>

<p>بيانات مارك التي لم تخطّط إلى جدول كوها لا تختفي -- هي ببساطة ليست متوفرة للعرض على شاشات الإعارة وعلى بعض شاشات نتائج البحث.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->