<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>إدارة الطابعة</h1>

<p>إن كنت ستستخدم طابعة (أو عدّة طابعات) التي تربط بخادم كوها للإنتاج الإحصائي وتقارير العمليات، ثمّ تحتاج لإعطاء كلّ طابعة اسم وتخبر كوها كيف يدخله. يمكنك عمل هذا من قبل كوها عن طريق إخباره أى طابعة queue تستخدمها.</p>

<p>(في نظام التشغيل لينكس تهيئة كل طابعة في ملف  printcap يتم تعريف مسارالطباعة ،مسار الطباعة الإفتراضي هو lp , لكن إذا كنت تستخدم أكثر من طابعة واحدة سيكون عندك مسارات أخرى مثل text أَو ostscript.  والذي يحدد بكوها أي مسارات الطباعة تريد أن تستخدمها لطباعة التقارير مباشرة من الخادم</p>

<p>لاحظ أنه يمكنك أن تطبع شاشات كوها دائما مباشرة إلى طابعة ألحقت بمحطة عملك الفرعية فقط بإستعمال خاصية طبعة متصفحات ويب الخاص بك.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->