<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe zu Nachrichten</h1>

<h2>Was sind News?</h2>

<p>Nachrichten sind kurz und können im OPAC und im internen Bereich angezeigt werden. Neue Nachrichten können mit einfachem HTML-Code formatiert werden.</p>

<h2>How to post a News Item?</h2>
<p>Um neue Nachrichtenmeldungen hinzuzufügen, müssen die folgenden Felder ausgefüllt werden:</p>

<h3>Standort anzeigen</h3>
<p>For single language setups, there will be 2 options here. One for the 'opac (language code)' and the 'Librarian interface'. For multilingual setups, multiple languages for the OPAC will show.</p>
<p>News Items must be entered in all languages to show up for each language in multi lingual setups.</p><h3>Titel </h3>
<p>The title of the news post. Try to keep this short and pithy. Avoid long sentances.</p><h3>Ablaufdatum</h3>
<p>This is the date the item should be removed from the news item listings. Note that the posting or publishing date of an item will default to today's date (where today is the date of entry). </p>
<p>To have a news item remain on the page, do not enter an expiration date.</p><h3>Erscheine in Position </h3>
<p>An integer value (e.g 1,2,3). Items at position 1 appear at the top of the listings. If two items have the same position value then the order defaults to publication date, where the oldest item displays at the top posistion, and newer items are displayed under this.</p><h3>Nachrichten</h3>
<p>This is the content of the news item. Note that all news appears in line in the same page. Try to keep news items to no more than a couple of short paragraphs. If you wish to add images and embed them into your posts, then these will need to be uploaded to a web server somewhere and linked to using standard HTML image tags.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->