<!-- TMPL_INCLUDE NAME="help-top.inc" -->
		<p>Dies ist die Seite mit den Werkzeugen.</p>
		 
		<p>Hier finden Sie viele der untergeordneten Module.</p>
		 
		<p>Um weiter zu machen wählen Sie den entsprechenden Vorgang durch einen Klick auf den blauen unterstrichenen Text aus.</p>
		 
		<p>Specialised help will be available after that point.</p> 	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->