<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>A propos de Koha</h1><p>Cette section vous informe sur votre installation Koha.C'est utile pour les développeurs et si vous souhaitez rapporter des bogues ou des questions à la communauté Koha.</p>

<h2>Information serveur</h2>

<p>Cette partie vous dit quelle version de Koha et des logiciels de support vous utilisez.Si possible, lorsque vous posez des questions à la communauté Koha, donnez toujours des détails sur la version de Koha que vous utilisez.Koha est en phase de développement active et il est fortement probable qu'une migration vers une version plus récente vous fournira les rustines et les corrections de bogues que vous demandez.</p>

<h2>Modules Perl</h2>

<p>Cette table liste tous les Modules Perl dépendant pour Koha et si vous les avez installés ou pas, ainsi que le numéro de version.Si vous posez une question, le développeur vous demandera peut-être quel est l'état des modules Perl que vous avez installés.</p>

<h2>Equipe Koha</h2>

<p>Koha est développé et soutenu par un grand nombre de développeurs du monde entier.Merci à tous les développeurs et à toutes les bibliothèques qui soutiennent Koha.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->