<!-- TMPL_INCLUDE NAME="help-top.inc" -->
<h2>Je peux me connecter, et après ?</h2>

<p>Si c'est votre première connexion à Koha, vous devriez maintenant aller dans la section administration et définir tous les paramètres qui vous intéressent, et plus particulièrement les catégories d'adhérents et les types de document. &nbsp;</p>

<p>Lorsque vous avez défini les catégories d'adhérents, vous devez vous créer comme nouvel utilisateur, dans le module adhérents, et vous donner tous les privilèges. Ensuite, utilisez cet utilisateur pour vous connecter, et pas l'utilisateur défini lors de l'installation de Koha. &nbsp;</p>

<p>Voici quelques suggestions : </p>

<ul> <li><a href="http://kohadocs.org">Lire la documentation de Koha</a></li> <li><a href="http://wiki.koha.org">Lire et écrire sur le wiki</a></li> <li><a href="http://koha.org/community/mailing-lists.html">Lire et contribuer aux discussions</a></li> <li><a href="http://bugs.koha.org">Rapporter des bugs</a></li> <li><a href="http://wiki.koha.org/doku.php?id=en:development:git_usage">Soumettre des patches en utilisant git (Système de Controle de Version)</a></li> <li><a href="http://koha.org/community/irc.html">Discuter (chat) avec les utilisateurs et les développeurs de Koha</a></li> </ul>  

<h2>Puis-je mettre à jour l'aide en ligne ? </h2>

<p>Vous pouvez éditer l'aide en ligne dans le Client bibliothécaire de Koha en cliquant sur le bouton &quot;Modifier l'Aide&quot;.Cette fonctionnalité a été conçue de telle sorte que  l'organisation du travail et les directives de la bibliothèque peuvent être documentées dans Koha. </p>

<p><strong>NOTE IMPORTANTE : l'aide en ligne est écrasée durant la mise à jour de Koha &nbsp;</strong></p>

<p>Lors de la mise à jour, votre aide en ligne personnalisée sera supprimée, les nouveaux fichiers d'aide étant installés à la place. Si vous voulez conserver une copie de vos fichiers d'aide personnalisés, vous devez demander à votre administrateur système de conserver le répertoire d'aide en ligne personnalisé dans la hiérarchie de Koha.</p>

<p>Le fichier d'aide en ligne est : <pre>&nbsp;/koha-tmpl/intranet-tmpl/prog/en/modules/help</pre></p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->