<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 采购 &rsaquo; 收据摘要：<!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->发票，<!-- TMPL_VAR NAME="invoice" --><!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/additem.js"></script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; Receive items from : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->[<!-- TMPL_VAR NAME="invoice" -->]<!-- /TMPL_IF --> （订单 #<!-- TMPL_VAR NAME="ordernumber" -->）</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>从<!-- TMPL_VAR NAME="name" -->收到馆藏 <!-- TMPL_IF NAME="invoice" -->[<!-- TMPL_VAR NAME="invoice" -->] <!-- /TMPL_IF --> （订单 #<!-- TMPL_VAR NAME="ordernumber" -->）</h1>

<!-- TMPL_IF name="count" -->
    <form action="/cgi-bin/koha/acqui/finishreceive.pl" method="post">
<div class="yui-g">
<div class="yui-u first">
    
    <fieldset class="rows">
    <legend>馆藏目录详情</legend>
    <ul><li><span class="label">题名： </span><span class="title"><!-- TMPL_VAR NAME="title" --></span></li>
    <li> <span class="label">作者： </span>
        <!-- TMPL_VAR NAME="author" --></li>
    <li><span class="label">版权： </span>
        <!-- TMPL_VAR NAME="copyrightdate" --></li>
    <li> <span class="label">国际标准书号（ISBN）： </span>
        <!-- TMPL_VAR NAME="isbn" --></li>
    <li> <span class="label">丛书 </span>
        <!-- TMPL_VAR NAME="seriestitle" --></li>
    </ul>
	</fieldset>
	<fieldset class="rows">
	<legend>馆藏详情：新增到馆藏目录</legend>
  <div id="outeritemblock">
	<div id="itemblock">
	<ol>
	<li> <label for="volinf">卷/册 （期刊专用）： </label>
        <input type="text" size="20" name="volinf" id="volinf" /></li></ol>
    <li> <label for="barcode">馆藏条形码： </label>
        <input type="text" size="20" name="barcode" id="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" /></li>
    <li> <label for="homebranch">总馆： </label>
            <select name="homebranch" id="homebranch">            <!-- TMPL_LOOP name="branchloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select></li>
    <!-- TMPL_IF NAME="locationloop" -->
		<li> <label for="location">书架位置： </label>
            <select name="location" id="location">            <!-- TMPL_LOOP name="locationloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select></li>
   <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="itype" -->
    <li> <label for="itemtype">馆藏类型： </label>
            <select name="itemtype" id="itemtype"><!-- TMPL_LOOP name="itemtypeloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select></li>
   <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="ccodeloop" -->
    <li> <label for="ccode">集丛： </label>
            <select name="ccode" id="ccode">            <!-- TMPL_LOOP name="ccodeloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                <!-- TMPL_ELSE -->
                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="description" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select></li>
   <!-- /TMPL_IF -->
   </ol>
<a style="cursor: pointer; color: grey; font-size: 180%;" onclick="cloneItemBlock('itemblock<!-- TMPL_VAR name="itemBlockIndex" -->')">+</a>  <a style="display:none; cursor: pointer; color: grey; font-size: 180%;" onclick="deleteItemBlock('itemblock<!-- TMPL_VAR name="itemBlockIndex" -->')">-</a>
    </div>
	</div>
	<input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
    <input type="hidden" name="ordnum" value="<!-- TMPL_VAR NAME="ordernumber" -->" />
    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR NAME="biblioitemnumber" -->" />
    <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" />
    <input type="hidden" name="datereceived" value="<!-- TMPL_VAR NAME="datereceived_iso" -->" />
    <input type="hidden" name="freight" value="<!-- TMPL_VAR NAME="freight" -->" />
    <input type="hidden" name="gst" value="<!-- TMPL_VAR NAME="gst" -->" />
    </fieldset>
	</div>
	<div class="yui-u">
    <fieldset class="rows">
    <legend>账单详情</legend>
       <ol>
       <li><label for="datereceived">收到日期： </label><span class="label"> <!-- TMPL_VAR NAME="datereceived" --> </span></li>
       <li><label for="quantity">订购数量： </label><span class="label"> <!-- TMPL_VAR NAME="quantity" --> </span></li>
        <li><label for="quantityrec">收到数量 </label>
            <!-- TMPL_IF NAME="quantityreceived" -->
                <input id="quantityrec" READONLY type="text" size="20" name="quantityrec" value="<!-- TMPL_VAR NAME="quantityreceivedplus1" -->" />
                <input id="origquantityrec" READONLY type="hidden" name="origquantityrec" value="<!-- TMPL_VAR NAME="quantityreceived" -->" />
            <!-- TMPL_ELSE -->
                <input id="quantityrec" READONLY type="text" size="20" name="quantityrec" value="1" />
                <input id="origquantityrec" READONLY type="hidden" name="origquantityrec" value="0" />
            <!-- /TMPL_IF -->
		<!-- 	<input type="text" size="20" name="quantityrec" id="quantityrec" value="<!-- TMPL_VAR NAME="quantityreceived" -->" /> --></li>
        <li><label for="rrp">取代花费： </label><input type="text" size="20" name="rrp" id="rrp" value="<!-- TMPL_VAR NAME="rrp" -->" /></li>
        <li><label for="ecost">预算花费： </label><input type="text" size="20" name="ecost" id="ecost" value="<!-- TMPL_VAR NAME="ecost" -->" /></li>
        <li><label for="cost">实际成本：</label>
        <!-- TMPL_IF name="unitprice"-->
         <input type="text" size="20" name="cost" id="cost" value="<!-- TMPL_VAR NAME="unitprice" -->" />
        <!-- TMPL_ELSE -->
            <input type="text" size="20" name="cost" id="cost" value="<!-- TMPL_VAR name="ecost" -->" />
        <!-- /TMPL_IF --></li></ol>
        <input type="hidden" name="invoice" value="<!-- TMPL_VAR NAME="invoice" -->" />
    </fieldset>

</div>
</div><div class="yui-g"><fieldset class="action"><!-- TMPL_IF name="catview" -->
        <input type="button" value="保存" onclick="javascript:if(check_additem()) { this.form.submit(); } else { alert( _('Duplicate barcodes detected.  Please correct the errors and resubmit.') ); return false };"> <a class="cancel" href="/cgi-bin/koha/acqui/parcel.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;gst=<!-- TMPL_VAR NAME="gst" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->">取消</a>
    <!-- TMPL_ELSE -->
        <a href="/cgi-bin/koha/acqui/neworderempty.pl?ordnum=<!-- TMPL_VAR NAME="ordernumber" -->&amp;id=<!-- TMPL_VAR NAME="booksellerid" -->">编辑</a>
    <!-- /TMPL_IF --></fieldset></div>    </form>
<!-- TMPL_ELSE -->
<div id="acqui_acquire_orderlist">
    <table>
    <tr>
        <th>购物篮</th>
        <th>国际标准书号（ISBN）</th>
        <th>题名</th>
        <th>作者</th>
        <th>数量</th>
        <th>收到</th>
    </tr>
    <!-- TMPL_LOOP name="loop" -->
        <tr>
            <td><!-- TMPL_VAR NAME="basketno" --></td>
            <td><!-- TMPL_VAR NAME="isbn" --></td>
         <td><a href="orderreceive.pl?datereceived=<!-- TMPL_VAR NAME="datereceived" -->&amp;receive=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblio=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->&amp;gst=<!-- TMPL_VAR NAME="gst" -->&amp;id=<!-- TMPL_VAR NAME="id" -->"><!-- TMPL_VAR NAME="title" --></a></td>
            <td><!-- TMPL_VAR NAME="author" --></td>
            <td><!-- TMPL_VAR NAME="quantity" --></td>
            <td><!-- TMPL_VAR NAME="quantityreceived" --></td>
        </tr>
    <!-- /TMPL_LOOP -->
    </table>
</div>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
