<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Κυκλοφορία Υλικού &rsaquo; Στατιστικά Στοιχεία</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"> <a href="/cgi-bin/koha/mainpage.pl">Αρχική</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Κυκλοφορία Υλικού</a> &rsaquo; Στατιστικά Στοιχεία</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

    <!-- TMPL_IF NAME="notime" -->
        <h1>Παρουσίαση στατιστικών στοιχείων για:</h1>
        <ul>
            <li><a href="/cgi-bin/koha/circ/stats.pl?time=yesterday">χθές</a></li>
            <li><a href="/cgi-bin/koha/circ/stats.pl?time=today">σήμερα</a></li>
    <!-- TMPL_ELSE -->
    	<!-- TMPL_IF NAME="loop1" -->
    	<table>
    	<caption>Στατιστικά στοιχεία</caption>
    		<tr>
    			<th>Όνομα</th>
    			<th>Τύπος</th>
    			<th>Ημερομηνία/ώρα</th>
    			<th>Ποσό</th>
    			<th>Βιβλιοθήκη</th>
    		<tr>
    		<!-- TMPL_LOOP name="loop1" -->
    		<tr>
    			<td><!-- TMPL_VAR NAME="name" --></td>
    			<td><!-- TMPL_VAR NAME="type" --></td>
    			<td><!-- TMPL_VAR NAME="time" --></td>
    			<td><!-- TMPL_VAR NAME="amount" --></td>
    			<td><!-- TMPL_VAR NAME="branch" --></td>
    		</tr>
    		<!-- /TMPL_LOOP -->
    		</table>
    		<p>Συνολική πληρωμή: <!-- TMPL_VAR NAME="total" --><br />Συνολική διαγραφή: <!-- TMPL_VAR NAME="totalw" --></p>
    	<!-- TMPL_ELSE -->
    	<h3>Δεν υπάρχουν στατιστικά στοιχεία για τη δημιουργία έκθεσης</h3>
    	<!-- /TMPL_IF -->
	
    <!-- /TMPL_IF -->
</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->