<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>أضف تسجيلة ببليوجرافية</h1>

<p>فرز الحقل 1 وفرز الحقل 2 يمكنه الان أن يرتبط بقائمة القيم الاستنادية. كلّ ما يجب عليك فعله هو ان تعرّف فئه  Asort   أو Asort 2 من القيم الاستنادية وتدخل القيم المطلوبة إلى هذه الفئات.يمكنك بعد ذلك إستعمالهم خلال صفحة إضافة/تعديل التسجيلة الببليوجرافية </p><!-- TMPL_INCLUDE name="help-bottom.inc" -->