<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Reports &rsaquo; Checkout statistics <!-- TMPL_IF NAME="do_it" -->&rsaquo; 结果<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<style type="text/css">
	.sql {display:none;}
</style>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首页</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">报表</a> <!-- TMPL_IF NAME="do_it" -->&rsaquo; <a href="/cgi-bin/koha/reports/issues_stats.pl">借阅统计</a> &rsaquo; <!-- TMPL_ELSE -->&rsaquo; 借阅统计<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="do_it" -->
    <!-- TMPL_LOOP NAME="mainloop" -->
        <h1>借阅统计</h1>
        <!-- TMPL_IF NAME="loopfilter" -->
            <p>条件</p>
            <ul>
            <!-- TMPL_LOOP NAME="loopfilter" -->
                <!-- TMPL_IF NAME="err" --><li class="error">错误：
				<!-- TMPL_ELSIF NAME="sql" --><li class="sql">
				<!-- TMPL_ELSE --><li>
				<!--/TMPL_IF -->
					<!-- TMPL_VAR NAME="crit"--> <!-- TMPL_VAR NAME="filter"-->
				</li>
            <!-- /TMPL_LOOP -->
            </ul>
        <!-- /TMPL_IF -->
        
        <table> 
            <tr>
                <th><!-- TMPL_VAR name="line" --> / <!-- TMPL_VAR name="column" --></th>
                <!-- TMPL_LOOP NAME="loopcol" -->
                    <th><!-- TMPL_VAR NAME="coltitle_display" --></th>
                <!-- /TMPL_LOOP -->
                <th>总计</th>
                </tr>
                <!-- TMPL_LOOP NAME="looprow" -->
                    <tr<!-- TMPL_UNLESS NAME="__odd__" --> class="highlight"<!-- /TMPL_UNLESS -->>
                        <td><!-- TMPL_VAR NAME="rowtitle_display" DEFAULT="UNKNOWN VALUE"--></td>
                    <!-- TMPL_LOOP NAME="loopcell" -->
						<td><!-- TMPL_VAR NAME="value" DEFAULT="&nbsp;" --></td>
                    <!-- /TMPL_LOOP -->
						<td><!-- TMPL_VAR NAME="totalrow" --></td>
                    </tr>
                <!-- /TMPL_LOOP -->
            <tr>
                <th>总计</th>
                <!-- TMPL_LOOP NAME="loopfooter" -->
                <th><!-- TMPL_VAR NAME="totalcol" --></th>
                <!-- /TMPL_LOOP -->
                <th><!-- TMPL_VAR NAME="total" --></th>
            </tr>
        </table>
    <!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->

    <form method="post" action="/cgi-bin/koha/reports/issues_stats.pl">
    <fieldset class="rows">
	<legend>借阅统计</legend><table>
        <thead>
            <tr>
                <th>题名</th>
                <th>行</th>
                <th>栏</th>
                <th>条件</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>借阅期</td>
                <td><input type="radio" name="Line" value="datetime" /></td>
                <td><input type="radio" name="Column" value="datetime" /></td>
                <td><label for="from">来自</label> <input type="text" readonly="readonly" size="10" id="from" name="Filter" />
                    <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="显示日历" border="0" id="openCalendarFrom" style="cursor: pointer;">
                   <script type="text/javascript">
				   //<![CDATA[ 
				   function validate1(date) {
                        var day = date.getDate();
                        var month = date.getMonth() + 1;
                        var year = date.getFullYear();
                        var weekDay = date.getDay();
                        var dayMonth = month + '-' + day;
                        var dateString = year + '-' + month + '-' + day;
                        var dateTo = document.getElementById('to').value.split("-");
                        var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
                        if (date > limitDate) {
                             return true;
                        } else {
                             return false;
                        }
                    }
                    Calendar.setup({
                            inputField : "from",
                            ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                            button : "openCalendarFrom",
                            disableFunc : validate1,
                            dateStatusFunc : validate1
                    });
					//]]>
					</script>
                    <label for="to">到</label> <input readonly="readonly" size="10" id="to" name="Filter" value="" type="text" />
                    <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="显示日历" id="openCalendarTo" style="cursor: pointer;" border="0">
                    <script type="text/javascript">
					//<![CDATA[  
					function validate2(date) {
                         var day = date.getDate();
                         var month = date.getMonth() + 1;
                         var year = date.getFullYear();
                         var weekDay = date.getDay();
                         var dayMonth = month + '-' + day;
                         var dateString = year + '-' + month + '-' + day;
                         var dateFrom = document.getElementById('from').value.split("-");
                         var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
                         if (limitDate > date) {
                              return true;
                         } else {
                              return false;
                         }
                     }
                     Calendar.setup({
                             inputField : "to",
                             ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                             button : "openCalendarTo",
                             disableFunc : validate2,
                             dateStatusFunc : validate2
                     });
					//]]>
					</script>
                    </td>
                </tr>
                <tr class="highlight"> 
                <td><label for="PeriodTypeSel">类型：</label><select name="PeriodTypeSel" id="PeriodTypeSel">
                    <option value ="issue">Checkout</option>
                    <option value ="renew">Renewal</option>
                    <option value ="return">Checkin</option>
                    <option value ="localuse">本地使用</option>
                    </select></td>
                <td colspan="2"><label for="DisplayBy">依照群组：</label> <select name="DisplayBy" id="DisplayBy">
                    <option value="">没有</option>
                    <option value ="1">一周一天</option>
                    <option value ="2">月</option>
                    <option value ="3">年</option>
                    </select>
                </td>
                <td>
                    <label for="PeriodDaySel">选择一天： </label><select name="PeriodDaySel" id="PeriodDaySel">
                    <option value =""></option>
                    <option value ="Monday">星期一</option>
                    <option value ="Tuesday">星期二</option>
                    <option value ="Wednesday">星期三</option>
                    <option value ="Thursday">星期四</option>
                    <option value ="Friday">星期五</option>
                    <option value ="Saturday">星期六</option>
                    <option value ="Sunday">星期天</option>
                    </select>
                    <label for="PeriodMonthSel">选择月份：</label> <select name="PeriodMonthSel" id="PeriodMonthSel">
                    <option value =""></option>
                    <option value ="January">一月</option>
                    <option value ="February">二月</option>
                    <option value ="March">三月</option>
                    <option value ="April">四月</option>
                    <option value ="May">五月</option>
                    <option value ="June">六月</option>
                    <option value ="July">七月</option>
                    <option value ="August">八月</option>
                    <option value ="September">九月</option>
                    <option value ="October">十月</option>
                    <option value ="November">十一月</option>
                    <option value ="December">十二月</option>
                    </select>
                </td>
        </tr>
        <tr>
            <td>读者类别</td>
            <td><input type="radio" name="Line" value="borrowers.categorycode" /></td>
            <td><input type="radio" name="Column" value="borrowers.categorycode" /></td>
           <td><select name="Filter" id="borcat">
               <option value=""> </option>
               <!-- TMPL_LOOP NAME="categoryloop" -->
                 <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="categorycode" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="description" --></option><!-- /TMPL_IF -->
               <!-- /TMPL_LOOP -->
               </select>
             </td> 
        </tr>
        <tr class="highlight">
            <td>馆藏类型</td>
            <td><input type="radio" name="Line" value="itemtype" /></td>
            <td><input type="radio" name="Column" value="itemtype" /></td>
           <td><select name="Filter" id="itemtype">
               <option value=""> </option>
               <!-- TMPL_LOOP NAME="itemtypeloop" -->
                 <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="code" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="description" --></option><!-- /TMPL_IF -->
               <!-- /TMPL_LOOP -->
               </select>
             </td> 
        </tr>
        <tr>
            <td>图书馆</td>
            <td><input type="radio" name="Line" value="branch" /></td>
            <td><input type="radio" name="Column" value="branch" /></td>
            <td><select name="Filter" id="branch">
               <option value=""> </option>
               <!-- TMPL_LOOP NAME="branchloop" -->
<!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="code" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="description" --></option><!-- /TMPL_IF -->
				<!-- /TMPL_LOOP -->
               </select>
             </td> 
        </tr>
        <tr class="highlight">
            <td>集丛</td>
            <td><input type="radio" name="Line"   value="items.ccode" /></td>
            <td><input type="radio" name="Column" value="items.ccode" /></td>
            <td><select name="Filter" id="ccode">
                <option value=""> </option>
                <!-- TMPL_LOOP NAME="ccodeloop" -->
					<!-- TMPL_IF NAME="selected" --> <option value="<!-- TMPL_VAR NAME="code" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="description" --></option><!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
                </select>
            </td>
        </tr>
        <tr>
            <td>Shelving Location</td>
            <td><input type="radio" name="Line" value="items.location" /></td>
            <td><input type="radio" name="Column" value="items.location" /></td>
            <td><select name="Filter" id="location">
                <option value=""> </option>
                <!-- TMPL_LOOP NAME="locationloop" -->
					<!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="code" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="description" --></option><!-- /TMPL_IF -->
				<!-- /TMPL_LOOP -->
               </select>
            </td> 
        </tr>
        <tr class="highlight">
            <td>馆藏索书号</td>
            <td></td>
            <td></td>
            <td>From <input type="text" name="Filter" size="10" /> (inclusive) to <input type="text" name="Filter" size="10" /> (exclusive) </td>
        </tr>
        <!-- TMPL_IF Name="hassort1" -->
        <tr><td>读者排序 1</td>
			<td><input type="radio" name="Line" value="borrowers.sort1" /></td>
			<td><input type="radio" name="Column" value="borrowers.sort1" /></td>
			<td><select name="Filter" id="sort1">
               <option value=""> </option>
               <!-- TMPL_LOOP NAME="Bsort1" -->
			   <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="authorised_value" -->" ><!-- TMPL_VAR NAME="lib" --></option><!-- /TMPL_IF -->
               <!-- /TMPL_LOOP -->
               </select>
            </td> 
        </tr>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF Name="hassort2" -->
        <tr class="highlight"><td>读者排序 2</td>
            <td><input type="radio" name="Line" value="borrowers.sort2" /></td>
            <td><input type="radio" name="Column" value="borrowers.sort2" /></td>
           	<td><select name="Filter" id="sort2">
               <option value=""> </option>
               <!-- TMPL_LOOP NAME="Bsort2" -->
			   <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="authorised_value" -->" ><!-- TMPL_VAR NAME="lib" --></option><!-- /TMPL_IF -->
               <!-- /TMPL_LOOP -->
               </select>
            </td> 
        </tr>
        <!-- /TMPL_IF -->
        </tbody>
    </table><br /></fieldset>

<fieldset class="rows"><legend>Cell 数值 </legend><ol><li><label for="cellvalue1">Count total items</label> <input type="radio" name="Cellvalue" value="1" id="cellvalue1" checked="checked" /> </li>
            <li><label for="cellvalue3">Count unique items</label> <input type="radio" name="Cellvalue" id="cellvalue3" value="3" /> </li></ol></fieldset>
			
	<fieldset class="rows">
	<legend>输出</legend>
<ol><li><label for="outputscreen">使用浏览器显示： </label><input type="radio" checked="checked" name="output" id="outputscreen" value="screen" /> </li>
<li><label for="outputfile">到文件</label> <input type="radio" name="output" value="file" id="outputfile" /> <label class="inline" for="basename">命名： </label><input type="text" name="basename" id="basename" value="Export" /> <label class="inline" for="MIME">进入申请  
		</label><!-- TMPL_VAR NAME="CGIextChoice" -->
		<!-- TMPL_VAR NAME="CGIsepChoice" --></li></ol>
	</fieldset>

	<fieldset class="action">
	<input type="submit" value="送出">
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="do_it" value="1" />
	</fieldset>
	</form>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
