<html>
<head>
<title>建立指標</title>
</head>
<body>
<form name="f_pop" onSubmit="javascript:report()">
<input type="hidden" name="plugin_name" value="marc21_field_007.pl">
<table>
	<tr>
		<td>00 資料類別</td>
                <td>
                        <select name="f0" size="1">
                        <!-- TMPL_IF name="f0t" -->
                                <option value="t" SELECTED>t- 文字</option>
                        <!-- TMPL_ELSE -->
                                <option value="t">t- 文字</option>
                        <!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
                <td>01 特殊資料類型標示</td>
                <td>
                        <select name="f1" size="1">
                        <!-- TMPL_IF name="f1a" -->
                                <option value="a" SELECTED>a- Regular print</option>
                        <!-- TMPL_ELSE -->
                                <option value="a">a- Regular print</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1b" -->
                                <option value="b" SELECTED>b- 大字體印刷資料</option>
                        <!-- TMPL_ELSE -->
                                <option value="b">b- 大字體印刷資料 </option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f1c" -->
                                <option value="c" SELECTED>c- 點字本</option>
                        <!-- TMPL_ELSE -->
                                <option value="c">c- 點字本</option>
                        <!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f1d" -->
                                <option value="d" SELECTED>d- Loose-leaf</option>
                        <!-- TMPL_ELSE -->
                                <option value="d">d- Loose-leaf</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1u" -->
                                <option value="u" SELECTED>u- Unspecified</option>
                        <!-- TMPL_ELSE -->
                                <option value="u">u- Unspecified</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1z" -->
                                <option value="z" SELECTED>z- 其他</option>
                        <!-- TMPL_ELSE -->
                                <option value="z">z- 其他</option>
                        <!-- /TMPL_IF -->

                        </select>
                </td>
        </tr>



	<tr><td colspan=2><input type="submit" value="完成"></td></tr>
</table>
</form>
<script>
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			document.f_pop.f0.value+
			document.f_pop.f1.value;
		self.close();
		return false;
	}
</script>
</body>
</html>
