<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建立 UNIMARC 欄位 115b</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>複本（軟片版類別）</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1a" -->
				<option value="a" SELECTED>攝製原片</option>
			<!-- TMPL_ELSE -->
				<option value="a">攝製原片</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" SELECTED>Master</option>
			<!-- TMPL_ELSE -->
				<option value="b">Master</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" SELECTED>複本</option>
			<!-- TMPL_ELSE -->
				<option value="c">複本</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1d" -->
				<option value="d" SELECTED>參閱版</option>
			<!-- TMPL_ELSE -->
				<option value="d">參閱版</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>
	<tr>
		<td>工作片性質</td>
		<td>
			<select name="f2" size="1">
			<!-- TMPL_IF name="f2|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f2a" -->
				<option value="a" SELECTED>Epreuve</option>
			<!-- TMPL_ELSE -->
				<option value="a">Epreuve</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2b" -->
				<option value="b" SELECTED>識字課本</option>
			<!-- TMPL_ELSE -->
				<option value="b">識字課本</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2c" -->
				<option value="c" SELECTED>Chutes</option>
			<!-- TMPL_ELSE -->
				<option value="c">Chutes</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2d" -->
				<option value="d" SELECTED>Rushes</option>
			<!-- TMPL_ELSE -->
				<option value="d">Rushes</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2e" -->
				<option value="e" SELECTED>Pistes de mixage</option>
			<!-- TMPL_ELSE -->
				<option value="e">Pistes de mixage</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2g" -->
				<option value="g" SELECTED>tite bands/inter-title rolls</option>
			<!-- TMPL_ELSE -->
				<option value="g">tite bands/inter-title rolls</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2h" -->
				<option value="h" SELECTED>production rolls</option>
			<!-- TMPL_ELSE -->
				<option value="h">production rolls</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>

	<tr>
		<td>色彩</td>
		<td>
	<select name="f3" size="1">
			<!-- TMPL_IF name="f3|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3a" -->
				<option value="a" SELECTED>Trois couches de pigment</option>
			<!-- TMPL_ELSE -->
				<option value="a">Trois couches de pigment</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3b" -->
				<option value="b" SELECTED>二層捲色</option>
			<!-- TMPL_ELSE -->
				<option value="b">二層捲色</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3c" -->
				<option value="c" SELECTED>未明二色</option>
			<!-- TMPL_ELSE -->
				<option value="c">未明二色</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3d" -->
				<option value="d" SELECTED>未明三色</option>
			<!-- TMPL_ELSE -->
				<option value="d">未明三色</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3e" -->
				<option value="e" SELECTED>Trois bandes de couleur</option>
			<!-- TMPL_ELSE -->
				<option value="e">Trois bandes de couleur</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3f" -->
				<option value="f" SELECTED>二捲片色</option>
			<!-- TMPL_ELSE -->
				<option value="f">二捲片色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3g" -->
				<option value="g" SELECTED>藍綠捲片</option>
			<!-- TMPL_ELSE -->
				<option value="g">藍綠捲片</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3h" -->
				<option value="h" SELECTED>靛捲片</option>
			<!-- TMPL_ELSE -->
				<option value="h">靛捲片</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3i" -->
				<option value="i" SELECTED>紫紅色的細長片</option>
			<!-- TMPL_ELSE -->
				<option value="i">紫紅色的細長片</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3j" -->
				<option value="j" SELECTED>紫紅色的細長片</option>
			<!-- TMPL_ELSE -->
				<option value="j">紫紅色的細長片</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3k" -->
				<option value="k" SELECTED>黃色的細長片</option>
			<!-- TMPL_ELSE -->
				<option value="k">黃色的細長片</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3l" -->
				<option value="l" SELECTED>SEN 2</option>
			<!-- TMPL_ELSE -->
				<option value="l">SEN 2</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3m" -->
				<option value="m" SELECTED>SEN 3</option>
			<!-- TMPL_ELSE -->
				<option value="m">SEN 3</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3n" -->
				<option value="n" SELECTED>調棕色</option>
			<!-- TMPL_ELSE -->
				<option value="n">調棕色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3o" -->
				<option value="o" SELECTED>權威記錄</option>
			<!-- TMPL_ELSE -->
				<option value="o">權威記錄</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3p" -->
				<option value="p" SELECTED>顏色</option>
			<!-- TMPL_ELSE -->
				<option value="p">顏色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3q" -->
				<option value="q" SELECTED>淡調色及染色</option>
			<!-- TMPL_ELSE -->
				<option value="q">淡調色及染色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3r" -->
				<option value="r" SELECTED>印刷版色</option>
			<!-- TMPL_ELSE -->
				<option value="r">印刷版色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3s" -->
				<option value="s" SELECTED>手工調色</option>
			<!-- TMPL_ELSE -->
				<option value="s">手工調色</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>


	<tr>
		<td>電影片感光乳劑性質</td>
		<td>
			<select name="f4" size="1">
			<!-- TMPL_IF name="f4|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4a" -->
				<option value="a" SELECTED>Positif</option>
			<!-- TMPL_ELSE -->
				<option value="a">Positif</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4b" -->
				<option value="b" SELECTED>負片</option>
			<!-- TMPL_ELSE -->
				<option value="b">負片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>

	<tr>
		<td>Support de film</td>
		<td>
			<select name="f5" size="1">
			<!-- TMPL_IF name="f5|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5a" -->
				<option value="a" SELECTED>Securite (triacetate)</option>
			<!-- TMPL_ELSE -->
				<option value="a">Securite (triacetate)</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5b" -->
				<option value="b" SELECTED>硝酸鹽基</option>
			<!-- TMPL_ELSE -->
				<option value="b">硝酸鹽基</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5c" -->
				<option value="c" SELECTED>Securite (diacetate)</option>
			<!-- TMPL_ELSE -->
				<option value="c">Securite (diacetate)</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5d" -->
				<option value="d" SELECTED>Polyester</option>
			<!-- TMPL_ELSE -->
				<option value="d">Polyester</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5x" -->
				<option value="x" SELECTED>Support composite</option>
			<!-- TMPL_ELSE -->
				<option value="x">Support composite</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
        </tr>

	<tr>
		<td>Type de sonorisation</td>
		<td>
			<select name="f6" size="1">
			<!-- TMPL_IF name="f6|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6a" -->
				<option value="a" SELECTED>聲音在媒體上</option>
			<!-- TMPL_ELSE -->
				<option value="a">聲音在媒體上</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6b" -->
				<option value="b" SELECTED>Stereophonique</option>
			<!-- TMPL_ELSE -->
				<option value="b">Stereophonique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6c" -->
				<option value="c" SELECTED>多音道，環音系統</option>
			<!-- TMPL_ELSE -->
				<option value="c">多音道，環音系統</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6v" -->
				<option value="v" SELECTED>電影片聲音種類</option>
			<!-- TMPL_ELSE -->
				<option value="v">電影片聲音種類</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>

			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f6z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>

			<!-- /TMPL_IF -->

				</select>
		</td>

        </tr>


	<tr>
		<td>發聲媒體</td>
		<td>
			<select name="f7" size="1">
			<!-- TMPL_IF name="f7|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7a" -->
				<option value="a" SELECTED>Procede par imbibition</option>
			<!-- TMPL_ELSE -->
				<option value="a">Procede par imbibition</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7b" -->
				<option value="b" SELECTED>Procede tricouches</option>
			<!-- TMPL_ELSE -->
				<option value="b">Procede tricouches</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7c" -->
				<option value="c" SELECTED>Procede tricouches (faible contraste)</option>
			<!-- TMPL_ELSE -->
				<option value="c">Procede tricouches (faible contraste)</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7d" -->
				<option value="d" SELECTED>Pellicule positive par duplication</option>
			<!-- TMPL_ELSE -->
				<option value="d">Pellicule positive par duplication</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7z" -->
				<option value="z" SELECTED>權威記錄</option>
			<!-- TMPL_ELSE -->
				<option value="z">權威記錄</option>

			<!-- /TMPL_IF -->
				</select>
		</td>

        </tr>

	<tr>
		<td>Etat de la copie (deterioration)</td>
		<td>
			<select name="f8" size="1">
			<!-- TMPL_IF name="f8|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8a" -->
				<option value="a" SELECTED>硝酸鹽基──有異味</option>
			<!-- TMPL_ELSE -->
				<option value="a">硝酸鹽基──有異味</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8c" -->
				<option value="c" SELECTED>硝酸鹽基──有辛辣味</option>
			<!-- TMPL_ELSE -->
				<option value="c">硝酸鹽基──有辛辣味</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8d" -->
				<option value="d" SELECTED>硝酸鹽基──變褐色</option>
			<!-- TMPL_ELSE -->
				<option value="d">硝酸鹽基──變褐色</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8e" -->
				<option value="e" SELECTED>硝酸鹽基──有黏性</option>
			<!-- TMPL_ELSE -->
				<option value="e">硝酸鹽基──有黏性</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8f" -->
				<option value="f" SELECTED>硝酸鹽基──起泡沫</option>
			<!-- TMPL_ELSE -->
				<option value="f">硝酸鹽基──起泡沫</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8g" -->
				<option value="g" SELECTED>硝酸鹽基──成塊狀</option>
			<!-- TMPL_ELSE -->
				<option value="g">硝酸鹽基──成塊狀</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8h" -->
				<option value="h" SELECTED>硝酸鹽基──成粉狀</option>
			<!-- TMPL_ELSE -->
				<option value="h">硝酸鹽基──成粉狀</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8k" -->
				<option value="k" SELECTED>非硝酸鹽基──稍有破損</option>
			<!-- TMPL_ELSE -->
				<option value="k">非硝酸鹽基──稍有破損</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8l" -->
				<option value="l" SELECTED>非硝酸鹽基──嚴重破損</option>
			<!-- TMPL_ELSE -->
				<option value="l">非硝酸鹽基──嚴重破損</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8m" -->
				<option value="m" SELECTED>非硝酸鹽基──完全破損</option>
			<!-- TMPL_ELSE -->
				<option value="m">非硝酸鹽基──完全破損</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8y" -->
				<option value="y" SELECTED>Pas de deterioration</option>
			<!-- TMPL_ELSE -->
				<option value="y">Pas de deterioration</option>

			<!-- /TMPL_IF -->
				</select>
		</td>

        </tr>

	<tr>
		<td>投影資料、電影片發行形式</td>
		<td>
			<select name="f9" size="1">
			<!-- TMPL_IF name="f9|" -->
            	<option value="|" SELECTED>|- 資料單元代碼</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 資料單元代碼</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9a" -->
				<option value="a" SELECTED>不完整</option>
			<!-- TMPL_ELSE -->
				<option value="a">不完整</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9b" -->
				<option value="b" SELECTED>完整</option>
			<!-- TMPL_ELSE -->
				<option value="b">完整</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9u" -->
				<option value="u" SELECTED>不詳</option>
			<!-- TMPL_ELSE -->
				<option value="u">不詳</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9x" -->
				<option value="x" SELECTED>如不適用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不適用</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
        </tr>

   		<tr>
                <td>記錄日期</td>
                <td>Annee <input type="text" name="f10" maxlength=4 size=5 value="<!-- TMPL_VAR name="f10" -->"></td>
                <td>mois <input type="text" name="f11" maxlength=2 size=3 value="<!-- TMPL_VAR name="f11" -->"></td>
        </tr>
	
	<tr><td colspan=2><input type="button" value="完成" onclick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
            document.f_pop.f10.value=document.f_pop.f10.value+'    ';
            document.f_pop.f10.value=document.f_pop.f10.value.substring(0,4);
            document.f_pop.f11.value=document.f_pop.f11.value+'  ';
            document.f_pop.f11.value=document.f_pop.f11.value.substring(0,2);

	    var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value =  document.f_pop.f1.value +document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value+document.f_pop.f10.value+document.f_pop.f11.value;
		self.close();
		return false;
	}
</script>
</body>
</html>
