<html>
<head>
<title>Առաջատարի կառուցող</title>
</head>
<body>
<form name="f_pop" onSubmit="javascript:report()">
<input type="hidden" name="plugin_name" value="marc21_leader.pl">
<table>
	<tr>
		<td>1-4 Գրառման չափ</td>
		<td>(ավտո-լցված)</td>
	</tr>
	<tr>
		<td>5- Գրառման վիճակ</td>
		<td>
			<select name="f5" size="1">
			<!-- TMPL_IF name="f5a" -->
				<option value=" " SELECTED>a- կոդավորման մակարդակի աճ</option>
			<!-- TMPL_ELSE -->
				<option value=" ">a- կոդավորման մակարդակի աճ</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5c" -->
				<option value="c" SELECTED>c- Ճշգրտված կամ վերանայված</option>
			<!-- TMPL_ELSE -->
				<option value="c">c- Ճշգրտված կամ վերանայված</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5d" -->
				<option value="d" SELECTED>d- Ջնջված</option>
			<!-- TMPL_ELSE -->
				<option value="d">d- Ջնջված</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5n" -->
				<option value="n" SELECTED>n- Նոր</option>
			<!-- TMPL_ELSE -->
				<option value="n">n- Նոր</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5p" -->
				<option value="p" SELECTED>p- Կոդավորման մակարդակի ընդլայնում նախնական հրատարակությունից</option>
			<!-- TMPL_ELSE -->
				<option value="p">p- Կոդավորման մակարդակի ընդլայնում նախնական հրատարակությունից</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>6- Գրառման տեսակ</td>
		<td>
			<select name="f6" size="1">
			<!-- TMPL_IF name="f6a" -->
				<option value="a" SELECTED>a- լեզվական նյութ</option>
			<!-- TMPL_ELSE -->
				<option value="a">a- լեզվական նյութ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6c" -->
				<option value="c" SELECTED>c- Notated music</option>
			<!-- TMPL_ELSE -->
				<option value="c">c- Notated music</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6d" -->
				<option value="d" SELECTED>d- Manuscript notated music</option>
			<!-- TMPL_ELSE -->
				<option value="d">d- Manuscript notated music</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6e" -->
				<option value="e" SELECTED>e- Քարտեզագրման նյութ</option>
			<!-- TMPL_ELSE -->
				<option value="e">e- Քարտեզագրման նյութ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6f" -->
				<option value="f" SELECTED>f - Ձեռագիր քարտեզագրման նյութ</option>
			<!-- TMPL_ELSE -->
				<option value="f">f - Ձեռագիր քարտեզագրման նյութ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6g" -->
				<option value="g" SELECTED>g - Projected medium</option>
			<!-- TMPL_ELSE -->
				<option value="g">g - Projected medium</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6i" -->
				<option value="i" SELECTED>i - ոչ երաժշտական ձայնագրություն</option>
			<!-- TMPL_ELSE -->
				<option value="i">i - ոչ երաժշտական ձայնագրություն</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6j" -->
				<option value="j" SELECTED>j - Երաժշտական ձայնագրություն</option>
			<!-- TMPL_ELSE -->
				<option value="j">j - Երաժշտական ձայնագրություն</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6k" -->
				<option value="k" SELECTED>k - Երկչափ չպրոեկտացվող գրաֆիկ</option>
			<!-- TMPL_ELSE -->
				<option value="k">k - Երկչափ չպրոեկտացվող գրաֆիկ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6m" -->
				<option value="m" SELECTED>m - Համակարգչային ֆայլ</option>
			<!-- TMPL_ELSE -->
				<option value="m">m - Համակարգչային ֆայլ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6o" -->
				<option value="o" SELECTED>o - Kit</option>
			<!-- TMPL_ELSE -->
				<option value="o">o - Kit</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6r" -->
				<option value="r" SELECTED>r - Եռաչափ արվեստի գործ կամ բնական հանդիպող օբյեկտ</option>
			<!-- TMPL_ELSE -->
				<option value="r">r - Եռաչափ արվեստի գործ կամ բնական հանդիպող օբյեկտ</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6t" -->
				<option value="t" SELECTED>t - Manuscript language material</option>
			<!-- TMPL_ELSE -->
				<option value="t">t - Manuscript language material</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>7- Մատենագիտական մակարդակ</td>
		<td>
			<select name="f7" size="1">
				<!-- TMPL_IF name="f7a" -->
					<option value="a" SELECTED>a- Monographic component part</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- Monographic component part</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7b" -->
					<option value="b" SELECTED>b- Պարբերականի բաղադրիչի մաս</option>
				<!-- TMPL_ELSE -->
					<option value="b">a- Պարբերականի բաղադրիչի մաս</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7c" -->
					<option value="c" SELECTED>c- Հավաքածու</option>
				<!-- TMPL_ELSE -->
					<option value="c">c- Հավաքածու</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7d" -->
					<option value="d" SELECTED>d- Ենթամիավոր</option>
				<!-- TMPL_ELSE -->
					<option value="d">d- Ենթամիավոր</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7i" -->
					<option value="i" SELECTED>i- պաշարի ինտեգրացում</option>
				<!-- TMPL_ELSE -->
					<option value="i">i- պաշարի ինտեգրացում</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7m" -->
					<option value="m" SELECTED>m- Մենագրություն/նյութ</option>
				<!-- TMPL_ELSE -->
					<option value="m">m- Մենագրություն/նյութ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7s" -->
					<option value="s" SELECTED>s- Պարբերական</option>
				<!-- TMPL_ELSE -->
					<option value="s">s- Պարբերական</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td>8- Աստիճանավորված մակարդակ</td>
		<td>
			<select name="f8" size="1">
				<!-- TMPL_IF name="f8 " -->
					<option value=" " SELECTED>Հատուկ տեսակ չկա</option>
				<!-- TMPL_ELSE -->
					<option value=" ">Հատուկ տեսակ չկա</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f8a" -->
					<option value="a" SELECTED>a- Արխիվային</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- Արխիվային</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

	<tr>
		<td>9- Կոդավորում</td>
		<td>
			<select name="f9" size="1">
				<!-- TMPL_IF name="f9 " -->
					<option value=" " SELECTED>MARC-8</option>
				<!-- TMPL_ELSE -->
					<option value=" ">MARC-8</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f9a" -->
					<option value="a" SELECTED>a- UCS/Unicode</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- UCS/Unicode</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>10-16 ինդիկատոր/ենթադաշտեր/չափ</td>
		<td>(ավտո-լցված)</td>
	<tr>
		<td>17- Կոդավորում</td>
		<td>
			<select name="f17" size="1">
				<!-- TMPL_IF name="f17 " -->
					<option value=" " SELECTED>լրիվ մակարդակ</option>
				<!-- TMPL_ELSE -->
					<option value=" ">Լրիվ մակարդակ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f171" -->
					<option value="1" SELECTED>1- Լրիվ մակարդակ, նյութը չի քննվել</option>
				<!-- TMPL_ELSE -->
					<option value="1">1- Լրիվ մակարդակ, նյութը չի քննվել</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f172" -->
					<option value="2" SELECTED>2 - պակաս քան լրիվ մակարդակն է, նյութը չի հետազոտվել</option>
				<!-- TMPL_ELSE -->
					<option value="2">2 - պակաս քան լրիվ մակարդակն է, նյութը չի հետազոտվել</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f173" -->
					<option value="3" SELECTED>3- Կրճատված մակարդակ</option>
				<!-- TMPL_ELSE -->
					<option value="3">3- Կրճատված մակարդակ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f174" -->
					<option value="4" SELECTED>4- Կենտրոնական մակարդակ</option>
				<!-- TMPL_ELSE -->
					<option value="4">4- Կենտրոնական մակարդակ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f175" -->
					<option value="5" SELECTED>5- Մասնակի (նախնական) մակարդակl</option>
				<!-- TMPL_ELSE -->
					<option value="5">5- Մասնակի (նախնական) մակարդակl</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f177" -->
					<option value="7" SELECTED>7- Նվազագույն մակարդակ</option>
				<!-- TMPL_ELSE -->
					<option value="7">7- Նվազագույն մակարդակ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f178" -->
					<option value="8" SELECTED>8- Նախահրատարակման մակարդակ</option>
				<!-- TMPL_ELSE -->
					<option value="8">8- Նախահրատարակման մակարդակ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f17u" -->
					<option value="u" SELECTED>u - Անհայտ</option>
				<!-- TMPL_ELSE -->
					<option value="u">u - Անհայտ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f17z" -->
					<option value="z" SELECTED>z- Ոչ պիտանի</option>
				<!-- TMPL_ELSE -->
					<option value="z">z- Not applicableFull level</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

	<tr>
		<td>18 - Նկարագրական քարտագրման ձև</td>
		<td>
			<select name="f18" size="1">
				<!-- TMPL_IF name="f18 " -->
					<option value=" " SELECTED>ոչ -ISBD</option>
				<!-- TMPL_ELSE -->
					<option value=" ">ոչ -ISBD</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18a" -->
					<option value="a" SELECTED>a- AACR 2</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- AACR 2</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18i" -->
					<option value="i" SELECTED>i- ISBD</option>
				<!-- TMPL_ELSE -->
					<option value="i">i- ISBD</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18u" -->
					<option value="u" SELECTED>u- Անհայտ</option>
				<!-- TMPL_ELSE -->
					<option value="u">u- Անհայտ</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td>19 - Հղված գրառման պահանջ</td>
		<td>
			<select name="f19" size="1">
				<!-- TMPL_IF name="f19 " -->
					<option value=" " SELECTED>Կապված գրառումը հարկավոր չէ</option>
				<!-- TMPL_ELSE -->
					<option value=" ">Կապված գրառումը հարկավոր չէ</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18r" -->
					<option value="r" SELECTED>r- Պահանջվում է կապակցված գրառում</option>
				<!-- TMPL_ELSE -->
					<option value="r">r- Պահանջվում է կապակցված գրառում</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>20-24 մուտքի քարտեզներ & երկարություններ</td>
		<td>(ավտո-լցված)</td>
	<tr>

	<tr><td colspan=2><input type="submit" value="ԼԱՎ"></td></tr>
</table>
</form>
<script>
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			'     '+
			document.f_pop.f5.value+
			document.f_pop.f6.value+
			document.f_pop.f7.value+
			document.f_pop.f8.value+
			document.f_pop.f9.value+ 
			'22     '+
			document.f_pop.f17.value+
			document.f_pop.f18.value+
			document.f_pop.f19.value+
			'4500';
		self.close();
		return false;
	}
</script>
</body>
</html>
