<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 採訪 &rsaquo; 收到供應商 <!-- TMPL_VAR NAME="name" --> 的訂單</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; Receive shipment from vendor <!-- TMPL_VAR NAME="name" --></div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	
<h1>收到 <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a> 供應商訂單</h1>

<!-- TMPL_IF NAME="count" --><p> 找到 <!-- TMPL_VAR NAME="count" --> 張訂單</p><!--/TMPL_IF-->
<div id="resultnumber">
<!-- Row of numbers corresponding to search result pages -->
<!-- TMPL_IF NAME="displayprev" -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="prevstartfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra">&lt;&lt; 前一頁</a>
<!-- /TMPL_IF -->
<!-- TMPL_LOOP NAME="numbers" -->
    <!-- TMPL_IF NAME="highlight" -->
    <span class="current"><!-- TMPL_VAR NAME="number" --></span>
    <!-- TMPL_ELSE -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="startfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra"><!-- TMPL_VAR NAME="number" --></a>
    <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
<!-- TMPL_IF NAME="displaynext" -->
    <a href="parcels.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;startfrom=<!-- TMPL_VAR NAME="nextstartfrom" --><!--TMPL_IF Name="datefrom"-->&amp;datefrom=<!--TMPL_VAR Name="datefrom"--><!--/TMPL_IF--><!--TMPL_IF Name="dateto"-->&amp;dateto=<!--TMPL_VAR Name="dateto"--><!--/TMPL_IF--><!--TMPL_IF Name="code"-->&amp;filter=<!--TMPL_VAR Name="code"--><!--/TMPL_IF--><!--TMPL_IF Name="orderby"-->&amp;orderby=<!--TMPL_VAR Name="orderby"--><!--/TMPL_IF--><!--TMPL_IF Name="resultsperpage"-->&amp;resultsperpage=<!--TMPL_VAR Name="resultsperpage"--><!--/TMPL_IF-->&amp;type=intra">下一頁 &gt;&gt;</a>
<!-- /TMPL_IF -->
</div>

<div id="resultlist">
<!-- Search Results Table -->
<!-- TMPL_IF NAME="count" -->
<form method="post" action="parcels.pl">
    <table class="small">
        <tr>
            <th> <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" /></th>
            <th><label for="filter">發票 / 統編：</label><input type="text" size="20" name="filter" value="<!-- TMPL_VAR NAME="filter" -->" /></th>
            <th><label for="datefrom">開始從：</label><input type="text" size="9" id="datefrom" name="datefrom" value="<!-- TMPL_VAR NAME="datefrom" -->" /> 
                <p><label for="dateto">到：</label><input type="text" size="9" id="dateto" name="dateto" value="<!-- TMPL_VAR NAME="dateto" -->" /></th>
            <th><label for="orderby">排序依照：</label><select name="orderby" id="orderby">
                <option value="aqorders.booksellerinvoicenumber"> 代碼</option>
                <option value="datereceived"> 收到日期</option>
                <option value="datereceived desc"> 反轉收到日期</option>
                <option value="aqorders.booksellerinvoicenumber desc"> 相反的代碼</option>
                </select><br />
                <label for="resultsperpage">每頁顯示結果項數：</label><select name="resultsperpage" value ="<!--TMPL_VAR Name="resultsperpage"-->" id="resultsperpage">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select></th>
            <th><input type="submit" class="button" value="條件"></th>
        </tr>
	</table><br />
    <table class="small">
        <tr>
            <th>行</th>
            <th>收到日期</th>
            <th>發票號碼</th>
            <th>館藏總計</th>
            <th>書目記錄總計</th>
            <th>館藏預期採訪</th>
        </tr>
<!-- Actual Search Results -->
<!-- TMPL_LOOP NAME="searchresults" -->
    <tr>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
            <!-- TMPL_VAR NAME="number" -->
        </td>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted number"><!-- TMPL_ELSE --><td class="number">
        <!-- /TMPL_IF -->
            <a href="/cgi-bin/koha/acqui/parcel.pl?type=intra&amp;supplierid=<!-- TMPL_VAR NAME="supplierid" ESCAPE="URL" -->&amp;datereceived=<!-- TMPL_VAR NAME="raw_datereceived" ESCAPE="URL" --><!--TMPL_IF Name="code"-->&amp;invoice=<!--TMPL_VAR Name="code" ESCAPE="URL" --><!--/TMPL_IF-->">
                <!-- TMPL_VAR NAME="datereceived" -->
            </a>
        </td>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted number"><!-- TMPL_ELSE --><td class="number"><!-- /TMPL_IF -->
            <!--TMPL_IF Name="code"--><!--TMPL_VAR Name="code" --><!--/TMPL_IF-->
        </td>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted number"><!-- TMPL_ELSE --><td class="number">
        <!-- /TMPL_IF -->
            <!-- TMPL_VAR NAME="reccount" --> 
        </td>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted number"><!-- TMPL_ELSE --><td class="number"><!-- /TMPL_IF -->
            <!-- TMPL_VAR NAME="bibcount" -->
        </td>
        <!-- TMPL_IF NAME="hilighted" --><td class="hilighted number"><!-- TMPL_ELSE --><td class="number"><!-- /TMPL_IF -->
            <!-- TMPL_VAR NAME="itemcount" -->
        </td>
    </tr>
<!-- /TMPL_LOOP -->
</table>
</form>
<!--/TMPL_IF-->
</div>
    <div id="parcels_new_parcel">
        <form method="get" action="parcel.pl">
    <fieldset class="rows">
    <legend>收到訂購</legend>
       <ol> <li>
            <label for="invoice">建立發票 </label>
            <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" />
            <input type="hidden" name="op" value="new" />
			<input type="text" size="20" id="invoice" name="invoice" />
        </li>
		<!-- TMPL_IF NAME="gst" -->
        <li>
            <label for="gst">商品及服務稅（GST）</label>
            <input type="text" size="20" id="gst" name="gst" />
        </li>
		<!--/TMPL_IF-->
      <!--  // Removing freight input until shipping can be proplerly handled .
	  <li>
            <label for="freight">Shipping:</label>
            <input type="text" size="20" id="freight" name="freight" />
        </li> -->
         <li><label for="datereceived">訂購時間： </label>
            <input type="text" id="datereceived" name="datereceived"  maxlength="10" size="10"  value="<!-- TMPL_VAR NAME="datereceived_today" -->" />
            <img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="datereceived_button" alt="顯示行事曆">
      <script language="JavaScript" type="text/javascript">
        Calendar.setup(
          {
            inputField : "datereceived",
            ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
            button : "datereceived_button"          }
        );
      </script>	</li>
		</ol>
    </fieldset>
            <fieldset class="action"><input type="submit" class="button" value="儲存"> <a class="cancel" href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->">取消</a></fieldset>
        </form>
    </div>
</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
