Sehr geehrte Nutzer <!-- TMPL_VAR NAME="LibraryName" -->, Sie haben der Bibliothek vorgeschlagen <!-- TMPL_VAR name="title" --> zu kaufen<!-- TMPL_IF name="author" --> von <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. Wir freuen uns Ihnen Mitteilen zu können, dass Ihr Anschaffungsvorschlag nun Teil unseres Bestandes in <!-- TMPL_VAR NAME="LibraryName" --> ist. Falls Sie noch Fragen haben, senden Sie uns bitte eine E-Mail an <!-- TMPL_VAR name="libemail" -->.Vielen Dank, <!-- TMPL_VAR NAME="LibraryName" -->
