Sehr geehrte Nutzer <!-- TMPL_VAR NAME="LibraryName" -->, Sie haben der Bibliothek vorgeschlagen <!-- TMPL_VAR name="title" --> zu kaufen<!-- TMPL_IF name="author" --> von <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. Wir freuen uns Ihnen mitteilen zu können, dass Ihr Anschaffungsvorschlag nun bestellt wurde. Sie sollte also demnächst zu Verfügung stehen. Wenn dem so ist, werden wir Sie wieder per Email informieren. Falls Sie Fragen haben, senden Sie uns bitte eine Email an <!-- TMPL_VAR name="libemail" -->. Mit freundlichen Grüßen, <!-- TMPL_VAR NAME="LibraryName" -->
