<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 管理 &rsaquo; 容許值 <!-- TMPL_IF name="add_form" --> &rsaquo; <!-- TMPL_IF name="action_modify" -->修改容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_value" --> &rsaquo; 新增容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_category" --> &rsaquo; 新增類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> &rsaquo; 確認刪除<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->容許值<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首頁</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">管理</a> &rsaquo; <!-- TMPL_IF name="add_form" --> <a href="/cgi-bin/koha/admin/authorised_values.pl">容許值</a> &rsaquo; <!-- TMPL_IF name="action_modify" -->修改容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_value" -->新增容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_category" -->新增類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> <a href="/cgi-bin/koha/admin/authorised_values.pl">容許值</a> &rsaquo; 確認刪除<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->容許值<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF name="add_form" -->
	<h1>
	   <!-- TMPL_IF name="action_modify" -->修改容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_value" -->新增容許值<!-- /TMPL_IF -->
	   <!-- TMPL_IF name="action_add_category" -->新增類別<!-- /TMPL_IF -->
	</h1>
	<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
	<input type="hidden" name="op" value="add_validate" />
        <fieldset class="rows"><ol>
        <li>
			 <!-- TMPL_IF name="action_add_category" --><label for="category">類別</label>
		<input type="text" name="category"  id="category" size="16" maxlength="16" /> 
			 <!-- TMPL_ELSE --><span class="label">類別</span>
		<input type="hidden" name="category" value="<!-- TMPL_VAR NAME='category' -->" />	 <!-- TMPL_VAR NAME='category' -->
			 <!-- /TMPL_IF -->
        </li>
        <li>
            <label for="authorised_value">容許值</label>
     <!-- TMPL_IF name="action_modify" --><input type="hidden" id="id" name="id" value="<!-- TMPL_VAR name="id" -->" /><!-- /TMPL_IF -->
            <input type="text" id="authorised_value" name="authorised_value" value="<!-- TMPL_VAR name="authorised_value" -->" />
        </li>
        <li>
            <label for="lib">描述</label>
            <input type="text" name="lib" id="lib" value="<!-- TMPL_VAR name="lib" -->" />
        </li>
        <li>
            <label for="lib">Icon</label>
            <ul>
  <!-- TMPL_LOOP NAME="imagesets" -->
  <li>Icons from collection <b><!-- TMPL_VAR name="imagesetname" --></b>:</li>
  <!-- TMPL_LOOP NAME="images" -->
  			<li style="float: none; display: inline; clear : none; width: auto;">
            <label> <!-- TMPL_IF NAME="StaffImageUrl" -->
              <img src="<!-- TMPL_VAR name="StaffImageUrl" -->" alt="<!-- TMPL_VAR name="StaffImageUrl" -->" title="<!-- TMPL_VAR name="StaffImageUrl" -->" />
        <!-- TMPL_ELSE -->
        <!-- /TMPL_IF -->
    <!-- TMPL_IF name="checked" -->
              <input type="radio" name="imageurl" value="<!-- TMPL_VAR name="KohaImage" -->" checked="checked" />
    <!-- TMPL_ELSE -->
              <!-- TMPL_IF NAME="KohaImage" --> <!-- to delete the radio button if there is no image after -->
              <input type="radio" name="imageurl" value="<!-- TMPL_VAR name="KohaImage" -->" />
              <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
            </label>
			</li>
  <!-- /TMPL_LOOP -->
  <!-- /TMPL_LOOP -->
  </ul><ul>
  <li><label for="noimage">沒有圖片： </label><input type="radio" name="imageurl" id="noimage" value="removeImage" /></li>
  </ul>

        
        </ol></fieldset>
       <fieldset class="action"> <input type="hidden" name="id" value="<!-- TMPL_VAR name="id" -->" />
        <input type="submit" value="儲存"> <a class="cancel" href="/cgi-bin/koha/admin/authorised_values.pl?searchfield=<!-- TMPL_VAR NAME="category" -->">取消</a></fieldset>
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF name="delete_confirm" -->
	<div class="dialog alert">
<h3>確認刪除</h3>
<table>
	<tr>
		<th>類別</th>
		<th>變數</th>
		<th>數值</th>
	</tr>
	<tr>
		<td><!-- TMPL_VAR name="searchfield" --></td>
	<td><!-- TMPL_VAR name="Tvalue" --></td>
	<td><!-- TMPL_VAR name="Tlib" --></td></tr>
	</table>
	<form action="<!-- TMPL_VAR name=" script_name " -->" method="post">
		<input type="hidden" name="op" value="delete_confirmed" />
		<input type="hidden" name="id" value="<!-- TMPL_VAR name="id" -->" />
		<input type="hidden" name="searchfield" value="<!-- TMPL_VAR name="searchfield" -->" /><fieldset class="action"><input type="submit" value="是，刪除" class="approve"></form>
<form action="<!-- TMPL_VAR name=" script_name " -->" method="get"><input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" /><input type="submit" value="否, 不要刪除" class="deny"></form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF name="else" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
		$('#category').find("input:submit").hide();
		$('#searchfield').change(function() {
		$('#category').submit();
		});
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("addauth");
	    new YAHOO.widget.Button("addcat");
	}

	//]]>
	</script>
	<ul class="toolbar">
	 <li><a id="addauth" href= "/cgi-bin/koha/admin/authorised_values.pl?op=add_form&amp;category=<!-- TMPL_VAR NAME="category" -->">新增 <!-- TMPL_VAR name="category" --> 容許值</a></li>
    <li><a id="addcat" href= "/cgi-bin/koha/admin/authorised_values.pl?op=add_form">新增類別</a></li>
</ul></div>

<h1>容許值</h1>
<p>This table is used in MARC definition. You can define as many categories as you want, and as many authorized values as you want in each category.</p>
<p>When you define the MARC subfield structure, you can link a subfield to a authorized-value category. When the user ask for adding of modifying a biblio,
the subfield is not entered through a free field, but though a list of authorized values</p>
<!-- TMPL_IF name="duplicate_category" -->
<div>
<span class="problem">Could not add value &quot;<!-- TMPL_VAR name="duplicate_value" -->&quot; for category  &quot;<!-- TMPL_VAR name="duplicate_category" -->&quot; &mdash; value already present.
</span>
</div>
<!-- /TMPL_IF -->
<form action="/cgi-bin/koha/admin/authorised_values.pl" method="post" id="category"><label for="searchfield">顯示類別： </label><!-- TMPL_VAR name="tab_list" --> <input type="submit" value="送出"></form>
<!-- TMPL_IF EXPR="category eq 'Bsort1'" -->
    <p>Bsort1 is an authorised value attached to patrons, that can be used for stats purposes</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'Bsort2'" -->
    <p>Bsort2 is an authorised value attached to patrons, that can be used for stats purposes</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'Asort1'" -->
    <p>Asort1 is an authorised value attached to acquisitions, that can be used for stats purposes</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'Asort2'" -->
    <p>Asort2 is an authorised value attached to acquisitions, that can be used for stats purposes</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'SUGGEST'" -->
    <p>清單會顯示讀者採訪建議拒絕或是接受原因</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'DAMAGED'" -->
    <p>清單會顯示館藏損毀狀況</p>
<!-- /TMPL_IF -->
<!-- TMPL_IF EXPR="category eq 'LOST'" -->
    <p>清單會顯示遺失館藏</p>
<!-- /TMPL_IF -->
<table>
<tr>
	<th>類別</th>
	<th>容許值</th>
	<th>描述</th>
	<th>Icon</th>
	<th>編輯</th>
	<th>刪除</th>
	</tr>
<!-- TMPL_LOOP name="loop" -->
<tr>
	<td><!-- TMPL_VAR name="category" --></td>
	<td><!-- TMPL_VAR name="authorised_value" --></td>
	<td><!-- TMPL_VAR name="lib" --></td>
	<td><img src="<!-- TMPL_VAR name="imageurl" -->" alt=""/></td>
	<td><a href="<!-- TMPL_VAR name="edit" -->">編輯</a></td>
	<td><a href="<!-- TMPL_VAR name="delete" -->">刪除</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>

<!-- TMPL_IF NAME="isprevpage" -->
<form class="inline" action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
<input type="hidden" name="offset" value="<!-- TMPL_VAR NAME="prevpage" -->" /><input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
	<input type="submit" value="&lt;&lt; 前一頁"></form>
<!-- /TMPL_IF --> 

<!-- TMPL_IF NAME="nextpage" -->
<form class="inline" action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
<input type="hidden" name="offset" value="<!-- TMPL_VAR NAME="nextpage" -->" /><input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
	<input type="submit" value="下一頁 &gt;&gt;"></form>
<!-- /TMPL_IF -->

<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
