<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 管理 &rsaquo; 讀者類別  &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF NAME="categorycode" -->修改類別 '<!-- TMPL_VAR NAME="categorycode" -->'<!-- TMPL_ELSE -->新增類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" -->資料被紀錄<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --><!-- TMPL_IF NAME="totalgtzero" -->無法刪除已在使用 <!-- TMPL_VAR NAME="categorycode" --> 的類別<!-- TMPL_ELSE -->確認刪除 '<!-- TMPL_VAR NAME="categorycode" -->' 類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->類別被刪除<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
	//
	function isNotNull(f,noalert) {
		if (f.value.length ==0) {
   return false;
		}
		return true;
	}
	//
	function toUC(f) {
		var x=f.value.toUpperCase();
		f.value=x;
		return true;
	}
	//
	function isNum(v,maybenull) {
	var n = new Number(v.value);
	if (isNaN(n)) {
		return false;
		}
	if (maybenull==0 && v.value=='') {
		return false;
	}
	return true;
	}
	//
	function isDate(f) {
		var t = Date.parse(f.value);
		if (isNaN(t)) {
			return false;
		}
	}
	// to check if the data are correctly entered.
	function Check(ff) {
	    var ok=0;
		var _alertString="Form not submitted because of the following problem(s)\n";
		_alertString +="-------------------------------------------------------------------\n\n";
		if (ff.categorycode.value.length==0) {
		    ok=1;
			_alertString += "- categorycode missing\n";
		}
		if (!(ff.category_type.value)){
		    ok=1;
		    _alertString += "- category type missing\n";
		}
		if (!(isNotNull(ff.description,1))) {
		    ok=1;
			_alertString += "- description missing\n";
		}
		if (!isNum(ff.upperagelimit,0) && ff.category_type.value=='C') {
		    ok=1;
		  	_alertString += "- upperagelimit is not a number\n";
				
		}
		
		if (ok) { // if there is a problem
			alert(_alertString);
             return false;
        }
        // if all is good
		ff.submit();
	}
	//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patrons-admin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首頁</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">管理</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --> <a href="/cgi-bin/koha/admin/categorie.pl">讀者類別</a> &rsaquo; <!-- TMPL_IF NAME="categorycode" -->修改類別 '<!-- TMPL_VAR NAME="categorycode" -->'<!-- TMPL_ELSE -->新增類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/admin/categorie.pl">讀者類別</a> &rsaquo; 資料被記錄<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/admin/categorie.pl">讀者類別</a> &rsaquo; <!-- TMPL_IF NAME="totalgtzero" -->無法刪除已在使用 <!-- TMPL_VAR NAME="categorycode" --> 的類別<!-- TMPL_ELSE -->確認刪除 '<!-- TMPL_VAR NAME="categorycode" -->' 類別<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" --> <a href="/cgi-bin/koha/admin/categorie.pl">讀者類別</a> &rsaquo; 類別被刪除<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="else" -->讀者類別<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->
	


	
	<form name="Aform" action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="checked" value="0" />
<!-- TMPL_IF NAME="categorycode" -->
		<h1>修改類別 <!-- TMPL_VAR NAME="categorycode" --></h1>
	<!-- TMPL_ELSE -->
		<h1>新增類別</h1>
	<!-- /TMPL_IF -->
	<fieldset class="rows">
	<ol><!-- TMPL_IF NAME="categorycode" -->
	<li><span class="label">類別代碼</span><!-- TMPL_VAR NAME="categorycode" -->
				<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" -->" /><input type="hidden" name="is_a_modif" value="1" /></li>
	<!-- TMPL_ELSE -->
	<li><label for="categorycode">類別代碼： </label> &nbsp; <input type="text" name="categorycode" id="categorycode" size="10" maxlength="10" onblur="toUC(this)" /></li>
	<!-- /TMPL_IF -->
	<li><label for="description">描述： </label> &nbsp; <input type="text" name="description" id="description" size="40" maxlength="80" value="<!-- TMPL_VAR NAME="description" -->" /></li>
	<li><label for="enrolmentperiod">註冊有效日期： </label> &nbsp; <input type="text" name="enrolmentperiod" id="enrolmentperiod" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="enrolmentperiod" -->" /> months</li>
	<li><label for="dateofbirthrequired">必須填寫年齡： </label> &nbsp; <input type="text" name="dateofbirthrequired" id="dateofbirthrequired" value="<!-- TMPL_VAR NAME="dateofbirthrequired" -->" size="3" maxlength="3" /> years</li>
	<li><label for="upperagelimit">年齡上限： </label> &nbsp; <input type="text" name="upperagelimit" id="upperagelimit" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="upperagelimit" -->" /> years</li>
	<li><label for="enrolmentfee">註冊費用： </label>$<input type="text" name="enrolmentfee" id="enrolmentfee" size="6" value="<!-- TMPL_VAR NAME="enrolmentfee" -->" /></li>
	<li><label for="overduenoticerequired">需要逾期通知： </label> &nbsp; <select name="overduenoticerequired" id="overduenoticerequired">
			<!-- TMPL_IF NAME="overduenoticerequired" -->
						<option value="0">否</option>
						<option value="1" selected="selected">是</option>
			<!-- TMPL_ELSE -->
						<option value="0" selected="selected">否</option>
						<option value="1">是</option>
			<!-- /TMPL_IF -->
					</select></li>
	<li><label for="reservefee">預約費用： </label>$<input type="text" name="reservefee" id="reservefee" size="6" value="<!-- TMPL_VAR NAME="reservefee" -->" /></li>
	<li><label for="category_type">類別型式： </label> &nbsp; <select name="category_type" id="category_type">
						<!-- TMPL_IF NAME="type_n" --><option value="" selected="selected">選擇類別</option><!-- TMPL_ELSE --><option value="">選擇類別</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_A" --><option value="A" selected="selected">成人</option><!-- TMPL_ELSE --><option value="A">成人</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_C" --><option value="C" selected="selected">兒童</option><!-- TMPL_ELSE --><option value="C">兒童</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_S" --><option value="S" selected="selected">館員</option><!-- TMPL_ELSE --><option value="S">館員</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_I" --><option value="I" selected="selected">機構</option><!-- TMPL_ELSE --><option value="I">機構</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_P" --><option value="P" selected="selected">專家</option><!-- TMPL_ELSE --><option value="P">專家</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NXME="type_X" --><option value="X" selected="selected">Statistical</option><!-- TMPL_ELSE --><option value="X">Statistical</option><!-- /TMPL_IF -->
					</select>
	</li></ol>
</fieldset>

	<fieldset class="action"><input type="button" value="儲存" onclick="Check(this.form);"> </fieldset>
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_validate" -->
<h3>資料被紀錄</h3>
	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
		<input type="submit" value="完成">
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
	
    	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<fieldset><legend>    	
	<!-- TMPL_IF NAME="totalgtzero" -->
	類別 <!-- TMPL_VAR NAME="categorycode" --> 已經再使用。無法刪除！<!-- TMPL_ELSE -->
確認刪除 '<!-- TMPL_VAR NAME="categorycode" -->' 類別<!-- /TMPL_IF --></legend>

<!-- TMPL_IF NAME="totalgtzero" --><div class="dialog alert"><strong>這個類別使用 <!-- TMPL_VAR NAME="total" --> 次</strong>。不可移除。</div><!-- /TMPL_IF -->
	<table>
	<tr><th scope="row">類別代碼： </th><td><!-- TMPL_VAR NAME="categorycode" --></td></tr>
	<tr><th scope="row">描述： </th><td><!-- TMPL_VAR NAME="description" --></td></tr>
	<tr><th scope="row">註冊有效日期： </th><td><!-- TMPL_VAR NAME="enrolmentperiod" --> 月</td></tr>
	<tr><th scope="row">必須填寫年齡： </th><td><!-- TMPL_VAR NAME="dateofbirthrequired" --> 年</td></tr>
	<tr><th scope="row">年齡上限： </th><td><!-- TMPL_VAR NAME="upperagelimit" --> 年</td></tr>
	<tr><th scope="row">註冊費用： </th><td>$<!-- TMPL_VAR NAME="enrolmentfee" --></td></tr>
	<tr><th scope="row">收到預期通知： </th><td><!-- TMPL_IF NAME="overduenoticerequired" -->是<!-- TMPL_ELSE -->否<!-- /TMPL_IF --></td></tr>
	<tr><th scope="row">預約費用： </th><td>$<!-- TMPL_VAR NAME="reservefee" --></td></tr>
</table>
		<fieldset class="action"><!-- TMPL_IF NAME="totalgtzero" -->
<input type="submit" value="完成"></form>
		<!-- TMPL_ELSE -->
			<input type="hidden" name="op" value="delete_confirmed" />
			<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" -->" /> <input type="submit" value="刪除這個類別"> <a class="cancel" href="/cgi-bin/koha/admin/categorie.pl">取消</a> 
		<!-- /TMPL_IF --></fieldset></fieldset></form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->
<h3>類別被刪除</h3>

        <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="完成">
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("newcategory");
	}

	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newcategory" href="/cgi-bin/koha/admin/categorie.pl?op=add_form">新增類別</a></li>
</ul></div>

<h2>讀者類別管理</h2>
<!-- TMPL_IF NAME="searchfield" -->
		你查詢 <!-- TMPL_VAR NAME="searchfield" --></span>
	<!-- /TMPL_IF -->

        <table>
		<tr>
			<th scope="col">代碼：</th>
			<th scope="col">類別名稱：</th>
			<th scope="col">型式：</th>
			<th scope="col">註冊有效日期：</th>
			<th scope="col">必須填寫年齡：</th>
			<th scope="col">年齡上限：</th>
			<th scope="col">註冊費用：</th>
			<th scope="col">逾期：</th>
 			<th scope="col">預約費用：</th>
			<th scope="col" colspan="2">&nbsp; </th>
		</tr>
		<!-- TMPL_LOOP NAME="loop" -->
		<!-- TMPL_IF NAME="toggle" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
                        <td><!-- TMPL_VAR NAME="categorycode" --></td>
                        <td>
                            <a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="description" --></a>
                        </td>
                        <td>
                            <!-- TMPL_IF NAME="type_A" -->成人<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_C" -->兒童<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_P" -->教授<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_I" -->機構<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_S" -->館員<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_X" -->Statistical<!-- /TMPL_IF -->
                        </td>
                        <td><!-- TMPL_VAR NAME="enrolmentperiod" --> 月</td>
                        <td><!-- TMPL_VAR NAME="dateofbirthrequired" --> 年</td>
			<td><!-- TMPL_VAR NAME="upperagelimit" --> 年</td>
                        <td><!-- TMPL_VAR NAME="enrolmentfee" --></td>
                        <td><!-- TMPL_IF NAME="overduenoticerequired" -->是<!-- TMPL_ELSE -->否<!-- /TMPL_IF --></td>
                        <td><!-- TMPL_VAR NAME="reservefee" --></td>
                        <td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">編輯</a></td>
						<td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=delete_confirm&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">刪除</a></td>
		</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
