<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建立 UNIMARC 字段 115a</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>文档类型</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1a" -->
				<option value="a" SELECTED>电影</option>
			<!-- TMPL_ELSE -->
				<option value="a">电影</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" SELECTED>记录一个电影屏幕</option>
			<!-- TMPL_ELSE -->
				<option value="b">记录一个电影屏幕</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" SELECTED>数据类型</option>
			<!-- TMPL_ELSE -->
				<option value="c">数据类型</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>

   <tr>
                <td>长度</td>
                <td><input type="text" name="f2" maxlength=3 size=4 value="<!-- TMPL_VAR name="f2" -->"></td>

	</tr>


	<tr>
		<td>色彩</td>
		<td>
	<select name="f3" size="1">
			<!-- TMPL_IF name="f1|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3a" -->
				<option value="a" SELECTED>黑白</option>
			<!-- TMPL_ELSE -->
				<option value="a">黑白</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3b" -->
				<option value="b" SELECTED>色彩</option>
			<!-- TMPL_ELSE -->
				<option value="b">色彩</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3c" -->
				<option value="c" SELECTED>黑白及彩色</option>
			<!-- TMPL_ELSE -->
				<option value="c">黑白及彩色</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3z" -->
				<option value="z" SELECTED>Autre (sepia, colorie)</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autre (sepia, colorie)</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>

	<tr>
		<td>Son</td>
		<td>
			<select name="f4" size="1">
			<!-- TMPL_IF name="f4|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->
                	<!-- TMPL_IF name="f4a" -->
				<option value="a" SELECTED>Son sur le document</option>
			<!-- TMPL_ELSE -->
				<option value="a">Son sur le document</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4b" -->
				<option value="b" SELECTED>Piste sonore separee</option>
			<!-- TMPL_ELSE -->
				<option value="b">Piste sonore separee</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4y" -->
				<option value="y" SELECTED>孔径</option>
			<!-- TMPL_ELSE -->
				<option value="y">孔径</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>


	<tr>
		<td>Support son</td>
		<td>
			<select name="f5" size="1">
			<!-- TMPL_IF name="f5|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5a" -->
				<option value="a" SELECTED>Piste son optique sur le film</option>
			<!-- TMPL_ELSE -->
				<option value="a">Piste son optique sur le film</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5b" -->
				<option value="b" SELECTED>Piste son magnetique</option>
			<!-- TMPL_ELSE -->
				<option value="b">Piste son magnetique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5c" -->
				<option value="c" SELECTED>不褐色</option>
			<!-- TMPL_ELSE -->
				<option value="c">不褐色</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5d" -->
				<option value="d" SELECTED>音乐唱片</option>
			<!-- TMPL_ELSE -->
				<option value="d">音乐唱片</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5g" -->
				<option value="g" SELECTED>Piste son optique et magnetique sur le film</option>
			<!-- TMPL_ELSE -->
				<option value="g">Piste son optique et magnetique sur le film</option>

			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f5h" -->
				<option value="h" SELECTED>录像带</option>
			<!-- TMPL_ELSE -->
				<option value="h">录像带</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5i" -->
				<option value="i" SELECTED>影碟、激光视盘（VCD）、数位激光视盘（DVD）</option>
			<!-- TMPL_ELSE -->
				<option value="i">影碟、激光视盘（VCD）、数位激光视盘（DVD）</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5e" -->
				<option value="e" SELECTED>Bande magnetique audio en bobine</option>
			<!-- TMPL_ELSE -->
				<option value="e">Bande magnetique audio en bobine</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5f" -->
				<option value="f" SELECTED>Bande magnetique audio en cassette</option>
			<!-- TMPL_ELSE -->
				<option value="f">Bande magnetique audio en cassette</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5x" -->
				<option value="x" SELECTED>孔径</option>
			<!-- TMPL_ELSE -->
				<option value="x">孔径</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
        </tr>

	<tr>
		<td>发声媒体</td>
		<td>
			<select name="f6" size="1">
			<!-- TMPL_IF name="f6|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6a" -->
				<option value="a" SELECTED>电影片及幻灯卷片 => 8 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="a">电影片及幻灯卷片 => 8 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6b" -->
				<option value="b" SELECTED>电影片及幻灯卷片 => 超 8 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="b">电影片及幻灯卷片 => 超 8 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6c" -->
				<option value="c" SELECTED>电影片及幻灯卷片 => 9.5 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="c">电影片及幻灯卷片 => 9.5 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6d" -->
				<option value="d" SELECTED>电影片及幻灯卷片 => 16 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="d">电影片及幻灯卷片 => 16 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6e" -->
				<option value="e" SELECTED>电影片及幻灯卷片 => 28 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="e">电影片及幻灯卷片 => 28 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6f" -->
				<option value="f" SELECTED>电影片及幻灯卷片 => 35 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="f">电影片及幻灯卷片 => 35 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6g" -->
				<option value="g" SELECTED>电影片及幻灯卷片 => 70 糎米</option>
			<!-- TMPL_ELSE -->
				<option value="g">电影片及幻灯卷片 => 70 糎米</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6k" -->
				<option value="k" SELECTED>幻灯单片（5 1/2 x 5 1/2 公分）</option>
			<!-- TMPL_ELSE -->
				<option value="k">幻灯单片（5 1/2 x 5 1/2 公分）</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6l" -->
				<option value="l" SELECTED>幻灯单片（5 x 5 公分）</option>
			<!-- TMPL_ELSE -->
				<option value="l">幻灯单片（5 x 5 公分）</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6m" -->
				<option value="m" SELECTED>录像带 3/4 吋或 2 公分</option>
			<!-- TMPL_ELSE -->
				<option value="m">录像带 3/4 吋或 2 公分</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6n" -->
				<option value="n" SELECTED>录像带 1/4 吋或 1/2 公分</option>
			<!-- TMPL_ELSE -->
				<option value="n">录像带 1/4 吋或 1/2 公分</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6o" -->
				<option value="o" SELECTED>录像带 2 吋或 1 1/3 公分 </option>
			<!-- TMPL_ELSE -->
				<option value="o">录像带 2 吋或 1 1/3 公分</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6p" -->
				<option value="p" SELECTED>录像带 1 吋或 2 1/2 公分</option>
			<!-- TMPL_ELSE -->
				<option value="p">录像带 1 吋或 2 1/2 公分</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6q" -->
				<option value="q" SELECTED>录像带 2 吋或 5 公分</option>
			<!-- TMPL_ELSE -->
				<option value="q">录像带 2 吋或 5 公分</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6r" -->
				<option value="r" SELECTED>透明片 8 × 10 吋或 20 × 25 公分</option>
			<!-- TMPL_ELSE -->
				<option value="r">透明片 8 × 10 吋或 20 × 25 公分</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f6s" -->
				<option value="s" SELECTED>透明片 4 × 5 吋或 10 × 12.5 公分</option>
			<!-- TMPL_ELSE -->
				<option value="s">透明片 4 × 5 吋或 10 × 12.5 公分</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6t" -->
				<option value="t" SELECTED>透明片 5 × 7 吋或 12.5 × 17.5 公分</option>
			<!-- TMPL_ELSE -->
				<option value="t">透明片 5 × 7 吋或 12.5 × 17.5 公分</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6u" -->
				<option value="u" SELECTED>透明片 7 × 7 吋或 17.5 × 17.5 公分</option>
			<!-- TMPL_ELSE -->
				<option value="u">透明片 7 × 7 吋或 17.5 × 17.5 公分</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6v" -->
				<option value="v" SELECTED>透明片 8 × 8 吋或 20 × 20 公分</option>
			<!-- TMPL_ELSE -->
				<option value="v">透明片 8 × 8 吋或 20 × 20 公分</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6w" -->
				<option value="w" SELECTED>透明片 9 × 9 吋或 22 1/2 × 22 1/2 公分</option>
			<!-- TMPL_ELSE -->
				<option value="w">透明片 8 × 10 吋或 20 × 25 公分</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6x" -->
				<option value="x" SELECTED>透明片 10 × 10 吋或 25 × 25 公分</option>
			<!-- TMPL_ELSE -->
				<option value="x">透明片 10 × 10 吋或 25 × 25 公分</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
        </tr>

	<tr>
		<td>Presentation materielle</td>
		<td>
			<select name="f7" size="1">
			<!-- TMPL_IF name="f7|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7a" -->
				<option value="a" SELECTED>盘式电影片</option>
			<!-- TMPL_ELSE -->
				<option value="a">盘式电影片</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7b" -->
				<option value="b" SELECTED>匣式电影片</option>
			<!-- TMPL_ELSE -->
				<option value="b">匣式电影片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7c" -->
				<option value="c" SELECTED>卡式电影片</option>
			<!-- TMPL_ELSE -->
				<option value="c">卡式电影片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7d" -->
				<option value="d" SELECTED>其他形式电影片</option>
			<!-- TMPL_ELSE -->
				<option value="d">其他形式电影片</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7g" -->
				<option value="g" SELECTED>匣式幻灯卷片</option>
			<!-- TMPL_ELSE -->
				<option value="g">匣式幻灯卷片</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7h" -->
				<option value="h" SELECTED>Film en courtes bandes</option>
			<!-- TMPL_ELSE -->
				<option value="h">Films en courtes bandes</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7i" -->
				<option value="i" SELECTED>Autres types de films fixes</option>
			<!-- TMPL_ELSE -->
				<option value="i">Autres types de films fixes</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7j" -->
				<option value="j" SELECTED>幻灯卷片</option>
			<!-- TMPL_ELSE -->
				<option value="j">幻灯卷片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7k" -->
				<option value="k" SELECTED>其他形式电影片</option>
			<!-- TMPL_ELSE -->
				<option value="k">其他形式电影片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7l" -->
				<option value="l" SELECTED>透明片</option>
			<!-- TMPL_ELSE -->
				<option value="l">透明片</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7x" -->
				<option value="x" SELECTED>非电影片或投影资料</option>
			<!-- TMPL_ELSE -->
				<option value="x">非电影片或投影资料</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7z" -->
				<option value="z" SELECTED>Autres presentations materielles</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autres presentations materielles</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
        </tr>

	<tr>
		<td>Technique: video, film</td>
		<td>
		<select name="f8" size="1">
			<!-- TMPL_IF name="f8|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8a" -->
				<option value="a" SELECTED>动画</option>
			<!-- TMPL_ELSE -->
				<option value="a">动画</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8b" -->
				<option value="b" SELECTED>Prise de vue en direct</option>
			<!-- TMPL_ELSE -->
				<option value="b">Prise de vue en direct</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8c" -->
				<option value="c" SELECTED>动画与实景</option>
			<!-- TMPL_ELSE -->
				<option value="c">动画与实景</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8x" -->
				<option value="x" SELECTED>非电影片或录像数据</option>
			<!-- TMPL_ELSE -->
				<option value="x">非电影片或录像数据</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f8z" -->
				<option value="z" SELECTED>权威记录</option>
			<!-- TMPL_ELSE -->
				<option value="z">权威记录</option>

			<!-- /TMPL_IF -->

				</select>
		</td>

        </tr>

	<tr>
		<td>Format du film</td>
		<td>
			<select name="f9" size="1">
			<!-- TMPL_IF name="f9|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9a" -->
				<option value="a" SELECTED>标准形式</option>
			<!-- TMPL_ELSE -->
				<option value="a">标准形式</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9b" -->
				<option value="b" SELECTED>Sans anamorphose (ecran panoramique)</option>
			<!-- TMPL_ELSE -->
				<option value="b">Sans anamorphose (ecran panoramique)</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9c" -->
				<option value="c" SELECTED>3D</option>
			<!-- TMPL_ELSE -->
				<option value="c">3D</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9d" -->
				<option value="d" SELECTED>测地卫星（earth resources）</option>
			<!-- TMPL_ELSE -->
				<option value="d">测地卫星（earth resources）</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9e" -->
				<option value="e" SELECTED>标准无声孔径</option>
			<!-- TMPL_ELSE -->
				<option value="e">标准无声孔径</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9f" -->
				<option value="f" SELECTED>Autre format en grand ecran</option>
			<!-- TMPL_ELSE -->
				<option value="f">Autre format en grand ecran</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9x" -->
				<option value="x" SELECTED>非电影片</option>
			<!-- TMPL_ELSE -->
				<option value="x">非电影片</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f9u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->

				</select>
		</td>
        </tr>

	<tr>
		<td>附件 1</td>
		<td>
			<select name="f10" size="1">
			<!-- TMPL_IF name="f10|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10a" -->
				<option value="a" SELECTED>Cliche tire du film</option>
			<!-- TMPL_ELSE -->
				<option value="a">Cliche tire du film</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10b" -->
				<option value="b" SELECTED>脚本</option>
			<!-- TMPL_ELSE -->
				<option value="b">脚本</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10c" -->
				<option value="c" SELECTED>海报</option>
			<!-- TMPL_ELSE -->
				<option value="c">海报</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10d" -->
				<option value="d" SELECTED>节目单和宣传册</option>
			<!-- TMPL_ELSE -->
				<option value="d">节目单和宣传册</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10e" -->
				<option value="e" SELECTED>休息室卡</option>
			<!-- TMPL_ELSE -->
				<option value="e">休息室卡</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10f" -->
				<option value="f" SELECTED>教材</option>
			<!-- TMPL_ELSE -->
				<option value="f">教材</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10g" -->
				<option value="g" SELECTED>Partition ou autre presentation de musique</option>
			<!-- TMPL_ELSE -->
				<option value="g">Partition ou autre presentation de musique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f10h" -->
				<option value="h" SELECTED>Esquisse ou projet de costumes</option>
			<!-- TMPL_ELSE -->
				<option value="h">Esquisse ou projet de costumes</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10z" -->
				<option value="z" SELECTED>Autres materiels d'accompagnement</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autres materiels d'accompagnement</option>
			<!-- /TMPL_IF -->

				</select>
		</td>
		<td>附件 2</td>
		<td>
			<select name="f11" size="1">
			<!-- TMPL_IF name="f11|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f11a" -->
				<option value="a" SELECTED>Cliche tire du film</option>
			<!-- TMPL_ELSE -->
				<option value="a">Cliche tire du film</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11b" -->
				<option value="b" SELECTED>脚本</option>
			<!-- TMPL_ELSE -->
				<option value="b">脚本</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11c" -->
				<option value="c" SELECTED>海报</option>
			<!-- TMPL_ELSE -->
				<option value="c">海报</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11d" -->
				<option value="d" SELECTED>节目单和宣传册</option>
			<!-- TMPL_ELSE -->
				<option value="d">节目单和宣传册</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11e" -->
				<option value="e" SELECTED>休息室卡</option>
			<!-- TMPL_ELSE -->
				<option value="e">休息室卡</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11f" -->
				<option value="f" SELECTED>教材</option>
			<!-- TMPL_ELSE -->
				<option value="f">教材</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11g" -->
				<option value="g" SELECTED>Partition ou autre presentation de musique</option>
			<!-- TMPL_ELSE -->
				<option value="g">Partition ou autre presentation de musique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f11h" -->
				<option value="h" SELECTED>Esquisse ou projet de costumes</option>
			<!-- TMPL_ELSE -->
				<option value="h">Esquisse ou projet de costumes</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11z" -->
				<option value="z" SELECTED>Autres materiels d'accompagnement</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autres materiels d'accompagnement</option>

			<!-- /TMPL_IF -->

				</select>
		</td>
        </tr>

	<tr>
		<td>附件 3</td>
		<td>
			<select name="f12" size="1">
			<!-- TMPL_IF name="f12|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12a" -->
				<option value="a" SELECTED>Cliche tire du film</option>
			<!-- TMPL_ELSE -->
				<option value="a">Cliche tire du film</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12b" -->
				<option value="b" SELECTED>脚本</option>
			<!-- TMPL_ELSE -->
				<option value="b">脚本</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12c" -->
				<option value="c" SELECTED>海报</option>
			<!-- TMPL_ELSE -->
				<option value="c">海报</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12d" -->
				<option value="d" SELECTED>节目单和宣传册</option>
			<!-- TMPL_ELSE -->
				<option value="d">节目单和宣传册</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12e" -->
				<option value="e" SELECTED>休息室卡</option>
			<!-- TMPL_ELSE -->
				<option value="e">休息室卡</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12f" -->
				<option value="f" SELECTED>教材</option>
			<!-- TMPL_ELSE -->
				<option value="f">教材</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12g" -->
				<option value="g" SELECTED>Partition ou autre presentation de musique</option>
			<!-- TMPL_ELSE -->
				<option value="g">Partition ou autre presentation de musique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f12h" -->
				<option value="h" SELECTED>Esquisse ou projet de costumes</option>
			<!-- TMPL_ELSE -->
				<option value="h">Esquisse ou projet de costumes</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12z" -->
				<option value="z" SELECTED>Autres materiels d'accompagnement</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autres materiels d'accompagnement</option>
			<!-- /TMPL_IF -->

				</select>
		</td>
		<td>附件 4</td>
		<td>
			<select name="f13" size="1">
			<!-- TMPL_IF name="f13|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13a" -->
				<option value="a" SELECTED>Cliche tire du film</option>
			<!-- TMPL_ELSE -->
				<option value="a">Cliche tire du film</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13b" -->
				<option value="b" SELECTED>脚本</option>
			<!-- TMPL_ELSE -->
				<option value="b">脚本</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13c" -->
				<option value="c" SELECTED>海报</option>
			<!-- TMPL_ELSE -->
				<option value="c">海报</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13d" -->
				<option value="d" SELECTED>节目单和宣传册</option>
			<!-- TMPL_ELSE -->
				<option value="d">节目单和宣传册</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13e" -->
				<option value="e" SELECTED>休息室卡</option>
			<!-- TMPL_ELSE -->
				<option value="e">休息室卡</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f13f" -->
				<option value="f" SELECTED>教材</option>
			<!-- TMPL_ELSE -->
				<option value="f">教材</option>

			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f13g" -->
				<option value="g" SELECTED>Partition ou autre presentation de musique</option>
			<!-- TMPL_ELSE -->
				<option value="g">Partition ou autre presentation de musique</option>

			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f13h" -->
				<option value="h" SELECTED>Esquisse ou projet de costumes</option>
			<!-- TMPL_ELSE -->
				<option value="h">Esquisse ou projet de costumes</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13z" -->
				<option value="z" SELECTED>Autres materiels d'accompagnement</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autres materiels d'accompagnement</option>

			<!-- /TMPL_IF -->

				</select>
		</td>

        </tr>

<tr>		<td>Presentation materielle: video</td>
		<td>
			<select name="f14" size="1">
			<!-- TMPL_IF name="f14|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14a" -->
				<option value="a" SELECTED>匣式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="a">匣式录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14b" -->
				<option value="b" SELECTED>影碟、激光视盘（VCD）、数位激光视盘（DVD）</option>
			<!-- TMPL_ELSE -->
				<option value="b">影碟、激光视盘（VCD）、数位激光视盘（DVD）</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14c" -->
				<option value="c" SELECTED>录像带</option>
			<!-- TMPL_ELSE -->
				<option value="c">录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14d" -->
				<option value="d" SELECTED>盘式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="d">盘式录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14e" -->
				<option value="e" SELECTED>电子录制图像</option>
			<!-- TMPL_ELSE -->
				<option value="e">电子录制图像</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14x" -->
				<option value="x" SELECTED>非录像数据</option>
			<!-- TMPL_ELSE -->
				<option value="x">非录像数据</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14z" -->
				<option value="z" SELECTED>权威记录类别管理</option>
			<!-- TMPL_ELSE -->
				<option value="z">权威记录类别管理</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
</tr>	
<tr>		<td>格式：视频</td>
		<td>
			<select name="f15" size="1">
			<!-- TMPL_IF name="f15|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15a" -->
				<option value="a" SELECTED>Beta 卡式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="a">Beta 卡式录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15b" -->
				<option value="b" SELECTED>VHS 卡式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="b">VHS 卡式录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15c" -->
				<option value="c" SELECTED>U-matic 卡式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="c">U-matic 卡式录像带</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15d" -->
				<option value="d" SELECTED>EIAJ 盘式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="d">EIAJ 盘式录像带</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15e" -->
				<option value="e" SELECTED>C 型盘式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="e">C 型盘式录像带</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f15f" -->
				<option value="f" SELECTED>Quadruplex</option>
			<!-- TMPL_ELSE -->
				<option value="f">Quadruplex</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f15g" -->
				<option value="g" SELECTED>反射式影碟</option>
			<!-- TMPL_ELSE -->
				<option value="g">反射式影碟</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15h" -->
				<option value="h" SELECTED>静电容量式影碟</option>
			<!-- TMPL_ELSE -->
				<option value="h">静电容量式影碟</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15i" -->
				<option value="i" SELECTED>V2000 卡式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="i">V2000 卡式录像带</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15j" -->
				<option value="j" SELECTED>8 厘米卡式录像带</option>
			<!-- TMPL_ELSE -->
				<option value="j">8 厘米卡式录像带</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15x" -->
				<option value="x" SELECTED>非录像数据</option>
			<!-- TMPL_ELSE -->
				<option value="x">非录像数据</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
</tr>	
<tr>		<td>Support de l'emulsion</td>
		<td>
			<select name="f16" size="1">
				<!-- TMPL_IF name="f16|" -->
            		<option value="|" SELECTED>|- 数据单元代码</option>
	            <!-- TMPL_ELSE -->
    	        	<option value="|">|- 数据单元代码</option>
        	    <!-- /TMPL_IF -->

				<!-- TMPL_IF name="f16a" -->
					<option value="a" SELECTED>安全胶卷</option>
				<!-- TMPL_ELSE -->
					<option value="a">安全胶卷</option>
				<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f16b" -->
				<option value="b" SELECTED>Support film autre que film de securite</option>
			<!-- TMPL_ELSE -->
				<option value="b">Support film autre que film de securite</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f16c" -->
				<option value="c" SELECTED>Synthetique</option>
			<!-- TMPL_ELSE -->
				<option value="c">Synthetique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f16u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f16v" -->
				<option value="v" SELECTED>Supports varies</option>
			<!-- TMPL_ELSE -->
				<option value="v">Supports varies</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f16x" -->
				<option value="x" SELECTED>非投影资料</option>
			<!-- TMPL_ELSE -->
				<option value="x">非投影资料</option>

			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f16z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
</tr>	
<tr>		<td>Support secondaire</td>
		<td>
			<select name="f17" size="1">
			<!-- TMPL_IF name="f17|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17a" -->
				<option value="a" SELECTED>纸板</option>
			<!-- TMPL_ELSE -->
				<option value="a">纸板</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17b" -->
				<option value="b" SELECTED>玻璃</option>
			<!-- TMPL_ELSE -->
				<option value="b">玻璃</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17c" -->
				<option value="c" SELECTED>Synthetique</option>
			<!-- TMPL_ELSE -->
				<option value="c">Synthetique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17d" -->
				<option value="d" SELECTED>金属</option>
			<!-- TMPL_ELSE -->
				<option value="d">金属</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17e" -->
				<option value="e" SELECTED>金属及玻璃</option>
			<!-- TMPL_ELSE -->
				<option value="e">金属及玻璃</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f17f" -->
				<option value="f" SELECTED>Synthetique</option>
			<!-- TMPL_ELSE -->
				<option value="f">Synthetique</option>

			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f17u" -->
				<option value="u" SELECTED>不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17x" -->
				<option value="x" SELECTED>非投影资料</option>
			<!-- TMPL_ELSE -->
				<option value="x">非投影资料</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17y" -->
				<option value="y" SELECTED>无装框</option>
			<!-- TMPL_ELSE -->
				<option value="y">无装框</option>

			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
</tr>	
<tr>		<td>Normes de diffusion des enregistrements video</td>
		<td>
			<select name="f18" size="1">
			<!-- TMPL_IF name="f18|" -->
            	<option value="|" SELECTED>|- 数据单元代码</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- 数据单元代码</option>
            <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f18a" -->
				<option value="a" SELECTED>405</option>
			<!-- TMPL_ELSE -->
				<option value="a">405</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f18b" -->
				<option value="b" SELECTED>525</option>
			<!-- TMPL_ELSE -->
				<option value="b">525</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f18c" -->
				<option value="c" SELECTED>625 PAL</option>
			<!-- TMPL_ELSE -->
				<option value="c">625 PAL</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f18d" -->
				<option value="d" SELECTED>625 SECAM</option>
			<!-- TMPL_ELSE -->
				<option value="d">625 SECAM</option>

			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f18g" -->
				<option value="g" SELECTED>1125</option>
			<!-- TMPL_ELSE -->
				<option value="g">1125</option>

			<!-- /TMPL_IF -->
				</select>
		</td>
</tr>	
	
	<tr><td colspan=2><input type="button" value="完成" onclick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
        document.f_pop.f2.value=document.f_pop.f2.value+'   ';
        document.f_pop.f2.value=document.f_pop.f2.value.substring(0,3);

        var doc   = opener.document; 
        var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
        field.value =  document.f_pop.f1.value +document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value+document.f_pop.f10.value+document.f_pop.f11.value+document.f_pop.f12.value+document.f_pop.f13.value+document.f_pop.f14.value+document.f_pop.f15.value+document.f_pop.f16.value+document.f_pop.f17.value+document.f_pop.f18.value;
		self.close();
		return false;
	}
</script>
</body>
</html>
