<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建立 UNIMARC 字段 124f</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>Nom du satellite pour la teledetection:</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1aa" -->
				<option value="aa" SELECTED>三人组</option>
			<!-- TMPL_ELSE -->
				<option value="aa">三人组</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ab" -->
				<option value="ab" SELECTED>ATS</option>
			<!-- TMPL_ELSE -->
				<option value="ab">ATS</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ac" -->
				<option value="ac" SELECTED>美国国家海洋和大气局（NOAA）</option>
			<!-- TMPL_ELSE -->
				<option value="ac">美国国家海洋和大气局（NOAA）</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ad" -->
				<option value="ad" SELECTED>Nimbus</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Nimbus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ae" -->
				<option value="ae" SELECTED>气象卫星</option>
			<!-- TMPL_ELSE -->
				<option value="ae">气象卫星</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ma" -->
				<option value="ma" SELECTED>探测者一号</option>
			<!-- TMPL_ELSE -->
				<option value="ma">探测者一号</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1mb" -->
				<option value="mb" SELECTED>探测者二号</option>
			<!-- TMPL_ELSE -->
				<option value="mb">探测者二号</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ga" -->
				<option value="ga" SELECTED>ERTS</option>
			<!-- TMPL_ELSE -->
				<option value="ga">ERTS</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gb" -->
				<option value="gb" SELECTED>Landsat I</option>
			<!-- TMPL_ELSE -->
				<option value="gb">Landsat I</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gc" -->
				<option value="gc" SELECTED>Landsat II</option>
			<!-- TMPL_ELSE -->
				<option value="gc">Landsat II</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gd" -->
				<option value="gd" SELECTED>Landsat III</option>
			<!-- TMPL_ELSE -->
				<option value="gd">Landsat III</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ge" -->
				<option value="ge" SELECTED>海洋资源</option>
			<!-- TMPL_ELSE -->
				<option value="ge">海洋资源</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gf" -->
				<option value="gf" SELECTED>Skylab</option>
			<!-- TMPL_ELSE -->
				<option value="gf">Skylab</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gg" -->
				<option value="gg" SELECTED>空间实验室</option>
			<!-- TMPL_ELSE -->
				<option value="gg">空间实验室</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gk" -->
				<option value="gk" SELECTED>地点1</option>
			<!-- TMPL_ELSE -->
				<option value="gk">地点1</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gl" -->
				<option value="gl" SELECTED>地点2</option>
			<!-- TMPL_ELSE -->
				<option value="gl">地点2</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gm" -->
				<option value="gm" SELECTED>地点3</option>
			<!-- TMPL_ELSE -->
				<option value="gm">地点3</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1gz" -->
				<option value="gz" SELECTED>Autres codes</option>
			<!-- TMPL_ELSE -->
				<option value="gz">Autres codes</option>
			<!-- /TMPL_IF -->
			</select>
		</td></tr>
	<tr><td colspan=2><input type="button" value="完成" onclick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value =  document.f_pop.f1.value;
	    self.close();
	    return false;
	}
</script>
</body>
</html>
