<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建立 UNIMARC 字段 141</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>装订材质代码 1：</td>
		<td>
			<select name="f1" size="1">
            
			<!-- TMPL_IF name="f1 " -->
				<option value=" " SELECTED>无需填写</option>
			<!-- TMPL_ELSE -->
				<option value=" ">无需填写</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1a" -->
				<option value="a" SELECTED>羊皮纸</option>
			<!-- TMPL_ELSE -->
				<option value="a">羊皮纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" SELECTED>皮革</option>
			<!-- TMPL_ELSE -->
				<option value="b">皮革</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" SELECTED>Bois</option>
			<!-- TMPL_ELSE -->
				<option value="c">Bois</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1d" -->
				<option value="d" SELECTED>纺织品</option>
			<!-- TMPL_ELSE -->
				<option value="d">纺织品</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1e" -->
				<option value="e" SELECTED>合成</option>
			<!-- TMPL_ELSE -->
				<option value="e">合成</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1f" -->
				<option value="f" SELECTED>纸板</ption>
			<!-- TMPL_ELSE -->
				<option value="f">纸板</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1g" -->
				<option value="g" SELECTED>纸</option>
			<!-- TMPL_ELSE -->
				<option value="g">纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1h" -->
				<option value="h" SELECTED>未装订</option>
			<!-- TMPL_ELSE -->
				<option value="h">未装订</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
	</select>
		</td></tr>	<tr>
		<td>装订材质代码 2：</td>
		<td>
			<select name="f2" size="1">
            
			<!-- TMPL_IF name="f2 " -->
				<option value=" " SELECTED>无需填写</option>
			<!-- TMPL_ELSE -->
				<option value=" ">无需填写</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2a" -->
				<option value="a" SELECTED>羊皮纸</option>
			<!-- TMPL_ELSE -->
				<option value="a">羊皮纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2b" -->
				<option value="b" SELECTED>皮革</option>
			<!-- TMPL_ELSE -->
				<option value="b">皮革</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2c" -->
				<option value="c" SELECTED>Bois</option>
			<!-- TMPL_ELSE -->
				<option value="c">Bois</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2d" -->
				<option value="d" SELECTED>纺织品</option>
			<!-- TMPL_ELSE -->
				<option value="d">纺织品</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2e" -->
				<option value="e" SELECTED>合成</option>
			<!-- TMPL_ELSE -->
				<option value="e">合成</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2f" -->
				<option value="f" SELECTED>纸板</ption>
			<!-- TMPL_ELSE -->
				<option value="f">纸板</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2g" -->
				<option value="g" SELECTED>纸</option>
			<!-- TMPL_ELSE -->
				<option value="g">纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2h" -->
				<option value="h" SELECTED>未装订</option>
			<!-- TMPL_ELSE -->
				<option value="h">未装订</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
	</select>
		</td></tr>
                <tr>
		<td>装订材质代码 3：</td>
		<td>
			<select name="f3" size="1">
                        <!-- TMPL_IF name="f3 " -->
                                <option value=" " SELECTED>无需填写</option>
                        <!-- TMPL_ELSE -->
                                <option value=" ">无需填写</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3a" -->
				<option value="a" SELECTED>羊皮纸</option>
			<!-- TMPL_ELSE -->
				<option value="a">羊皮纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3b" -->
				<option value="b" SELECTED>皮革</option>
			<!-- TMPL_ELSE -->
				<option value="b">皮革</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3c" -->
				<option value="c" SELECTED>Bois</option>
			<!-- TMPL_ELSE -->
				<option value="c">Bois</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3d" -->
				<option value="d" SELECTED>纺织品</option>
			<!-- TMPL_ELSE -->
				<option value="d">纺织品</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3e" -->
				<option value="e" SELECTED>合成</option>
			<!-- TMPL_ELSE -->
				<option value="e">合成</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3f" -->
				<option value="f" SELECTED>纸板</ption>
			<!-- TMPL_ELSE -->
				<option value="f">纸板</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3g" -->
				<option value="g" SELECTED>纸</option>
			<!-- TMPL_ELSE -->
				<option value="g">纸</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3h" -->
				<option value="h" SELECTED>未装订</option>
			<!-- TMPL_ELSE -->
				<option value="h">未装订</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
	</select>
		</td></tr>
		<td>装订形式代码：</td>
		<td>
			<select name="f4" size="1">

			<!-- TMPL_IF name="f4a" -->
				<option value="a" SELECTED>原始装订</option>
			<!-- TMPL_ELSE -->
				<option value="a">原始装订</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4b" -->
				<option value="b" SELECTED>Deuxieme reliure</option>
			<!-- TMPL_ELSE -->
				<option value="b">Deuxieme reliure</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4c" -->
				<option value="c" SELECTED>Reliure moderne</option>
			<!-- TMPL_ELSE -->
				<option value="c">Reliure moderne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4d" -->
				<option value="d" SELECTED>Restauree, fac simile</option>
			<!-- TMPL_ELSE -->
				<option value="d">Restauree, fac simile</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4e" -->
				<option value="e" SELECTED>Restauree, imitation</option>
			<!-- TMPL_ELSE -->
				<option value="e">Restauree, imitation</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4f" -->
				<option value="f" SELECTED>Reliee avec un autre</option>
			<!-- TMPL_ELSE -->
				<option value="f">Reliee avec un autre</ption>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4h" -->
				<option value="h" SELECTED>未装订</option>
			<!-- TMPL_ELSE -->
				<option value="h">未装订</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
		</td></tr>	<tr>
		<td>Relie avec:</td>
		<td>
			<select name="f5" size="1">

			<!-- TMPL_IF name="f50" -->
				<option value="0" SELECTED>Relie seul</option>
			<!-- TMPL_ELSE -->
				<option value="0">Relie seul</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f51" -->
				<option value="1" SELECTED>Relie avec d'autre</option>
			<!-- TMPL_ELSE -->
				<option value="1">Relie avec d'autre</option>
			<!-- /TMPL_IF -->
		</td></tr><tr>
	<td>装订保存情况代码：</td>
		<td>
			<select name="f6" size="1">

			<!-- TMPL_IF name="f6a" -->
				<option value="a" SELECTED>极优</option>
			<!-- TMPL_ELSE -->
				<option value="a">极优</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6b" -->
				<option value="b" SELECTED>良好</option>
			<!-- TMPL_ELSE -->
				<option value="b">良好</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6c" -->
				<option value="c" SELECTED>使用</option>
			<!-- TMPL_ELSE -->
				<option value="c">使用</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6d" -->
				<option value="d" SELECTED>损坏</option>
			<!-- TMPL_ELSE -->
				<option value="d">损坏</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6e" -->
				<option value="e" SELECTED>书背残缺</option>
			<!-- TMPL_ELSE -->
				<option value="e">书背残缺</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6f" -->
				<option value="f" SELECTED>Pages manquantes</option>
			<!-- TMPL_ELSE -->
				<option value="f">Pages manquantes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
</td></tr><tr>
	<td>Etat de conservation - livre 1 :</td>
		<td>
			<select name="f7" size="1">

			<!-- TMPL_IF name="f7a" -->
				<option value="a" SELECTED>极优</option>
			<!-- TMPL_ELSE -->
				<option value="a">极优</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7b" -->
				<option value="b" SELECTED>良好</option>
			<!-- TMPL_ELSE -->
				<option value="b">良好</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7c" -->
				<option value="c" SELECTED>使用</option>
			<!-- TMPL_ELSE -->
				<option value="c">使用</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7d" -->
				<option value="d" SELECTED>损坏</option>
			<!-- TMPL_ELSE -->
				<option value="d">损坏</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7e" -->
				<option value="e" SELECTED>书背残缺</option>
			<!-- TMPL_ELSE -->
				<option value="e">书背残缺</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7f" -->
				<option value="f" SELECTED>Pages manquantes</option>
			<!-- TMPL_ELSE -->
				<option value="f">Pages manquantes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
</td></tr><tr>
	<td>Etat de conservation - livre 2 :</td>
		<td>
			<select name="f8" size="1">

			<!-- TMPL_IF name="f8a" -->
				<option value="a" SELECTED>极优</option>
			<!-- TMPL_ELSE -->
				<option value="a">极优</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8b" -->
				<option value="b" SELECTED>良好</option>
			<!-- TMPL_ELSE -->
				<option value="b">良好</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8c" -->
				<option value="c" SELECTED>使用</option>
			<!-- TMPL_ELSE -->
				<option value="c">使用</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8d" -->
				<option value="d" SELECTED>损坏</option>
			<!-- TMPL_ELSE -->
				<option value="d">损坏</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8e" -->
				<option value="e" SELECTED>书背残缺</option>
			<!-- TMPL_ELSE -->
				<option value="e">书背残缺</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8f" -->
				<option value="f" SELECTED>Pages manquantes</option>
			<!-- TMPL_ELSE -->
				<option value="f">Pages manquantes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8z" -->
				<option value="z" SELECTED>其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
</td></tr>
	<tr><td colspan=2><input type="button" value="完成" onclick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
    function report() {
        var doc   = opener.document; 
        var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
    
        field.value =  document.f_pop.f1.value+document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value;
        self.close();
        return false;
    }
</script>
</body>
</html>
