<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>建立 UNIMARC 字段 110</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>数据类型代码</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f1a" -->
				<option value="a" selected="selected">期刊</option>
			<!-- TMPL_ELSE -->
				<option value="a">期刊</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" selected="selected">集丛</option>
			<!-- TMPL_ELSE -->
				<option value="b">集丛</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" selected="selected">期刊</option>
			<!-- TMPL_ELSE -->
				<option value="c">期刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1z" -->
				<option value="z" selected="selected">其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>

	<tr>
		<td>刊期</td>
		<td>
			<select name="f2" size="1">
			<!-- TMPL_IF name="f2|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f2a" -->
				<option value="a" selected="selected">Quotidien</option>
			<!-- TMPL_ELSE -->
				<option value="a">Quotidien</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2b" -->
				<option value="b" selected="selected">半周刊</option>
			<!-- TMPL_ELSE -->
				<option value="b">半周刊</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2c" -->
				<option value="c" selected="selected">周刊</option>
			<!-- TMPL_ELSE -->
				<option value="c">周刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2d" -->
				<option value="d" selected="selected">双周刊</option>
			<!-- TMPL_ELSE -->
				<option value="d">双周刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2e" -->
				<option value="e" selected="selected">半月刊</option>
			<!-- TMPL_ELSE -->
				<option value="e">半月刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2f" -->
				<option value="f" selected="selected">月刊</option>
			<!-- TMPL_ELSE -->
				<option value="f">月刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2g" -->
				<option value="g" selected="selected">双月刊</option>
			<!-- TMPL_ELSE -->
				<option value="g">双月刊</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2h" -->
				<option value="h" selected="selected">季刊</option>
			<!-- TMPL_ELSE -->
				<option value="h">季刊</option>
			<!-- /TMPL_IF -->

 			<!-- TMPL_IF name="f2i" -->
				<option value="i" selected="selected">一年三次</option>
			<!-- TMPL_ELSE -->
				<option value="i">一年三次</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f2j" -->
				<option value="j" selected="selected">Semestriel</option>
			<!-- TMPL_ELSE -->
				<option value="j">Semestriel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2k" -->
				<option value="k" selected="selected">年鉴</option>
			<!-- TMPL_ELSE -->
				<option value="k">年鉴</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2l" -->
				<option value="l" selected="selected">半年刊</option>
			<!-- TMPL_ELSE -->
				<option value="l">半年刊</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2m" -->
				<option value="m" selected="selected">三年刊</option>
			<!-- TMPL_ELSE -->
				<option value="m">三年刊</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2n" -->
				<option value="n" selected="selected">一周三次</option>
			<!-- TMPL_ELSE -->
				<option value="n">一周三次</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2o" -->
				<option value="o" selected="selected">一月三次</option>
			<!-- TMPL_ELSE -->
				<option value="o">一月三次</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2u" -->
				<option value="u" selected="selected">不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2y" -->
				<option value="y" selected="selected">开始时间</option>
			<!-- TMPL_ELSE -->
				<option value="y">开始时间</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2i" -->
				<option value="i" selected="selected">其他</option>
			<!-- TMPL_ELSE -->
				<option value="i">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>
	<tr>
		<td>Regularite</td>
		<td>
			<select name="f3" size="1">
			<!-- TMPL_IF name="f3|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f3u" -->
				<option value="u" selected="selected">不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3a" -->
				<option value="a" selected="selected">Regulier</option>
			<!-- TMPL_ELSE -->
				<option value="a">Regulier</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3b" -->
				<option value="b" selected="selected">定期性的不规则（如月刊，除7—8 月外）</option>
			<!-- TMPL_ELSE -->
				<option value="b">定期性的不规则（如月刊，除7—8 月外）</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3y" -->
				<option value="y" selected="selected">不正常</option>
			<!-- TMPL_ELSE -->
				<option value="y">不正常</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>

	<tr>
		<td>参考数据类型</td>
		<td>
			<select name="f4" size="1">
			<!-- TMPL_IF name="f4|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
                    <!-- TMPL_IF name="f4 " -->
                        <option value=" " selected="selected">无需填写</option>
                        <!-- TMPL_ELSE -->
                        <option value=" ">无需填写</option>
                    <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4a" -->
				<option value="a" selected="selected">书目</option>
			<!-- TMPL_ELSE -->
				<option value="a">书目</option>
	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4b" -->
				<option value="b" selected="selected">馆藏目录</option>
			<!-- TMPL_ELSE -->
				<option value="b">馆藏目录</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4c" -->
				<option value="c" selected="selected">索引</option>
			<!-- TMPL_ELSE -->
				<option value="c">索引</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4d" -->
				<option value="d" selected="selected">Resume ou extraits</option>
			<!-- TMPL_ELSE -->
				<option value="d">Resume ou extraits</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4e" -->
				<option value="e" selected="selected">字典查询</option>
			<!-- TMPL_ELSE -->
				<option value="e">字典查询</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4f" -->
				<option value="f" selected="selected">百科全书</option>
			<!-- TMPL_ELSE -->
				<option value="f">百科全书</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4g" -->
				<option value="g" selected="selected">Repertoire</option>
			<!-- TMPL_ELSE -->
				<option value="g">Repertoire</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4h" -->
				<option value="h" selected="selected">年鉴、年报</option>
			<!-- TMPL_ELSE -->
				<option value="h">年鉴、年报</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4i" -->
				<option value="i" selected="selected">Statistiques</option>
			<!-- TMPL_ELSE -->
				<option value="i">Statistiques</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4j" -->
				<option value="j" selected="selected">编序教材</option>
			<!-- TMPL_ELSE -->
				<option value="j">编序教材</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4k" -->
				<option value="k" selected="selected">Revue critique</option>
			<!-- TMPL_ELSE -->
				<option value="k">Revue critique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4l" -->
				<option value="l" selected="selected">法规</option>
			<!-- TMPL_ELSE -->
				<option value="l">法规</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4m" -->
				<option value="m" selected="selected">判决报导及摘要</option>
			<!-- TMPL_ELSE -->
				<option value="m">判决报导及摘要</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4n" -->
				<option value="n" selected="selected">法律论文</option>
			<!-- TMPL_ELSE -->
				<option value="n">法律论文</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4o" -->
				<option value="o" selected="selected">Procès et compte rendu judiciaire</option>
			<!-- TMPL_ELSE -->
				<option value="o">Procès et compte rendu judiciaire</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4p" -->
				<option value="p" selected="selected">传记代码</option>
			<!-- TMPL_ELSE -->
				<option value="p">传记代码</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4r" -->
				<option value="r" selected="selected">Synthese bibliographique</option>
			<!-- TMPL_ELSE -->
				<option value="r">Synthese bibliographique</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4t" -->
				<option value="t" selected="selected">漫画、连环图书</option>
			<!-- TMPL_ELSE -->
				<option value="t">漫画、连环图书</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f4z" -->
				<option value="z" selected="selected">Autre forme de contenu</option>
			<!-- TMPL_ELSE -->
				<option value="z">Autre forme de contenu</option>
			<!-- /TMPL_IF -->

				</select>
		</td>

        </tr>
   <tr>
                <td>内容性质代码</td>
                <td><input type="text" name="f5" maxlength="3" size="4" value="<!-- TMPL_VAR name="f5" -->"></td>

	</tr>
	<tr>
		<td>题名页</td>
		<td>
			<select name="f6" size="1">
			<!-- TMPL_IF name="f6|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
                        
			<!-- TMPL_IF name="f60" -->
				<option value="0" selected="selected">非会议出版品</option>
			<!-- TMPL_ELSE -->
				<option value="0">非会议出版品</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f61" -->
				<option value="1" selected="selected">会议出版品</option>
			<!-- TMPL_ELSE -->
				<option value="1">会议出版品</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>

			<td>existence de la page de titre</td>
		<td>
			<select name="f7" size="1">
			<!-- TMPL_IF name="f7|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
                        
			<!-- TMPL_IF name="f7a" -->
				<option value="a" selected="selected">活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="a">活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7b" -->
				<option value="b" selected="selected">刊于每卷之最后一期</option>
			<!-- TMPL_ELSE -->
				<option value="b">刊于每卷之最后一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f7c" -->
				<option value="c" selected="selected">活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="c">活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f7d" -->
				<option value="d" selected="selected">刊于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="d">刊于下一卷之第一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f7e" -->
				<option value="e" selected="selected">单独刊行，免费备索</option>
			<!-- TMPL_ELSE -->
				<option value="e">单独刊行，免费备索</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7f" -->
				<option value="f" selected="selected">单独刊行，寄赠</option>
			<!-- TMPL_ELSE -->
				<option value="f">单独刊行，寄赠</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f7g" -->
				<option value="g" selected="selected">单独刊行，由出版商装订发售</option>
			<!-- TMPL_ELSE -->
				<option value="g">单独刊行，由出版商装订发售</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7u" -->
				<option value="u" selected="selected">不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7x" -->
				<option value="x" selected="selected">如不适用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不适用</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7y" -->
				<option value="y" selected="selected">Pas de page de titre parue</option>
			<!-- TMPL_ELSE -->
				<option value="y">Pas de page de titre parue</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f7z" -->
				<option value="z" selected="selected">其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>

	<tr>
		<td>汇编索引来源代码</td>
		<td>
			<select name="f8" size="1">
			<!-- TMPL_IF name="f8|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f8a" -->
				<option value="a" selected="selected">每期附有活页之索引</option>
			<!-- TMPL_ELSE -->
				<option value="a">每期附有活页之索引</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f8b" -->
				<option value="b" selected="selected">面数另计之活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="b">面数另计之活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f8c" -->
				<option value="c" selected="selected">面数不计之活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="c">面数不计之活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f8d" -->
				<option value="d" selected="selected">刊于每卷之最后一期</option>
			<!-- TMPL_ELSE -->
				<option value="d">刊于每卷之最后一期</option>
			<!-- /TMPL_IF -->


			<!-- TMPL_IF name="f8e" -->
				<option value="b" selected="selected">面数另计之活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="b">面数另计之活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8f" -->
				<option value="f" selected="selected">面数不计之活页、附于下一卷之第一期</option>
			<!-- TMPL_ELSE -->
				<option value="f">面数不计之活页、附于下一卷之第一期</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8g" -->
				<option value="g" selected="selected">刊于每卷之最后一期</option>
			<!-- TMPL_ELSE -->
				<option value="g">刊于每卷之最后一期
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8h" -->
				<option value="h" selected="selected">单独刊行，寄赠</option>
			<!-- TMPL_ELSE -->
				<option value="h">单独刊行，寄赠</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8i" -->
				<option value="i" selected="selected">单独刊行，免费备索</option>
			<!-- TMPL_ELSE -->
				<option value="i">单独刊行，免费备索</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8j" -->
				<option value="j" selected="selected">单独刊行，由出版商装订寄赠</option>
			<!-- TMPL_ELSE -->
				<option value="j">单独刊行，由出版商装订寄赠</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8k" -->
				<option value="k" selected="selected">单独刊行，由出版商装订发售</option>
			<!-- TMPL_ELSE -->
				<option value="k">单独刊行，由出版商装订发售</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8l" -->
				<option value="l" selected="selected">单独刊行，由出版商装订发售</option>
			<!-- TMPL_ELSE -->
				<option value="l">单独刊行，由出版商装订发售</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8m" -->
				<option value="m" selected="selected">Supplement ou sous-serie indexe dans la publication mere</option>
			<!-- TMPL_ELSE -->
				<option value="m">Supplement ou sous-serie indexe dans la publication mere</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8u" -->
				<option value="u" selected="selected">不详</option>
			<!-- TMPL_ELSE -->
				<option value="u">不详</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8x" -->
				<option value="x" selected="selected">如不适用</option>
			<!-- TMPL_ELSE -->
				<option value="x">如不适用</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8y" -->
				<option value="y" selected="selected">无索引</option>
			<!-- TMPL_ELSE -->
				<option value="y">无索引</option>
			<!-- /TMPL_IF -->
				

			<!-- TMPL_IF name="f8z" -->
				<option value="z" selected="selected">其他</option>
			<!-- TMPL_ELSE -->
				<option value="z">其他</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>
	<tr>
		<td>Existence d'un index cumulatif</td>
		<td>
			<select name="f9" size="1">
			<!-- TMPL_IF name="f9|" -->
                            <option value="|" selected="selected">|- 数据单元代码</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- 数据单元代码</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f90" -->
				<option value="0" selected="selected">Pas d'index cumulatif ou de table des matieres</option>
			<!-- TMPL_ELSE -->
				<option value="0">Pas d'index cumulatif ou de table des matieres </option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f91" -->
				<option value="1" selected="selected">Index cumulatif ou table des matieres</option>
			<!-- TMPL_ELSE -->
				<option value="1">Index cumulatif ou table des matieres</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>

	<tr><td colspan="2"><input type="button" value="完成" onclick="report();"></td></tr>
</table>
</form>
<script type="text/javascript">
    function report() {
        document.f_pop.f5.value=document.f_pop.f5.value+'   ';
        document.f_pop.f5.value=document.f_pop.f5.value.substring(0,3);
        var doc   = opener.document; 
        var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        field.value =  document.f_pop.f1.value +document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value;
        self.close();
        return false;
    }
</script>
</body>
</html>
