<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Réclamations de périodiques</h1>

<h2>Que sont les réclamations ?</h2>
<p>Les réclamations sont des messages envoyés quand un exemplaire attendu n'a pas été reçu par la bibliothèque.</p>

<h2>Comment faire une réclamation ?</h2>
<p>Sélectionnez dans la liste déroulante. L'option "Tous fournisseurs" vous indique le nombre total de fascicules à réclamer, tous fournisseurs confondus.</p>
<p>Il y a deux façons de déposer une réclamation auprès d'un fournisseur :</p>
	<ol>
		<li>Employer une lettre définie dans Messages.Notez que vous devrez rédiger le message.</li>
		<li>Export des informations de réclamation. Cela télécharge un fichier CSV sur votre poste de travail, avec toutes les informations utiles pour faire un publipostage au fournisseur en retard.</li>
	</ol>

<h2>Comment puis-je finaliser une réclamation ?</h2>
<p>La réclamation sera suspendue lorsque le statut de réception aura changé.Chercher l'Abonnement et puis cliquez sur &quot;Bulletinage&quot; pour localiser le numéro et changer son statut.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->