<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Périodiques</h1>

<h2>Q : A quoi sert le module périodiques ?</h2>
<p>Le module périodiques est utilisé pour gérer les abonnements que la bibliothèque a à des parutions diverses.Ce sont normalement des revues ou des journaux, mais en pratique cela peut être n'importe quoi.</p>
<h2>Q : Que dois-je faire avant de créer un abonnement ?</h2>
<p>Avant de créer un abonnement, vous devez définir un &quot;fournisseur&quot; dans le module des acquisitions, ainsi qu'une &quot;notice bibliographique&quot;, dans le module catalogage. Lorsque vous créer la notice biblio, ne créez pas d'exemplaire, les exemplaires sont gérés par le module des périodiques.</p>
<h2>Q: How do I create a new subscription?</h2>
<p>R : Cliquer sur le bouton &ldquo;Ajout abonnement&rdquo;</p>
<h2>Q: What can I do when I have found a subscription?</h2>
<p>R : Voir l'abonnement en détails, recevoir chaque numéro et/ou gérer ce qui s'affiche dans l'état de collection simplifié (à l'OPAC et dans l'interface bibliothècaire).</p>
<h3>TIP. USING WILDCARDS</h3>
<p>Rechercher un abonnement en utilisant le bouton "Sélectionner"(avec un ISSN ou un titre)Si vous saisissez un titre, vous pouvez utiliser le joker  % : <b>%Monde%</b> renverra tous les abonnement contenant Monde dans le titre</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->