<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Réceptionner des bulletins</h1>

<h2>Comment puis-je réceptionner un bulletin attendu ?</h2>
<p>Le numéro pour la prochaine parution attendue devrait être affiché sur la ligne du haut.Le statut par défaut sera en attente.Si le périodique est arrivé,, alors sélectionnez &quot;arrivé&quot; dans la liste déroulante.Si la fonction d'exemplarisation (SerialAddItems) est activée, il vous sera demandé d'ajouter les informations sur l'exemplaire.</p>
<p>Lorsque vous avez validé, le nouveau fascicule est ajouté dans l'état de collection.</p>

<h2>Comment puis-je réceptionner un bulletin non attendu (supplément, hors série...)</h2>
<p>Uss the blank line under the expected issue line to add in the details for the unexpected or supplemental issue.  Select the appropriate status and save.</p><h2>Que se passe-t-il si un fascicule ne paraît pas ?</h2>
<p>Si un fascicule ne paraît pas ou en retard, alors choisissez un statut dans la liste des statuts. Le bulletin doit apparaître dans la liste des &quot;réclamations&quot; et peut être réclamé &nbsp;</p><!-- TMPL_INCLUDE name="help-bottom.inc" -->