<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Ajouter un nouvel abonnement</h1>

<h2>Que dois-je faire pour créer un abonnement ?</h2>
<p>Avant de créer un nouvel abonnement, vous devez vérifier que vous avez bien :</p>
	<ul>
		<li>un fournisseur dans les acquisitions qui fournit l'abonnement</li>
		<li>une notice bibliographique sans exemplaires à laquelle vous pouvez ajouter l'abonnement.</li>
	</ul>	.  
<h2>Comment puis-je créer un nouvel abonnement ?</h2>
<p>Il y a quatre parties dans ce formulaire :</p>

<h3>Etape 1 : Rechercher fournisseur</h3>

<p>Si vous voulez réclamer tous les bulletins en retard, vous devez sélectionner un fournisseur à cet endroit.</p>
<h3>Etape 2 : Rechercher la notice</h3>

<p>Vous devriez trouver le document que vous avez créer dans les acquisitions. si le document n'a pas été acquis, cliquez sur "Créer notice biblio". Cela vour renverra sur la création de notice.</p>
<h3>Etape 3 : Remplir les autres informations d'abonnement</h3>
<p>Cela comprend la Cote, le site de Localisation pour les périodiques et toutes les notes.</p>
<p>Sélectionner une alerte : si vous sélectionnez une alerte, les adhérents pourront s'inscrire pour être prévenu par mail lorsqu'un nouveau bulletin arrive. Pour éditer le message, allez dans le module Outils &gt; Notifications &nbsp;</p>
<h3>Etape 4 : Remplir les détails dans la partie "planification"</h3>

<p>C'est une partie cruciale de la gestion des périodiques.Afin de permettre au système de prévoir la parution suivante l'utilisateur doit remplir chacun de ces champs.Une fois complétés ils rempliront la boîte de calcul de la numérotation en dessous.</p>
<p>Voir &gt; plus de détails sur la planification</p>
<h3>Etape 5 : Choisir la durée de l'abonnement</h3>

<p>Indique la durée de l'abonnement à ce périodique.</p>
<p>Cela détermine la date d'expiration dans le système ainsi qu'une alerte un mois avant la date d'expiration attendue.</p>
<h3>Etape 6 : Définir la formule de numérotation</h3>

<p>Si vous avez choisi une formule de numérotation dans la section précédente, le tableau sera automatiquement rempli et présenté dans cette section. Si vous avez choisi "Autre formule", alors vous devez remplir ce tableau manuellement.</p>
<p>Voir plus de détails à propos de la formule de numérotation</p>
<h3>Etape 7 : Ajouter l'abonnement</h3>

<p>Lorsque vous avez complété les informations, vous voyez le détail des éléments saisis. S'il y a une erreur, allez Modifier les informations.</p>
<p>Etape suivante - réceptionner les fascicules (voir l'aide en ligne sur la page de réception des fascicules)</p><h2>Comment fonctionne la planification </h2>

<h3>1. Date d'arrivée prévue  du 1er n°</h3>

<p>Affiche un calendrier &ndash; pour choisir la date d'arrivée du premier bulletin à la bibliothèque. Cette dates est utilisée pour les questions de gestion seulement. Elle sert notamment dans le module de réclamations. Ce n'est pas la date de parution du premier bulletin (qui se trouve dans un champ au dessus)</p>
<h3>2. Périodicité</h3>

<p>Utilsez la liste déroulante pour sélectionner les modèles les plus utilisés.</p>
<h3>3. Modèle de numérotation</h3>

<p>Liste déroulante des principales formules de numérotation :</p>
	<ul>
		<li>Numéro</li>
		<li>Volume, Numéro, Fascicule</li>
		<li>Volume, Numéro</li>
		<li>Volume, Fascicule</li>
		<li>Numéro, Fascicule</li>
		<li>Seulement saisonnier[a]</li>
		<li>Aucun de ci-dessus</li>
	</ul>
<p>Si vous avez &ldquo;Aucune des formules précédentes&rdquo; cela affichera le tableau des formules de numérotation en bas de l'écran.</p>
<p>Le système se charge des exeptions (par exemple les numéros arrivent mensuellement, mais avec seulement 10 parutions dans l'année).Fixez le prévisionnel au nombre maximum de numéros attendus.Puis cliquez sur le lien &quot;Irregularité&quot; .Choisissez quels numéros ne paraissent pas.</p>
<h3>4. Commence le</h3>

<p>Affiche un calendrier &ndash; pour choisir la date du premier bulletin. Par exemple, si la bibliothèque s'abonne à un mensuel et que le premier numéro attendu est pour février, vous devez indiquer 1er février.</p><h2>Formule de Calcul de la numérotation</h2>
<p>La "Formule de numérotation" peut être remplie avec n'importe quel texte et/ ou nombre.<b>{X} {Y}</b> et <b>{Z}</b> peuvent être utilisées pour définir la formule de calcul. Cela vous permet de définir des formules de numérotation différentes de celles qui sont pré-programmées.</p><!-- TMPL_INCLUDE name="help-bottom.inc" -->