<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Etiketten-Profil</h1>

<h2>Was sind &quot;Druckerprofil&quot;?</h2>

<p>In einem Druckerprofil können Sie Eckabstand und Bundzuwachs einstellen (auch bekannt als Druckerkalibrierung).</p>
<p>Je nachdem, welcher Drucker und welche Art von Papierzufuhr verwendet wird, kann es passieren, dass die gewählten Texteinstellungen nicht zum eingelegten Papier passen und der gedruckte Text verschoben und somit nicht richtig erscheint. Auch wenn der Eckabstand (normalerweise von der Ecke links oben aus gemessen) richtig ist, kann es sein, dass der Text auf einigen Etiketten richtig gedruckt wird, aber im weiteren Verlauf mehr und mehr über die Etikettenränder hinausgedruckt wird. Mit einem Druckerprofil können Sie genaue Korrekturen für jeden Drucker, jeden Papiereinzug und jede Etikettenvorlage vornehmen, um diesen Fehler zu vermeiden.</p>

<h2>Wie richte ich ein Druckerprofil ein?</h2>

<h3>Druckerprofil anlegen</h3>
<p>
<ol>
<li>Bitte Beachten Sie: Sie können nur für bestehende Etiketten-Vorlagen Druckerprofil festlegen.</li>
<li>Geben Sie einen Druckernamen und einen Namen für das Papierfach im Profil an. Bitte Beachten Sie: Sie können für jede Etiketten-Vorlage diese Kombination von Drucker und Papierfach nur einmal verwenden.</li>
<li>Wählen Sie eine Etiketten-Vorlage aus der Liste der Vorlagen.</li>
<li>Legen Sie als nächstes den horizontalen und vertikalen Abstand zur Ecke fest. Benutzen Sie ausschließlich Werte, die zu den Längeneinheiten passen, die Sie weiter unten im Formular festlegen. Negative Werte sind erlaubt.</li>
<li>Als letztes legen Sie den horizontalen und vertikalen Bundzuwachs fest (Bundzuwachs bedeutet, der Text wandert im Verlauf des Druckens immer weiter vom Etikettenrand weg). Benutzen Sie ausschließlich Werte, die zu den Längeneinheiten passen, die Sie weiter unten im Formular festlegen. Negative Werte sind erlaubt.</li>
<li>Klicken Sie auf 'Speichern' am Ende des Formulars, um Ihr neues Profil abzuspeichern.</li>
</ol>
</p>

<h3>Druckerprofil anlegen</h3>
<p>
<ol>
<li>Nachdem Sie ein Druckerprofil angelegt haben, muss dieses einer bestimmten Etiketten-Vorlage zugeordnet werden. Beachten Sie: Es kann immer nur ein Druckerprofil gleichzeitig einer Etiketten-Vorlage zugeordnet werden.</li>
<li>Edit the label template you want to apply a profile to.</li>
<li>Im Bearbeitungsformular und in der linken Spalte werden Sie ein Feld mit der Beschriftung "Druckerprofil:" sehen.</li>
<li>Wenn es eine oder mehrere Druckerprofile für diese Etiketten-Vorlage gibt, werden Sie ein Pull-Down-Menü sehen, aus dem Sie aus den bestehenden Druckerprofilen eines für diese Etiketten-Vorlage auswählen können.</li>
<li>Select the profile you want to be applied to the label template at this time. Remember: Only one Printer Profile can be applied at any given time.</li>
<li>Wenn es eine oder mehrere Druckerprofile für diese Etiketten-Vorlage gibt, werden Sie ein Pull-Down-Menü sehen, aus dem Sie aus den bestehenden Druckerprofilen eines für diese Etiketten-Vorlage auswählen können.</li>
</ol>
</p>

<h3>Tipps zur Einrichtung eines Druckerprofils</h3>
<p>
<ol>
<li><b>Alle</b> diese Einstellungen tragen zur Druckbildpositionierung und zum Bundzuwachs bei. Denken Sie daran, wenn Sie Einstellungen verändern.</li>
<li>Passen Sie die Ränder an, bis sowohl sowohl der obere als auch der linke Rand korrekt sind.</li>
<li>Anschließend stellen Sie die Etikettenhöhe und -breite ein, um die Etikettenverschiebung zu korrigieren.</li>
<li>Negative Eckabstandswerte verschieben das Druckbild nach oben und links. Positive Abstandswerte verschieben das Druckbild nach unten und rechts.</li>
<li>Negative Bundzuwachswerte verkleinern das Druckbild insgesamt. Positive Bundzuwachswerte vergrößern das Druckbild insgesamt.</li>
</ol>
</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
