<html>
<head>
<title>Constructeur du label</title>
</head>
<body>
<form name="f_pop" onSubmit="javascript:report()">
<input type="hidden" name="plugin_name" value="marc21_leader_authorities.pl">
<table>
	<tr>
		<td>1-4 Taille enregistrement</td>
		<td>(auto-rempli)</td>
	</tr>
	<tr>
		<td>5- Statut notice</td>
		<td>
			<select name="f5" size="1">
			<!-- TMPL_IF name="f5a" -->
				<option value="a" SELECTED>a- Increase in encoding level</option>
			<!-- TMPL_ELSE -->
				<option value="a">a- Increase in encoding level</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5c" -->
				<option value="c" SELECTED>c- Corrigé ou révisé</option>
			<!-- TMPL_ELSE -->
				<option value="c">c- Corrigé ou révisé</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5d" -->
				<option value="d" SELECTED>d- supprimé</option>
			<!-- TMPL_ELSE -->
				<option value="d">d- supprimé</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5n" -->
				<option value="n" SELECTED>n- Nouveau</option>
			<!-- TMPL_ELSE -->
				<option value="n">n- Nouveau</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5o" -->
				<option value="o" SELECTED>o- Obsolète</option>
			<!-- TMPL_ELSE -->
				<option value="o">o- Obsolète</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5s" -->
				<option value="s" SELECTED>s-Supprimé ; </option>
			<!-- TMPL_ELSE -->
				<option value="s">s-Supprimé ; </option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5x" -->
				<option value="x" SELECTED>x- Supprimée ; vedette remplacée par une autre vedette</option>
			<!-- TMPL_ELSE -->
				<option value="x">x- Supprimée ; vedette remplacée par une autre vedette</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>6- Type de notice</td>
		<td>
            <input name="f6" value="z" type="hidden" />
            z- Donnée autorité
		</td>
	</tr>
	<tr>
		<td>7-8 Indéfini</td>
		<td></td>
	</tr>

	<tr>
		<td>9- Encodage</td>
		<td>
			<select name="f9" size="1">
				<!-- TMPL_IF name="f9 " -->
					<option value=" " SELECTED>MARC-8</option>
				<!-- TMPL_ELSE -->
					<option value=" ">MARC-8</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f9a" -->
					<option value="a" SELECTED>a- UCS/Unicode</option>
				<!-- TMPL_ELSE -->
					<option value="a">a- UCS/Unicode</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>10-16 indicateur/sous-champs/taille</td>
		<td>(auto-rempli)</td>
	<tr>
		<td>17- Encodage</td>
		<td>
			<select name="f17" size="1">
				<!-- TMPL_IF name="f17n" -->
					<option value="n" SELECTED>o- Notice autorité complète</option>
				<!-- TMPL_ELSE -->
					<option value="n">o- Notice autorité complète</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f17o" -->
					<option value="o" SELECTED>o- Notice autorité incomplète</option>
				<!-- TMPL_ELSE -->
					<option value="o">o- Notice autorité incomplète</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

	<tr>
		<td>18-19 Indéfini</td>
		<td></td>
	</tr>

	<tr>
		<td>20-24 structure et longueur des entrées</td>
		<td>(auto-rempli)</td>
	<tr>

	<tr><td colspan=2><input type="submit" value="OK"></td></tr>
</table>
</form>
<script>
function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value = 
			'     '+
			document.f_pop.f5.value+
			document.f_pop.f6.value+
			'  '+
			document.f_pop.f9.value+ 
			'22     '+
			document.f_pop.f17.value+
			'  '+
			'4500';
		self.close();
		return false;
	}
</script>
</body>
</html>
