<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- Prestito automatico
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Aiuto sul prestito automatico</h2>

<p> Se è la prima volta che utilizzi il sistema di prestito automatico, o se il sistema non si comporta come previsto, puoi fare riferimento a questa guida per iniziare.</p>

<h3>Passo uno: inserisci il tuo identificativo    </h3>
<p> Inserisci il tuo user ID, e fai clic sul tasto invio (oppure premi il pulsante invio sulla tastiera).</p>

<h3> Passo due: leggi il codice di ogni copia con il lettore apposito. Leggi un solo codice alla volta</h3>
<p> Leggi con il lettore ogni copia e aspetta che la pagina si ricarichi prima di leggere la copia successiva. La copia prestata dovrebbe apparire nella tua lista di prestiti. Il bottone Invia deve essere cliccato solo se immentti il codice a barre a mano</p>

<h3>Passo tre: Clicca il link 'Clicca se finito' quando hai finito</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Ritorna al prestito automatico</a>
</div></div>
</body>
</html>

