<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Z39.50 Suchergebnisse</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script language="javascript" type="text/javascript">
//<![CDATA[
    function Import(GetThisOne) {
        opener.document.location= "../cataloguing/addbiblio.pl?z3950=1&oldbiblionumber=<!-- TMPL_VAR NAME="oldbiblionumber" -->&breedingid="+GetThisOne;
        self.close();
        return false;
    }
//]]>
</script>
</head>
<body>

    <h2>Z39.50 Suchergebnis</h2>
    
    <!-- TMPL_IF NAME="breeding_loop" -->
<table>
    <tr>
        <th>Titel</th>
        <th>Verfasser</th>
        <th>ISBN</th>
        <th>kommt aus</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
                <!-- TMPL_LOOP NAME="breeding_loop" -->
        <tr bgcolor="<!-- TMPL_VAR NAME="toggle" -->">
                        <td><!-- TMPL_VAR NAME="title" --></td>
            <td><!-- TMPL_VAR NAME="author" --></td>
            <td><!-- TMPL_VAR NAME="isbn" --></td>
            <td><!-- TMPL_VAR NAME="file" --></td>
            <td><a href="javascript:Import(<!-- TMPL_VAR NAME="id" -->)">Dieses Biblio importieren</a></td>
        </tr>
    <!-- /TMPL_LOOP -->
        </table>
    <!-- TMPL_ELSE -->
                <p>Nichts gefunden</p>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="numberpending" --><h1>Noch <!-- TMPL_VAR NAME="numberpending" --> Empfehlungen zu bearbeiten</h1><!-- /TMPL_IF -->
    

</body>
</html>
