<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide autorités</h1><h2>C'est quoi une Notice Autorité MARC ?</h2>

<p>Les Notices Autorité MARC sont utilisées pour assurer  la cohérence entre les notices bibliographiques en fournissant le moyen de définir une forme de référence pour les noms de :</p><ul><li>Personnes (Auteurs, Editeurs, Illustrateurs etc)</li><li>Titres</li><li>Mots-clés</li><li>Collectivités (Sociétés, Instituts universitaires etc)</li></ul>Pour plus d'information concernant les notices autorité avec MARC 21 voir le tutoriel sur le <a href="http://www.loc.gov/marc/uma/index.html">Site Web de la Library of Congress </a>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
