<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Adhérent (anonymiser et supprimer)</h1>

<p>This tool allows you to bulk anonymize circulation histories or bulk delete patron records. This  means that the system keeps a link between old loans and their items but severs the link to the borrower.</p>

		<ul>
			<li>Dans l'outil, vous avez deux options</li>
			<li>Cochez la case correspondant à l'action à effectuer
			<ul>
				<li>Pour supprimer des emprunteurs, entrer la date à laquelle ils ont emprunté pour la dernière fois</li>
				<li>Pour anonymiser l'historique de circulation, entrez une date: toutes les données antérieures seront anonymisées.</li>
			</ul></li>
		</ul>
		
<h2>Peut-on faire fonctionner cet outil automatiquement?</h2>
<p>Pas actuellement.</p>
<h2>Est-ce qu'exécuter cette option va effacer la connexion entre les adhérents et les documents actuellement en prêt ?</h2>
<p>Non, cet écran va seulement supprimer les connexions entre les adhérents et les documents qu'ils ont empruntés dans le passé, et qui ont été rendus à la bibliothèque.</p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->