<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Inventaire/récolement</h1><h2>Comment puis-je utiliser cette fonction ?</h2>

<p>La fonction de récolement utilise la date "vu pour la dernière fois" comme critère pour faire les rapports. a partir de ces rapports, la bibliothèque peut identifier les documents qui ont disparu. &nbsp;</p>

<h2>How do I get a file of barcodes to upload?</h2>

<p>La manière la plus facile pour générer un fichier de code-barres consiste à utiliser le lecteur de code-barres et scanner tous les codes dans un fichier texte. Cela peut être fait en utilisant une douchette classique, connectée à un portable ou un PC avec un scanner intégré (Palm ou iPaq par exemple).</p><p>Save the file locally to your machine and then when you are attached to the network, open the Inventory/Stocktaking page again and use the &quot;Browse&quot; feature to find the file on your local drive.  Now set the last seen to the date you wish to use (normally today's date). </p>

<h2>Comment puis-je trouver les documents qui manquent ?</h2>

<p>Maintenant que vous avez positionné la zone "vu pour la dernière fois le ", vous pouvez l'utiliser pour générer un rapport. Utilisez la fonctionnalité "Sélectionnez les documents que vous voulez vérifier" pour générer le rapport. </p><p>NOTE : si vous avez scanné tous les documents dans votre bibliothèque, vous n'avez pas besoin de changer les critères proposés par défaut &nbsp;</p><p>Fixer la date de &quot;vu pour la dernière fois le&quot; au jour <strong>avant </strong>La date que vous avez choisi lorsque vous avez défini la date "vu pour la dernière fois" au moment du téléchargement du fichier des code-barres.</p><p>Cliquez sur le bouton &quot;OK&quot; pour générer une liste d'exemplaires que Koha n'a pas vus. </p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->