<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide sur les nouvelles</h1>

<h2>Les Nouvelles, c'est quoi ?</h2>

<p>Les nouvelles sont de courts messages de type blog ou nouvelles qui peuvent être affichées à la fois sur les pages d'accueil de l'OPAC et de l'interface bibliothécaire.Les messages des nouvelles peuvent être composés en utilisant un code HTML simple.</p>

<h2>Comment puis-je poster des nouvelles ?</h2>
<p>Pour ajouter un nouveau message de nouvelles il faut remplir les champs suivants :</p>

<h3>Affiché sur</h3>
<p>Les bibliothèques n'ayant leur catalogue qu'en une seule langue verront 2 options : une pour l'OPAC (le code de langue), une pour l'interface professionnelle. Pour les installations multilingues, toutes les langues disponibles à l'OPAC apparaîtront.</p>
<p>Dans un paramétrage multilangue, les "nouvelles" doivent être saisies dans chaque langue pour apparaître dans chaque interface.</p><h3>Titre </h3>
<p>Le titre du message de nouvelles.Essayez de faire court et concis.Evitez les longues phrases.</p><h3>Date d'expiration</h3>
<p>This is the date the item should be removed from the news item listings. Note that the posting or publishing date of an item will default to today's date (where today is the date of entry). </p>
<p>Pour qu'une nouvelle reste en page d'accueil, n'entrez aucune date d'expiration.</p><h3>S'affiche en position</h3>
<p>Une valeur entière (1,2,3,...). Les documents en position 1 apparaissent en haut de la liste. Si deux entrées ont la même valeur, alors elles seront affichées en fonction de leur date de publication, la plus ancienne étant en tête &nbsp;&nbsp;</p><h3>Nouvelles</h3>
<p>C'est la teneur de l'article de nouvelles.Notez que toutes les nouvelles apparaissent en ligne sur la même page.Essayez de faire tenir les articles sur pas plus de deux courts paragraphes.Si vous souhaitez ajouter des images et les inclure dans vos messages, alors il vous faudra les télécharger sur un serveur web quelque part et les lier pour utiliser des balises d'image standard HTML.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->