<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Déclencheurs de relances/statut retard</h1>

<p>Cet outil vous permet de définir des déclencheurs de notifications de retard. Vous pouvez envoyer jusqu'à trois notifications, et définir le nombre de jours entre la date de retour prévue et chacune des notifications. Un paramétrage différent par site est possible, ainsi qu'un paramétrage différent par catégorie d'adhérent à l'intérieur du site. Enfin vous pouvez paramétrer un blocage du compte à partir de chacune des trois notifications.</p>

		<ul>
			<li>Aller dans le module 'Outils' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Déclencheur de notification'</li>
			<li>'Sélectionnez un site' : vous définirez les règles de retard pour cette bibliothèque</li>
			<li>
		    <span style="background-color: #ffe599">
ASTUCE : Si vous voulez définir des règles de retard pour TOUS les sites d'un coup, sélectionnez 'Défaut'. Cela appliquera le calendrier défini à tous les sites.</span></li>
		</ul>
		<ul>
			<li>Pour chaque type d'adhérent (colonne à l'extrême gauche), saisissez un nombre sous la colonne 'Délai'. Le nombre entré représente des JOURS.<br/>
			<ul>
				<li>Chaque nombre entré indique un nombre de jours de retard avant qu'une action soit lancée.</li>
			</ul></li>
			<li>Pour chaque retard vous devez choisir le type de notification (ou lettre) que recevra l'adhérent.<br/>
			<ul>
				<li>
			    <span style="background-color: #ffe599">
ASTUCE : Vous devez définir les messages et lettres de votre bibliothèque pour alimenter ce menu déroulant.</span><br/>
				<ul>
					<li><em>Allez à:</em> Plus &gt; Outils &gt; Messages</li>
				</ul></li>
			</ul></li>
		</ul>
		<ul>
			<li>Quand vous avez fini, cliquez sur 'Sauvegarder'</li>
		</ul>	   
	   <h3>Au secours! J'ai un message d'erreur!</h3>
	   
	   <p>Si vous essayez d'entrer des chiffres incohérents dans les colonnes 'Délais', Koha émettra une alerte expliquant l'inconsistence.</p>
<h3>Que se passe-t-il si on laisse la ligne type d'adhérent vide? (i.e., aucun 'Délai' n'a été défini)</h3>

<p>Une valeur de délai est nécessaire, si vous voulez que Koha déclenche une action (envoyer une lettre ou suspendre un adhérent). Sans délai, pas d'action.</p>
<h3>Où peut-on paramétrer le calendrier des retards? (i.e. combien de jours avant qu'un exemplaire deviennent 'en retard')</h3>

<p>La durée d'un prêt est paramétrée dans le module 'Administration' de Koha:</p>
			<ul>
				<li><em>Allez à:</em> Plus &gt; Administration &gt; Règles de prêt (sous 'Adhérents et circulation')</li>
			</ul>
<h3>Où peut-on définit les amendes?</h3>
			<ul>
				<li><em>Allez à:</em> Plus &gt; Administration &gt; Règles de retard (sous 'Adhérents et circulation')</li>
			</ul>
<h3>Quel type de notification est expédié après déclenchement par le module 'Déclencheur de notifications'? Un email? Une impression?</h3>
<p>Koha handles overdue notices in one of two automated ways: by email or by printed labels.
If a borrower has an email defined in their patron account, overdue notices automatically get sent to the patron's email account according to the schedule defined in the 'Notice/Status Triggers' Tool.</p>

		    <p style="background-color: #ffe599">
ASTUCE : Les adhérents peuvent modifier leurs paramétres de message dans l'outil Messages de leur compte.</p>
<p>Borrowers that have no email defined will have their notices sent via email to the library for printing.  The email is sent to the branch admin email, or failing that to the address set in the system preference as the 'KohaAdminEmailAddress'. This email is generated by the misc/cronjobs/overdue_notices.pl cron job.  Contact your system administrator for help with this setting.</p>
		   
		   <p><strong>IMPORTANT:</strong> The email notice report that is compiled and sent to the admin (for borrowers with no email in Koha) rely on the 'delays' to determine when/how often that email gets sent as well.</p>

<h3>Comment les notifications sont-elles définies? (i.e., quelles informations apparaîtront sur la notification)</h3>
		<ul>
			<li><em>Aller à: </em>Plus &gt; Outils &gt; Messages</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->