<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>	   
	   Chargement de photos d'adhérents</h1><p>Cet outil vous permet de charger un lot de photos d'adhérents.</p>
	   
	   <p><strong>IMPORTANT:</strong> Requires that the 'patronimages' system preference is set to 'ON' to use this feature.</p>
		<ul>
			<li><em>Aller à: </em>Plus &gt; Administration &gt; Préférences système&gt; Adhérents &gt; patronimages</li>
		</ul><h2>Charger des photos par lot</h2>
		<ul>
			<li>Aller dans le module 'Outils' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'charger photos adhérents'</li>
			<li>Vous pouvez charger des photos par lot en faisant un fichier zip des images et d'un fichier texte intitulé&quot;DATALINK.TXT&quot; ou &quot;IDLINK.TXT&quot;</li>
			<li>Pour chaque groupe d'image contenant le numéro de la carte adhérent et le fichier contenant l'image de l'adhérent. Un adhérent par ligne, séparé par des virgules ou des tabulations.<br/>
			<ul>
				<li>			   
			   ATTENTION : Veillez à ce que votre fichier soit bien en plein texte (txt) et pas en rtf.</li>
				<li>			   
			   
			    <span>
ATTENTION : Veillez à utiliser une virgule ou une tabulatin pour séparer les IDs des noms des photos</span></li>
			</ul></li>
			<li>Ajoutez les photos et le fichier TXT dans un fichier ZIP</li>
			<li>Cherchez ce fichier depuis l'interface Koha</li>
			<li>Cliquez 'Décompressez': un écran de confirmation apparaîtra</li>
			<li>Pour voir les photos importées, chercher les adhérents et regardez dans leur profil.</li>
			<li>Si vous voulez changer l'image, chargez en simplement une nouvelle</li>
			<li>Si vous voulez supprimer la photo d'un adhérent, cliquez 'Supprimer" sous 'Gérer image adhérent'</li>
		</ul>	   
	   <p><strong>Charger photo à photo</strong>
Si vous n'avez qu'une seule photo à charger vous pouvez la charger via la fiche adhérent plutôt que via l'utilitaire de chargement par lots.</p>

		<ul>
			<li>Voir le menu Adhérents en haut de l'interface professionnelle</li>
			<li>Chercher l'adhérent dont vous avez la photo</li>
			<li>S'il y a plus d'un résultat, cliquez sur le nom de l'adhérent pour lequel vous voulez ajouter une image</li>
			<li>Descendez jusqu'au formulaire de chargement d'image</li>
			<li>Indiquez où se trouve l'image sur votre ordinateur et cliquez 'Télécharger'</li>
			<li>Si vous voulez changer l'image, chargez en simplement une nouvelle</li>
			<li>Si vous voulez supprimer la photo d'un adhérent, cliquez 'Supprimer" sous 'Gérer image adhérent'</li>
		</ul><h3>Pourquoi ne puis-je pas charger des photos des usagers?</h3>
<p>Vous aurez d'abord besoin de
	    <span class="ex">
photo adhérent</span>directory.  If you do not have this directory you will see an error.</p>
			<ul>
				<li>Contactez votre administrateur système pour pouvoir créer ce répertoire.</li>
			</ul>
<h3>Quelle doit-être la taille de mes images?</h3>
<p>La photo chargée est limitée à 100K et la taille recommandée est de 120x120 pixels, mais une image plus petite fonctionnera.</p>
<h3>Quels sont les formats de photos acceptés ?</h3>
<p>Seuls les formats PNG, GIF, JPEG et XPM sont gérés.</p>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->