<!-- TMPL_INCLUDE NAME="help-top.inc" -->
		<p>C'est la Page des Outils.</p>
		 
		<p>Beaucoup des modules complémentaires se trouvent ici.</p>
		 
		<p>Pour avancer, sélectionnez la tâche adéquate en cliquant sur le texte surligné en bleu.</p>
		 
		<p>Specialised help will be available after that point.</p> 	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->