<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Voir les logs</h1>
		<ul>
			<li>Le visualisateur de logs montre les actions qui ont eu lieu sur le SIGB dans une période donnée</li>
			<li>Sélectionnez les dates de début et de fin de la période à couverir et cliquez sur 'Go' pour afficher le résultat à l'écran</li>
			<li>Vous pouvez aussi exporter ces données pour les exploiter dans un format différent en exportant vers une application.
			<ul>
				<li>Vous obtiendrez un fichier csv.</li>
			</ul></li>
			<li>Vous pouvez filtrer par n'importe quel des champs visibles.</li>
		</ul>
<p><strong>Pourquoi mon catalogage n'est-il pas enregistré?</strong>
Peut-être la préférence système 'Logs' est-elle inactive?</p>
		<ul>
			<li><em>Allez à:</em> Plus &gt; Administration &gt; Préférences système &gt; Logs</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->