<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Εκτύπωση Ετικετών</h1>

<h2>Πώς εκτυπώνω ετικέτες χρησιμοποιώντας αυτό το χαρακτηριστικό;</h2>

<p>Η ακολουθία των βημάτων είναι:</p><ol><li>Καθορίστε ένα Σχεδιάγραμμα</li><li>Καθορίστε ένα Πρότυπο Σχεδιαγράμματος</li><li>Συγχωνεύστε ένα Σχεδιάγραμμα και ένα Πρότυπο Σχεδιαγράμματος μέσω των Παρτίδων Ετικετών&nbsp;</li></ol><h2>Τι είναι ένα &quot;Σχεδιάγραμμα&quot;;</h2>

<p>A layout is where you define what will print on the label. For example for a spine label you may choose the Classification Number. </p>

<h2>Τί είναι ένα &quot;Πρότυπο Σχεδιαγράμματος&quot;;</h2>

<p>A layout template is the dimensions of the sheet you are using. You will need to either acquire the dimensions from the label supplier, or measure them accurately.</p><p>Layout Templates will need to be defined for each type of Label sheet or page you wish to print to.  </p>

<h2>Τί είναι μία &quot;Παρτίδα Ετικετών&quot;;</h2>

<p>A label batch is where you take your Layout, Layout Template and merge with the items you wish to create the labels for.</p><p>Once the merge has been completed,  a PDF will be generated that can be used to print the labels.</p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->