<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Reports Dictionary Help</h1>

<h2>What is the Reports Dictionary</h2>
<p>القاموس يمدنا بالطريقة التي يمكن تعريف محددات حسب الطلب للتقاريربدمج المحددات الحالية </p>

<h2>تعريف جديد مضاف</h2>
<h3>خطوة 1 of 4 إسم</h3>
<p>فى هذه الخطوة ستحتاج لملئ التفاصيل التالية:</p>
	<ol>
		<li>
<p>إسم التعريف: الاسم القصير الذي يستعمل للعرض والإختيار</p></li>
		<li>
<p>وصف التعريف:مستعمل ضمن القاموس فقط لتزويد التفصيل الآخر حول التعريف</p></li>
	</ol>
	
	<h3>خطوة2 من 4 منطقة</h3>
<p>الآن أنت ستحتاج لإختيار المنطقة بأنك تقيد التعريف ل. التعاريف يمكن فقط أن محددة إلى منطقة واحدة. إذا رغبت فى إستعمال تعريف مماثل في الرأي إعارة و مستخدمين، أنت ستحتاج لانشاء التعريفين - واحد لكلّ منطقة </p>

<h3>خطوة 3 من 4 أعمدة</h3>
<p>الان إختر المعيار الذى تود إستخدامة لبناء تعريفك. إنقر على إسم عمود قاعدة البيانات ثم إضغط زرار الاضافة. وبمجرد إختيارك لكل الاعمدة التى ترغبها, إضغط التالى.</p>
<p>ملاحظة: التعاريف يمكن أن تحذف بسهولة، وإذا كنت ما زلت تتعلّم تركيب بيانات كوها، إنه قد يأخذ فترة قليلة للترتيب الحقول عليك طلبها. بعض التجربة والخطأ قد تتطلّب.</p>

<h3>خطوة 4 من 4 قيم</h3>
<p>الان تحتاج إلى إختيار القيم لكل عمود والتى ستصنع معاييرك الجديدة .هناك طرق عديدة لتعريف القيم,تعتمد على أنواع البيانات فى العمود الذى إخترتة</p>
	<ul>
		<li><strong>البحث عن متغيرات مشابهة</strong> لحقول النص الحرة في قاعدة البيانات , أدخل a متغير/ عبارة للمعيار لتضاهى عليه</li>
		<li><strong>تاريخ</strong> لتأريخ الحقول يمكنك إما تختار: 
		<ol>
			<li>مدى تاريخ: إدخل القيم في كلتا حقول التاريخ </li>
			<li>All Data Before A Given Date: enter a value in the field only</li>
			<li>All Data After A Given Date: enter a value in the field only</li>
		</ol></li>
		<li><strong>إختر من قيمة قاعدة البيانات</strong> للبيانات التي تعطي قيمة إستناد في قاعدة بيانات كوها، إستخدم القائمة المنسدلة لإختيار قيمة واحدة </li>
	</ul>
	
<h2>Using A Definition</h2>
<p>بمجرّد أنك أنشأت تعريفك الجديد وهو معروض على القاموس، يمكنك أن تستعمل التعريف للتقرير. عندما تذهب لانشاء تقرير جديد، فإن المعايير للمنطقة التي ذكرتها ستعرض آليا كحدود في معالج التقارير المرشدة </p>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->