<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 读者 &rsaquo; <!-- TMPL_IF NAME="newpassword" -->密码已更新 <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="surname" --><!-- TMPL_VAR NAME="firstname" --> 密码更新<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首页</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">读者</a> &rsaquo; <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="surname" --><!-- TMPL_VAR NAME="firstname" --></a> &rsaquo; <!-- TMPL_IF NAME="newpassword" -->密码已更新<!-- TMPL_ELSE -->改变用户账号或是密码<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- TMPL_IF NAME="newpassword" -->
<h1>密码已更新</h1>

<!-- TMPL_ELSE -->

<form method="post" action="/cgi-bin/koha/members/member-password.pl">
<input type="hidden" name="destination" value="<!-- TMPL_VAR NAME="destination" -->" />	
<input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" />
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
	<!-- TMPL_IF NAME="errormsg" -->
		<!-- TMPL_IF NAME="BADUSERID" -->
		<p class="warning">You have entered a User ID that already exists.  Please choose another one.</p>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="SHORTPASSWORD" -->
		<p class="warning">密码太短。</p>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="NOPERMISSION" -->
		<p class="warning">你没有权限编辑这个读者登入信息。</p>
		<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->


	<fieldset class="brief"><legend>改变 <!-- TMPL_VAR NAME="surname" --><!-- TMPL_VAR NAME="firstname" --> 的账号/密码</legend>
	<ol>
	<li><label for="newuserid">新增用户名：</label>
	<input type="hidden" name="member" value="<!-- TMPL_VAR NAME="member" -->" /><input id="newuserid" name="newuserid" size="20" value="<!-- TMPL_VAR NAME="userid" -->" /></li>
	<li><label for="newpassword">新密码：</label>
	<div class="hint">Koha cannot display existing passwords. Below is a randomly generated suggestion.  Leave the field blank to leave password unchanged.</div>
	<!-- TMPL_IF NAME="minPasswordLength" --><div class="hint">最小密码长度：<!-- TMPL_VAR NAME="minPasswordLength" --></div><!-- /TMPL_IF -->
	<input name="newpassword"  id="newpassword" type="text" size="20" value="<!-- TMPL_VAR NAME="defaultnewpassword" -->" /></li>
	</ol>
</fieldset>
	<fieldset class="action"><input type="submit" value="保存"> <a class="cancel" href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">取消</a></fieldset>
</form><!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
