<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Biblio Framework</h1>

<p>Biblio-Frameworks werden zur Katalogisierung der Biblios benutzt</p>
	<p>Anders als in Koha 2.0 können Sie in dieser Version mehr als 1 Framework haben, um verschiedene Materialien unterschiedlich zu katalogisieren. Sie können zum Beispiel 1 Framework für Monographien, 1 Framework für Reihen, 1 Framework für URLs usw. definieren.</p>
	<p>Once a framework type is created, you can clic on "MARC structure" to define the exact MARC structure. The first time, Koha will ask you to select an existing framework to copy into the new one. Thus, you don't have to define all the MARC structure</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->