<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Druckerverwaltung</h1>

<p>If you are going to be using a printer (or several printers) that are attached to your Koha server for producing statistical and operations reports, then you need to give each printer a name and tell Koha how to access it. You do this by telling Koha which print queue to use.</p>

<p>(In Linux hat jeder Drucker seine eigene Druckerwarteschlange. Der Standarddrucker heißt meist "lp". Wenn mehrere Drucker verfügbar sind haben die Druckerschlangen andere Namen, z. B. "text" oder "postscript". Geben Sie Koha die Namen der Druckerwarteschlangen an, die Sie verwenden möchten um Berichte direkt vom Server aus zu drucken) </p>

<p>Note that you can always print Koha screens directly to a printer attached to your workstation just by using your web browser's Print function.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->