<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en ligne<!-- /TMPL_IF --> Catalogue &rsaquo; Envoi de mon panier
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding: 1em;" id="sendbasket">
<div class="container"><!-- TMPL_IF NAME="email_add" -->

	<!-- TMPL_IF NAME="SENT" -->
		<h3>Message envoyé</h3>
	    <p>Le panier a été envoyé à : <!-- TMPL_VAR NAME="email_add" --></p>
		<p><a class="close" href="#">Fermer la fenêtre</a></p>
	<!-- /TMPL_IF  -->
	<!-- TMPL_IF NAME="error" -->
	<p>Problème lors de l'envoi de votre panier...</p>
	<!-- /TMPL_IF -->
	
<!-- TMPL_ELSE -->

<form action="<!-- TMPL_VAR NAME="url" -->" method="post">

<fieldset class="rows"> 
<legend>Envoi de mon panier</legend>
<ol>   <li>
        <label for="email_add">Adresse e-mail:</label>
        <input type="text" id="email_add" name="email_add" size="43" />
    </li>
    <li>
            <label for="comment">Commentaire :</label>
            <textarea id="comment" name="comment" rows="4" cols="40"></textarea>
    </li>
    <li>
        <input type="hidden" name="bib_list" value="<!-- TMPL_VAR NAME="bib_list" -->" />
    </li></ol></fieldset>
       <fieldset class="action"> <input type="submit" value="Envoyer"> <a class="cancel close" href="#">Annuler</a> </fieldset>
</form>

<!-- /TMPL_IF --></div>
</body>
</html>
