親愛的 <!-- TMPL_VAR NAME="LibraryName" --> 讀者，你的建議，圖書館已經採訪 <!-- TMPL_VAR name="title" -->。<!-- TMPL_IF name="author" --> 作者：<!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->.  <!-- TMPL_VAR name="lib.surname" --> <!-- TMPL_VAR name="lib.firstname" --> reviewed your request today, and has decided not to accept the suggestion at this time.  The reason given is: <!-- TMPL_VAR NAME="reason" -->  If you have any questions, please email us at <!-- TMPL_VAR name="libemail" -->.  Thank you,  <!-- TMPL_VAR NAME="LibraryName" -->
