<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>權威記錄說明</h1><h2>什麼是 MARC 權威記錄？</h2>

<p>A MARC Authority Record are used to ensure consitency across catalogue records by providing a way to define the standard form of names for:</p><ul><li>人（作者、編者、出版者、插畫者等）</li><li>題名</li><li>主題</li><li>機構（公司、學術機構等）</li></ul>For more information about Authority Records with MARC 21 see the tutorial on the <a href="http://www.loc.gov/marc/uma/index.html">Library of Congress website</a>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
