<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 流通
<!-- TMPL_IF NAME="borrowernumber" -->
&rsaquo; <!-- TMPL_VAR name="surname" --><!-- TMPL_VAR name="firstname" -->（<!-- TMPL_VAR NAME="cardnumber" -->）借閱館藏
<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.tablesorter.min.js"></script>
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
$.tablesorter.addParser({
    id: 'articles', 
    is: function(s) {return false;  }, 
    format: function(s) { return s.toLowerCase().replace(/^(the|an|a) /,''); }, 
    type: 'text' 
});
	 $(document).ready(function() {
 		$('#patronlists > ul').tabs();
		$.tablesorter.defaults.widgets = ['zebra']; 
		$("#issuest").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
		headers: { 1: { sorter: 'articles' },4:{sorter:false},5: { sorter: false },6:{sorter:false}}
		});
		$("#issuest").bind("sortEnd",function() {
        	$("#previous").parents("tr").remove();  // 'previous checkouts' header chokes table sorter
	    }); 
		$("#holdst").tablesorter({<!-- TMPL_IF EXPR="dateformat eq 'metric'" -->
		dateFormat: 'uk',<!-- /TMPL_IF -->
			sortList: [[0,0]],
			headers: { 1: { sorter: 'articles' }}
		}); 
	 });
//]]>
</script>
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首頁</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">流通</a> &rsaquo;<!-- TMPL_IF NAME="borrowernumber" --> <a href="/cgi-bin/koha/circ/circulation.pl">借閱</a> &rsaquo; <!-- TMPL_VAR name="surname" --><!-- TMPL_VAR name="firstname" --><!-- TMPL_ELSE --> <strong>借閱</strong><!-- /TMPL_IF --></div>

<!-- TMPL_IF NAME="CGIselectborrower" -->
<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">
<!-- TMPL_ELSE -->
<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="borrowernumber" -->
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<!-- /TMPL_IF -->

<!--  INITIAL BLOC : PARAMETERS & BORROWER INFO -->
<!-- TMPL_IF NAME="dateexpiry" --><div class="dialog message">讀者借書證有效期限被更新到 <!-- TMPL_VAR NAME="dateexpiry" --></div><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="NEEDSCONFIRMATION" -->
<div class="yui-g">

<div id="circ_needsconfirmation" class="dialog alert">
<h3>請確認借閱：</h3>

<ul>
<!-- TMPL_IF NAME="DEBT" -->
    <li>讀者有 $<!-- TMPL_VAR name="DEBT" --> 欠款</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RENEW_ISSUE" -->
    <li>館藏現在被這位讀者借閱。續借嗎？</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVE_WAITING" -->
    <li>館藏已經寄送 <!-- TMPL_VAR NAME="RESERVE_WAITING" --></li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVED" -->
    <li><!-- TMPL_VAR NAME="RESERVED" --> 館藏已經被預約</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="ISSUED_TO_ANOTHER" -->
    <li>（<!-- TMPL_VAR NAME="getTitleMessageIteminfo" -->）被 <!-- TMPL_VAR NAME="ISSUED_TO_ANOTHER" --> 借閱。歸還並且借閱嗎？</li>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="TOO_MANY" -->
    <li>借閱館藏數量已達上限（上限為 <!-- TMPL_VAR name="TOO_MANY" -->）</li>
<!-- /TMPL_IF -->
</ul>

<form method="post" action="/cgi-bin/koha/circ/circulation.pl">
    
<!-- TMPL_IF NAME="RESERVED" -->
    <p>
    <input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" />
    <label for="cancelreserve">取消預約</label>
    </p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="RESERVE_WAITING" -->
    <p>
    <input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" />
    <label for="cancelreserve">取消預約</label>
    </p>
<!-- /TMPL_IF -->

    <input type="hidden" name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" />
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="issueconfirmed" value="1" />
    <!-- TMPL_IF NAME="DEBT" --><input type="hidden" name="debt_confirmed" value="1" /><!-- /TMPL_IF -->
    <input type="hidden" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />
    <input type="hidden" name="day" value="<!-- TMPL_VAR name="day" -->" />
    <input type="hidden" name="month" value="<!-- TMPL_VAR name="month" -->" />
    <input type="hidden" name="year" value="<!-- TMPL_VAR name="year" -->" />
    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="submit" class="approve" value="是，借閱（Y）" accesskey="y">
</form>

<form method="get" action="/cgi-bin/koha/circ/circulation.pl">
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="submit" class="deny" value="否, 不要借閱（N）" accesskey="n">
</form>

</div></div>
<!-- /TMPL_IF --> <!-- NEEDSCONFIRMATION -->

        <!-- TMPL_IF NAME="IMPOSSIBLE" -->
<div class="yui-g">
<div id="circ_impossible" class="dialog alert">
<!-- RESULT OF ISSUING REQUEST -->
        <ul>
        <!-- TMPL_IF NAME="STATS" -->
            <li>Local Use Recorded</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="INVALID_DATE" -->
            <li>歸還時間不合法</li>
        <!-- /TMPL_IF -->  
        <!-- TMPL_IF NAME="UNKNOWN_BARCODE" -->
            <li>找不到條碼</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOT_FOR_LOAN" -->
            <li>不可借出</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="WTHDRAWN" -->
            <li>館藏已經註銷</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="GNA" -->
            <li>讀者地址有問題</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="CARD_LOST" -->
            <li>讀者借書證已經遺失</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="DEBARRED" -->
            <li>讀者借書權利被禁止</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NO_MORE_RENEWALS" -->
            <li>無法再續借</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="EXPIRED" -->
            <li>讀者借書證已經過期</li>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="NOTSAMEBRANCH" -->
            <li>這個館藏屬於 <!-- TMPL_VAR NAME="itemhomebranch" -->，可是無法從這裡借閱。</li>
        <!-- /TMPL_IF --> 
        </ul>

    <!-- TMPL_IF NAME="memberofinstution" -->
    <p><!-- TMPL_VAR NAME="CGIorganisations" --></p>
    <!-- /TMPL_IF -->

</div></div>
    <!--/TMPL_IF --> <!-- /impossible -->

<!-- TMPL_IF NAME="issued" -->
<p>館藏借閱</p>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="message" -->
<!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->
<h4>
沒有符合的讀者 <span class="ex"><!-- TMPL_VAR name="message" --></span>
</h4>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="CGIselectborrower" -->
<!-- TMPL_INCLUDE NAME="patron-toolbar.inc" -->

<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="mainform" name="mainform">
<fieldset id="circ_circulation_selectborrower" class="brief">
    <legend>選擇讀者</legend>

    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />

<ol>    <li>
    <label for="borrowernumber">選擇一名讀者： </label>
    <!-- TMPL_VAR name="CGIselectborrower" -->
    </li>
</ol>
<p><input type="submit" value="選擇"></p>
</fieldset>
</form>
<!-- TMPL_ELSE --> <!-- CGIselectborrower -->

<!-- BARCODE ENTRY -->

<!-- TMPL_IF NAME="borrowernumber" -->
<div class="yui-g">
<!-- TMPL_UNLESS NAME="noissues" -->
<!-- TMPL_IF NAME="flagged" -->
<div class="yui-u first">
<!-- TMPL_ELSE -->
<div><!-- /TMPL_IF --><form method="post" action="/cgi-bin/koha/circ/circulation.pl" name="mainform">
<fieldset id="circ_circulation_issue">
    <label for="barcode"><!-- TMPL_VAR name="surname" --><!-- TMPL_VAR name="firstname" -->（<!-- TMPL_VAR NAME="cardnumber" -->）的借閱 </label>
	<div class="hint">輸入館藏條碼：</div>
	
	<input type="text" name="barcode" id="barcode" class="barcode focus" size="14" /> <input type="submit" value="歸還">
        
    <div class="date-select">
        <div class="hint">設定到期日：</div><input type="text" size="10" id="duedatespec" name="duedatespec" value="<!-- TMPL_VAR NAME="duedatespec" -->" />                                                        
		<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="顯示行事曆" border="0" id="CalendarDueDate" style="cursor: pointer;">
             <script language="JavaScript" type="text/javascript">
			 //<![CDATA[ 
                   function validate1(date) {
                         var today = new Date();
                         if ( date < today ) {
                             return true;
                          } else {
                             return false;
                          }
                     };
                     function refocus(calendar) {
                        document.getElementById('barcode').focus();
                        calendar.hide();
                     };
				//#TODO - ADD syspref (AllowPostDatedCheckouts).
                     Calendar.setup(
                          {
                             inputField : "duedatespec",
                             ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                             button : "CalendarDueDate",
                             disableFunc : validate1,
                             dateStatusFunc : validate1,
                             onClose : refocus
                           }
                        );
				//]]>
                 </script>

          <label for="stickyduedate"> 記得 Session：</label>
<!-- TMPL_IF NAME="stickyduedate" -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" checked="1" />
<!-- TMPL_ELSE -->
<input type="checkbox" id="stickyduedate" onclick="this.form.barcode.focus();" name="stickyduedate" />
<!-- /TMPL_IF -->
          <input type="button" class="action" id="cleardate" value="清除" name="cleardate" onclick="this.checked = false; this.form.duedatespec.value = ''; this.form.stickyduedate.checked = false; this.form.barcode.focus(); return false;">
          <input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
          <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
          <input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
          <input type="hidden" name="print" value="maybe" />
          <input type="hidden" name="debt_confirmed" value="<!-- TMPL_VAR NAME="debt_confirmed" -->" />
                <!-- TMPL_IF NAME="CHARGES" -->
                        <input type="hidden" name="charges" value="yes" />
                        <input type="hidden" name="oldamount" value="<!-- TMPL_VAR NAME="amountold" -->" />
                <!-- /TMPL_IF -->
</div>
</fieldset> 
</form></div><!-- /TMPL_UNLESS --><!-- /unless noissues -->

<!-- TMPL_IF NAME="noissues" --><div><!-- TMPL_ELSE --><div class="yui-u"><!-- /TMPL_IF -->
	
    <!-- TMPL_IF NAME="flagged" -->
		<!-- TMPL_IF NAME="noissues" -->
		 <h4><!-- TMPL_VAR name="surname" --><!-- TMPL_VAR name="firstname" -->（<!-- TMPL_VAR NAME="cardnumber" -->）的借閱</h4>
        <div id="circmessages" class="circmessage warning">
		<!-- TMPL_ELSE -->
        <div id="circmessages" class="circmessage attention">
		<!-- /TMPL_IF -->
		
		<h3><!-- TMPL_IF NAME="noissues" -->無法借閱！<!-- TMPL_ELSE -->注意：<!-- /TMPL_IF --></h3>
		<ul>
		
			<!-- TMPL_IF NAME = "warndeparture" -->
			<li><span class="circ-hlt">有效日期：</span> Patron's card will expire soon.  Patron's card expires on <!-- TMPL_VAR NAME="expiry" --> <a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
			
			</li>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF NAME="returnbeforeexpiry" -->
			 <li><span class="circ-hlt">Set due date to expiry:</span> You have the ReturnBeforeExpiry system preference enabled this means if the
			 expiry date is before the date due, the date due will be set to the expiry date
			 </li>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF NAME = "expired" -->
			<li><span class="circ-hlt">有效日期：</span> Patron's card has expired.  Patron's card expired on <!-- TMPL_VAR NAME="expiry" --> <a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;reregistration=y">Renew</a> or <a href="/cgi-bin/koha/members/memberentry.pl?op=modify&amp;destination=circ&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit Details</a>
			
			</li>
			<!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="gna" -->
			<li class="blocker"><span class="circ-hlt">地址：</span> 讀者地址有問題</li>
			<!-- /TMPL_IF -->
			
            <!-- TMPL_IF NAME="lost" -->
			<li class="blocker"><span class="circ-hlt">遺失： </span>讀者借書證已經遺失</li>
			<!-- /TMPL_IF -->
			
            <!-- TMPL_IF NAME="dbarred" --><li class="blocker">
               <span class="circ-hlt"> 被限制：</span> 讀者帳號被限制 <a href="/cgi-bin/koha/members/setstatus.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;cardnumber=<!-- TMPL_VAR NAME="cardnumber" -->&amp;destination=circ&amp;status=0">取消限制</a>
</li><!-- /TMPL_IF -->

        	<!-- TMPL_IF name="odues" --><li><!-- TMPL_IF name="nonreturns" --><span class="circ-hlt">逾期：</span> 讀者有 <span class="circ-hlt">逾期館藏</span>。看顏色亮度較重的館藏 <a href="#checkouts">如下</a><!-- /TMPL_IF --></li>
            <!-- /TMPL_IF -->
			
        	<!-- TMPL_IF NAME="charges" -->
                <!-- TMPL_IF NAME="charges_is_blocker" -->
			        <li class="blocker">
                <!-- TMPL_ELSE -->
			        <li>
                <!-- /TMPL_IF -->
            <span class="circ-hlt">罰款：</span> Patron has <a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Outstanding fines</a>.
                <!-- TMPL_IF NAME="charges_is_blocker" -->
                    Checkouts are blocked because fine balance is over the limit.
                <!-- /TMPL_IF -->
            Make <a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->">Payment</a></li>
			<!-- /TMPL_IF -->

        	<!-- TMPL_IF NAME="credits" -->
			<li><span class="circ-hlt">收據：</span> 讀者有一筆欠款</li>
			<!-- /TMPL_IF -->

			

			</ul>
        </div>

			<!-- TMPL_IF NAME="WaitingReserveLoop" -->	
			<div id="holdswaiting" class="circmessage">
		    <h4>預約中</h4>
			        <!-- TMPL_LOOP NAME="WaitingReserveLoop" -->
			            <ul> 
			                <li> <a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title"--></a> (<!-- TMPL_VAR NAME="itemtype"-->), <!-- TMPL_IF NAME="author" -->作者：<!-- TMPL_VAR NAME="author"--><!-- /TMPL_IF --> Hold placed on <!-- TMPL_VAR NAME="reservedate"-->.
			            <!-- TMPL_IF NAME="waitingat" -->
			                <br /><!-- TMPL_IF NAME="waitinghere" --><strong class="waitinghere"><!-- TMPL_ELSE --><strong><!-- /TMPL_IF -->Waiting at <!-- TMPL_VAR NAME="waitingat" --></strong>	
			            <!-- /TMPL_IF -->
			                </li>
			            </ul>
			    <!-- /TMPL_LOOP -->
			</div>
			<!-- /If WaitingReserveLoop --><!-- /TMPL_IF -->
	<!-- TMPL_IF name="notes" -->
			<div id="circnotes" class="circmessage">
			<h4>備註：</h4>
            <p><span class="circ-hlt"><!-- TMPL_VAR name="notesmsg" --></span></p>
			</div>
    <!-- /If notes --><!-- /TMPL_IF --> 
     <!-- /If flagged --><!-- /TMPL_IF -->


</div>
</div>

<div class="yui-g"><div id="patronlists" class="toptabs">

<ul>   
<li>    <!--TMPL_IF NAME="issuecount"-->
            <a href="/cgi-bin/koha/circ/circulation.pl#checkouts">借閱 <!-- TMPL_VAR NAME="issuecount"--> 筆</a>
    <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/circ/circulation.pl#checkouts">0 借閱</a>
    <!-- /TMPL_IF --></li>
<li><!-- TMPL_IF NAME="countreserv"-->
            <a href="/cgi-bin/koha/circ/circulation.pl#reserves"><!--TMPL_VAR NAME="countreserv"--> 筆預約</a>
    <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/circ/circulation.pl#reserves">0 預約</a>
    <!-- /TMPL_IF --></li>
 
</ul>

<!-- SUMMARY : TODAY & PREVIOUS ISSUES -->
<div id="checkouts">
<!--TMPL_IF NAME="issuecount"-->
    <form action="/cgi-bin/koha/reserve/renewscript.pl" method="post">
    <input type="hidden" value="circ" name="destination" />
    <input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" />
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
    <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />	
        <table id="issuest">
    <thead><tr>
        <th>到期日</th>
        <th>題名</th>
        <th>館藏型式</th>
        <th>索書號</th>
        <th>登錄號</th>
        <th>續借嗎？</th>
		<th>借閱嗎？</th>
    </tr>
<!-- TMPL_IF NAME="todayissues" --></thead>
	<tbody>

    <!-- TMPL_LOOP NAME="todayissues" -->
    <!-- TMPL_IF NAME="togglecolor" -->
    <tr>
    <!-- TMPL_ELSE -->
    <tr class="highlight">
    <!-- /TMPL_IF -->
        <td><!-- TMPL_VAR NAME="dd" --></td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><!-- TMPL_VAR NAME="title" --></a><!-- TMPL_IF NAME="author" -->，作者 <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --><!-- TMPL_IF NAME="itemnotes" -->- <span class="circ-hlt"><!-- TMPL_VAR name="itemnotes" --></span><!-- /TMPL_IF --></td>
        <td>
            <!-- TMPL_VAR NAME="itemtype" -->
           <!-- TMPL_UNLESS NAME="noItemTypeImages" --> <!-- TMPL_IF NAME="itemtype_image" -->
            <img src="<!-- TMPL_VAR NAME="itemtype_image" -->" />
            <!-- /TMPL_IF --><!-- /TMPL_UNLESS -->
        </td>
        <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
        <td><!-- TMPL_VAR NAME="barcode" --></td>
        <td>
		<!-- TMPL_IF NAME="can_renew" -->
        <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
        <!-- TMPL_IF NAME="od" -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
        <!-- TMPL_ELSE -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
        <!-- /TMPL_IF -->
		<!-- TMPL_ELSE -->
		    <!-- TMPL_IF NAME="renew_error_on_reserve" -->
			    預約中
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="renew_error_too_many" -->
			    Too Many Renewals
			<!-- /TMPL_IF -->
		<!-- /TMPL_IF -->
        </td>
		<td><a href="/cgi-bin/koha/circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->">借閱</a></td>
		<!-- TMPL_IF NAME="renew_failed" -->
		<td>續借失敗</td>
		<!-- /TMPL_IF -->
    </tr>
    <!-- /TMPL_LOOP --> <!-- /loop todayissues -->
    <!-- /if todayissues --><!-- /TMPL_IF --> 
<!-- TMPL_IF NAME="previssues" -->
<!-- TMPL_IF NAME="todayissues" --><tr><th colspan="7"><a name="previous" id="previous"></a>Previous checkouts</th></tr><!-- TMPL_ELSE -->
<tr><th class="{sorter: false}" colspan="7"><a name="previous" id="previous"></a>Previous checkouts</th></tr></thead>
	<tbody>
<!-- /TMPL_IF -->
    <!-- TMPL_LOOP NAME="previssues" -->
    <!-- TMPL_IF NAME="togglecolor" -->
        <tr>
    <!-- TMPL_ELSE -->
        <tr class="highlight">
    <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="od" --><td class="od"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
        <!-- TMPL_VAR NAME="dd" -->
        </td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><!-- TMPL_VAR NAME="title" --></a><br /><!-- TMPL_IF NAME="author" --><!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --> <!-- TMPL_IF NAME="itemnotes" -->- <!-- TMPL_VAR name="itemnotes" --><!-- /TMPL_IF --></td>
        <td>
            <!-- TMPL_VAR NAME="itemtype" -->
            <!-- TMPL_IF NAME="itemtype_image" -->
            <img src="<!-- TMPL_VAR NAME="itemtype_image" -->" />
            <!-- /TMPL_IF -->
        </td>
        <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
        <td><!-- TMPL_VAR NAME="barcode" --></td>
        <td>
		<!-- TMPL_IF NAME="can_renew" -->
            <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
        <!-- TMPL_IF NAME="od" -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
        <!-- TMPL_ELSE -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
        <!-- /TMPL_IF -->
		<!-- TMPL_ELSE -->
		    <!-- TMPL_IF NAME="renew_error_on_reserve" -->
			    預約中
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="renew_error_too_many" -->
			    Too Many Renewals
			<!-- /TMPL_IF -->
			
		<!-- /TMPL_IF -->
        </td>
		<td><a href="/cgi-bin/koha/circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->">借閱</a></td>
		<!-- TMPL_IF NAME="renew_failed" -->
		<td>續借失敗</td>
		<!-- /TMPL_IF -->

    </tr>
    <!-- /loop previssues --><!-- /TMPL_LOOP --> 
<!--/if previssues --><!-- /TMPL_IF --> 
	</tbody>
    </table>
	<!--TMPL_IF NAME="issuecount"-->
    <fieldset class="action">
    <input type="submit" name="renew_checked" value="續借選擇館藏">
    <input type="submit" name="renew_all" value="續借全部">
    </fieldset>
	<!-- /TMPL_IF -->
</form>
<!-- TMPL_ELSE -->
<p>讀者沒有借閱館藏。</p>
<!-- /TMPL_IF -->
</div>


<div id="reserves">
<!-- TMPL_IF NAME="reservloop" -->
    <table id="holdst">
        <thead><tr>
            <th>預約時間</th>
            <th>題名</th>
            <th>館藏型式</th>
            <th>索書號</th>
			<th>登錄號</th>
            <th>優先</th>
        </tr></thead>
		<tbody>
        <!-- TMPL_LOOP NAME="reservloop" -->
        <tr class="<!-- TMPL_VAR NAME="color" -->">
                    <td><!-- TMPL_VAR NAME="reservedate" --></td>
                    <td><a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a><!-- TMPL_IF NAME="author" -->，作者 <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></td>
					<td><!-- TMPL_VAR NAME="itemtype" --></td>
                    <td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
					<td><em><!-- TMPL_IF name="barcodereserv" -->Item <!-- TMPL_VAR NAME="barcodereserv" -->
                        <!-- /TMPL_IF --><!-- TMPL_IF name="waiting" --> <strong>waiting at <!-- TMPL_VAR NAME="waitingat" --></strong>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="transfered" --> <strong>in transit</strong> from  <!-- TMPL_VAR NAME="frombranch" --> since <!-- TMPL_VAR NAME="datesent" -->
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="nottransfered" --> hasn't been transfered yet from <!-- TMPL_VAR NAME="nottransferedby" --></i>
                        <!-- /TMPL_IF --></em></td>
                    <td>                    
                        <!-- TMPL_IF NAME="waitingposition" -->
                        預約優先權 <b> <!-- TMPL_VAR NAME="waitingposition" --> </b><!-- /TMPL_IF -->
                    </td>
            </tr>
        <!-- /TMPL_LOOP --></tbody>
    </table>
	<!-- TMPL_ELSE -->
	<p>讀者沒有預約。</p>
<!-- /TMPL_IF -->
</div> <!-- reservesloop -->

<!-- /TMPL_IF --> <!-- borrowernumber -->
</div></div>
<!--/TMPL_IF -->



</div>
</div>
<!-- TMPL_UNLESS NAME="CGIselectborrower" --><div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div><!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
