<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe Normdaten</h1><h2>Was ist ein MARC Authority Record?</h2>

<p>Ein MARC-Normdatensatz dient dazu, die Konsistenz der Katalogdatensätze zu gewährleisten, indem er eine Möglichkeit bietet, Standardformen der Namen zu definierten für: </p><ul><li>Personen (Verfasser, Bearbeiter, Verleger, Illustratoren etc.)</li><li>Titel</li><li>Schlagwörter</li><li>Organisationen (Gesellschaften, Akademische Institute etc.)</li></ul>Für weitere Informationen zu Normdatensatzen in MARC21 sehen Sie sich das Tutorial auf der <a href="http://www.loc.gov/marc/uma/index.html">Library of Congress Webseite</a> an

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
