<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Hilfe Bestelldetails</h1>

<h2>Was ist der &quot;Händler-Preis&quot;?</h2>
<p>The vendor price is the price given to you by the vendor, sometimes called the &quot;List Price&quot;. Depdending on how the Vendor is setup this may or maynot include any discount given to you by the vendor and/or any sales tax. See Vendors for more information.</p>

<h2>Was ist der &quot;Wiederbeschaffungspreis&quot;?</h2>
<p>Der Ersatz-Preis ist das Total der Kosten, die entstehen, wenn sie das Exemplar über den Buchhandel ersetzen müssten. Diesen Betrag könnte man einem Benutzer abverlangen, wenn das Exemplar verloren oder unrettbar beschädigt ist.</p>

<h2>Was ist der &quot;Bestellpreis&quot;?</h2>
<p>Dies ist der Preis, den Sie für das Exemplar erwarten, einschließlich aller Rabatte und Verkaufssteuern (je nach Verkäufer-Setup) und es ist die Summe, für welche die Rechnung gestellt wird bei Ihrem  <strong>zweckgebundenes Budget</strong>.</p>

<h2>Was ist der &quot;Tasächliche Preis&quot;?</h2>
<p>This is the price that shows on the invoice or packing slip when you receive the item. When placing an order, Koha will automatically calculate this for you. When an item is received, this can be over keyed with the actual value. This is to take into account any slight differences in rounding or price flutucations between ordering the item and actually recieving it.</p>
<p>Der Aktuelle Preis ist das, was Ihnen überwiesen wird auf Ihr  <strong>Ausgegeben Budget</strong>.</p>    

<!-- TMPL_INCLUDE name="help-bottom.inc" -->