<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Lieferung Hilfe</h1>

<h2>Wie erhalte ich Exemplare, die eingetroffen sind?</h2>
<p>Firstly, check the catalogue details that you are recieiving the right item. If these are correct, you can add the  item details.</p>
<p>Für jedes Exemplar müssen Sie das Folgende prüfen:</p>
	<ul>
		<li><strong>Band/Kopie </strong>for Serials</li>
		<li><strong>Exemplar-Barcode</strong> scannen oder geben Sie den Barcode ein, der dem Exemplar zugewiesen wurde</li>
		<li><strong>Heimatbibliothek </strong>Heimatzweigstelle für das Medium aus der Drop-Down-Liste auswählen</li>
		<li><strong>Exemplar Typus </strong>Medientyp aus der Drop-Down-Liste auswählen</li>
	</ul>
	
	<h2>How do I receive multiple identical items?</h2>
<p>Wenn Sie mehrere Exemplare des gleichen Titels bestellt haben, dann verwenden Sie den &quot; + &quot; um ein weiteres anzulegen <strong>Exemplar Details</strong> Eingabefelder.</p>
<p>For each copy you will need to set that Item Barcode, Home Library and Item Type.</p>
<p>Immer, wenn Sie ein neues Exemplar hinzufügen, wird die <strong>Erhaltene Anzahl</strong> unter <strong>Abrechnungsdetails</strong> sollte aktualisiert werden.&nbsp;</p>
<p>If you press the &quot;+&quot; by mistake, use the &quot;-&quot; button to remove the unwanted Item Details <strong>Eingabefelder </strong></p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->