<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>標籤列印</h1>

<h2>如何列印標籤？</h2>

<p>連續步驟是：</p><ol><li>設定配置</li><li>設定模版配置</li><li>透過批次標籤來合併配置和模版。&nbsp;</li></ol><h2>什麼是 &quot;配置&quot;？</h2>

<p>A layout is where you define what will print on the label. For example for a spine label you may choose the Classification Number. </p>

<h2>什麼是 &quot;配置模版&quot;？</h2>

<p>A layout template is the dimensions of the sheet you are using. You will need to either acquire the dimensions from the label supplier, or measure them accurately.</p><p>Layout Templates will need to be defined for each type of Label sheet or page you wish to print to.  </p>

<h2>什麼是 &quot;批次標籤&quot;？</h2>

<p>A label batch is where you take your Layout, Layout Template and merge with the items you wish to create the labels for.</p><p>Once the merge has been completed,  a PDF will be generated that can be used to print the labels.</p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->