<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- Selbstverbuchung
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Hilfe zur Selbstverbuchung</h2>

<p>Wenn sie das Selbstverbuchungssystem zum ersten mal benutzen oder sich das System nicht wie erwartet verhält, können Sie diese Anleitung dazu verwenden, die Benutzung zu erlernen.</p>

<h3>Schritt Eins: Nutzerkennung eingeben    </h3>
<p>Geben Sie ihre Benutzernummer ein und bestätigen Sie mit dem Button oder der Eingabetaste.</p>

<h3>Schritt Zwei: Scannen Sie den Barcode jedes Mediums, einen nach dem anderen.</h3>
<p>Scannen Sie jedes Exemplar und warten Sie mit dem nächsten Exemplar, bis sich die Seite neu aufgebaut hat. Das entliehene Medium sollte nun in der Lister Ihrer Ausleihen erscheinen. Der Absende-Button muss nur dann verwendet werden, wenn Sie den Barcode manuell eingeben möchten.</p>

<h3>Schritt Drei: Klicken Sie auf 'Klicken wenn fertig', wenn Sie fertig sind.</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Zurück zur Selbstverbuchung</a>
</div></div>
</body>
</html>

