<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>كوها &rsaquo;أدوات</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">الصفحة الرئيسية</a> &rsaquo; أدوات</div>

<div id="doc3">
<div id="bd">
	<div class="yui-gb">

<div class="yui-u first">
<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_edit_news" -->
    <dt><a href="/cgi-bin/koha/tools/koha-news.pl">أخبار</a></dt>
    <dd>Write news for the OPAC and staff interfaces</dd>
    <!-- /TMPL_IF -->
	
    <!-- TMPL_IF NAME="CAN_user_tools_label_creator" -->
    <dt><a href="/cgi-bin/koha/labels/label-home.pl">Label and Patron Card Creator</a></dt>
    <dd>Create printable labels and barcodes from catalog data and patron cards from patron data</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_edit_calendar" -->
    <dt><a href="/cgi-bin/koha/tools/holidays.pl">Calendar</a></dt>
    <dd>Define days when the library is closed</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_moderate_comments" -->
    <dt><a href="/cgi-bin/koha/reviews/reviewswaiting.pl">التعليقات</a></dt>
	<dd>Moderate patron comments</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_moderate_comments" --><!-- FIXME: Update here when Tag specific permission is created. -->
    <dt><a href="/cgi-bin/koha/tags/review.pl">Tags</a></dt>
	<dd>Moderate patron tags</dd>
    <!-- /TMPL_IF -->
	</dl>
</div>
<div class="yui-u">
	<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_edit_notices" -->
    <dt><a href="/cgi-bin/koha/tools/letter.pl">ملاحظات</a></dt>
    <dd>حدد الملاحظات (إطبع و إرسل الاخطارات بالبريد الالكترونى ل للمتأخرات, إلخ.)</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_edit_notice_status_triggers" -->
    <dt><a href="/cgi-bin/koha/tools/overduerules.pl">إخطار التأخير / الحالة مرسلة</a></dt>
    <dd>حدد الملاحظة/حالة إرسال الأوعية المتأخرة</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_view_system_logs" -->
	<dt><a href="/cgi-bin/koha/tools/viewlog.pl">عارض السجل</a></dt>
    <dd>تصفح سجلات النظام</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_inventory" -->
    <dt><a href="/cgi-bin/koha/tools/inventory.pl">جرد / جرد </a></dt>
    <dd>قم بالجرد (جرد) لدليلك </dd>
    <!-- /TMPL_IF -->
	
	</dl>
</div>
<div class="yui-u">
<dl>
    <!-- TMPL_IF NAME="CAN_user_tools_stage_marc_import" -->
    <dt><a href="/cgi-bin/koha/tools/stage-marc-import.pl">نظّم تسجيلات مارك لاستيرادها</a></dt>
    <dd>Stage MARC records into the reservoir.</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_manage_staged_marc" -->
    <dt><a href="/cgi-bin/koha/tools/manage-marc-import.pl">أدر تسجيلات مارك المنظمة</a></dt>
    <dd>Managed staged MARC records, including completing and reversing imports</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_export_catalog" -->
    <dt><a href="/cgi-bin/koha/tools/export.pl">تصدير ببليوجرافي ومجموعات</a></dt>
    <dd>تصدير ببليوجرافي وبيانات مجموعات</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_import_patrons" -->
    <dt><a href="/cgi-bin/koha/tools/import_borrowers.pl">إستيراد مستفيدين</a></dt>
    <dd>Import patron data</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_delete_anonymize_patrons" -->
    <dt><a href="/cgi-bin/koha/tools/cleanborrowers.pl">Patrons (anonymize, bulk-delete)</a></dt>
    <dd>إحذف تاريخ إستعارات المستعيرين القدامى والمجهولين (حذف تاريخ قراءة مستعير) </dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_batch_upload_patron_images" -->
    <dt><a href="/cgi-bin/koha/tools/picture-upload.pl">Upload patron images</a></dt>
	<dd>Upload patron images in batch or one at a time</dd>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="CAN_user_tools_schedule_tasks" -->
    <dt><a href="/cgi-bin/koha/tools/scheduler.pl">مجدول المهام</a></dt>
    <dd>جدولة المهام للتشغيل</dd>
    <!-- /TMPL_IF -->
	
</dl>
</div>

</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
