<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> -- Bibliothekskatalog
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body><div id="doc" class="yui-t7">
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->


	
   Wartungsarbeiten... wir sind bald wieder erreichbar! Bitte wenden Sie sich an den <a href="mailto:<!--TMPL_VAR Name="KohaAdminEmailAddress"-->">Seiten-Administrator</a> wenn Sie Fragen haben.

</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
