<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryNameTitle" DEFAULT="Koha Online" --> Katalog &rsaquo; <!-- TMPL_VAR NAME="title" --> vormerken für <!-- TMPL_LOOP NAME="USER_INFO" --><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --><!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
// <![CDATA[ 
 $(document).ready(function() {
 	$("#requestany").click(function() {
		if(this.checked){
		$("input[@name=checkitem]").each(function() {
			$(this).attr("checked","");
		});
		}
	});
 	$("input[@name=checkitem]").click(function() {
		onechecked = 0;
		$("input[@name=checkitem]").each(function() {
			if(this.checked){
				onechecked = 1;
			}
		});
		if(onechecked == 1){
			$("#requestany").attr("checked","");
		} else {
			$("#requestany").attr("checked","checked");
		}
	});
 });
// ]]>
</script>
</head>
<body>
<div id="doc3" class="yui-t7">
<!--TMPL_INCLUDE NAME="masthead.inc" -->

   <div id="bd">
	<div id="yui-g">
<div id="holds" class="container">
<!-- TMPL_IF NAME="message" -->
    <!-- TMPL_IF NAME="GNA" -->
    <div class="dialog alert">
        <strong>Entschuldigung</strong>, Sie können keine Vormerkungen vornehmen, weil der Bibliothek Ihre aktuellen <a href="/cgi-bin/koha/opac-userdetails.pl">Kontaktinformationen</a> fehlen.
    </div>
    <div class="dialog alert">Bitte nehmen Sie Kontakt mit Ihrer Bibliothek auf oder nutzen Sie das <a href="/cgi-bin/koha/opac-userupdate.pl">Online-Formular</a> um aktuelle Informationen zu übermitteln. (<em>Bitte beachten Sie:</em> Es ist möglich, dass es eine Verzögerung bei der Wiederherstellung Ihres Kontos gibt, wenn Sie Ihre Daten online übermitteln)
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="lost" -->
    <div class="dialog alert">
        <strong>Entschuldigung</strong>, Sie können keine Vorbestellungen vornehmen, weil Ihre Bibliothekskarte als verloren oder gestohlen gemeldet wurde.
    </div>
    <div class="dialog alert">
        Wenn dies ein Fehler ist, melden sie sich bitte mit Ihrem Benutzerausweis an der Ausleihtheke Ihrer Bibliothek und lassen den Fehler dort beheben.
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="debarred" -->
    <p class="error">
        <strong>Entschuldigung</strong>, Sie können keine Vorbestellungen vornehmen, weil Ihr Konto gesperrt wurde.
    </div>
    <div class="dialog alert">Normalerweise wird ein Konto gesperrt, wenn Mahn- oder andere Gebühren vorliegen. Wenn <a href="/cgi-bin/koha/opac-user.pl">Ihre Konto-Übersicht</a> Ihr Konto als ausgeglichen anzeigt, wenden Sie sich bitte an die Ausleihtheke.
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="too_much_oweing" -->
    <div class="dialog alert">
        Entschuldigung, aber Sie können keine Vormerkungen vornehmen, da Sie folgende Außenstände haben: <!-- TMPL_VAR NAME="too_much_oweing" -->.
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="too_many_reserves" -->
        <div class="dialog alert">Entschuldiung, aber Sie können nicht mehr als <!-- TMPL_VAR NAME="too_many_reserves" --> Vormerkungen aufgeben.
        </div>
        <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="already_reserved" -->
    <div class="dialog alert">
        Sie haben diesen Titel bereits vorgemerkt.  <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">Zurück zur Detailansicht</a>
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="no_items_selected" -->
    <div class="dialog alert">
        Sie müssen mindestens ein Exemplar auswählen.
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="no_branch_selected" -->
    <div class="dialog alert">
        Sie müssen auswählen, von welcher Bibliothek Sie das Buch abholen möchten.
    </div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="no_biblionumber" -->
    <div class="dialog alert">ERROR: Keine Titelsatznummer erhalten.</div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="bad_biblionumber" -->
    <div class="dialog alert">FEHLER: Es wurde kein Titelsatz mit Titelsatznummer <!-- TMPL_VAR NAME="bad_biblionumber" --> gefunden.</div>
    <!-- /TMPL_IF -->
</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="select_item_types" -->
    <!-- The first time round you select which bibitems you want -->
    <form action="/cgi-bin/koha/opac-reserve.pl" method="post">
        <input type="hidden" name="item_types_selected" value="1">
        <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->">
        <h3><a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a> vormerken<!-- TMPL_IF NAME="author" -->, durch <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></h3>

<!-- TMPL_IF NAME="OPACItemHolds" --> <!-- TMPL_LOOP name="bibitemloop" --> 
            <!-- TMPL_UNLESS NAME="item-level_itypes" -->
            <p><strong>Medientyp:</strong> <!-- TMPL_VAR NAME="description" --></p>
            <!-- /TMPL_UNLESS -->
            <!-- TMPL_IF NAME="publicationyear" --><p><strong>Erscheinungsjahr:</strong> <!-- TMPL_VAR NAME="publicationyear" --></p><!-- /TMPL_IF -->
<!-- /TMPL_IF --><!-- /TMPL_LOOP -->

		<fieldset class="rows holds">
			<ol>
				<li><span class="label">Für:</span> <!-- TMPL_LOOP NAME="USER_INFO" --><!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)
            <!-- TMPL_IF NAME="singleBranchMode" -->
             <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branchcode" -->"/>
            <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP --></li>
            <li><span class="label">Priorität:</span><!-- TMPL_VAR Name="rank" DEFAULT="?" --> von <!-- TMPL_VAR Name="reservecount" DEFAULT="?" -->
			</li> 
            <!-- TMPL_UNLESS NAME="singleBranchMode" -->
            <li><label for="branch">Abholen bei:</label> <select name="branch" id="branch">
                    <!-- TMPL_LOOP NAME="CGIbranch" -->
                        <!-- TMPL_IF name="selected" -->
                            <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branch" --></option>
                        <!-- TMPL_ELSE -->
                            <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branch" --></option>
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
            </select>
            </li>
            <!-- /TMPL_UNLESS -->
			
			<!-- TMPL_IF NAME="forloan" -->
            <!-- TMPL_IF NAME="OPACItemHolds" --><li> <label for="requestany">nächstes verfügbares Exemplar vormerken </label>
            <input type="checkbox" name="request" id="requestany" checked="checked" value="Beliebig">
            </li><!-- TMPL_ELSE --><input type="hidden" name="request" value="Any" /><!-- /TMPL_IF -->
			</ol>
		</fieldset>


<fieldset class="action">            <input type="hidden" name="biblioitem" value="<!-- TMPL_VAR NAME="biblioitemnumber" -->" />
            <input type="submit" value="Vormerken">
            <input type="hidden" name="all" value="1" /></p>
            <input type="hidden" name="place_reserve" value="1" /></fieldset>
			<!-- /TMPL_IF -->  
			          
       <!-- TMPL_IF NAME="OPACItemHolds" --> <!-- TMPL_LOOP name="bibitemloop" -->    

            <table id="requestspecific">
			<caption>Spezielles Exemplar vormerken</caption>
            <tr>
                <th>Behalten</th>
	            <!-- TMPL_IF NAME="item-level_itypes" -->
                <th>Medientyp</th>
                <!-- /TMPL_IF -->
                <th>Barcode</th>
                <!-- TMPL_UNLESS NAME="singleBranchMode" -->
                <th>Heimatbibliothek</th>
                <th>Letzter Standort</th>
                <!-- /TMPL_UNLESS -->
                <th>Signatur</th>
                <th>Information </th>
            </tr>
        <!-- TMPL_LOOP Name="itemloop" -->
        <tr class="<!-- TMPL_VAR NAME="backgroundcolor" -->">
            <td>
            <!-- TMPL_IF NAME="available" -->
            <input type="radio" name="checkitem" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
            <!-- TMPL_ELSE -->
            <input disabled="disabled" type="radio" name="checkitem" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
            <!-- /TMPL_IF -->
            </td>
            <!-- TMPL_IF NAME="item-level_itypes" -->
            <td>
            <img src="<!-- TMPL_VAR NAME="imageurl" -->" alt="<!-- TMPL_VAR NAME="description" -->" title="<!-- TMPL_VAR NAME="description" -->" />
            </td>
            <!-- /TMPL_IF -->
            <td><!-- TMPL_VAR NAME="barcode"           --></td>
            <!-- TMPL_UNLESS NAME="singleBranchMode" -->
            <td><!-- TMPL_VAR NAME="homebranchname"    --></td>
            <td><!-- TMPL_VAR NAME="holdingbranchname" --></td>
            <!-- /TMPL_UNLESS -->
            <td><!-- TMPL_VAR NAME="itemcallnumber"    --></td>
            <td>
        <!-- TMPL_IF Name="date_due" -->
            <span class="checkedout">Fällig <!-- TMPL_VAR NAME="date_due" --></span>
        <!-- TMPL_ELSIF Name="transfertwhen" -->
            <span class="intransit">Unterwegs von <!-- TMPL_VAR NAME="transfertfrom" --> zu <!-- TMPL_VAR NAME="transfertto" -->, seit <!-- TMPL_VAR NAME="transfertwhen" --> </span>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF Name="message" -->
            <span class="lost">Nicht verfügbar (vermisst/verloren)</span>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF Name="notforloan" -->
            <span class="notforloan">NIcht für den Verleih (<!-- TMPL_VAR NAME="notforloanvalue" -->)</span>
        <!-- /TMPL_IF -->

            <!-- TMPL_IF NAME="reservedate"-->
                    <span class="waiting"><!-- TMPL_IF NAME="waitingdate" -->Wartend<!-- TMPL_ELSE -->Wartend<!-- /TMPL_IF --> für Benutzer 
                    <!-- TMPL_IF NAME="waitingdate" -->in<!-- TMPL_ELSE -->erwartet am<!-- /TMPL_IF --> <!-- TMPL_VAR NAME="ExpectedAtLibrary" --> seit
                    <!-- TMPL_IF NAME="waitingdate" --><!-- TMPL_VAR NAME="waitingdate" --><!-- TMPL_ELSE --><!-- TMPL_IF name="reservedate" --><!-- TMPL_VAR NAME="reservedate" --><!-- /TMPL_IF --><!-- /TMPL_IF -->.</span>
            <!-- TMPL_ELSE -->
                    <span class="notonhold">Nicht vorgemerkt</span>
            <!-- /TMPL_IF -->&nbsp;
            </td>
        </tr>
        <!-- /TMPL_LOOP --> <!-- itemloop -->
        </table>
        <!-- /TMPL_LOOP --> <!-- bibitemloop -->
        <input type="submit" value="Vormerken">
        </form><!-- /TMPL_IF -->
    <!-- end of the first form -->
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="item_types_selected" -->
<!-- if the bibitems have already been selected -->
<form action="/cgi-bin/koha/opac-reserve.pl" method="post">
<input type="hidden" name="place_reserve" value="1">
<input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->"><h3>Bestätigen Sie die Vormerkung</h3>
<div class="details">
    <table>
        <tr><th>Titel: </th><td><span class="title"><!-- TMPL_VAR NAME="title" --></span></td></tr>

<!-- TMPL_IF NAME="all" -->
        <tr><th>Medientyp: </th><td>Beliebig<input type="hidden" name="all" value="1"></td></tr>
<!-- TMPL_ELSE -->
        <tr><th>Medientypen: </th><td><!-- TMPL_LOOP NAME="TYPES" -->
<input type="hidden" name="itemtype" value="<!-- TMPL_VAR NAME="itemtype" -->"><!-- TMPL_VAR NAME="description" -->;
<!-- /TMPL_LOOP --></td></tr>

<!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="singleBranchMode" -->
        <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->">
        <!-- TMPL_ELSE -->
        <tr><th>Abholen bei: </th><td><!-- TMPL_VAR NAME="branchname" --><input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->"></td></tr>
        <!-- /TMPL_IF -->
</table>
</div>
<p><input type="submit" value="beenden und vormerken" class="submit" onclick="this.value='Please wait...'; this.disabled=true; this.form.submit();"></p>

</form>

<!-- /TMPL_IF -->
</div></div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc"-->
