<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha en ligne<!-- /TMPL_IF --> Catalogue &rsaquo; Une erreur s'est produite
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!--TMPL_INCLUDE NAME="masthead.inc" -->
<!--TMPL_INCLUDE NAME="navigation.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
            <h3>Une erreur s'est produite</h3>
            <h4>Erreur 404</h4>
            <ul>
                <li>Cette erreur signifie que le lien est cassé et que la page n'existe pas.</li>
                <li>Pour signaler cette erreur, vous pouvez envoyer un <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">e-mail à l'administrateur</a></li>
                <li>Utilisez le menu en haut pour accéder à une autre partie de Koha.</li>
            </ul>
        </div>
        </div>
        </div>
    </div>
</div>

<!-- <div id="main"> -->
<!-- </div> -->
</body>
</html>
