<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Կառավարում</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Տուն</a> &rsaquo; Ադմինիստրացիա</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main" class="sysprefs">
	<div class="yui-g"><h1>Համակարգային Նախապատվություններ</h1></div>
	<div class="yui-g">

<div class="yui-u first">
<dl>
	<dt><a href="/cgi-bin/koha/admin/systempreferences.pl">Համընդհանուր համակարգային նախապատվություններ</a></dt>
	<dd>Manage global system preferences like MARC flavor, date format, administrator e-mail, and templates.</dd>
</dl>


<div class="hint"><h4>Հնարք։</h4><p>Կարգաբերիր այս պարամետրերը իրենց հայտնվելու հաջորդականությամբ։</p></div>
<h3>Հիմնական պարամետրեր</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/branches.pl">Գրադարաններ, մասնաճյուղեր, և խմբեր</a></dt>
	<dd>Սահմանիր գրադարանները, մասնաճյուղերը և խմբերը։</dd>
	<dt><a href="/cgi-bin/koha/admin/aqbookfund.pl">Funds and budgets</a></dt>
	<dd>Funds and budgets administration for acquisitions.</dd>
	<dt><a href="/cgi-bin/koha/admin/currency.pl">Տարադրամներ և փոխանակման կուրսեր</a></dt>
	<dd> Սահմանիր համալրման համար օգտագործվող տարադրամները և փոխանակման կուրսերը</dd>
	<dt><a href="/cgi-bin/koha/admin/itemtypes.pl">Նյութի տեսակներ և սպասարկման կոդեր</a></dt>
	<dd> Սահմանիր նյութի տեսակները և տացքի կոդերը որոնք օգտագործվում են սպասարկման օրենքներում։</dd>
</dl>

<h3>Հաճախորդներ և սպասարկում</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/categorie.pl">Հաճախորդի դասեր</a></dt>
	<dd>Սահմանիր ընթերցողական դասերը։</dd>
	<dt><a href="/cgi-bin/koha/admin/cities.pl">Քաղաքներ և ավաններ</a></dt>
	<dd>Սահմանիր քաղաքները և ավանները որտեղ ընթերցողները ապրում են։</dd>
	<dt><a href="/cgi-bin/koha/admin/roadtype.pl" >Երթուղու տեսակներ</a>
	</dt>
	<dd>Define road types (street, avenue, way, etc.). Road types display as authorized values when adding/editing patrons and can be used in geographic statistics.</dd>
	<dt><a href="/cgi-bin/koha/admin/patron-attr-types.pl">Patron attribute types</a></dt>
	<dd>Define extended attributes (identifiers and statistical categories) for patron records</dd>
    <dt><a href="/cgi-bin/koha/admin/smart-rules.pl">Circulation and fines rules</a></dt>
    <dd>Define circulation and fines rules for combinations of libraries, patron categories, and item types</dd>
</dl>
</div>
<div class="yui-u">
<h3>Քարտարան</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/authorised_values.pl">Լիազորված արժեքներ</a></dt>
	<dd>Սահմանիր դասերը դրանց լիազորված արժեքները։</dd>
	<dt><a href="/cgi-bin/koha/admin/biblio_framework.pl">MARC մատենագիտական կառուցվածք</a></dt>
	<dd>Create and manage Bibliographic frameworks that define the characteristics of your MARC Records (field and subfield definitions) as well as templates for the MARC editor.</dd>
	<dt><a href="/cgi-bin/koha/admin/koha2marclinks.pl">Կոհա դեպի MARC արտացոլում</a></dt>
	<dd>Define the mapping between the Koha transactional database (SQL) and the MARC Bibliographic records. Note that the mapping can be defined through MARC Bibliographic Framework. This tool is just a shortcut to speed up linkage.</dd>
	<dt><a href="/cgi-bin/koha/admin/checkmarc.pl">MARC մատենագիտական կառուցվածքի տեստ</a></dt>
	<dd>Checks the MARC structure. If you change your MARC Bibliographic framework it's recommended that you run this tool to test for errors in your definition.</dd>
    <dt><a href="/cgi-bin/koha/admin/authtypes.pl">Հեղինակավորի տեսակներ</a></dt>
    <dd>Create and manage Authorities frameworks that define the characteristics of your MARC Records (field and subfield definitions).</dd>
    <dt><a href="/cgi-bin/koha/admin/classsources.pl">Դասակարգման աղբյուրներ</a></dt>
    <dd>Define classification sources (i.e., call number schemes) used by your collection.  Also define filing rules used for sorting call numbers.</dd>
    <dt><a href="/cgi-bin/koha/admin/matching-rules.pl">Գրառման համընկեցման օրենքներ</a></dt>
    <dd>Manage rules for automatically matching MARC records during record imports.</dd>
</dl>

<h3>Լրացուցիչ պարամետրեր</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/stopwords.pl">Կանգ բառեր</a></dt>
	<dd>Որոնման ժամանակ անտեսված բառեր</dd>
	<!-- <dt><a href="/cgi-bin/koha/admin/printers.pl">Network Printers</a></dt>
	<dd>Printers (UNIX paths).</dd> -->
	<dt><a href="/cgi-bin/koha/admin/z3950servers.pl">Z39.50 կլիենտ թիրախ</a></dt>
	<dd>Define which servers to query for MARC data in the integrated Z39.50 client.</dd>
</dl>
</div>

</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
