<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Étagères virtuelles</h1>

<h2>Q: What are &quot;Lists&quot;?</h2>
<p>Les étagères virtuelles sont des listes pérennes et modificables de documents. Si la préférence système "VirtualShelves" a été activée, les bibliothécaires et les adhérents pourront créer des étagères virtuelles. Un document ajouté dans une liste est immédiatement visible dans l'OPAC. Cliquer dessus depuis l'étagère permet de se rendre sur la notice détaillée du document, pour voir sa disponibilité et/ou le réserver.</p>

<p><strong>IMPORTANT:</strong> Patrons must be logged in to their account online to create and edit lists. </p>    
<h4>TIP: Why staff might use Lists </h4>
<p>Les étagères virtuelles sont très utiles pour la communication aux adhérents. Les bibliothécaires peuvent les utiliser pour créer des listes de lecture pour les adhérents (par exemple, en fonction de l'âge, du niveau de lecteur, ou sur un sujet donné).</p><h4>TIP: Why educators might use Lists </h4>
<p>Les étagères virtuelles peuvent être utilisées par les professeurs pour créer des listes de lecture, des bibliographies. Cliquez sur un item de l'étagère pour aller à la notice dans le catalogue. Les adhérents peuvent facilement voir la localisation et la disponibilité du document.</p><h2>Q: What types of &quot;Lists&quot; are there?</h2>
<p>Koha gère deux types d'étagères virtuelles :</p>
	<ul>
		<li>Listes publiques: tout le monde peut voir le contenu d'une étagère virtuelle publique, mais seule la personne l'ayant créée peut la modifier.</li>
		<li>Privée : seul le lecteur qui a créé l'étagère virtuelle peut la visualiser et la mettre à jour. </li>
	</ul><h4>TIP: Patron uses for Lists </h4>
<p>Les adhérents peuvent utiliser les étagères virtuelles pour partager leurs préférences de lectures avec d'autres adhérents, en créant une ou plusieurs étagères publiques. En créant une étagère privée, ils peuvent garder trace de ce qu'ils ont lu, souhaitent lire, ou souhaitent conserver pour plus tard.</p><h2>Q: How do I create a new &quot;List&quot; from the Staff Intranet?</h2>
<p>Pour créer une nouvelle étagère virtuelle :</p>
	<ol>
		<li>Cliquer sur &ldquo;Étagères virtuelles&rdquo; (vous devriez voir les étagères virtuelles qui existent déjà)</li>
		<li>cliquez sur 'Ajouter étagère virtuelle'</li>
		<li>Nommer votre liste</li>
		<li>Choisissez la &ldquo;catégorie&rdquo; (Publique ou privée)</li>
		<li>Cliquez sur 'Sauvegarder'</li>
	</ol><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->