<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>期刊订阅详情说明</h1>
	In this screen, you can see subscription detail, and modify it if you need.
	<ul>
		<h2>订阅信息区块</h2>
		<p>it contains the name of the librarian that created the subscription, the name of the supplier providing the subscription, the cost and the budget affected. It also contains the title of the biblio managed by the subscription.</p>
		<h2>订阅信息区块</h2>
		<p>包含有许多到馆日期信息。</p>
		<h2>订阅长度</h2>
		<p>one field in this bloc should be filled : the subscription length can be calculated in weeks, months or number of issues to receive</p>
		<h2>编号计算</h2>
		<p>The numbering of items received can contain complex formulas. The "numbering formula" can be filled with any text and/or numbers. 3 special tokens <b>{X} {Y}</b> and <b>{Z}</b> can be user to define the calculation formula. XYZ values are calculated with the following method:</p>
			<ul>
				<li>新增：新增数字到 XYZ</li>
				<li>once every : the number before can be added on every issue or less often</li>
				<li>当超过：假如计算期刊号码超过这个数值</li>
				<li>Set back to : if the previous condition is valid, the calculated number is set to this one instead</li>
				<li>Last value / begins with : the last value calculated or the 1st value (when adding a subscription</li>
			</ul>
		<h2>简单</h2>
			考虑公式 <b>N{X}/{Y}</b>。下面是 XYZ 设定：
			<ul><li> <b>X</b> 新增 <b>1</b> 每次 <b>4</b> 次。当超过 <b>9999999</b> 设定返回到 <b>空的</b>。开始于 <b>2004</b></li>
			<li> <b>Y</b> 新增 <b>1</b> 每次 <b>1</b> 次。当超过 <b>4</b> 设定返回到 <b>4</b>。开始于 <b>1</b></li></ul>
			下面期号结果：
			<b>#2004/1,#2004/2,#2004/3,#2004/4,#2005/1,#2005/2,#2005/3,#2005/4,#2006/1
		<p>
		</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
