<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Koha &rsaquo; Tools &rsaquo; Labels</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a>&rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <a href="/cgi-bin/koha/labels/label-home.pl">Labels</a> &rsaquo; <a href="/cgi-bin/koha/labels/label-templates.pl">Label Templates</a> &rsaquo; Edit Label Template</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<form name="input" action="/cgi-bin/koha/labels/label-save-template.pl" method="get">

<div class="yui-g">
<h3>编辑标签模板</h3>
<div class="yui-u first">
<fieldset class="rows"><legend>模版设定</legend>

<ol>
<li><span class="label">模版编号：<!-- TMPL_VAR NAME="tmpl_id" --> </span></li>
	<li><label for="tmpl_code">模版代码：</label> <input type="text"  size="40" name="tmpl_code" id="tmpl_code" value="<!-- TMPL_VAR NAME="tmpl_code" -->" /></li>
	<li><label for="tmpl_desc">模版叙述：</label> <textarea cols="40" rows="3" id="tmpl_desc" name="tmpl_desc"><!-- TMPL_VAR NAME="tmpl_desc" --></textarea></li>

<li>
        <label for="page_width">页面宽度： </label><input type="text"  size="4" name="page_width" id="page_width" value="<!-- TMPL_VAR NAME="page_width" -->" />
</li>
<li>
        <label for="page_height">页面高度： </label><input type="text" size="4" name="page_height" id="page_height" value="<!-- TMPL_VAR NAME="page_height" -->" />
</li>
<li>
        <label for="label_width">标签宽度（公厘） </label><input type="text"  size="4" name="label_width" id="label_width" value="<!-- TMPL_VAR NAME="label_width" -->" />
</li>
<li>
        <label for="label_height">标签高度（公厘） </label><input type="text" size="4" name="label_height" id="label_height" value="<!-- TMPL_VAR NAME="label_height" -->" />
</li>
<li>
        <label for="topmargin">上面页缘： </label><input type="text" size="4" name="topmargin" id="topmargin" value="<!-- TMPL_VAR NAME="topmargin" -->" />
</li>
<li>
        <label for="leftmargin">左边距 </label><input type="text" size="4" name="leftmargin" id="leftmargin" value="<!-- TMPL_VAR NAME="leftmargin" -->" />
</li>
</ol>
</fieldset>
</div>
<div class="yui-u">
<fieldset class="rows">
<ol>

<li>
        <label for="cols">字段数： </label><input type="text" size="4" name="cols" id="cols" value="<!-- TMPL_VAR NAME="cols" -->" />
</li>
<li>
        <label for="rows">列数： </label><input type="text" size="4" name="rows" id="rows" value="<!-- TMPL_VAR NAME="rows" -->" />
</li>
<li>
        <label for="colgap">列距 </label><input type="text" size="4" name="colgap" id="colgap" value="<!-- TMPL_VAR NAME="colgap" -->" />
</li>
<li>
        <label for="rowgap">行距 </label><input type="text" size="4" name="rowgap" id="rowgap" value="<!-- TMPL_VAR NAME="rowgap" -->" />

</li>

<li><label for="units">单位： </label><select id="units" name="units">
    <!-- TMPL_LOOP NAME="units" -->
        <!-- TMPL_IF NAME="selected" -->
            <option value="<!-- TMPL_VAR NAME="unit" -->" selected="selected">
        <!-- TMPL_ELSE -->
            <option value="<!-- TMPL_VAR NAME="unit" -->">
        <!-- /TMPL_IF --><!-- TMPL_VAR NAME="desc" --></option>
    <!-- /TMPL_LOOP -->
</select></li>

<li><label for="prof_id">Profile: </label>
<!-- TMPL_IF NAME="proflist" -->
    <select id="prof_id" name="prof_id">
    <!-- TMPL_LOOP NAME="proflist" -->
        <!-- TMPL_IF NAME="selected" -->
            <option value="<!-- TMPL_VAR NAME="prof_id" -->" selected="selected">
        <!-- TMPL_ELSE -->
            <option value="<!-- TMPL_VAR NAME="prof_id" -->">
        <!-- /TMPL_IF --><!-- TMPL_VAR NAME="printername" -->/<!-- TMPL_VAR NAME="paper_bin" --></option>
    <!-- /TMPL_LOOP -->
    </select>
<!-- TMPL_ELSE -->
    None Defined
<!-- /TMPL_IF -->
</li>

<li><label for="fonts">Font: </label><select id="fonts" name="fonts">
    <!-- TMPL_LOOP NAME="fonts" -->
        <!-- TMPL_IF NAME="selected" -->
            <option value="<!-- TMPL_VAR NAME="font" -->" selected="selected">
        <!-- TMPL_ELSE -->
            <option value="<!-- TMPL_VAR NAME="font" -->">
        <!-- /TMPL_IF --><!-- TMPL_VAR NAME="name" --></option>
    <!-- /TMPL_LOOP -->
</select></li>

<li><label for="fontsize">字号：</label> <input type="text" id="fontsize" name="fontsize"  size="1" value="<!-- TMPL_VAR NAME="fontsize" -->" /></li>

<li><label for="active">使用中： </label>
<!-- TMPL_IF NAME="active" -->
<input type="checkbox" name="active" id="active" checked="checked" />
<!-- TMPL_ELSE -->
<input type="checkbox" name="active" id="active" />
<!-- /TMPL_IF -->
        <input type="hidden" name="tmpl_id" value="<!-- TMPL_VAR NAME="tmpl_id" -->" /></li>

</ol></fieldset>
</div>
</div><div class="yui-g">
<fieldset class="action">
        <input type="submit" value="保存"> <a class="cancel" href="/cgi-bin/koha/labels/label-save-template.pl">取消</a>
</fieldset></div>
</form>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="labels-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
