<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>كوها &rsaquo; دوريات  &rsaquo; معلومات مجموعة الدوريات ل <!-- TMPL_VAR name="bibliotitle" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[
function addsubscriptionid()
{
	var tab=new Array();
    var serialids = document.edition.serialid;
    for (i=0; i<serialids.length; i++){
      if (serialids[i].checked == true){
        var found=false;
        for (var val in tab){
          if (tab[val] == document.getElementsByName("subs")[i].getAttribute('val')){found = true;}
        }
        if (found == false){
          tab=tab.concat((document.getElementsByName("subs")[i].getAttribute('val')));
        }
      }
    }
    var string="";
    for (var val in tab){
      string = string + tab[val] + ",";
    }
    string=string.substring(0,string.length -1);
    document.edition.subscriptionid.value=string;
}
function popup(subscriptionid) {
    newin=window.open('subscription-renew.pl?mode=popup&subscriptionid='+subscriptionid,'popup','width=500,height=400,toolbar=false,scrollbars=yes');
}

$(document).ready(function() {
	$('#subscription_years > ul').tabs();
});
 

//]]>
</script>
</head>
<body class="yui-skin-sam">
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">الصفحة الرئيسية</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">دوريات</a> &rsaquo;معلومات مجموعة الدوريات ل <i><!-- TMPL_VAR name="bibliotitle" --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">


<!-- TMPL_UNLESS name="popup" -->
	<!-- TMPL_INCLUDE NAME="serials-toolbar.inc" -->

	<h1>معلومات مجموعة الدورية ل <i><!-- TMPL_VAR name="bibliotitle" --></i></h1>
<!-- /TMPL_UNLESS -->

<!--TMPL_IF Name="subscriptions"-->
<table>
<!--TMPL_IF Name="onesubscription"-->
<caption> ملخص الاشتراك</caption>
<!--TMPL_ELSE-->
<caption> ملخصات الاشتراك</caption>
<!--/TMPL_IF-->
<tr>
  <th>رقم الإشتراك. </th>
  <th>التتابع</th>
  <th>Numbering pattern</th>
  <th>مكتبة</th>
  <th>رقم الطلب</th>
  <th>ملاحظات</th>
  <th>Routing</th>
  <th>جدّد</th>
</tr>
<!--TMPL_LOOP Name="subscriptions"-->
	<tr>
      <td><a href="subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->"># <!-- TMPL_VAR name="subscriptionid" --></a> </td>
      <td>         <!--TMPL_IF name="periodicity1" -->
                        1/يوم
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity2" -->
                        1/أسبوع
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity3" -->
                        1/2أسابيع
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity4" -->
                        1/3أسابيع
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity5" -->
                        1/شهر
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity6" -->
                        1/2 شهور (6/سنة)
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity7" -->
                        1/الربع
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity8" -->
                        1/الربع
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity9" -->
                        2/سنه
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity10" -->
                        1/سنه
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity11" -->
                        1/2 سنين
                <!-- /TMPL_IF --></td>
           <td>
                <!-- TMPL_IF name="numberpattern1" -->
                    رقم
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern2" -->
                    مجلد, رقم, عدد
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern3" -->
                    مجلد, رقم
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern4" -->
                    مجلد, عدد
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern5" -->
                    الرقم, العدد
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern6" -->
                    موسمى فقط
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern7" -->
                    ليس من الأعلى
                <!-- /TMPL_IF --></td>
            <td> <!-- TMPL_VAR name="branchcode" --></td>
            <td> <!-- TMPL_VAR name="callnumber" --></td>
        <td> <!-- TMPL_VAR name="notes" -->        <!--TMPL_IF name="subscriptionexpired"--><br /><span class="problem"> الاشتراك إنتهى</span>
        <!--/TMPL_IF-->
        </td>
			<td><a href="/cgi-bin/koha/serials/routing.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->">تعديل قائمة تمرير</a></td>
        <!--TMPL_IF name="abouttoexpire"--><td class="problem"> <a href="/cgi-bin/koha/serials/subscription-renew.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->" onclick="popup(<!--TMPL_VAR Name="subscriptionid"-->); return false;">جدّد</a></td>
        <!--TMPL_ELSE-->
        <!--TMPL_IF name="subscriptionexpired"--><td class="problem"> <a href="/cgi-bin/koha/serials/subscription-renew.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->" onclick="popup(<!--TMPL_VAR Name="subscriptionid"-->) return false;">جدّد</a></td>
        <!--TMPL_ELSE-->
        <td> &nbsp;</td>
        <!--/TMPL_IF-->
        <!--/TMPL_IF-->

      </tr>
<!--/TMPL_LOOP -->
<!--TMPL_IF Name="subscr"-->
<!--TMPL_UNLESS Name="onesubscription"-->
<tr ><td colspan="7">  <a href="serials-collection.pl?biblionumber=<!--TMPL_VAR Name="biblionumber" -->">شاهد أي إشتراك مرتبط بهذه التسجيلة</a></td>
</tr><!-- /TMPL_UNLESS -->
<!--/TMPL_IF-->
</table>
<!--/TMPL_IF -->


<!-- TMPL_IF NAME="years" --><form name="edition" action="serials-edit.pl">
<div id="subscription_years" class="toptabs numbered">
<ul>
	<!-- TMPL_LOOP NAME="years" -->
        <!-- TMPL_IF NAME="year" -->
            <li><a href="/cgi-bin/koha/serials/serials-collection.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->#subscription-year-<!-- TMPL_VAR NAME="year" -->"><!-- TMPL_VAR NAME="year" --></a></li>
        <!-- /TMPL_IF -->
    <!-- /TMPL_LOOP -->
</ul>

 <!-- TMPL_LOOP NAME="years" -->
<div id="subscription-year-<!-- TMPL_VAR NAME="year" -->">
        <table width="400px">
            <tr>
<!--TMPL_UNLESS Name="onesubscription"-->
                <th># فروع</th>
<!--/TMPL_UNLESS-->
                <th>تاريخ نشر
                </th>
                <th>التاريخ إستلم
                </th>
                <th> رقم
                </th>
                <th> حالة
                </th>
                <th> ملاحظات
                </th>
                <th>فرع
                </th>
                <th>تعديل
                </th>
            </tr>
      <!-- TMPL_LOOP Name="serials" -->
            <tr>
<!--TMPL_UNLESS Name="onesubscription"-->
                 <td><a href="serials-collection.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->"><!--TMPL_VAR Name="subscriptionid"--></a></td>
<!--/TMPL_UNLESS-->
                <td>
                    <!-- TMPL_VAR Name="publisheddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="planneddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="serialseq" -->
                </td>
                <td>
                    <!-- TMPL_IF Name="status1" -->Expected<!-- /TMPL_IF --><!-- TMPL_IF Name="status2" -->وصل<!-- /TMPL_IF --><!-- TMPL_IF Name="status3" -->متأخر<!-- /TMPL_IF --><!-- TMPL_IF Name="status4" -->مفقود<!-- /TMPL_IF --><!-- TMPL_IF Name="status5" -->غير متاح<!-- /TMPL_IF --><!-- TMPL_IF Name="status7" -->تم إخطاره<!-- /TMPL_IF -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="notes" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="branchcode" -->
                </td>
                <td>
                  <!--TMPL_IF Name="cannotedit"-->
                    معوّق
                  <!--TMPL_ELSE -->
                    <input type="hidden" name="subs" value="<!--TMPL_VAR Name="subscriptionid"-->" />
                    <!--TMPL_IF Name="subscriptionexpired"-->
                    <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" disabled="disabled" />
                    <!--TMPL_ELSE-->
                      <!--TMPL_IF Name="status1"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--TMPL_ELSE -->
                      <!--TMPL_IF Name="status3"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--TMPL_ELSE -->
                        <!--TMPL_IF Name="status4"-->
                    <input type="checkbox" name="serialid" checked="checked" value="<!--TMPL_VAR Name="serialid"-->" />
                        <!--TMPL_ELSE -->
                    <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" />
                        <!--/TMPL_IF-->           
                      <!--/TMPL_IF-->           
                      <!--/TMPL_IF-->           
                    <!--/TMPL_IF -->
                  <!--/TMPL_IF -->
                </td>
            </tr>
      <!-- /TMPL_LOOP -->
        </table>
      <p><input type="submit" value="تعديل دوريات"></p>
    </div>
    <!--/TMPL_LOOP -->
  <input type="hidden" name="subscriptionid" value="<!--TMPL_VAR Name="subscriptionidlist"-->" />

</div>
</form>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
