<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>"Otorite Dizinleri Yardımı"</h1><h2>"</h2>

<p>A MARC Authority Record are used to ensure consitency across catalogue records by providing a way to define the standard form of names for:</p><ul><li>Kişiler (Yazarlar, Editörler, Yayıncılar, Resimleyenler vb.)</li><li>"</li><li>"Konular"</li><li>Kurumlar (Şirketler, Akademik Kuruluşlar vb.)</li></ul>For more information about Authority Records with MARC 21 see the tutorial on the <a href="http://www.loc.gov/marc/uma/index.html">Library of Congress website</a>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
