<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>تصدير مارك</h1>

<p>هذه أداة لتصدير سجلاتك الببليوجرافية في شكل الاتصال المعيارى مارك (ISO 2709). هذه الاداة تصدّر فقط المعلومات الببليوجرافية الأساسية بدون معلومات مقتنيات ما عدا أيّ معلومات مقتنيات حمّلت أصلا إلى كوها تستعمل أداة bulkmarcimport.</p>

<p>أنت تطلب تزويد رقم بداية التسجيلة ببليوجرافية ورقم الانتهاء للتصدير. إن أردت تصدير كلّ تسجيلاتك، أترك أرقام البداية والنهاية فارغة.</p>

<p>Records are downloaded to the workstation that requests the export and are saved in a file called "marc.pl."</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->