<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; Add a Non-MARC Record</title>
<!-- TMPL_INCLUDE NAME="doc-head-close-addbiblio.inc" -->

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<!-- TMPL_IF name="ERROR" -->
Пожалуйста, конкретизируйте заглавие
<!-- /TMPL_IF -->

<form action="savebiblio.pl" method="post">

<table>
	<caption>Adding a new bibliographic record</caption>
	<tr><th scope="row"><label for="title">Заглавие: *</label></th><td><input name="title" id="title" type="text" size="40" /> * Required</td>
</tr>
<tr><th scope="row"><label for="subtitle">Подзаголовок:</label></th><td><input name="subtitle" id="subtitle" type="text" size="40" /></td>
</tr>
<tr><th scope="row"><label for="author">Автор:</label></th><td><input name="author" id="author" type="text" size="40" /></td>
</tr>
<tr><th scope="row"><label for="seriestitle">Серийное заглавие:</label><br />
<i>(если применяется)</i></th><td><input name="seriestitle" type="text" id="seriestitle" size="40" /></td>
</tr>
<tr><th scope="row"><label for="copyrightdate">Дата авторского права:</label></th><td><input id="copyrightdate" name="copyrightdate" type="text" size="40" /></td>
</tr>
<tr><th scope="row"><label for="abstract">Аннотация:</label></th><td><textarea cols="30" id="abstract" rows="6" name="abstract"></textarea></td>
</tr>
<tr><th scope="row"><label for="bib-notes">Заметки:</label></th><td><textarea cols="30" rows="6" id="bib-notes" name="notes"></textarea></td>
</tr>
</table>
<input type="submit" value="Add Record" />

</form>
</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="mainmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->