<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Εκθέσεις</h1>

<h2>Τι Εκθέσεις υπάρχουν στο Koha;</h2>
 
<p>Koha comes with a number of predefined (or &quot;canned&quot;) reports, along with two report builder engines.</p>
<p><strong>Προκαθορισμένες Εκθέσεις</strong></p>
<p>There are number of predefined reports in Koha. Check the the Circulation module for additional Circulation specific reports.</p>
<p><strong>Οδηγοί Στατιστικής</strong></p>
<p>The statistics wizards provide a way to build simple reports for each module. The reports produced can either be viewed on screen or downloaded for opening in a spreadsheet program or text editor.</p>
<p><strong>Βοηθός Καθοδηγημένης Δημιουργίας Εκθέσεων</strong></p>
<p>The Guided Reports Wizard helps you build reports using all the fields in the database for each module. The reports can then be saved and run using the scheduler. </p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->