<!-- TMPL_INCLUDE NAME="help-top.inc" -->
		<p>This is the Tools Page.</p>
		 
		<p>此处包含许多辅助模块。</p>
		 
		<p>To move forward, select the relevant task by clicking on the blue underlined text.</p>
		 
		<p>Specialised help will be available after that point.</p> 	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->