<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIMARC_Ersteller Feld 140</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>Illustration im Text 1:</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" SELECTED>Buchmalerei</option>
			<!-- TMPL_ELSE -->
				<option value="b">Buchmalerei</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" SELECTED>Lettre decoree</option>
			<!-- TMPL_ELSE -->
				<option value="c">Lettre decoree</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1d" -->
				<option value="d" SELECTED>Miniatur</option>
			<!-- TMPL_ELSE -->
				<option value="d">Miniatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1e" -->
				<option value="e" SELECTED>Rubrizierter Titel</option>
			<!-- TMPL_ELSE -->
				<option value="e">Rubrizierter Titel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1f" -->
				<option value="f" SELECTED>Zierleiste</option>
			<!-- TMPL_ELSE -->
				<option value="f">Zierleiste</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td>
		<td>Illustration im Text 2:</td>
		<td>
			<select name="f2" size="1">
			<!-- TMPL_IF name="f2 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2b" -->
				<option value="b" SELECTED>Buchmalerei</option>
			<!-- TMPL_ELSE -->
				<option value="b">Buchmalerei</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2c" -->
				<option value="c" SELECTED>Lettre decoree</option>
			<!-- TMPL_ELSE -->
				<option value="c">Lettre decoree</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2d" -->
				<option value="d" SELECTED>Miniatur</option>
			<!-- TMPL_ELSE -->
				<option value="d">Miniatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2e" -->
				<option value="e" SELECTED>Rubrizierter Titel</option>
			<!-- TMPL_ELSE -->
				<option value="e">Rubrizierter Titel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2f" -->
				<option value="f" SELECTED>Zierleiste</option>
			<!-- TMPL_ELSE -->
				<option value="f">Zierleiste</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>	<tr>
		<td>Illustration im Text 3:</td>
		<td>
			<select name="f3" size="1">
			<!-- TMPL_IF name="f3 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3b" -->
				<option value="b" SELECTED>Buchmalerei</option>
			<!-- TMPL_ELSE -->
				<option value="b">Buchmalerei</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3c" -->
				<option value="c" SELECTED>Lettre decoree</option>
			<!-- TMPL_ELSE -->
				<option value="c">Lettre decoree</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3d" -->
				<option value="d" SELECTED>Miniatur</option>
			<!-- TMPL_ELSE -->
				<option value="d">Miniatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3e" -->
				<option value="e" SELECTED>Rubrizierter Titel</option>
			<!-- TMPL_ELSE -->
				<option value="e">Rubrizierter Titel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3f" -->
				<option value="f" SELECTED>Zierleiste</option>
			<!-- TMPL_ELSE -->
				<option value="f">Zierleiste</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td>
		<td>Illustration im Text 4:</td>
		<td>
			<select name="f4" size="1">
            
			<!-- TMPL_IF name="f4 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4b" -->
				<option value="b" SELECTED>Buchmalerei</option>
			<!-- TMPL_ELSE -->
				<option value="b">Buchmalerei</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4c" -->
				<option value="c" SELECTED>Lettre decoree</option>
			<!-- TMPL_ELSE -->
				<option value="c">Lettre decoree</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4d" -->
				<option value="d" SELECTED>Miniatur</option>
			<!-- TMPL_ELSE -->
				<option value="d">Miniatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4e" -->
				<option value="e" SELECTED>Rubrizierter Titel</option>
			<!-- TMPL_ELSE -->
				<option value="e">Rubrizierter Titel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4f" -->
				<option value="f" SELECTED>Zierleiste</option>
			<!-- TMPL_ELSE -->
				<option value="f">Zierleiste</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
	<tr>
		<td>Illustration ausserhalb des Textes 1:</td>
		<td>
			<select name="f5" size="1">
            
			<!-- TMPL_IF name="f5 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td>
		<td>Illustration ausserhalb des Textes 2:</td>
		<td>
			<select name="f6" size="1">
            
			<!-- TMPL_IF name="f6 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f6z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
	<tr>
		<td>Illustration ausserhalb des Textes 3:</td>
		<td>
			<select name="f7" size="1">
            
			<!-- TMPL_IF name="f7 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f7z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td>
		<td>Illustration ausserhalb des Textes 1:</td>
		<td>
			<select name="f8" size="1">
            
			<!-- TMPL_IF name="f8 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8a" -->
				<option value="a" SELECTED>Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="a">Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8g" -->
				<option value="g" SELECTED>Titelblatt</option>
			<!-- TMPL_ELSE -->
				<option value="g">Titelblatt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8h" -->
				<option value="h" SELECTED>Portrait</option>
			<!-- TMPL_ELSE -->
				<option value="h">Portrait</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8i" -->
				<option value="i" SELECTED>Panoramasicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Panoramasicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8j" -->
				<option value="j" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="j">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8k" -->
				<option value="k" SELECTED>Meereskarte</option>
			<!-- TMPL_ELSE -->
				<option value="k">Meereskarte</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8l" -->
				<option value="l" SELECTED>Pläne</option>
			<!-- TMPL_ELSE -->
				<option value="l">Pläne</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8m" -->
				<option value="m" SELECTED>Musik</option>
			<!-- TMPL_ELSE -->
				<option value="m">Musik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8n" -->
				<option value="n" SELECTED>Schränke</option>
			<!-- TMPL_ELSE -->
				<option value="n">Schränke</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8o" -->
				<option value="o" SELECTED>Ahnentabellen</option>
			<!-- TMPL_ELSE -->
				<option value="o">Ahnentabellen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8y" -->
				<option value="y" SELECTED>Ohne Illustrationen</option>
			<!-- TMPL_ELSE -->
				<option value="y">Ohne Illustrationen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f8z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Technische Illustration</td>
		<td>
			<select name="f9" size="1">
            
			<!-- TMPL_IF name="f9 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9a" -->
				<option value="a" SELECTED>Holzschnitt</option>
			<!-- TMPL_ELSE -->
				<option value="a">Holzschnitt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9b" -->
				<option value="b" SELECTED>Lithographie</option>
			<!-- TMPL_ELSE -->
				<option value="b">Lithographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9c" -->
				<option value="c" SELECTED>Radierung</option>
			<!-- TMPL_ELSE -->
				<option value="c">Radierung</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9d" -->
				<option value="d" SELECTED>Aquatinta</option>
			<!-- TMPL_ELSE -->
				<option value="d">Aquatinta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9e" -->
				<option value="e" SELECTED>Gravierung</option>
			<!-- TMPL_ELSE -->
				<option value="e">Gravierung</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9u" -->
				<option value="u" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="u">Unbekannt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9v" -->
				<option value="v" SELECTED>Vermischte Techniken</option>
			<!-- TMPL_ELSE -->
				<option value="v">Vermischte Techniken</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f9z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Typ des Referenzwerkes 1:</td>
		<td>
			<select name="f10" size="1">
            
			<!-- TMPL_IF name="f10  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10aa" -->
				<option value="aa" SELECTED>Religiöses Werk</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Religiöses Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ab" -->
				<option value="ab" SELECTED>Katechimus</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Katechimus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ac" -->
				<option value="ac" SELECTED>Andachtsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Andachtsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ad" -->
				<option value="ad" SELECTED>Rede</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Rede</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ae" -->
				<option value="ae" SELECTED>Amtschriften</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Amtsschriften</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ba" -->
				<option value="ba" SELECTED>Wissenschaftliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Wissenschaftliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10bb" -->
				<option value="bb" SELECTED>Diskussionen, Dissertationen, Thesen</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Diskussionen, Dissertationen, Thesen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ca" -->
				<option value="ca" SELECTED>Gesellschaftsbräuche</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Gesellschaftsbräuche</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10da" -->
				<option value="da" SELECTED>Rechtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="da">Rechtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10db" -->
				<option value="db" SELECTED>Politisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="db">Politisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ea" -->
				<option value="ea" SELECTED>Ephemera</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Ephemera</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fa" -->
				<option value="fa" SELECTED>Referenzwerk</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Referenzwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fb" -->
				<option value="fb" SELECTED>Bibliothekskatalog</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Bibliothekskatalog</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fc" -->
				<option value="fc" SELECTED>Bibliographie</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bibliographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fd" -->
				<option value="fd" SELECTED>Jahrbuch</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Jahrbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fe" -->
				<option value="fe" SELECTED>Index</option>
			<!-- TMPL_ELSE -->
				<option value="fe">Index</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ff" -->
				<option value="ff" SELECTED>Wörterbuch</option>
			<!-- TMPL_ELSE -->
				<option value="ff">Wörterbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10fg" -->
				<option value="fg" SELECTED>Enzyklopädie</option>
			<!-- TMPL_ELSE -->
				<option value="fg">Enzyklopädie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ga" -->
				<option value="ga" SELECTED>Geschichtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Geschichtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ha" -->
				<option value="ha" SELECTED>Polemisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Polemisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ia" -->
				<option value="ia" SELECTED>Diskursives Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Diskursives Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ja" -->
				<option value="ja" SELECTED>Gedenkwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ja">Gedenkwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ka" -->
				<option value="ka" SELECTED>Lehrwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Lehrwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10kb" -->
				<option value="kb" SELECTED>Handbuch</option>
			<!-- TMPL_ELSE -->
				<option value="kb">Handbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10kc" -->
				<option value="kc" SELECTED>Kursbücher</option>
			<!-- TMPL_ELSE -->
				<option value="kc">Kursbücher</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10la" -->
				<option value="la" SELECTED>Register</option>
			<!-- TMPL_ELSE -->
				<option value="la">Register</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10ma" -->
				<option value="ma" SELECTED>Unterhaltungsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ma">Unterhaltungsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10na" -->
				<option value="na" SELECTED>Version eine Werkes</option>
			<!-- TMPL_ELSE -->
				<option value="na">Version eine Werkes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f10zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Typ des Referenzwerkes 2:</td>
		<td>
			<select name="f11" size="1">
            
			<!-- TMPL_IF name="f11  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11aa" -->
				<option value="aa" SELECTED>Religiöses Werk</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Religiöses Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ab" -->
				<option value="ab" SELECTED>Katechimus</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Katechimus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ac" -->
				<option value="ac" SELECTED>Andachtsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Andachtsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ad" -->
				<option value="ad" SELECTED>Rede</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Rede</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ae" -->
				<option value="ae" SELECTED>Amtschriften</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Amtsschriften</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ba" -->
				<option value="ba" SELECTED>Wissenschaftliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Wissenschaftliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11bb" -->
				<option value="bb" SELECTED>Diskussionen, Dissertationen, Thesen</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Diskussionen, Dissertationen, Thesen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ca" -->
				<option value="ca" SELECTED>Gesellschaftsbräuche</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Gesellschaftsbräuche</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11da" -->
				<option value="da" SELECTED>Rechtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="da">Rechtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11db" -->
				<option value="db" SELECTED>Politisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="db">Politisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ea" -->
				<option value="ea" SELECTED>Ephemera</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Ephemera</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fa" -->
				<option value="fa" SELECTED>Referenzwerk</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Referenzwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fb" -->
				<option value="fb" SELECTED>Bibliothekskatalog</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Bibliothekskatalog</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fc" -->
				<option value="fc" SELECTED>Bibliographie</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bibliographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fd" -->
				<option value="fd" SELECTED>Jahrbuch</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Jahrbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fe" -->
				<option value="fe" SELECTED>Index</option>
			<!-- TMPL_ELSE -->
				<option value="fe">Index</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ff" -->
				<option value="ff" SELECTED>Wörterbuch</option>
			<!-- TMPL_ELSE -->
				<option value="ff">Wörterbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11fg" -->
				<option value="fg" SELECTED>Enzyklopädie</option>
			<!-- TMPL_ELSE -->
				<option value="fg">Enzyklopädie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ga" -->
				<option value="ga" SELECTED>Geschichtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Geschichtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ha" -->
				<option value="ha" SELECTED>Polemisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Polemisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ia" -->
				<option value="ia" SELECTED>Diskursives Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Diskursives Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ja" -->
				<option value="ja" SELECTED>Gedenkwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ja">Gedenkwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ka" -->
				<option value="ka" SELECTED>Lehrwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Lehrwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11kb" -->
				<option value="kb" SELECTED>Handbuch</option>
			<!-- TMPL_ELSE -->
				<option value="kb">Handbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11kc" -->
				<option value="kc" SELECTED>Kursbücher</option>
			<!-- TMPL_ELSE -->
				<option value="kc">Kursbücher</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11la" -->
				<option value="la" SELECTED>Register</option>
			<!-- TMPL_ELSE -->
				<option value="la">Register</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11ma" -->
				<option value="ma" SELECTED>Unterhaltungsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ma">Unterhaltungsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11na" -->
				<option value="na" SELECTED>Version eine Werkes</option>
			<!-- TMPL_ELSE -->
				<option value="na">Version eine Werkes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f11zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Typ des Referenzwerkes 3:</td>
		<td>
			<select name="f12" size="1">
            
			<!-- TMPL_IF name="f12  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12aa" -->
				<option value="aa" SELECTED>Religiöses Werk</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Religiöses Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ab" -->
				<option value="ab" SELECTED>Katechimus</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Katechimus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ac" -->
				<option value="ac" SELECTED>Andachtsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Andachtsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ad" -->
				<option value="ad" SELECTED>Rede</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Rede</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ae" -->
				<option value="ae" SELECTED>Amtschriften</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Amtsschriften</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ba" -->
				<option value="ba" SELECTED>Wissenschaftliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Wissenschaftliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12bb" -->
				<option value="bb" SELECTED>Diskussionen, Dissertationen, Thesen</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Diskussionen, Dissertationen, Thesen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ca" -->
				<option value="ca" SELECTED>Gesellschaftsbräuche</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Gesellschaftsbräuche</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12da" -->
				<option value="da" SELECTED>Rechtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="da">Rechtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12db" -->
				<option value="db" SELECTED>Politisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="db">Politisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ea" -->
				<option value="ea" SELECTED>Ephemera</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Ephemera</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fa" -->
				<option value="fa" SELECTED>Referenzwerk</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Referenzwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fb" -->
				<option value="fb" SELECTED>Bibliothekskatalog</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Bibliothekskatalog</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fc" -->
				<option value="fc" SELECTED>Bibliographie</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bibliographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fd" -->
				<option value="fd" SELECTED>Jahrbuch</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Jahrbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fe" -->
				<option value="fe" SELECTED>Index</option>
			<!-- TMPL_ELSE -->
				<option value="fe">Index</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ff" -->
				<option value="ff" SELECTED>Wörterbuch</option>
			<!-- TMPL_ELSE -->
				<option value="ff">Wörterbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12fg" -->
				<option value="fg" SELECTED>Enzyklopädie</option>
			<!-- TMPL_ELSE -->
				<option value="fg">Enzyklopädie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ga" -->
				<option value="ga" SELECTED>Geschichtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Geschichtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ha" -->
				<option value="ha" SELECTED>Polemisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Polemisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ia" -->
				<option value="ia" SELECTED>Diskursives Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Diskursives Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ja" -->
				<option value="ja" SELECTED>Gedenkwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ja">Gedenkwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ka" -->
				<option value="ka" SELECTED>Lehrwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Lehrwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12kb" -->
				<option value="kb" SELECTED>Handbuch</option>
			<!-- TMPL_ELSE -->
				<option value="kb">Handbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12kc" -->
				<option value="kc" SELECTED>Kursbücher</option>
			<!-- TMPL_ELSE -->
				<option value="kc">Kursbücher</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12la" -->
				<option value="la" SELECTED>Register</option>
			<!-- TMPL_ELSE -->
				<option value="la">Register</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12ma" -->
				<option value="ma" SELECTED>Unterhaltungsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ma">Unterhaltungsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12na" -->
				<option value="na" SELECTED>Version eine Werkes</option>
			<!-- TMPL_ELSE -->
				<option value="na">Version eine Werkes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f12zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Typ des Referenzwerkes 4: </td>
		<td>
			<select name="f13" size="1">
            
			<!-- TMPL_IF name="f13  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13aa" -->
				<option value="aa" SELECTED>Religiöses Werk</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Religiöses Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ab" -->
				<option value="ab" SELECTED>Katechimus</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Katechimus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ac" -->
				<option value="ac" SELECTED>Andachtsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Andachtsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ad" -->
				<option value="ad" SELECTED>Rede</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Rede</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ae" -->
				<option value="ae" SELECTED>Amtschriften</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Amtsschriften</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ba" -->
				<option value="ba" SELECTED>Wissenschaftliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Wissenschaftliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13bb" -->
				<option value="bb" SELECTED>Diskussionen, Dissertationen, Thesen</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Diskussionen, Dissertationen, Thesen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ca" -->
				<option value="ca" SELECTED>Gesellschaftsbräuche</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Gesellschaftsbräuche</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13da" -->
				<option value="da" SELECTED>Rechtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="da">Rechtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13db" -->
				<option value="db" SELECTED>Politisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="db">Politisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ea" -->
				<option value="ea" SELECTED>Ephemera</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Ephemera</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fa" -->
				<option value="fa" SELECTED>Referenzwerk</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Referenzwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fb" -->
				<option value="fb" SELECTED>Bibliothekskatalog</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Bibliothekskatalog</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fc" -->
				<option value="fc" SELECTED>Bibliographie</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bibliographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fd" -->
				<option value="fd" SELECTED>Jahrbuch</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Jahrbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fe" -->
				<option value="fe" SELECTED>Index</option>
			<!-- TMPL_ELSE -->
				<option value="fe">Index</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ff" -->
				<option value="ff" SELECTED>Wörterbuch</option>
			<!-- TMPL_ELSE -->
				<option value="ff">Wörterbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13fg" -->
				<option value="fg" SELECTED>Enzyklopädie</option>
			<!-- TMPL_ELSE -->
				<option value="fg">Enzyklopädie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ga" -->
				<option value="ga" SELECTED>Geschichtliches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Geschichtliches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ha" -->
				<option value="ha" SELECTED>Polemisches Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Polemisches Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ia" -->
				<option value="ia" SELECTED>Diskursives Werk</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Diskursives Werk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ja" -->
				<option value="ja" SELECTED>Gedenkwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ja">Gedenkwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ka" -->
				<option value="ka" SELECTED>Lehrwerk</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Lehrwerk</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13kb" -->
				<option value="kb" SELECTED>Handbuch</option>
			<!-- TMPL_ELSE -->
				<option value="kb">Handbuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13kc" -->
				<option value="kc" SELECTED>Kursbücher</option>
			<!-- TMPL_ELSE -->
				<option value="kc">Kursbücher</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13la" -->
				<option value="la" SELECTED>Register</option>
			<!-- TMPL_ELSE -->
				<option value="la">Register</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13ma" -->
				<option value="ma" SELECTED>Unterhaltungsliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ma">Unterhaltungsliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13na" -->
				<option value="na" SELECTED>Version eine Werkes</option>
			<!-- TMPL_ELSE -->
				<option value="na">Version eine Werkes</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f13zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
			<!-- /TMPL_IF -->
		</td></tr>
<tr>		<td>Literatrisches Genus:</td>
		<td>
			<select name="f14" size="1">

			<!-- TMPL_IF name="f14  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14aa" -->
				<option value="aa" SELECTED>Poesie</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Poesie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ab" -->
				<option value="ab" SELECTED>Romanze</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Romanze</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ca" -->
				<option value="ca" SELECTED>Theaterstück</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Theaterstück</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14da" -->
				<option value="da" SELECTED>Libretto</option>
			<!-- TMPL_ELSE -->
				<option value="da">Libretto</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ea" -->
				<option value="ea" SELECTED>Roman</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Roman</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14eb" -->
				<option value="eb" SELECTED>Roman</option>
			<!-- TMPL_ELSE -->
				<option value="eb">Roman</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ec" -->
				<option value="ec" SELECTED>Bahnhofsroman</option>
			<!-- TMPL_ELSE -->
				<option value="ec">Bahnhofsroman</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ed" -->
				<option value="ed" SELECTED>Fabel</option>
			<!-- TMPL_ELSE -->
				<option value="ed">Fabel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ef" -->
				<option value="ef" SELECTED>Märchen</option>
			<!-- TMPL_ELSE -->
				<option value="ef">Märchen</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f14eg" -->
				<option value="eg" SELECTED>Allegorie</option>
			<!-- TMPL_ELSE -->
				<option value="eg">Allegorie</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f14eh" -->
				<option value="eh" SELECTED>Legende</option>
			<!-- TMPL_ELSE -->
				<option value="eh">Legende</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f14ei" -->
				<option value="ei" SELECTED>Parabel</option>
			<!-- TMPL_ELSE -->
				<option value="ei">Parabel</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ej" -->
				<option value="ej" SELECTED>Novelle</option>
			<!-- TMPL_ELSE -->
				<option value="ej">Novelle</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14fa" -->
				<option value="fa" SELECTED>Essai, Feuilleton</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Essai, Feuilleton</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ga" -->
				<option value="ga" SELECTED>Humor, Satire</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Humor, Satire</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ha" -->
				<option value="ha" SELECTED>Briefe</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Briefe</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ia" -->
				<option value="ia" SELECTED>Vermischte Schriften</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Vermischte Schriften</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ja" -->
				<option value="ja" SELECTED>Maximen, Aphorismen, Sprichwörter, Anekdoten</option>
			<!-- TMPL_ELSE -->
				<option value="ja">Maximen, Aphorismen, Sprichwörter, Anekdoten</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ka" -->
				<option value="ka" SELECTED>Jugendliteratur</option>
			<!-- TMPL_ELSE -->
				<option value="ka">Jugendliteratur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14la" -->
				<option value="la" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="la">Andere</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14lb" -->
				<option value="lb" SELECTED>Chronik</option>
			<!-- TMPL_ELSE -->
				<option value="lb">Chronik</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14lc" -->
				<option value="lc" SELECTED>Memoiren</option>
			<!-- TMPL_ELSE -->
				<option value="lc">Memoiren</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ld" -->
				<option value="ld" SELECTED>Tagebuch</option>
			<!-- TMPL_ELSE -->
				<option value="ld">Tagebuch</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14le" -->
				<option value="le" SELECTED>Biographie</option>
			<!-- TMPL_ELSE -->
				<option value="le">Biographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14lf" -->
				<option value="lf" SELECTED>Hagiographie</option>
			<!-- TMPL_ELSE -->
				<option value="lf">Hagiographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14lg" -->
				<option value="lg" SELECTED>Reiseerzählung</option>
			<!-- TMPL_ELSE -->
				<option value="lg">Reiseerzählung</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14lh" -->
				<option value="lh" SELECTED>Erotische Literatur</option>
			<!-- TMPL_ELSE -->
				<option value="lh">Erotische Literatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14li" -->
				<option value="li" SELECTED>Mystische Literatur</option>
			<!-- TMPL_ELSE -->
				<option value="li">Mystische Literatur</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14ma" -->
				<option value="ma" SELECTED>Rhetorik, Reden</option>
			<!-- TMPL_ELSE -->
				<option value="ma">Rhetorik, Reden</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14yy" -->
				<option value="yy" SELECTED>Das ist kein literarischer Text</option>
			<!-- TMPL_ELSE -->
				<option value="yy">Das ist kein literarischer Text</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f14zz" -->
				<option value="zz" SELECTED>Andere oder Mischung</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere oder Mischung</option>
			<!-- /TMPL_IF -->
		</td></tr>
	<tr>
		<td>Biographie:</td>
		<td>
			<select name="f15" size="1">

			<!-- TMPL_IF name="f15 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15a" -->
				<option value="a" SELECTED>Autobiographie</option>
			<!-- TMPL_ELSE -->
				<option value="a">Autobiographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15b" -->
				<option value="b" SELECTED>Individuelle Biographie</option>
			<!-- TMPL_ELSE -->
				<option value="b">Individuelle Biographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15c" -->
				<option value="c" SELECTED>Gesamtbiographie</option>
			<!-- TMPL_ELSE -->
				<option value="c">Gesamtbiographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15d" -->
				<option value="d" SELECTED>Enthält biographische Angaben</option>
			<!-- TMPL_ELSE -->
				<option value="d">Enthält biographische Angaben</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15y" -->
				<option value="y" SELECTED>Das ist keine Biographie</option>
			<!-- TMPL_ELSE -->
				<option value="y">Das ist keine Biographie</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f15z" -->
				<option value="z" SELECTED>Mehrfache Form</option>
			<!-- TMPL_ELSE -->
				<option value="z">Mehrfache Form</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Trägermaterial - Buch: </td>
		<td>
			<select name="f16" size="1">

			<!-- TMPL_IF name="f16 " -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16a" -->
				<option value="a" SELECTED>Papier, allgemein</option>
			<!-- TMPL_ELSE -->
				<option value="a">Papier, allgemein</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16b" -->
				<option value="b" SELECTED>Handgeschöpftes Papier</option>
			<!-- TMPL_ELSE -->
				<option value="b">Handgeschöpftes Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16c" -->
				<option value="c" SELECTED>Reispapier</option>
			<!-- TMPL_ELSE -->
				<option value="c">Reispapier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16d" -->
				<option value="d" SELECTED>Holzschliffpapier</option>
			<!-- TMPL_ELSE -->
				<option value="d">Holzschliffpapier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16e" -->
				<option value="e" SELECTED>Pergament, Vellum</option>
			<!-- TMPL_ELSE -->
				<option value="e">Pergament, Vellum</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f16z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Trägermaterial - Brett:</td>
		<td>
			<select name="f17" size="1">

         		<!-- TMPL_IF name="f17" -->
				<option value=" " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f17a" -->
				<option value="a" SELECTED>Papier, allgemein</option>
			<!-- TMPL_ELSE -->
				<option value="a">Papier, allgemein</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17b" -->
				<option value="b" SELECTED>Handgeschöpftes Papier</option>
			<!-- TMPL_ELSE -->
				<option value="b">Handgeschöpftes Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17c" -->
				<option value="c" SELECTED>Reispapier</option>
			<!-- TMPL_ELSE -->
				<option value="c">Reispapier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17d" -->
				<option value="d" SELECTED>Holzschliffpapier</option>
			<!-- TMPL_ELSE -->
				<option value="d">Holzschliffpapier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17e" -->
				<option value="e" SELECTED>Pergament, Vellum</option>
			<!-- TMPL_ELSE -->
				<option value="e">Pergament, Vellum</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f17z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Wasserzeichen:</td>
		<td>
			<select name="f18" size="1">

			<!-- TMPL_IF name="f180" -->
				<option value="0" SELECTED>Kein Wasserzeichen</option>
			<!-- TMPL_ELSE -->
				<option value="0">Kein Wasserzeichen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f181" -->
				<option value="1" SELECTED>Wasserzeichen vorhanden</option>
			<!-- TMPL_ELSE -->
				<option value="1">Wasserzeichen vorhanden</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Druckerzeichen:</td>
		<td>
			<select name="f19" size="1">

			<!-- TMPL_IF name="f190" -->
				<option value="0" SELECTED>Kein Druckerzeichen</option>
			<!-- TMPL_ELSE -->
				<option value="0">Kein Druckerzeichen</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f191" -->
				<option value="1" SELECTED>Druckerzeichen vorhanden</option>
			<!-- TMPL_ELSE -->
				<option value="1">Druckerzeichen vorhanden</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Verlagsvignette:</td>
		<td>
			<select name="f20" size="1">

			<!-- TMPL_IF name="f200" -->
				<option value="0" SELECTED>Keine Herausgebervignette</option>
			<!-- TMPL_ELSE -->
				<option value="0">Keine Herausgebervignette</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f201" -->
				<option value="1" SELECTED>Verlagsvignette vorhanden</option>
			<!-- TMPL_ELSE -->
				<option value="1">Verlagsvignette vorhanden</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr>
		<td>Dekorationsvignette:</td>
		<td>
			<select name="f21" size="1">

			<!-- TMPL_IF name="f210" -->
				<option value="0" SELECTED>Keine dekorative Vignette</option>
			<!-- TMPL_ELSE -->
				<option value="0">Keine dekorative Vignette</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f211" -->
				<option value="1" SELECTED>Dekorationsvignette vorhanden</option>
			<!-- TMPL_ELSE -->
				<option value="1">Dekorationsvignette vorhanden</option>
			<!-- /TMPL_IF -->
	</select>
		</td>
</tr>
	<tr><td colspan=2><input type="button" value="OK"  onClick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
    function report() {
        var doc = opener.document; 
        var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        field.value =  document.f_pop.f1.value+document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value+document.f_pop.f10.value+document.f_pop.f11.value+document.f_pop.f12.value+document.f_pop.f13.value+document.f_pop.f14.value+document.f_pop.f15.value+document.f_pop.f16.value+document.f_pop.f17.value+document.f_pop.f18.value+document.f_pop.f19.value+document.f_pop.f20.value+document.f_pop.f21.value;
        self.close();
        return false;
    }
</script>
</body>
</html>
