<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIMARC_Ersteller Feld 124b</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>Form des kartographischen Dokuments:</td>
		<td>
			<select name="f1" size="1">
            
			<!-- TMPL_IF name="f1a" -->
				<option value="a" SELECTED>Atlas</option>
			<!-- TMPL_ELSE -->
				<option value="a">Atlas</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" SELECTED>Diagramme</option>
			<!-- TMPL_ELSE -->
				<option value="b">Diagramme</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" SELECTED>Globus</option>
			<!-- TMPL_ELSE -->
				<option value="c">Globus</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1d" -->
				<option value="d" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="d">Papier</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1e" -->
				<option value="e" SELECTED>Modell</option>
			<!-- TMPL_ELSE -->
				<option value="e">Modell</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1f" -->
				<option value="f" SELECTED>Profil</option>
			<!-- TMPL_ELSE -->
				<option value="f">Profil</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1g" -->
				<option value="g" SELECTED>Fernerkundungsbild</option>
			<!-- TMPL_ELSE -->
				<option value="g">Fernerkundungsbild</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1h" -->
				<option value="h" SELECTED>Pokal</option>
			<!-- TMPL_ELSE -->
				<option value="h">Pokal</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1i" -->
				<option value="i" SELECTED>Sicht</option>
			<!-- TMPL_ELSE -->
				<option value="i">Sicht</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1j" -->
				<option value="j" SELECTED>Plan</option>
			<!-- TMPL_ELSE -->
				<option value="j">Plan</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
			</select>
		</td></tr>
	<tr><td colspan=2><input type="button" value="OK"  onClick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value =  document.f_pop.f1.value;
	    self.close();
	    return false;
	}
</script>
</body>
</html>
