<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIMARC_Feld 117 Bilder</title>
</head>
<body>
<form name="f_pop">
<table>
	<tr>
		<td>Materielle Aufmachung</td>
		<td>
			<select name="f1" size="1">
			<!-- TMPL_IF name="f1|" -->
            	           <option value="|" SELECTED>|- Füllzeichen</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- Füllzeichen</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f1aa" -->
				<option value="aa" SELECTED>Pädagogisches Werkzeug</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Pädagogisches Werkzeug</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ab" -->
				<option value="ab" SELECTED>Labor- und Konstruktionsmaterial</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Labor- und Konstruktionsmaterial</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ac" -->
				<option value="ac" SELECTED>Arten (Biologie)</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Arten (Biologie)</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ad" -->
				<option value="ad" SELECTED>Fauna</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Fauna</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ae" -->
				<option value="ae" SELECTED>Flora</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Flora</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1af" -->
				<option value="af" SELECTED>Mineralien</option>
			<!-- TMPL_ELSE -->
				<option value="af">Mineralien</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ag" -->
				<option value="ag" SELECTED>Mikroskopische Platten</option>
			<!-- TMPL_ELSE -->
				<option value="ag">Mikroskopische Platten</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ah" -->
				<option value="ah" SELECTED>Geduldsspiele (Puzzle)</option>
			<!-- TMPL_ELSE -->
				<option value="ah">Geduldsspiele (Puzzle)</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ai" -->
				<option value="ai" SELECTED>Werkzeuge und Ausrüstungen</option>
			<!-- TMPL_ELSE -->
				<option value="ai">Werkzeuge und Ausrüstungen</option>	
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f1aj" -->
				<option value="aj" SELECTED>Waffen</option>
			<!-- TMPL_ELSE -->
				<option value="aj">Waffen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ak" -->
				<option value="ak" SELECTED>Empfänger</option>
			<!-- TMPL_ELSE -->
				<option value="ak">Empfänger</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1al" -->
				<option value="al" SELECTED>Möbel</option>
			<!-- TMPL_ELSE -->
				<option value="al">Möbel</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1be" -->
				<option value="be" SELECTED>Industrielle Produktion</option>
			<!-- TMPL_ELSE -->
				<option value="be">Industrielle Produktion</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bf" -->
				<option value="bf" SELECTED>Maschinen</option>
			<!-- TMPL_ELSE -->
				<option value="bf">Maschinen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bg" -->
				<option value="bg" SELECTED>Münzen</option>
			<!-- TMPL_ELSE -->
				<option value="bg">Münzen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bh" -->
				<option value="bh" SELECTED>Medaillen</option>
			<!-- TMPL_ELSE -->
				<option value="bh">Medaillen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bi" -->
				<option value="bi" SELECTED>Juwelierkunst</option>
			<!-- TMPL_ELSE -->
				<option value="bi">Juwelierkunst</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1am" -->
				<option value="am" SELECTED>Transport</option>
			<!-- TMPL_ELSE -->
				<option value="am">Transport</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1an" -->
				<option value="an" SELECTED>Textilien</option>
			<!-- TMPL_ELSE -->
				<option value="an">Textilien</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ao" -->
				<option value="ao" SELECTED>Kleider</option>
			<!-- TMPL_ELSE -->
				<option value="ao">Kleider</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ap" -->
				<option value="ap" SELECTED>Spiele</option>
			<!-- TMPL_ELSE -->
				<option value="ap">Spiele</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1aq" -->
				<option value="aq" SELECTED>Spielzeug</option>
			<!-- TMPL_ELSE -->
				<option value="aq">Spielzeug</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ar" -->
				<option value="ar" SELECTED>Puppen</option>
			<!-- TMPL_ELSE -->
				<option value="ar">Puppen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1as" -->
				<option value="as" SELECTED>Verkleinerte Modelle</option>
			<!-- TMPL_ELSE -->
				<option value="as">Verkleinerte Modelle</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1at" -->
				<option value="at" SELECTED>Zusammensetzbare Modelle</option>
			<!-- TMPL_ELSE -->
				<option value="at">Zusammensetzbare Modelle</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1ba" -->
				<option value="ba" SELECTED>Dioramen</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Dioramen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bb" -->
				<option value="bb" SELECTED>Duplikate</option>
			<!-- TMPL_ELSE -->
				<option value="bb">Duplikate</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bc" -->
				<option value="bc" SELECTED>Skulpturen</option>
			<!-- TMPL_ELSE -->
				<option value="bc">Skulpturen</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bd" -->
				<option value="bd" SELECTED>Zeichenmaterial</option>
			<!-- TMPL_ELSE -->
				<option value="bd">Zeichenmaterial</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1bj" -->
				<option value="bj" SELECTED>Artefakte</option>
			<!-- TMPL_ELSE -->
				<option value="bj">Artefakte</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1uu" -->
				<option value="uu" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="uu">Unbekannt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1vv" -->
				<option value="vv" SELECTED>Zusammensetzung</option>
			<!-- TMPL_ELSE -->
				<option value="vv">Zusammensetzung</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>
	<tr>
		<td>Material 1</td>
		<td>
			<select name="f2" size="1">
			<!-- TMPL_IF name="f2|" -->
                            <option value="|" SELECTED>|- Füllzeichen</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- Füllzeichen</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f2  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2aa" -->
				<option value="aa" SELECTED>Terrakotta</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Terrakotta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ab" -->
				<option value="ab" SELECTED>Wachs</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Wachs</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ac" -->
				<option value="ac" SELECTED>Ton</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Ton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ad" -->
				<option value="ad" SELECTED>Majolika</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Majolika</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ae" -->
				<option value="ae" SELECTED>Porzellan</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Porzellan</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2af" -->
				<option value="af" SELECTED>Keramik</option>
			<!-- TMPL_ELSE -->
				<option value="af">Keramik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ag" -->
				<option value="ag" SELECTED>Gipsfigur</option>
			<!-- TMPL_ELSE -->
				<option value="ag">Gipsfigur</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ah" -->
				<option value="ah" SELECTED>Glas</option>
			<!-- TMPL_ELSE -->
				<option value="ah">Glas</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ba" -->
				<option value="ba" SELECTED>Holz</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Holz</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ca" -->
				<option value="ca" SELECTED>Elfenbein</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Elfenbein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2da" -->
				<option value="da" SELECTED>Stein</option>
			<!-- TMPL_ELSE -->
				<option value="da">Stein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2db" -->
				<option value="db" SELECTED>Edelsteine</option>
			<!-- TMPL_ELSE -->
				<option value="db">Edelstein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2dc" -->
				<option value="dc" SELECTED>Marmor</option>
			<!-- TMPL_ELSE -->
				<option value="dc">Marmor</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2dd" -->
				<option value="dd" SELECTED>Basalt</option>
			<!-- TMPL_ELSE -->
				<option value="dd">Basalt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2df" -->
				<option value="df" SELECTED>Porphyr</option>
			<!-- TMPL_ELSE -->
				<option value="df">Porphyr</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ea" -->
				<option value="ea" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Papier</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2eb" -->
				<option value="eb" SELECTED>Karton</option>
			<!-- TMPL_ELSE -->
				<option value="eb">Karton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2fa" -->
				<option value="fa" SELECTED>Edelmetall</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Edelmetall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2fb" -->
				<option value="fb" SELECTED>Metall</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Metall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2fc" -->
				<option value="fc" SELECTED>Bronze</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bronze</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2fd" -->
				<option value="fd" SELECTED>Kupfer</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Kupfer</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ga" -->
				<option value="ga" SELECTED>Synthetisch</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Synthetisch</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ha" -->
				<option value="ha" SELECTED>Textilien</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Textilien</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2ia" -->
				<option value="ia" SELECTED>Plastik</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Plastik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2uu" -->
				<option value="uu" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="uu">Unbekannt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2vv" -->
				<option value="vv" SELECTED>Zusammensetzung</option>
			<!-- TMPL_ELSE -->
				<option value="vv">Zusammensetzung</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>
	<tr>
		<td>Material 2</td>
		<td>
			<select name="f3" size="1">
			<!-- TMPL_IF name="f3|" -->
                            <option value="|" SELECTED>|- Füllzeichen</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- Füllzeichen</option>
                        <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f3  " -->
				<option value="  " SELECTED>Wert nicht erforderlich</option>
			<!-- TMPL_ELSE -->
				<option value="  ">Wert nicht erforderlich</option>
			<!-- /TMPL_IF -->

			<!-- TMPL_IF name="f3aa" -->
				<option value="aa" SELECTED>Terrakotta</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Terrakotta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ab" -->
				<option value="ab" SELECTED>Wachs</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Wachs</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ac" -->
				<option value="ac" SELECTED>Ton</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Ton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ad" -->
				<option value="ad" SELECTED>Majolika</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Majolika</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ae" -->
				<option value="ae" SELECTED>Porzellan</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Porzellan</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3af" -->
				<option value="af" SELECTED>Keramik</option>
			<!-- TMPL_ELSE -->
				<option value="af">Keramik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ag" -->
				<option value="ag" SELECTED>Gipsfigur</option>
			<!-- TMPL_ELSE -->
				<option value="ag">Gipsfigur</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ah" -->
				<option value="ah" SELECTED>Glas</option>
			<!-- TMPL_ELSE -->
				<option value="ah">Glas</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ba" -->
				<option value="ba" SELECTED>Holz</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Holz</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ca" -->
				<option value="ca" SELECTED>Elfenbein</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Elfenbein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3da" -->
				<option value="da" SELECTED>Stein</option>
			<!-- TMPL_ELSE -->
				<option value="da">Stein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3db" -->
				<option value="db" SELECTED>Edelsteine</option>
			<!-- TMPL_ELSE -->
				<option value="db">Edelstein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3dc" -->
				<option value="dc" SELECTED>Marmor</option>
			<!-- TMPL_ELSE -->
				<option value="dc">Marmor</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3dd" -->
				<option value="dd" SELECTED>Basalt</option>
			<!-- TMPL_ELSE -->
				<option value="dd">Basalt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3df" -->
				<option value="df" SELECTED>Porphyr</option>
			<!-- TMPL_ELSE -->
				<option value="df">Porphyr</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ea" -->
				<option value="ea" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Papier</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3eb" -->
				<option value="eb" SELECTED>Karton</option>
			<!-- TMPL_ELSE -->
				<option value="eb">Karton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3fa" -->
				<option value="fa" SELECTED>Edelmetall</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Edelmetall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3fb" -->
				<option value="fb" SELECTED>Metall</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Metall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3fc" -->
				<option value="fc" SELECTED>Bronze</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bronze</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3fd" -->
				<option value="fd" SELECTED>Kupfer</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Kupfer</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ga" -->
				<option value="ga" SELECTED>Synthetisch</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Synthetisch</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ha" -->
				<option value="ha" SELECTED>Textilien</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Textilien</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3ia" -->
				<option value="ia" SELECTED>Plastik</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Plastik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3uu" -->
				<option value="uu" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="uu">Unbekannt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3vv" -->
				<option value="vv" SELECTED>Zusammensetzung</option>
			<!-- TMPL_ELSE -->
				<option value="vv">Zusammensetzung</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f3zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
	
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>
	<tr>
		<td>Material 3</td>
		<td>
			<select name="f4" size="1">
			<!-- TMPL_IF name="f4|" -->
                            <option value="|" SELECTED>|- Füllzeichen</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- Füllzeichen</option>
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF name="f4  " -->
                                <option value="  " SELECTED>Wert nicht erforderlich</option>
                        <!-- TMPL_ELSE -->
                                <option value="  ">Wert nicht erforderlich</option>
                        <!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4aa" -->
				<option value="aa" SELECTED>Terrakotta</option>
			<!-- TMPL_ELSE -->
				<option value="aa">Terrakotta</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ab" -->
				<option value="ab" SELECTED>Wachs</option>
			<!-- TMPL_ELSE -->
				<option value="ab">Wachs</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ac" -->
				<option value="ac" SELECTED>Ton</option>
			<!-- TMPL_ELSE -->
				<option value="ac">Ton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ad" -->
				<option value="ad" SELECTED>Majolika</option>
			<!-- TMPL_ELSE -->
				<option value="ad">Majolika</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ae" -->
				<option value="ae" SELECTED>Porzellan</option>
			<!-- TMPL_ELSE -->
				<option value="ae">Porzellan</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4af" -->
				<option value="af" SELECTED>Keramik</option>
			<!-- TMPL_ELSE -->
				<option value="af">Keramik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ag" -->
				<option value="ag" SELECTED>Gipsfigur</option>
			<!-- TMPL_ELSE -->
				<option value="ag">Gipsfigur</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ah" -->
				<option value="ah" SELECTED>Glas</option>
			<!-- TMPL_ELSE -->
				<option value="ah">Glas</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ba" -->
				<option value="ba" SELECTED>Holz</option>
			<!-- TMPL_ELSE -->
				<option value="ba">Holz</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ca" -->
				<option value="ca" SELECTED>Elfenbein</option>
			<!-- TMPL_ELSE -->
				<option value="ca">Elfenbein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4da" -->
				<option value="da" SELECTED>Stein</option>
			<!-- TMPL_ELSE -->
				<option value="da">Stein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4db" -->
				<option value="db" SELECTED>Edelsteine</option>
			<!-- TMPL_ELSE -->
				<option value="db">Edelstein</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4dc" -->
				<option value="dc" SELECTED>Marmor</option>
			<!-- TMPL_ELSE -->
				<option value="dc">Marmor</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4dd" -->
				<option value="dd" SELECTED>Basalt</option>
			<!-- TMPL_ELSE -->
				<option value="dd">Basalt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4df" -->
				<option value="df" SELECTED>Porphyr</option>
			<!-- TMPL_ELSE -->
				<option value="df">Porphyr</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ea" -->
				<option value="ea" SELECTED>Papier</option>
			<!-- TMPL_ELSE -->
				<option value="ea">Papier</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4eb" -->
				<option value="eb" SELECTED>Karton</option>
			<!-- TMPL_ELSE -->
				<option value="eb">Karton</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4fa" -->
				<option value="fa" SELECTED>Edelmetall</option>
			<!-- TMPL_ELSE -->
				<option value="fa">Edelmetall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4fb" -->
				<option value="fb" SELECTED>Metall</option>
			<!-- TMPL_ELSE -->
				<option value="fb">Metall</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4fc" -->
				<option value="fc" SELECTED>Bronze</option>
			<!-- TMPL_ELSE -->
				<option value="fc">Bronze</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4fd" -->
				<option value="fd" SELECTED>Kupfer</option>
			<!-- TMPL_ELSE -->
				<option value="fd">Kupfer</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ga" -->
				<option value="ga" SELECTED>Synthetisch</option>
			<!-- TMPL_ELSE -->
				<option value="ga">Synthetisch</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ha" -->
				<option value="ha" SELECTED>Textilien</option>
			<!-- TMPL_ELSE -->
				<option value="ha">Textilien</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4ia" -->
				<option value="ia" SELECTED>Plastik</option>
			<!-- TMPL_ELSE -->
				<option value="ia">Plastik</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4uu" -->
				<option value="uu" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="uu">Unbekannt</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4vv" -->
				<option value="vv" SELECTED>Zusammensetzung</option>
			<!-- TMPL_ELSE -->
				<option value="vv">Zusammensetzung</option>
	
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f4zz" -->
				<option value="zz" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="zz">Andere</option>
			<!-- /TMPL_IF -->

				</select>
		</td>
	</tr>

	<tr>
		<td>Farbe</td>
		<td>
	<select name="f5" size="1">
                        <!-- TMPL_IF name="f5|" -->
                            <option value="|" SELECTED>|- Füllzeichen</option>
                        <!-- TMPL_ELSE -->
                            <option value="|">|- Füllzeichen</option>
                        <!-- /TMPL_IF -->

			<!-- TMPL_IF name="f5a" -->
				<option value="a" SELECTED>Monochrom</option>
			<!-- TMPL_ELSE -->
				<option value=" ">Monochrom</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5b" -->
				<option value="b" SELECTED>Schwarz oder weiß</option>
			<!-- TMPL_ELSE -->
				<option value="b">Schwarz oder weiß</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5c" -->
				<option value="c" SELECTED>mehrfarbig</option>
			<!-- TMPL_ELSE -->
				<option value="c">mehrfarbig</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5d" -->
				<option value="d" SELECTED>Handkoloriert</option>
			<!-- TMPL_ELSE -->
				<option value="d">Handkoloriert</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5u" -->
				<option value="u" SELECTED>Unbekannt</option>
			<!-- TMPL_ELSE -->
				<option value="u">Unbekannt</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5v" -->
				<option value="v" SELECTED>Zusammensetzung</option>
			<!-- TMPL_ELSE -->
				<option value="v">Zusammensetzung</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5x" -->
				<option value="x" SELECTED>Nicht anwendbar</option>
			<!-- TMPL_ELSE -->
				<option value="x">Nicht anwendbar</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5z" -->
				<option value="z" SELECTED>Andere</option>
			<!-- TMPL_ELSE -->
				<option value="z">Andere</option>
			<!-- /TMPL_IF -->
				</select>
		</td>
	</tr>
	<tr><td colspan=2><input type="button" value="OK"  onClick="javascript:report()"></td></tr>
</table>
</form>
<script type="text/javascript">
	function report() {
	    var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value =  document.f_pop.f1.value +document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value;
	    self.close();
	    return false;
	}
</script>
</body>
</html>
