<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 館藏目錄 &rsaquo; 館藏詳情 <!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" --><!-- /TMPL_LOOP --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">h3{padding-top: 1em; border-top: 2px solid #CCCCCC;}</style>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首頁</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">館藏目錄</a> &rsaquo; 館藏詳情 <i><!-- TMPL_LOOP NAME="BIBITEM_DATA" --><!-- TMPL_VAR NAME="title" --><!-- /TMPL_LOOP --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
<!-- TMPL_INCLUDE NAME="cat-toolbar.inc" -->

<div id="catalogue_detail_biblio">
    <!-- TMPL_LOOP NAME="BIBITEM_DATA" -->
    <h2><!-- TMPL_VAR NAME="title" --> <!-- TMPL_IF NAME="author" -->，作者 <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF --></h2>
    <ol class="bibliodetails">
        <li><span class="label">書目記錄號碼：</span> <!-- TMPL_VAR NAME="biblionumber" -->&nbsp;</li>
        <!-- TMPL_UNLESS NAME="item-level_itypes" -->
        <li><span class="label">館藏型式</span> <!-- TMPL_VAR NAME="itemtypename" -->&nbsp;</li>
        <!-- /TMPL_UNLESS -->
        <!-- deprecated? <li><span class="label">Loan length:</span> <!-- TMPL_VAR NAME="loanlength" -->&nbsp;</li> -->
        <li><span class="label">借閱費用：</span>$<!-- TMPL_VAR NAME="rentalcharge" -->&nbsp;</li>
        <li><span class="label">國際標準書號（ISBN）：</span> <!-- TMPL_VAR NAME="isbn" -->&nbsp;</li>
        <li><span class="label">出版者：</span><!-- TMPL_VAR NAME="place" --> <!-- TMPL_VAR NAME="publishercode" --> <!-- TMPL_VAR NAME="publicationyear" -->&nbsp;</li>
        <!-- TMPL_IF NAME="volumeddesc" --><li><span class="label">冊：</span> <!-- TMPL_VAR NAME="volumeddesc" --></li><!-- /TMPL_IF -->
        <li><span class="label">住址：</span> <!-- TMPL_VAR NAME="pages" --> <!-- TMPL_VAR NAME="illus" --> <!-- TMPL_VAR NAME="size" -->&nbsp;</li>
        <!-- TMPL_IF NAME="bnotes" --><li><span class="label">備註：</span> <!-- TMPL_VAR NAME="bnotes" --></li><!-- /TMPL_IF -->
        <li><span class="label">索書號：</span> <!-- TMPL_VAR NAME="count" -->&nbsp;</li>
    </ol>
    <!-- /TMPL_LOOP -->
    <br clear="all" />
    <!-- TMPL_LOOP NAME="ITEM_DATA" -->
    <div class="yui-g">
        <h3 id="item<!-- TMPL_VAR NAME="itemnumber" -->">登錄號 <!-- TMPL_VAR NAME="barcode" -->  <!-- TMPL_IF name="notforloantext" --><!-- TMPL_VAR name="notforloantext" --> <!-- /TMPL_IF --></h3>
        <div class="listgroup"><h4>館藏資訊 <!-- TMPL_IF NAME="CAN_user_editcatalogue" --><!-- TMPL_UNLESS name="nomod" --><a href="/cgi-bin/koha/cataloguing/additem.pl?op=edititem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber"-->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->">[編輯館藏]</a><!-- /TMPL_IF --><!-- /TMPL_UNLESS --></h4>
            <ol class="bibliodetails">
            <li><span class="label">總館：</span> <!-- TMPL_VAR NAME="homebranchname" -->&nbsp;</li>
	    <!-- TMPL_IF NAME="item-level_itypes" -->
            <li><span class="label">館藏型式</span> <!-- TMPL_VAR NAME="itype" -->&nbsp;</li>
	    <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="collection" --><li><span class="label">集叢：</span> <!-- TMPL_VAR NAME="collection" --></li> <!-- /TMPL_IF -->  
            <li><span class="label">館藏索書號：</span> <!-- TMPL_VAR NAME="itemcallnumber" -->&nbsp;</li>
            <!-- TMPL_IF NAME="copyvol" --><li><span class="label">複本 / 冊：</span> <!-- TMPL_VAR NAME="copyvol" -->&nbsp;</li> <!-- /TMPL_IF -->  
            <!-- TMPL_IF NAME="replacementprice" --><li><span class="label">取代價錢：</span> <!-- TMPL_VAR NAME="replacementprice" -->&nbsp;</li> <!-- /TMPL_IF -->
            </ol></div>
           <div class="listgroup"><h4>Statuses <!-- TMPL_IF NAME="status_advisory" -->( 
                <!-- TMPL_IF name="notforloantext" --><!-- TMPL_VAR name="notforloantext" --> <!-- /TMPL_IF -->
                <!-- TMPL_IF name="itemlost"-->遺失<!-- /TMPL_IF --> 
                <!-- TMPL_IF NAME="damaged" -->被損害<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="wthdrawn" -->註銷<!-- /TMPL_IF -->
            )<!-- /TMPL_IF --></h4>
            
            <ol class="bibliodetails">
            <li><span class="label">目前館藏地：</span> <!-- TMPL_VAR NAME="holdingbranchname" -->&nbsp;</li>
            <li><span class="label">流通狀況：</span> <!-- TMPL_IF NAME="issue" --><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="cardnumber" --></a> 的借閱。到期日 <!-- TMPL_VAR NAME="onloan" -->。<!-- TMPL_ELSE -->無法借閱 <!-- /TMPL_IF --></li>
            <li><span class="label">遺失狀態：</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="itemlost" >
            <!-- TMPL_LOOP NAME="itemlostloop" -->
                <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />
                    <input type="submit" name="submit" class="submit" value="設定館藏狀態："></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemlostloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">毀損狀況：</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <select name="damaged" >
            <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                <!-- TMPL_IF NAME="selected" -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->" selected="selected"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- TMPL_ELSE -->
                    <option value="<!-- TMPL_VAR NAME="authorised_value" -->"><!-- TMPL_VAR NAME="lib" --></option>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
                    </select>
                    <input type="hidden" name="wthdrawn" value="<!-- TMPL_VAR NAME="wthdrawn" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="submit" name="submit" class="submit" value="設定館藏狀態："></form>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_LOOP NAME="itemdamagedloop" -->
                        <!-- TMPL_IF NAME="selected" -->
                            <!-- TMPL_VAR NAME="lib" -->
                        <!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </li>
            <li><span class="label">註銷嗎？：</span><!-- TMPL_IF NAME="wthdrawn" -->是<!-- TMPL_ELSE -->否<!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
                    <form action="updateitem.pl" method="post">
                    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" />
                    <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <input type="hidden" name="itemlost" value="<!-- TMPL_VAR NAME="itemlost" -->" />
                    <input type="hidden" name="damaged" value="<!-- TMPL_VAR NAME="damaged" -->" />

            <!-- TMPL_IF NAME="wthdrawn" -->
                    <input type="hidden" name="wthdrawn" value="0" /><!-- TMPL_ELSE --><input type="hidden" name="wthdrawn" value="1" />
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="wthdrawn" -->
                    <input type="submit" name="submit" class="submit" value="重新儲存"><!-- TMPL_ELSE --><input type="submit" name="submit" class="submit" value="註銷">
            <!-- /TMPL_IF -->
                    </form>
                <!-- /TMPL_IF -->
            </li>
            </ol></div>
            <div class="listgroup"><h4>訂閱歷史</h4>
            <ol class="bibliodetails">
                <li><span class="label">
                <!-- TMPL_IF NAME="CAN_user_editcatalogue" --><a href="/cgi-bin/koha/acqui/orderreceive.pl?recieve=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="booksellerinvoicenumber" -->&amp;catview=yes">登錄日期：</a><!-- TMPL_ELSE -->登錄日期：<!-- /TMPL_IF --></span> <!-- TMPL_VAR NAME="dateaccessioned" --></li>

                <li><span class="label">總共續借：</span> <!-- TMPL_VAR NAME="renewals" -->&nbsp;</li>

                <li><span class="label">全部欄位</span><!-- TMPL_IF NAME="issues" --><!-- TMPL_VAR NAME="issues" --><!-- TMPL_ELSE -->0<!-- /TMPL_IF -->  （<a href="/cgi-bin/koha/circ/bookcount.pl?&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->&amp;itm=<!-- TMPL_VAR NAME="itemnumber" -->">流通記錄</a>）</li>


                <li><span class="label">最近借閱：</span> <!-- TMPL_VAR NAME="datelastseen" -->&nbsp;</li>
                <li><span class="label">最近借閱：</span> <!-- TMPL_VAR NAME="datelastborrowed" -->&nbsp;</li>
                <!-- TMPL_IF NAME="card0" --><li><span class="label">上一位讀者 1：</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower0" -->"><!-- TMPL_VAR NAME="card0" --></a>&nbsp;</li><!-- /TMPL_IF -->
                <!-- TMPL_IF NAME="card1" --><li><span class="label">上次借閱者 1：</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower1" -->"><!-- TMPL_VAR NAME="card1" --></a>&nbsp;</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="card2" --><li><span class="label">上次借閱者 1：</span> <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=<!-- TMPL_VAR NAME="borrower2" -->"><!-- TMPL_VAR NAME="card2" --></a>&nbsp;</li><!-- /TMPL_IF -->
                <li><span class="label">繳交嗎？：</span> <!-- TMPL_VAR NAME="paidfor" -->&nbsp;</li>
            <li><span class="label">公開說明</span>
                <!-- TMPL_IF NAME="CAN_user_circulate" -->
              <form class="inline" action="updateitem.pl" method="post"><input type="hidden" name="biblionumber" value="<!-- TMPL_VAR Name="biblionumber" -->" />
                    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR Name="biblioitemnumber" -->" /><input type="hidden" name="itemnumber" value="<!-- TMPL_VAR Name="itemnumber" -->" />
                    <textarea name="itemnotes" rows="2" cols="30"><!-- TMPL_VAR NAME="itemnotes" --></textarea><input type="submit" name="submit" class="submit" value="更新"> 
              </form>
            </li>
            </ol>
                <!-- TMPL_ELSE -->
                    <!-- TMPL_VAR NAME="itemnotes" -->
                    &nbsp;
                <!-- /TMPL_IF -->
            </div>
</div>
<!-- /TMPL_LOOP -->

</div>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
