<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Statistiques d'acquisitions</h1>

<p>   ATTENTION : l'assistant Acquisitions est conçu pour donner un point statistique ponctuel. Dans chaque assistant vous choisirez une catégorie pour les 'lignes' et une autre pour les 'colonnes'.</p>
		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'acquisitions' sous 'Assistant statistiques'</li>
			<li>Entrez les informations à faire apparaître dans le rapport</li>
			<li>Cliquez 'Valider'</li>
			<li>En sélectionnant 'Montant' au lieu de 'Décompte de documents' vous verrez le total dépensé </li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->