<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Adhérents empruntants le plus</h1>

<p>Ce rapport guidé vous dira quels adhérents ont le plus emprunté.</p>
		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Choisissez 'adhérents empruntant le plus' sous 'palmarès'</li>
			<li>Sélectionner les filtres parmi les outils proposés
			<ul>
				<li>			   
			   ATTENTION : Ne sélectionnez pas 'Aucun' dans le champs 'Par' si vous voulez voir les résultats</li>
			</ul></li>
			<li>Une fois les champs remplis, cliquez 'Valider'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->