<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Statistiques adhérents</h1>

<p>IMPORTANT: The Patron 'Wizard' is designed to be a simple statistical snapshot,  In each wizard, you will choose a single category to represent 'row' and another to represent 'column'.</p>
		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Adhérents' sous 'Assistant de bilan'</li>
			<li>Utiliser le bouton radio pour choisir une catégorie pour 'ligne' (ci-dessus, nous avons sélectionné 'catégorie adhérent')
			<ul>
				<li>Utilisez les menus déroulants pour filtrer cette catégorie</li>
			</ul></li>
			<li>Utiliser le bouton radio pour choisir une catégorie pour 'colonne' (ci-dessus, nous avons sélectionné 'site')
			<ul>
				<li> 
				<ul>
					<li>Utilisez les menus déroulants pour filtrer cette catégorie</li>
				</ul></li>
			</ul></li>
			<li>Les options du type bouton radio, comme 'Statut adhérent', 'Activité adhérent' et 'date de naissance' permettent de limiter le rapport.</li>
			<li>
		    <span style="background-color: #ffe599">
ASTUCES : Pour ne pas mettre de limite à une catégorie, sélectionnez le champ vide: toutes les catégories seront sélectionnez dans la statistique.</span></li>
			<li>Sélectionner une méthode de visualisation du rapport: 'navigateur' ou sauverdage d'un fichier exploitable dans un programme du type Excel.</li>
			<li>Cliquez 'Valider'</li>
			<li>Pour chaque catégorie d'adhérent (lignes), un compteur est proposé par site. Lignes et colonnes sont aussi additionnés</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->