<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Documents les plus empruntés</h1>

<p>Ce rapport guidé vous dira quels adhérents</p>

		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Documents les plus empruntés' sous 'palmarès'</li>
			<li>Sélectionner les filtres parmi les outils proposés<br/>
			<ul>
				<li>			   
			   ATTENTION : Ne sélectionnez pas 'Aucun' dans le champs 'Par' si vous voulez voir les résultats</li>
			</ul></li>
			<li>Once you have your fields filled in, click 'Submit'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->