<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>   Statistiques sur le catalogue</h1>

<p>ATTENTION : l'assistant Catalogue est conçu pour donner un point statistique ponctuel. Dans chaque assistant vous choisirez une catégorie pour les 'lignes' et une autre pour les 'colonnes'.</p>

	<ul>
		<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
		<li>Sélectionnez 'Catalogue' sous 'Assistant de bilan'</li>
		<li>Utiliser le bouton radio pour choisir une catégorie pour 'ligne' (ci-dessus, nous avons sélectionné 'catégorie adhérent')
		<ul>
			<li>Utilisez les menus déroulants pour filtrer cette catégorie</li>
		</ul></li>
	</ul>
	<ul>
		<li>Utiliser le bouton radio pour choisir une catégorie pour 'colonne' (ci-dessus, nous avons sélectionné 'site')
		<ul>
			<li>Utilisez les menus déroulants pour filtrer cette catégorie</li>
		</ul></li>
	</ul>
	<ul>
		<li>Sélectionner une méthode de visualisation du rapport: 'navigateur' ou sauverdage d'un fichier exploitable dans un programme du type Excel.</li>
		<li>Cliquez 'Valider'</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->