<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Document(s) non prêtés</h1>

<p>Ce rapport guidé vous donnera une liste des exemplaires jamais prêtés. Vous pouvez limiter le rapport par site</p>

		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Documents jamais prêtés' sous 'Inactifs'</li>
			<li>Si vous ne sélectionnez aucun filtre, vous verrez tous les exemplaires qui n'ont jamais été prêté</li>
			<li>Vous pouvez modifier le rapport en choisissant une limite</li>
			<li>Limitez par 'site'</li>
			<li>Et vos résultats seront triés par code de bibliothèque</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->