<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>   Statistiques de circulation : </h1>

<p><strong>IMPORTANT:</strong> The Circulation 'Wizard' is designed to be a simple statistical snapshot. You will choose a single category to represent 'row' and another to represent 'column'.</p>
		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Circulation' sous 'Assistant de bilan'</li>
			<li>Utilisez les boutons radio sous 'Ligne' et 'Colonne' pour sélectionner les données à utiliser</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->