<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Durée moyenne du prêt</h1>

<p>Ce rapport donnera le nombre d'exemplaires prpetés, par catégorie d'adhérent.</p>

		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Durée de prêt moyen' sous 'Autres'</li>
			<li>Choose one field to appear in the rows and another to appear in the column.  If you choose either of the date fields remember to choose to show data by 'Day', 'Month', or 'Year'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->