<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Exemplaires perdus</h1>

<p> Ce rapport vous dira combien d'exemplaires de chaque type se trouvent actuellement dans votre/vos site(s).</p>

		<ul>
			<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
			<li>Sélectionnez 'Exemplaires perdus' sous 'Autres'</li>
			<li>Sélectionnez une catégorie de tri pour classer les exemplaires perdus à l'affichage</li>
			<li>Si vous cherchez un exemplaire, entrez un code-barres; sinon laissez le champs vide</li>
			<li>Sélectionnez un 'site' auquel votre rapport s'appliquera (ou sélectionnez 'Tous' dans le menu déroulant pour sélectionner tous les sites)</li>
			<li>Sélectionnez un 'Type d'exemplaire' sur lequel le rapport sera fait (ou sélectionnez 'Tous' pour faire un rapport sur tous les types d'exemplaire)</li>
			<li>Pour rechercher dans les exemplaires présumés perdus (long retard), manquants ou perdus, sélectionnez un 'Statut perdu' (ou 'Tous' pour voir tous les exemplaires perdus)</li>
			<li>Cliquez 'Valider'</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->