<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Prêts par catégorie d'adhérent</h1>

<p>Ce rapport donnera le nombre d'exemplaires prpetés, par catégorie d'adhérent.</p>

	<ul>
		<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
		<li>Sélectionnez 'prêts par catégorie d'adhérent' sous 'autre'</li>
		<li>Sélectionnez une catégorie d'adhérent dans le menu déroulant (ou sélectionnez la valeur par défaut 'Toutes les catégories d'adhérent')</li>
		<li>Sélectionnez le site sur lequel vous voulez un rapport (ou sélectionner la valeur par défaut 'tous sites' pour faire un rapport concernant tous les sites)</li>
		<li>Cliquez 'Valider'</li>
	</ul>
	
	<h1>Catalogue par type de document</h1>

<p>Ce rapport vous dira combien d'exemplaires de chaque type se trouvent actuellement dans votre/vos site(s).</p>

	<ul>
		<li>Aller dans le module 'Bilans et Statistiques' (sous 'Plus' dans la navigation globale)</li>
		<li>Sélectionnez 'Catalogue par type de document' sous 'autre'</li>
		<li>Sélectionnez un site (ou le champ vide en haut du menu déroulant pour sélectionner tous les sites)</li>
		<li>Cliquez 'Valider'</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->