<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>كوها &rsaquo; المستعيرين &rsaquo; عمل إعارة يدوية</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">الصفحة الرئيسية</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">المستخدمين</a> &rsaquo; دليل الإعتماد</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-toolbar.inc" -->

<!-- The manual invoice and credit buttons -->
<div class="toptabs">
<ul class="ui-tabs-nav">
	<li><a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">الحساب</a></li>
	<li><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >غرامات دفع</a></li>
	<li><a href="/cgi-bin/koha/members/maninvoice.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >إنشئ فاتورة يدوية</a></li>
	<li class="ui-tabs-selected"><a href="/cgi-bin/koha/members/mancredit.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->" >إنشئ إئتمانا يدويا</a></li>
</ul>
<div class="tabs-container">

<form action="/cgi-bin/koha/members/mancredit.pl" method="post">
<input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />

<fieldset class="rows">
<legend>تصديق يدوي</legend><ol>
	<li><label for="type">Credit Type: </label><select name="type" id="type">
<option value="C">Credit</option>
<option value="FOR">معفو عنه</option>
</select></li>
	<li><label for="barcode">الباركود: </label><input type="text" name="barcode" id="barcode" /></li>
	<li><label for="desc">وصف: </label><input type="text" name="desc" size="50" id="desc" /></li>
	<li><label for="amount">الكمية: </label><input type="text" name="amount" id="amount" /></li>
</ol></fieldset>

<fieldset class="action"><input type="submit" name="add" value="أضف رصيد"> <a class="cancel" href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">إلغاء</a></fieldset>
</form>

</div></div>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
