<!-- TMPL_INCLUDE NAME="help-top.inc" -->
<h2>I can log in, what is next?</h2>

<p>If this is your first time logging into Koha, you should now got to Koha Administration and setup all system parameters, especially Patron Categories.</p>

<p>Once you have&nbsp; set up patron categories, you should create a new user in &quot;Patrons&quot; with super librarian privileges. Then use that user to log in rather than the root user set up as part of installation.</p>

<p>这里有一些建议： </p>

<ul> <li><a href="http://kohadocs.org">阅读Koha文档</a></li> <li><a href="http://wiki.koha.org">阅读/撰写到 Koha Wiki</a></li> <li><a href="http://koha.org/community/mailing-lists.html">阅读并且参与讨论</a></li> <li><a href="http://bugs.koha.org">报告Koha漏洞</a></li> <li><a href="http://wiki.koha.org/doku.php?id=en:development:git_usage">使用 Git（版本控制系统）提交 补丁 到 Koha</a></li> <li><a href="http://koha.org/community/irc.html">和 Koha 使用者以及研发人员讨论</a></li> </ul>  

<h2>可以编辑联机帮助吗？ </h2>

<p>You can edit the online help through the Koha Staff Client by clicking the &quot;Edit Help&quot; button. This feature has been designed so that library workflow and policies can be documented within&nbsp; Koha. </p>

<p><strong>IMPORTANT NOTE Online Help is overwritten during a Koha Upgrade.</strong></p>

<p>As part of the upgrade process your online help will be overwritten with the new Help as part of the install. If you want to keep a copy of your online help, you should instruct your System Administrator to upgrade the Online Help directory in the Koha file tree.</p>

<p>在线帮助目录是： <pre>&nbsp;/koha-tmpl/intranet-tmpl/prog/en/modules/help</pre></p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->