<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> &ndash; Selvbetjent udlån
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Hjælp til selvbetjent udlån</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>Skridt et: Angiv din brugeridentitet    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3>Skridt to: Skan stregkoden for hvert lån, et lån ad gangen</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3>Skridt tre: Tryk på «Tryk her hvis du er færdig» når du er det.</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Gå tilbage til den selvbetjente udlånsskranke.</a>
</div></div>
</body>
</html>

