<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Bibliotekkatalogen på nettet<!-- /TMPL_IF --> Katalog &rsaquo; ISBD-vising
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
	$(document).ready(function() {
		$('#bibliodescriptions > ul').tabs();
	}); 
//]]>
</script>
</head>
<body>
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd" class="columnfix">
<!-- TMPL_INCLUDE name="masthead.inc" -->

	<div id="yui-main">
	<div class="yui-b">
	<div class="yui-ge">
    <div class="yui-u first">
	<div class="container">	
	
	
    <div id="views"> <h1 style="display: inline;">ISBD</h1> <span class="views"><a id="Normalview" href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->">Normal View</a> <a id="MARCview" href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->">MARC View</a> <span id="ISBDview">ISBDs-vising</span></span></div>
    <!-- TMPL_VAR name="ISBD" -->
	
		<div id="bibliodescriptions" class="toptabs">
	<ul>   
	<!-- TMPL_IF name="subscriptionsnumber" --><li>
	            <a href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->#opac-isbd-subscriptions">Abonnement</a>
	    </li><!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="reviewson" --><li><a href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->#comments">Kommentarar</a></li><!-- /TMPL_IF -->
	 	<!-- TMPL_IF NAME="AmazonContent" --><li><a href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->#opac-isbd-amazonreviews">Bokomtalar frå Amazon</a></li><!-- /TMPL_IF -->
	</ul>

		<div id="opac-isbd-subscriptions">    <!-- TMPL_IF name="subscriptionsnumber" -->
	        <h2>
	            Det er <!-- TMPL_VAR name="subscriptionsnumber" --> abonnent(ar) knytt til denne tittelen.
	        </h2>
	        <!-- TMPL_LOOP Name="subscriptions" -->
	            <h3>At library: <!-- TMPL_VAR name="branchcode" --> <!-- TMPL_VAR name="notes" --></h3>
	            <p>Nedafor er ei liste over dei tre siste nummera:</p>
	            <!-- TMPL_IF name="subscriptionnotes"-->
	                <p><!--TMPL_VAR Name="subscriptionnotes"--> </p>
	            <!-- /TMPL_IF -->
	            <!--TMPL_IF Name="latestserials"-->
	            <table>
	            <tr><th>Hefte nummer</th><th>Dato</th><th>Status</th></tr>
	            <!--TMPL_LOOP Name="latestserials"-->
	                <tr>
	                    <td>            <!--TMPL_VAR Name="serialseq"-->
	                    </td>
	                    <td>            <!--TMPL_VAR Name="planneddate"-->
	                    </td>
	                    <td>            <!--TMPL_IF Name="status1"-->Uteståande
	                        <!--TMPL_ELSE -->
	                            <!-- TMPL_IF Name="status2"-->Motteke
	                            <!--TMPL_ELSE -->
	                                <!-- TMPL_IF Name="status3"-->Sein
	                                <!--TMPL_ELSE -->
	                                    <!-- TMPL_IF Name="status4"-->Manglar
	                                    <!--TMPL_ELSE -->
	                                        <!-- TMPL_IF Name="status5"-->Not Issued
	                                        <!--/TMPL_IF-->
	                                    <!--/TMPL_IF-->
	                                <!--/TMPL_IF-->
	                            <!--/TMPL_IF-->
	                        <!--/TMPL_IF-->
	                    </td>
	                </tr>
	            <!--/TMPL_LOOP -->
	            </table>
	            <!-- /TMPL_IF -->
	        <!-- /TMPL_LOOP -->
	        <p><a href="/cgi-bin/koha/opac-serial-issues.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->" title="Serial issues">Click here</a> for more information on subscription(s) history</p>
	    <!-- /TMPL_IF --></div>

	<!-- TMPL_IF NAME="reviewson" -->
	<div id="comments">
	<!-- TMPL_IF NAME="reviews" -->
	        <!--TMPL_LOOP NAME="reviews"-->
	            <h5>
	                Kommentert av <!--TMPL_VAR NAME="title"--> <!--TMPL_VAR NAME="firstname"--> <!--TMPL_VAR NAME="surname"-->
	            </h5>
				<small>
	                <!--TMPL_VAR NAME="datereviewed"-->
	            </small>
	        <p>
	          <!--TMPL_VAR NAME="review" ESCAPE="HTML"-->
	        </p>
	        <!--/TMPL_LOOP-->
	    <!-- TMPL_ELSE  -->
	        <p>There are no comments for this item.</p>
	<!-- /TMPL_IF -->

	    <!-- TMPL_IF NAME="loggedinusername" -->
	       <p> <a href="javascript:Dopop('/cgi-bin/koha/opac-review.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber"-->');">
	            Legg inn eller rediger kommentarane dine til dette dokumentet.
	        </a></p>
	    <!-- TMPL_ELSE -->
	        <p><a href="/cgi-bin/koha/opac-user.pl">Logg inn på kontoen din </a> for å senda ein kommentar.</p>
	    <!-- /TMPL_IF -->
		</div>

	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="AmazonContent" -->
	<!-- Amazon Reviews -->
	<div id="opac-isbd-amazonreviews">

	    <!-- TMPL_LOOP NAME="BIBLIO_RESULTS" -->
	    <!-- TMPL_IF NAME="isbn" -->
	        <h4><a href="http://www.amazon.com/gp/customer-reviews/write-a-review.html/002-2970817-7876066?%5Fencoding=UTF8&asin=<!-- TMPL_VAR NAME="isbn" -->&amp;store=books">Legg til bokomtale</a></h4>
	    <!-- /TMPL_IF -->
	    <!-- /TMPL_LOOP --><br/>

	        <!-- TMPL_IF NAME="rating" -->
	            <h4>Vurdering (frå Amazon.com):</h4>
	        <div id="starMT"><div id="starFull" style="width:<!-- TMPL_VAR NAME="rating" -->px"></div></div>

	        <!-- TMPL_LOOP NAME="AMAZONREVIEWS" -->
	            <div class="content_set">
	            <!-- TMPL_IF NAME="summary" -->
	            <h4 class="underline">  <!-- TMPL_VAR NAME="summary" --></h4>
	            <!-- /TMPL_IF -->
	            <!-- TMPL_IF NAME="comment" -->
	                <p><!-- TMPL_VAR NAME="comment" -->
	            </p><!-- /TMPL_IF -->
	            </div>
	    <!-- /TMPL_LOOP -->
	    <!-- TMPL_ELSE -->

	    <p> Det finst diverre ingen omtalar av denne tittelen. </p>

	    <!-- /TMPL_IF -->
	</div> <!-- itemReviews -->
	<!-- /TMPL_IF-->
	</div>
	</div>
	</div>
	<div class="yui-u">
	<div class="container">
<ul id="action">

<!-- TMPL_UNLESS NAME="norequests" -->
    <!-- TMPL_UNLESS name="bi_notforloan" -->
        <!-- TMPL_IF NAME="opacuserlogin" --><!-- TMPL_IF NAME="RequestOnOpac" -->
            <li><a class="reserve" href="/cgi-bin/koha/opac-reserve.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
            Reserver
            </a></li>
        <!-- /TMPL_IF --><!-- /TMPL_IF -->
    <!-- /TMPL_UNLESS -->
<!-- /TMPL_UNLESS -->
        <li><a class="print" href="/cgi-bin/koha/opac-detailprint.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->" onclick="Dopop('opac-detailprint.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->'); return false;">
            Skriv ut
        </a></li>
<!-- TMPL_IF name="virtualshelves" -->
   <!-- TMPL_IF NAME="opacuserlogin" --> <!-- TMPL_IF NAME="loggedinusername" -->
        <li><a class="addtoshelf" href="/cgi-bin/koha/opac-addbybiblionumber.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->" onclick="Dopop('opac-addbybiblionumber.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->'); return false;">
            Save to Your Lists
        </a></li>
    <!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="opacbookbag" --><li><a class="addtocart" href="#" onclick="addRecord('<!-- TMPL_VAR NAME="biblionumber" -->'); return false;">
            Add to Your Cart
        </a></li><!-- /TMPL_IF -->
</ul>
		<div id="export">
		<form method="get" action="/cgi-bin/koha/opac-export.pl">
		<label for="format">Save Record:</label>
	    <select name="format" id="format">
		<option value="">-- Choose Format --</option>
        <option value="mods">MODS (XML)</option>
        <option value="dc">Dublin Core (XML)</option>
        <option value="marcxml">MARCXML</option>
        <option value="marc8">MARC (non-Unicode/MARC-8)</option>
        <option value="utf8">MARC (Unicode/UTF-8)</option>    </select><input type="hidden" name="op" value="export" /><input type="hidden" name="bib" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
<input type="submit" name="save" value="Go" /></form></div>
</div>
</div>
</div>

</div>
</div><!-- TMPL_IF NAME="OpacNav" -->
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
</div>
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
