<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>"Süreli yayın hatırlatmaları"</h1>

<h2>"Hatırlatmalar Nedir?"</h2>
<p>Claims are notices that you send when an issue that was expected has not been received by the library.</p>

<h2>"Eksik sayı için hatırlatmayı nasıl gönderirim?"</h2>
<p>Make a selection from the drop down list. The &quot;All Suppliers&quot; count gives you a count of the total number of current item claims across all suppliers.</p>
<p>"Tedarikçiye hatırlatma (claim) göndermenin iki yolu vardır:"</p>
	<ol>
		<li>Using a Letter defined in Notices. Note that you will need to set up the notice.</li>
		<li>Exporting the claims information. This downloads a CSV file to your local machine with all the claim data ready for additional formatting before sending to the supplier.</li>
	</ol>

<h2>"Hatırlatma nasıl çözülür?"</h2>
<p>The claim will be resolved once received status has changed. Search for the Subscription and then click &quot;Serial receive&quot; to locate the issue and change it's status.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->