<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->التدقيق الذاتي -- <!-- TMPL_VAR NAME="LibraryName" -->
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>المساعدة على التدقيق الذّاتي</h2>

<p>اذا كانت هذه هي المرة الاولى الخاصة بك باستخدام نظام الدفع الذاتي ، او اذا كان النظام لا يتصرف كما كان متوقعا ، قد ترغب في الاشارة الى هذا الدليل للحصول على المساعدة.</p>

<h3> .المرحلة الأولى: أدخل  معرف المستخدم    </h3>
<p>(ادخل معرف المستخدم الخاص بك ، وانقر على زر (او اضغط على مفتاح الدخول</p>

<h3> .المرحلة الثــانية : مسح الشفرة المعرّفة لكلّ مقتنى , كلّ على حدة</h3>
<p>مسح كلّ عنصر ثمّ انتظــار إعـــادة تحـــميل الصفحة قبل مسح العنصر التـــالي, ينبغي للعنصر المدقّق أن يظهر في قائمة المسائل الخاصة, إذا تمّ ادخال شفرة المعرف يدويّــا اكتفي بنقر زرّ التسجيل فقط</p>

<h3> .'المرحلة الثــالثة : انقر على 'انقر هنــا إذا أتممت</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">العودة إلى التدقيق الذّاتي</a>
</div></div>
</body>
</html>

