<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Etiket Basma</h1>

<h2>"Bu özelligi kullanarak etiketleri nasıl yazdırabilirim?"</h2>

<p>"Adımların sırası:"</p><ol><li>Şablon Tanımla</li><li>Şablon Düzenini Tanımla</li><li>"</li></ol><h2>"</h2>

<p>A layout is where you define what will print on the label. For example for a spine label you may choose the Classification Number. </p>

<h2>"</h2>

<p>A layout template is the dimensions of the sheet you are using. You will need to either acquire the dimensions from the label supplier, or measure them accurately.</p><p>Layout Templates will need to be defined for each type of Label sheet or page you wish to print to.  </p>

<h2>""</h2>

<p>A label batch is where you take your Layout, Layout Template and merge with the items you wish to create the labels for.</p><p>Once the merge has been completed,  a PDF will be generated that can be used to print the labels.</p> 

<!-- TMPL_INCLUDE name="help-bottom.inc" -->