<!-- TMPL_INCLUDE NAME="help-top.inc" -->

	<h1>مساعدة إشتراك الدوريات</h1>
	<p>إبحث عن إشتراك بإستعمال زرّ التصفية (مع  ISSN أو عنوان). إذا أدخلت عنوان،يمكنك أن تستعمل wildcard %: دخول <b> % أوقات % </b> يرجع كلّ إشتراك يحتوي الأوقات في العنوان. دخول <b> نيويورك % </b> يرجع كلّ إشتراك بالعنوان يبدأ مع نيويورك </p>
		<p>If you want to create a new subscription, click the "Add subscription" button.</p>
		<p>بمجرّد ان تجدد الاشتراك الذى تريدة, يمكنك: </p>
			<ul>
				<li>إعرض تفاصيل الاشتراك</li>
				<li>Receive any item and/or manage what appears in subscription summary (in OPAC and librarian interface)</li>
	</ul>
	
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
