<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 報表 &rsaquo; 館藏型式</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">首頁</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">報表</a><!-- TMPL_IF NAME="do_it" --> &rsaquo; <a href="/cgi-bin/koha/reports/manager.pl?report_name=itemtypes">館藏型式</a> &rsaquo;<!-- TMPL_ELSE --> &rsaquo; 館藏型式<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="do_it" -->
<!-- TMPL_LOOP NAME="mainloop" -->
	<h1>報表上的館藏型式 <!--TMPL_IF NAME="branch" --> 分館 = <!-- TMPL_VAR NAME="branch" --><!-- /TMPL_IF --></h1>
	<table>
		<tr>
			<th>館藏型式</th>
			<th>數量</th>
		</tr>
			<!-- TMPL_LOOP NAME="loopitemtype" -->
				<tr>
					<td><!-- TMPL_VAR NAME="itemtype" --></td>
					<td><!-- TMPL_VAR NAME="count" --></td>
				</tr>
			<!-- /TMPL_LOOP -->
			<tr>
				<th>總計</th>
				<th><!-- TMPL_VAR NAME="total" --></th>
	</table>
<!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->

	<form method="post" action="/cgi-bin/koha/reports/manager.pl?report_name=itemtypes">
		<fieldset class="rows"><legend>館藏目錄依照館藏型式</legend><ol><li><label for="value">選擇一個分館</label> <!-- TMPL_VAR NAME="CGIbranch" -->
		<span class="tip">沒有選擇任何一個，顯示所有分館</span></li></ol></fieldset>
		<fieldset class="action"><input type="submit" value="送出">
		<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
		<input type="hidden" name="do_it" value="1" /></fieldset>
	</form>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->