<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- Prêt auto-contrôlé
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Aide pour le prêt en auto-contrôle</h2>

<p>Si vous utilisez le prêt en auto-contôle pour la première fois, ou bien si le système semble ne pas se comporter comme prévu, n'hésitez pas à consulter le guide d'utilisation pour vous dépanner.</p>

<h3>Etape 1 : saisissez votre identifiant utilisateur    </h3>
<p>Entrez votre identifiant adhérent, et cliquer sur le bouton "Soumettre" (ou appuyez sur la touche <Entrée>)</p>

<h3>Etape 2 : scannez le code-barres pour chaque document, un à la fois</h3>
<p>Scannez les documents et attendez que la page se rafraichisse pour scanner le document suivant. Le document emprunté doit apparaître dans la liste des prêts. Le bouton "Soumettre" doit être utilisé seulement si vous saisissez les code-barres manuellement.</p>

<h3>Etape 3 : cliquez sur "cliquer ici" lorsque vous avez terminé.</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Retourner au système de prêt auto-contrôlé.</a>
</div></div>
</body>
</html>

