<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	
	<h1>線上說明</h1>
	<p>對不起，這個主題沒有說明。</p>
<form action="/cgi-bin/koha/edithelp.pl" method="post">
<input type="hidden" name="referer" value="<!-- TMPL_VAR NAME="referer" -->" />
<input type="hidden" name="type" value="addnew" />
<input type="submit" name="submit" class="submit" value="新增說明">
</form>
	
<!-- TMPL_INCLUDE name="help-bottom.inc" -->