<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- Prestado
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Ayuda de Pr&eacute;stamo</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>Paso Uno: Introduzca su ID de usuario    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3> Paso dos: B&uacute;car el c&oacute;digo de barras de cada art&iacute;culo una sola vez.</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3>Paso Tres: Pinche en 'Pinche aqu&iacute;' cuando est&eacute; bien.</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Volver al Pr&eacute;stamo</a>
</div></div>
</body>
</html>

