<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo;  \t<!-- TMPL_IF name="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" --><!-- TMPL_IF NAME="heading-edit-subfields-p" --> MARC Struktur Unterfelder &rsaquo; MARC Grenzen der Unterfelder bearbeiten<!-- /TMPL_IF --><!-- TMPL_ELSE --> MARC Subfield Struktur &rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> MARC Struktur Unterfelder &rsaquo; Löschung von Unterfeld <!-- TMPL_VAR NAME="tagsubfield" --><!-- /TMPL_IF --><!-- TMPL_IF name="delete_confirmed" --> MARC Struktur Unterfelder &rsaquo; Unterfeld gelöscht<!-- /TMPL_IF --><!-- TMPL_IF name="else" -->MARC Subfield Struktur<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

	 $(document).ready(function() {
 		$('#subfieldtabs > ul').tabs();
	 });

function displayMoreConstraint(numlayer){
    var thisdiv = document.getElementById(numlayer);
    if(thisdiv.getAttribute("class") == "content_hidden"){
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_visible");
    } else {
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_hidden");
    }
}

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
  <a href="/cgi-bin/koha/mainpage.pl">Start</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <a href="/cgi-bin/koha/admin/biblio_framework.pl">MARC-Frameworks</a> &rsaquo; <a href="/cgi-bin/koha/admin/marctagstructure.pl?frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->&searchfield=<!-- TMPL_VAR name="tagfield" -->"><!-- TMPL_VAR NAME="frameworkcode" --> Framework-Struktur</a> &rsaquo;
  <!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF NAME="use-heading-flags-p" -->
  <!-- TMPL_IF NAME="heading-edit-subfields-p" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Unterfeld-Struktur</a> &rsaquo; Unterfeld-Beschränkung ändern
  <!-- /TMPL_IF -->
  <!-- TMPL_ELSE --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Unterfeld-Struktur</a> &rsaquo; <!-- TMPL_VAR NAME="action" -->
  <!-- /TMPL_IF -->
  <!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Unterfeld-Struktur</a> &rsaquo; Löschen von Unterfeld '<!-- TMPL_VAR NAME="tagsubfield" -->' bestätigen
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Unterfeld-Struktur</a> &rsaquo; Unterfeld gelöscht
<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->Tag <!-- TMPL_VAR NAME="tagfield" --> Teilfeldstruktur<!-- /TMPL_IF -->
</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">

<!-- TMPL_IF NAME="add_form" -->
    <h1>
        <!-- TMPL_IF NAME="use-heading-flags-p" -->
            <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Tag <!-- TMPL_VAR NAME="tagfield" --> Unterfeld Einschränkungen<!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="action" -->
        <!-- /TMPL_IF -->
    </h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
    <input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
    <input type="submit" value="Änderungen speichern">
    
    <div id="subfieldtabs" class="toptabs numbered">
   <ul>
        <!-- TMPL_LOOP NAME="loop" -->
            <!-- TMPL_IF NAME="new_subfield" -->
                <!-- TMPL_IF EXPR="tagfield >=10" --><!-- display new only for > 10 fields -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">neu</a></li>
                <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">
                    <!-- TMPL_VAR NAME="subfieldcode" -->
               </a></li>
            <!-- /TMPL_IF --></li>
        <!-- /TMPL_LOOP -->
    </ul>
    
    <!-- TMPL_LOOP NAME="loop" --> 
        <div id="sub<!-- TMPL_VAR NAME="urisubfieldcode" -->field">
        
               <fieldset class="rows"><legend>Basiseinschränkungen</legend>
                	<ol>
                		<!-- TMPL_IF EXPR="subfieldcode eq 0 || subfieldcode" --> 
                		<li><span class="label">Unterfeld Code:</span> <!-- TMPL_VAR NAME="subfieldcode" --> <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- TMPL_ELSE -->
                		<li><span class="label">Unterfeld Code:</span> <input type="text" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- /TMPL_IF -->
                		<li><label for="liblibrarian<!-- TMPL_VAR NAME="row" -->">Text für Bibliothekare: </label><input id="liblibrarian<!-- TMPL_VAR NAME="row" -->" type="text" name="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" -->" size="40" maxlength="80" /></li>
                		<li><label for="libopac<!-- TMPL_VAR NAME="row" -->">Text für OPAC: </label><input type="text" id="libopac<!-- TMPL_VAR NAME="row" -->" name="libopac" value="<!-- TMPL_VAR NAME="libopac" -->" size="40" maxlength="80" /></li>
                		<li><label for="repeatable<!-- TMPL_VAR NAME="row" -->">Wiederholbar: </label><!-- TMPL_VAR NAME="repeatable" --></li>
                		<li><label for="mandatory<!-- TMPL_VAR NAME="row" -->">obligatorisch: </label><!-- TMPL_VAR NAME="mandatory" --></li>
                		<li><label for="tab<!-- TMPL_VAR NAME="row" -->">In Reitern verwaltet:  </label><!-- TMPL_VAR NAME="tab" --> (ignorieren heißt, dass das Unterfeld nicht in der Katalogisierung angezeigt wird)</li>
                	</ol>
            </fieldset>
			
            <a href="javascript:displayMoreConstraint('more<!-- TMPL_VAR NAME="urisubfieldcode" -->')">zeige mehr Einschränkungen an</a>
            <div id="more<!-- TMPL_VAR NAME="urisubfieldcode" -->" class="content_hidden" style="clear: both">
             <fieldset class="rows" id="advanced-constraints">
				<legend>Fortgeschrittene Beschränkungen:</legend>
                <ol><li><label for="defaultvalue">Standardwert:</label>
                    <input type="text" name="defaultvalue" id="defaultvalue" value="<!-- TMPL_VAR NAME="defaultvalue" -->" /></li>
                <li><label for="hidden<!-- TMPL_VAR NAME="row" -->">versteckt</label><input type="text" id="hidden<!-- TMPL_VAR NAME="row" -->" name="hidden" value="<!-- TMPL_VAR name="hidden" -->" size="2" /> (siehe Onlinehilfe)</li>
                <li><label for="isurl<!-- TMPL_VAR NAME="row" -->">Ist eine URL:</label><!-- TMPL_VAR NAME="isurl" --> (wenn gewählt ist Unterfeld eine URL und kann angeklickt werden)</li>
                <li><label for="link">Link:</label><input type="text" id="link" name="link" value="<!-- TMPL_VAR NAME="link" -->" size="10" maxlength="80" /> (Beispiel: Titel oder lokale Nummer) <span class="error"><em>Warning: This value should not change after data has been added to your catalog</em></span></li>
                <li><span class="label">Andere Optionen:</span> (Eins auswählen)
                    	<ol>
                    		<li><label for="authorised_value">Autorisierter Wert:</label><!-- TMPL_VAR NAME="authorised_value" --></li>
                    		<li><label for="authtypecode">Thesaurus:</label><!-- TMPL_VAR NAME="authtypes" --></li>
                    		<li><label for="value_builder">Plugin:</label><!-- TMPL_VAR NAME="value_builder" --></li>
                    	</ol>
                </li>
                <li><label for="kohafield<!-- TMPL_VAR NAME="row" -->">Koha link:</label><!-- TMPL_VAR NAME="kohafield" --></li>
				</ol>
				</fieldset>
            </div><br class="clear" /><!-- /more  -->
        </div><!-- /content_sub -->
        <!-- /TMPL_LOOP -->
		</div><!-- /content -->
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->

<h3>Löschen des Unterfelds <!-- TMPL_VAR NAME="tagsubfield" --> bestätigen?</h3>
    <p>Unterfeld: <!-- TMPL_VAR NAME="tagsubfield" --></p>
    <p>Beschreibung <!-- TMPL_VAR NAME="liblibrarian" --></p>

            <form action="<!-- TMPL_VAR NAME="delete_link" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
                <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
                <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
				<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
				<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
				<input type="submit" value="Ja, dieses Teilfeld löschen">
            </form>
			
			<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
			<input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
			<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
			<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
			<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
			<input type="submit" value="Nein, nicht löschen">
            </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

    <h3>Daten gelöscht</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="submit" value="OK" />
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->
<h1>Verwaltung der MARC-Teilfeld Struktur für <!-- TMPL_VAR NAME="tagfield" --> (Framework <!--TMPL_VAR NAME="frameworkcode" -->)</h1>
<p>This screen shows the subfields associated with the selected tag. You can edit subfields or add a new one by clicking on edit. </p>
<p>The column Koha field shows that the subfield is linked with a Koha field. Koha can manage a MARC interface, or a Koha interface. This link ensures that both DB are synchronized, thus you can change from a MARC to a Koha interface easily.</p>

<table>
<tr>
    <th>Unterfeld</th>
    <th>Text</th>
    <th>Bedingungen</th>
    <th>Löschen</th>
</tr>
<!-- TMPL_LOOP NAME="loop" -->
<!-- TMPL_IF NAME="toggle" --><tr class="highlighted"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
    <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i><!-- TMPL_VAR NAME="liblibrarian" --></i>
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="liblibrarian" -->
        <!-- /TMPL_IF -->
    </td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i>Teilfeld ignoriert</i>
        <!-- TMPL_ELSE -->
            Tab:<!-- TMPL_VAR NAME="tab" -->,
            <!-- TMPL_IF NAME="kohafield" --> | Koha Feld: <!-- TMPL_VAR NAME="kohafield" -->, <!--/TMPL_IF -->
            <!-- TMPL_IF NAME="repeatable" -->wiederholbar, <!-- TMPL_ELSE -->Nicht wiederholbar<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="mandatory" -->obligatorisch, <!-- TMPL_ELSE -->Nicht verpflichtend,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="seealso" --> | Siehe auch: <!-- TMPL_VAR NAME="seealso" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="hidden" -->versteckt,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="isurl" -->ist eine URL,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authorised_value" --> | Aut. Wert:<!-- TMPL_VAR NAME="authorised_value" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authtypecode" --> | Normdatensatz:<!-- TMPL_VAR NAME="authtypecode" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="value_builder" --> | Plugin:<!-- TMPL_VAR NAME="value_builder" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="link" --> | Link:<!-- TMPL_VAR NAME="link" -->,<!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    </td>
    <td><a href="<!-- TMPL_VAR NAME="delete" -->">Löschen</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>

<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
    <fieldset class="action"><input type="hidden" name="op" value="add_form" />
    <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="edit_tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="edit_frameworkcode" -->" />
    <input type="submit" value="Subfields bearbeiten">
	<a class="cancel" href="marctagstructure.pl?searchfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">abbrechen</a>
	</fieldset>
</form>

<!-- TMPL_IF NAME="previous" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1leftarrow.png" title="vorheriges" alt="vorheriges" border="0">
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="next" -->
    <!-- TMPL_VAR NAME="next" -->
        <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1rightarrow.png" title="nächster" alt="nächster" border="0">
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->



</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
