<!-- TMPL_INCLUDE NAME="help-top.inc" -->
		<p>Αυτή είναι η Σελίδα Εργαλείων.</p>
		 
		<p>Πολλές από τις θυγατρικές ενότητες είναι εδώ.</p>
		 
		<p>To move forward, select the relevant task by clicking on the blue underlined text.</p>
		 
		<p>Specialised help will be available after that point.</p> 	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->