<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryName" --> -- samozaduzivanje
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>Pomoc za samozaduzivanje</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>Prvi korak: Unesite svoj korisnicki broj    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3>Drugi korak: Skenirajte barkod za svaku publikaciju, jedan po jedan</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3>Treci korak: Kliknite link "Kliknite ovde za kraj" kad zavrsite</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">Nazad na samo-zaduzivanje</a>
</div></div>
</body>
</html>

