<!-- TMPL_INCLUDE NAME="doc-head-barcodes.inc" -->

	<h1>Տպիչի կարգաբերում</h1>
	<h3>Տեղադրիր քո միջավայրին համապատասխանող տպիչի պարամետրերը։</h3>
	<ul>
		<li>Տեղադրիր քո կողմից օգտագործվող պիտակի լայնությունը և երկարությունը</li>
		<li>Տեղադրիր քո համակարգի լռակյաց DPI</li>
		<li>Տեղադրիր էջի տեսակը</li>
		<li>Ընտրիր քանի սյունակ և տող կա քո էջի տեսակում։</li>
		<li>Set left- and bottom-margins of the page that you are going to use. This parameter will help to center the barcodes on the labels.</li>
	</ul>
	<br />
	<form method="post" action="<!-- TMPL_VAR NAME="SCRIPT_NAME" -->" name="form1">
		<input type="hidden" name="saveSettings" value="1" />
		<fieldset class="rows"><ol>
			<li>
				<label for="labelWidth">
					Պիտակի լայնություն (արտահայտված մմ): </label> 
					<input id="labelWidth" type="text" name="labelWidth" size="5" value="<!-- TMPL_VAR NAME="LABEL_WIDTH" -->">
				</li>
				<li>
				<label for="labelHeigth">
					Պիտակի բարձրություն (արտահայտված մմ): </label> 
					<input id="labelHeigth" type="text" name="labelHeigth" size="5" value="<!-- TMPL_VAR NAME="LABEL_HEIGTH" -->">
				</li>
				<li>
				<label for="systemDpi">
					Համակարգի dpi: </label>
					<input id="systemDpi" type="text" name="systemDpi" size="5" value="<!-- TMPL_VAR NAME="SYSTEM_DPI" -->">
				</li>
				<li>
				<label for="pageType">
					Էջի տեսակ։ </label>	
					<select name="pageType" id="pageType" size="1">
						<!-- TMPL_IF name="A4" -->
							<option value="A4" selected="selected">A4</option>
				        <!-- TMPL_ELSE -->
							<option value="A4">A4</option>
						<!-- /TMPL_IF -->
						<!-- TMPL_IF name="Letter" -->
							<option value="Letter" selected="selected">Նամակ</option>
				        <!-- TMPL_ELSE -->
							<option value="Letter">Նամակ</option>
						<!-- /TMPL_IF -->
						<!-- TMPL_IF name="Legal" -->
							<option value="Legal" selected="selected">Լեգալ</option>
				        <!-- TMPL_ELSE -->
							<option value="Legal">Լեգալ</option>
						<!-- /TMPL_IF -->    </select>
				</li>
				<li>
				<label for="columns">
					Սյունակներ։ </label>  
					<input id="columns" type="text" name="columns" size="5" value="<!-- TMPL_VAR NAME="COLUMNS" -->">
				</li>
				<li>
				<label for="rows">
					Տողեր։ </label>   
					<input id="rows" type="text" name="rows" size="5" value="<!-- TMPL_VAR NAME="ROWS" -->">
				</li>
				<li>
				<label for="marginBottom">
					Ստորին էջաչափ (արտահայտված մմ): </label>   
					<input id="marginBottom" type="text" name="marginBottom" size="5" value="<!-- TMPL_VAR NAME="MARGIN_TOP" -->">
				</li>
				<li>
				<label for="marginLeft">
					Ձախ էջաչափ (արտահայտված մմ): </label>   
					<input id="marginLeft" type="text" name="marginLeft" size="5" value="<!-- TMPL_VAR NAME="MARGIN_LEFT" -->">
				</li>
			</ol></fieldset>
			<fieldset class="action"><input type="submit" value="Հիշել պարամետրերը"></fieldset>
	</form>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
