<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->\t<!-- TMPL_VAR NAME="LibraryName" --> -- معاینه خودکار
<!-- TMPL_INCLUDE NAME="doc-head-close-sco.inc" -->
<!-- TMPL_INCLUDE NAME="masthead-sco.inc" -->

<body>
<div id="content-block">

<br />
<h2>እገዛ በራስ ለማውጣት</h2>

<p>If this is your first time using the self checkout system, or if the system
is not behaving as expected, you may want to refer to this guide to get
yourself started.</p>

<h3>የመጀመሪያ ደረጃ፡ መታወቂያ ቁጥር አስገባ    </h3>
<p>Enter your User ID, and click the submit button (or press the enter key).</p>

<h3>ሁለተኛ ደረጃ፣ ለእያንዳንዱ አይነት ባርኮዱን ይዩ፣ በአንድ ጊዜ አንድ</h3>
<p>Scan each item and wait for the page to reload before scanning the next item.
The checked-out item should appear in your issues list.
The Submit button only needs to be clicked if you enter the barcode manually.</p>

<h3>ሶስተኛ ደረጃ፣ 'ሲጨርሱ እዚህ ጠቅ ያድርጉ' የሚለውን ጠቅ ያድርጉ</h3>

<br />
<div class="button">
<a href="javascript:history.go(-1)"  onMouseOver="self.status=document.referrer;return true">ወደ ራስ ማዋሻ ይመለስ</a>
</div></div>
</body>
</html>

