<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Réservations</h1>
	<ul>
		<li>Saisissez le code-barres ou le nom de l'adhérent pour lequel vous réservez le document.</li>
		<li>Vous accéderez à un écran de modification (si nécessaire) et/ou de confirmation de la réservation
		<ul>
			<li>
		    <span style="background-color: #ffe599">
ASTUCE : Dans ce cas un message d'erreur apparaît qui prévient le bibliothécaire qu'un document attend l'adhérent dans son site.</span></li>
			<li>Vous pouvez alors choisir de réserver le premier exemplaire disponible ou un exemplaire particulier
			<ul>
				<li>On peut faire des réservations au niveau de l'exemplaire en cochant la case à côté d'un exemplaire spécifique</li>
				<li>Un document peut être réservé au niveau de l'exemplaire si<br/>
				<ul>
					<li>est perdu ET,</li>
					<li>n'est pas marqué comme pas prêtable ET,</li>
					<li>n'est pas retiré ET,</li>
					<li>n'est pas endommagé (à moins que la préférence système AllowHoldsOnDamagedItems soit activée), ET</li>
					<li>n'est pas en prêt (à moins que la préférence système AllowOnShelfHolds soit activée)</li>
				</ul></li>
				<li>
			    <span style="background-color: #ffe599">
TIP:  If independent branches is on and the canreservefromotherbranches system preference is OFF, a staff operator is prevented from placing an item-level hold request on an item from a different branch</span></li>
			</ul></li>
			<li>Pour confirmer la réservation, cliquez 'Réserver'</li>
		</ul></li>
	</ul>


<h3>Réordonner les réservation(s)</h3>

	<ul>
		<li>On peut modifier l'ordre de priorité des réservations dans l'affichage des réservations pour un titre</li>
		<li>Pour voir les réservations sur un titre, cliquez sur l'onglet 'Réservations'</li>
		<li>On peut faire avancer ou reculer un adhérent dans la liste des réservations en modifiant le numéro de priorité</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->