<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Aide de abonnement périodiques</h1>

<p>Rechercher un abonnement en utilisant le bouton "Sélectionner"(avec un ISSN ou un titre)Si vous saisissez un titre, vous pouvez utiliser le joker  % : <b>%Monde%</b> renverra tous les abonnement contenant Monde dans le titre</p>
	<p>Si vous voulez créer un nouvel abonnement, cliquez sur "Ajouter un abonnement" </p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->
