<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Gestion suggestions</h1>

<h2>Les Suggestions d'Achat, c'est quoi ?</h2>
<p>Les suggestions d'achat donnent aux utilisateurs de l'OPAC un moyen de demander à la bibliothèque d'acquérir des documents.</p>
<p>Pour utiliser cette fonctionnalité, suggestions d'achat doit être activée dans les Préférences Système ( Preferences Systeme&gt; Fonctionnalitéq OPAC  &gt; Suggestion &quot;activée&quot;).</p>

<h2>Comment puis-je gérer les suggestions ?</h2>
<p>Les suggestions qui ont été émises mais pas validées seront montrées dans la table &quot;En attente&quot; ci-dessous.Pour traiter une suggestion le &quot;Statut&quot; doit être changé et un &quot;Motif&quot; choisie.</p>
<p>Le fait de marquer un ouvrage comme &quot;Accepté&quot;, déplacera la suggestion dans la table des Acceptés.Le document suggéré peut maintenant être ajouté à une commande  dans les Acquisitions en utilisant la fonctionnalité &quot;A partir d'une suggestion&quot; sous &quot;Ajouter à la commande&quot;.</p>
<p>Marking an item  as &quot;Rejected&quot;, will move the selected item to the rejected tab.</p>
<p>Lorsque le statut est changé en Accepté ou Refusé, le motif du changement de statut peut être sélectionné dans la liste déroulante &quot;Motif&quot;. Les motifs sont des valeurs autorisées paramétrées par la bibliothèque. On peut aussi sélectionner &quot;Autre&quot; et saisir un motif personnalisé.</p>
<p>Les valeurs autorisées pour &quot;Motif&quot; peuvent être définies dans Administration &gt; Valeurs Autorisées. Dans la liste déroulante choisissez la catégorie de valeur autorisée &quot;SUGGEST&quot; et ajoutez vos motifs personnalisés.</p>
<p>Une fois que le statut et le motif auront été sélectionné, ceux-ci seront affichés à l'OPAC pour le prescripteur.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->